{
	"swagger": "2.0",
	"info": {
		"title": "Developer Garden SMS API",
		"description": "The Global SMS service allows sending SMS messages to mobile phones and receive text messages from a webservice for a specific number.",
		"termsOfService": null,
		"version": null
	},
	"host": "gateway.developer.telekom.com",
	"basePath": "/plone/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"sms/rest/{environment}/{senderAddress}/requests/": {
			"get": {
				"summary": "Send An SMS",
				"description": "The Global SMS service allows sending SMS messages to mobile phones and receive text messages from a webservice for a specific number.",
				"operationId": "",
				"parameters": [
					{
						"name": "account",
						"in": "query",
						"description": "Used for accounting, your subaccount id from Developer Garden portal",
						"type": "string",
						"format": "string"
					},
					{
						"name": "address",
						"in": "query",
						"description": "Recipient phone numbers as JSON array, each number must have the format tel:+1630000001 where +16 is your country code.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "clientCorrelator",
						"in": "query",
						"description": "String uniquely identifies this create SMS request. If there is a communication failure during the request, using the same clientCorrelator when retrying the request allows the operator to avoid sending the same SMS twice.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "environment",
						"in": "path",
						"description": "premium, mock, or sandbox",
						"type": "string",
						"format": "string"
					},
					{
						"name": "outboundEncoding",
						"in": "query",
						"description": "Allowed values are 7bitGSM and 16bitUCS2, if parameter is not supplied standard GSM 7bit is used.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "outboundSMSBinaryMessage.message",
						"in": "query",
						"description": "xsd:base64Binary short message content in binary format. This is not a GSMA-Standard parameter.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "outboundSMSFlashMessage.flashMessage",
						"in": "query",
						"description": "Short message content. Will be send as flash SMS.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "outboundSMSTextMessage.message",
						"in": "query",
						"description": "Short message content.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "receiptRequest.callbackData",
						"in": "query",
						"description": "String will be passed back in this notification, so you can use it to identify the message the receipt relates to.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "receiptRequest.notifyURL",
						"in": "query",
						"description": "URL to which you would like a notification of delivery sent. The format of this notification is shown below.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "senderAddress",
						"in": "query",
						"description": "String is the address to whom a responding SMS may be sent",
						"type": "string",
						"format": "string"
					},
					{
						"name": "senderName",
						"in": "query",
						"description": "The URL-escaped name of the sender to appear on the terminal is the address to whom a responding SMS may be sent.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" SMS"
				]
			}
		}
	}
}