{
	"swagger": "2.0",
	"info": {
		"title": "Heroku",
		"description": "Learn about building, deploying and managing your apps on Heroku.",
		"termsOfService": null,
		"version": "1"
	},
	"host": "api.heroku.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/addons": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apps": {
			"post": {
				"summary": "List Apps",
				"description": "List Apps",
				"operationId": "list-apps",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apps/{app}/addons": {
			"get": {
				"summary": "List Addons",
				"description": "List Addons",
				"operationId": "list-addons",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "query",
						"description": "The app name.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apps/{app}/addons/{addon}": {
			"put": {
				"summary": "Install Addon to an App",
				"description": "Install Addon to an App",
				"operationId": "install-addon-to-an-app",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "addon",
						"in": "query",
						"description": "the addon name.",
						"type": "string"
					},
					{
						"name": "addon",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "app",
						"in": "query",
						"description": "The app name.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apps/{app}/collaborators": {
			"get": {
				"summary": "Destroy App",
				"description": "Destroy App",
				"operationId": "destroy-app",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "query",
						"description": "The app name.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apps/{app}/collaborators/{email}": {
			"delete": {
				"summary": "List Collaborators",
				"description": "List Collaborators",
				"operationId": "list-collaborators",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "query",
						"description": "The app name.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "email",
						"in": "query",
						"description": "The email of the user to remove as a collaborator.",
						"type": "string"
					},
					{
						"name": "email",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apps/{app}/config_vars": {
			"put": {
				"summary": "List Config Vars",
				"description": "List Config Vars",
				"operationId": "list-config-vars",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "query",
						"description": "The app name.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apps/{app}/config_vars/{key}": {
			"delete": {
				"summary": "Add Config Vars",
				"description": "Add Config Vars",
				"operationId": "add-config-vars",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "query",
						"description": "The app name.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The config var to remove.",
						"type": "string"
					},
					{
						"name": "key",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apps/{app}/domains": {
			"get": {
				"summary": "Remove Config Var",
				"description": "Remove Config Var",
				"operationId": "remove-config-var",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "query",
						"description": "The app name.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apps/{app}/domains/{domain_name}": {
			"delete": {
				"summary": "List Domains",
				"description": "List Domains",
				"operationId": "list-domains",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "query",
						"description": "The app name.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "domain_name",
						"in": "query",
						"description": "The domain to remove.",
						"type": "string"
					},
					{
						"name": "domain_name",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apps/{app}/logs": {
			"get": {
				"summary": "Remove SSH key",
				"description": "Remove SSH key",
				"operationId": "remove-ssh-key",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "query",
						"description": "The app name.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "logplex",
						"in": "query",
						"description": "Use logplex to stream logs (always true).",
						"type": "string"
					},
					{
						"name": "num",
						"in": "query",
						"description": "The number of lines to display.",
						"type": "integer"
					},
					{
						"name": "ps",
						"in": "query",
						"description": "Only display logs from a given process.",
						"type": "string"
					},
					{
						"name": "source",
						"in": "query",
						"description": "Only display logs from a given source.",
						"type": "string"
					},
					{
						"name": "tail",
						"in": "query",
						"description": "1: continually stream logs - : display only num logs",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apps/{app}/ps": {
			"post": {
				"summary": "List Processes",
				"description": "List Processes",
				"operationId": "list-processes",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "query",
						"description": "The app name.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "attach",
						"in": "query",
						"description": "true: use rendezvous to access stdin/stdout - : stream process output to the application log",
						"type": "string"
					},
					{
						"name": "command",
						"in": "query",
						"description": "The command to run.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apps/{app}/ps/restart": {
			"post": {
				"summary": "Run a one-off Process",
				"description": "Run a one-off Process",
				"operationId": "run-a-oneoff-process",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "query",
						"description": "The app name.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "ps",
						"in": "query",
						"description": "The name of a process to restart.",
						"type": "string"
					},
					{
						"name": "type",
						"in": "query",
						"description": "The type of process to restart.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apps/{app}/ps/scale": {
			"post": {
				"summary": "Stop Processes",
				"description": "Stop Processes",
				"operationId": "stop-processes",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "query",
						"description": "The app name.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "qty",
						"in": "query",
						"description": "The desired number of processes of this type.",
						"type": "string"
					},
					{
						"name": "type",
						"in": "query",
						"description": "The type of process to scale.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apps/{app}/ps/stop": {
			"post": {
				"summary": "Restart Processes",
				"description": "Restart Processes",
				"operationId": "restart-processes",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "query",
						"description": "The app name.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "ps",
						"in": "query",
						"description": "The name of a process to stop.",
						"type": "xsd:string"
					},
					{
						"name": "type",
						"in": "query",
						"description": "The type of process to stop.",
						"type": "xsd:string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apps/{app}/releases": {
			"post": {
				"summary": "List Releases",
				"description": "List Releases",
				"operationId": "list-releases",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "query",
						"description": "The app name.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "rollback",
						"in": "query",
						"description": "The release to which to roll back.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apps/{app}/releases/{release}": {
			"get": {
				"summary": "Rollback to a Release",
				"description": "Rollback to a Release",
				"operationId": "rollback-to-a-release",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "query",
						"description": "The app name.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "release",
						"in": "query",
						"description": "The release name.",
						"type": "string"
					},
					{
						"name": "release",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apps/{app}/stack": {
			"put": {
				"summary": "List Stacks",
				"description": "List Stacks",
				"operationId": "list-stacks",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "query",
						"description": "The app name.",
						"type": "string"
					},
					{
						"name": "app",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apps/{name}": {
			"get": {
				"summary": "Create App",
				"description": "Create App",
				"operationId": "create-app",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The app name.",
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/user/keys": {
			"post": {
				"summary": "List SSH keys",
				"description": "List SSH keys",
				"operationId": "list-ssh-keys",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/user/keys/{key}": {
			"delete": {
				"summary": "Associate an SSH key",
				"description": "Associate an SSH key",
				"operationId": "associate-an-ssh-key",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The username@hostname description field of the key.",
						"type": "string"
					},
					{
						"name": "key",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}