{
	"swagger": "2.0",
	"info": {
		"title": "Infoconnect API",
		"description": "Infoconnect our API platform, ensures you have the data you need when you need it to make quick, intelligent business decisions and stay a step ahead of competitors. Below are all the endpoints available to query the Infogroup business and consumer databases.",
		"termsOfService": "http://developer.infoconnect.com/page/terms-use",
		"version": null
	},
	"host": "api.infoconnect.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/v1/companies": {
			"get": {
				"summary": "Get Company",
				"description": "Get Company",
				"operationId": "get-company",
				"parameters": [
					{
						"name": "city",
						"in": "query",
						"description": "Filters through the Companies collection by city name.",
						"type": "string"
					},
					{
						"name": "companyname",
						"in": "query",
						"description": "Filters through the Companies collection and returns resources by company name.",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "query",
						"description": "The content type.",
						"type": "string"
					},
					{
						"name": "ein",
						"in": "query",
						"description": "Filters through the Companies collection and returns resources with an Employer Identification Number (EIN).",
						"type": "string"
					},
					{
						"name": "email",
						"in": "query",
						"description": "Filters through the Companies collection and returns resources with a case-insensitive email address match at the level.",
						"type": "string"
					},
					{
						"name": "firstname",
						"in": "query",
						"description": "Filters through the Companies collection by the primary contacts first name.",
						"type": "string"
					},
					{
						"name": "lastname",
						"in": "query",
						"description": "Filters through the Companies collection by the primary contacts last name.",
						"type": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Number of responses to return. If used, must be a number between 1 and 10. Default is 10.",
						"type": "integer"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Number of responses to be skipped for generating the output. If used, must be a number between 0-100 minus limit. Default is 0.",
						"type": "integer"
					},
					{
						"name": "phone",
						"in": "query",
						"description": "Filters through the Companies collection and returns resources with an ten-digit phone number match.",
						"type": "string"
					},
					{
						"name": "postalcode",
						"in": "query",
						"description": "Filters through the Companies collection by ZIP code or Postal code.",
						"type": "string"
					},
					{
						"name": "resourcetype",
						"in": "query",
						"description": "Identifies the resource type for the response. The default value basic returns a base resource type that is valid across all methods; the resource type parameter is not needed to produce this response. To get a more detailed response set the resource type parameter to enhanced. To retrieve resources with Ids only, set the resource type parameter to core.",
						"type": "string"
					},
					{
						"name": "stateprovince",
						"in": "query",
						"description": "Filters through the Companies collection by State or Province abbreviation.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/companies/counts": {
			"post": {
				"summary": "Search Companies",
				"description": "Search Companies",
				"operationId": "search-companies",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "The content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/companies/search": {
			"post": {
				"summary": "Get Companies",
				"description": "Get Companies",
				"operationId": "get-companies",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "The content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/companies/{id}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "The content type.",
						"type": "string"
					},
					{
						"name": "id",
						"in": "query",
						"description": "A nine to ten digit Infogroup identification number. A number referencing the company assigned by Infogroup. This number will always refer to a single company and the reference will never change, unless the resource is permanently removed. Requesting a record by {id} will always return zero or one response.",
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "resourcetype",
						"in": "query",
						"description": "Identifies the resource type for the response. The default value basic returns a base resource type that is valid across all methods; the resource type parameter is not needed to produce this response. To get a more detailed response set the resource type parameter to enhanced. To retrieve resources with Ids only, set the resource type parameter to core.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/people": {
			"get": {
				"summary": "Get Person",
				"description": "Get Person",
				"operationId": "get-person",
				"parameters": [
					{
						"name": "city",
						"in": "query",
						"description": "Filters through the People collection by city name.",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "query",
						"description": "The content type.",
						"type": "string"
					},
					{
						"name": "email",
						"in": "query",
						"description": "Filters through the People collection and returns resources with a case-insensitive email address match at the level.",
						"type": "string"
					},
					{
						"name": "emailsha1upper",
						"in": "query",
						"description": "Filters through the People collection and returns resources with a case-insensitive email address match at the level. If used, must be a SHA1 hashed upper case email address.",
						"type": "string"
					},
					{
						"name": "firstname",
						"in": "query",
						"description": "Filters through the People collection by the primary contacts first name.",
						"type": "string"
					},
					{
						"name": "includehistoricalemail",
						"in": "query",
						"description": "IncludeHistoricalEmail can only be used in combination with Email or EmailSha1Upper. IncludeHistoricalEmail is used to retrieve historical records. Including this limits the ResourceType to Basic only. These records do not have an Id therefore cannot be used to return an Enhanced ResourceType. If used, must be True or False. Default is False.",
						"type": "boolean"
					},
					{
						"name": "lastname",
						"in": "query",
						"description": "Filters through the People collection by the primary contacts last name.",
						"type": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Number of responses to return. If used, must be a number between 1 and 10. Default is 10.",
						"type": "integer"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Number of responses to be skipped for generating the output. If used, must be a number between 0-100 minus limit. Default is 0.",
						"type": "integer"
					},
					{
						"name": "phone",
						"in": "query",
						"description": "Filters through the People collection and returns resources with an ten-digit phone number match.",
						"type": "string"
					},
					{
						"name": "postalcode",
						"in": "query",
						"description": "Filters through the People collection by ZIP code or Postal code.",
						"type": "string"
					},
					{
						"name": "resourcetype",
						"in": "query",
						"description": "Identifies the resource type for the response. The default value basic returns a base resource type that is valid across all methods; the resource type parameter is not needed to produce this response. To get a more detailed response set the resource type parameter to enhanced. To retrieve resources with Ids only, set the resource type parameter to core. Additional ResourceTypes are Core, LifeStyle and TargetReady.",
						"type": "string"
					},
					{
						"name": "stateprovince",
						"in": "query",
						"description": "Filters through the People collection by State or Province abbreviation.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/people/counts": {
			"post": {
				"summary": "Search People",
				"description": "Search People",
				"operationId": "search-people",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "The content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/people/search": {
			"post": {
				"summary": "Get People",
				"description": "Get People",
				"operationId": "get-people",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "The content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/people/{id}": {
			"get": {
				"summary": "Count Companies",
				"description": "Count Companies",
				"operationId": "count-companies",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "The content type.",
						"type": "string"
					},
					{
						"name": "id",
						"in": "query",
						"description": "A twelve digit Infogroup identification number. A number referencing the individual assigned by Infogroup. This number will always refer to a single individual and the reference will never change, unless the resource is permanently removed. Requesting a record by {id} will always return zero or one response.",
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "resourcetype",
						"in": "query",
						"description": "Identifies the resource type for the response. The default value basic returns a base resource type that is valid across all methods; the resource type parameter is not needed to produce this response. To get a more detailed response set the resource type parameter to enhanced. To retrieve resources with Ids only, set the resource type parameter to core. Additional ResourceTypes are Core, LifeStyle and TargetReady.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/sics": {
			"get": {
				"summary": "Get SIC",
				"description": "Get SIC",
				"operationId": "get-sic",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "The content type.",
						"type": "string"
					},
					{
						"name": "keyword",
						"in": "query",
						"description": "By SIC description. Example barber.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/sics/{id}": {
			"get": {
				"summary": "MultipleMatch",
				"description": "MultipleMatch",
				"operationId": "multiplematch",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "The content type.",
						"type": "string"
					},
					{
						"name": "id",
						"in": "query",
						"description": "A two, four, or six numeric Standard Identification Classification (SIC) code.",
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v3/match": {
			"post": {
				"summary": "Count People",
				"description": "Count People",
				"operationId": "count-people",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "The content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v3/multiplematch": {
			"post": {
				"summary": "Match",
				"description": "Match",
				"operationId": "match",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "The content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}