{
	"swagger": "2.0",
	"info": {
		"title": "HeyWatch Video Encoding API",
		"description": "Outsource video encoding with a few lines of code and focus on building great apps.",
		"termsOfService": "http://www.heywatchencoding.com/tos",
		"version": "v1"
	},
	"host": "heywatch.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"": {
			"": {
				"summary": "Upload a Video",
				"description": "<h2>Upload a Video</h2>",
				"operationId": "h2upload-a-videoh2",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"<td>/account</td>": {
			"<td>put</td>": {
				"summary": "Update your Account",
				"description": "<h2>Update your Account</h2>",
				"operationId": "h2update-your-accounth2",
				"parameters": [
					{
						"name": "nemail",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nenv Learn More",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nfirstname",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nlastname",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"<td>/download/:id</td>": {
			"<td>get</td>": {
				"summary": "Download Info",
				"description": "<h2>Download Info</h2>",
				"operationId": "h2download-infoh2",
				"parameters": [
					{
						"name": "HTTP Method",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"<td>/download</td>": {
			"<td>post</td>": {
				"summary": "Transfer a Video",
				"description": "<h2>Transfer a Video</h2>",
				"operationId": "h2transfer-a-videoh2",
				"parameters": [
					{
						"name": "nmax_length",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nping_url Learn More",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "ntitle",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nurl",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"<td>/encoded_video/:id/upload</td>": {
			"<td>post</td>": {
				"summary": "Upload an encoded video to a CDN",
				"description": "<h2>Upload an encoded video to a CDN</h2>",
				"operationId": "h2upload-an-encoded-video-to-a-cdnh2",
				"parameters": [
					{
						"name": "noutput_url",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nping_url Learn More",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"<td>/encoded_video/:id</td>": {
			"<td>get</td>": {
				"summary": "Download an encoded video",
				"description": "<h2>Download an encoded video</h2>",
				"operationId": "h2download-an-encoded-videoh2",
				"parameters": [
					{
						"name": "HTTP Method",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"<td>/encoded_video</td>": {
			"<td>get</td>": {
				"summary": "List all Encoded Videos",
				"description": "<h2>List all Encoded Videos</h2>",
				"operationId": "h2list-all-encoded-videosh2",
				"parameters": [
					{
						"name": "HTTP Method",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"<td>/format/:id</td>": {
			"<td>put</td>": {
				"summary": "Update a format",
				"description": "<h2>Update a format</h2>",
				"operationId": "h2update-a-formath2",
				"parameters": [
					{
						"name": "naudio_bitrate Audio Bitrate in kbits. Max: 512n",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "naudio_channels",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "naudio_codec",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "ncategory",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "ncontainer",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nfps",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nheight",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nname",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nsample_rate Sample Rate in Hz.",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "ntwo_pass",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nvideo_bitrate",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nvideo_codec",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nwidth",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"<td>/format</td>": {
			"<td>post</td>": {
				"summary": "Create a new Format",
				"description": "<h2>Create a new Format</h2>",
				"operationId": "h2create-a-new-formath2",
				"parameters": [
					{
						"name": "naudio_bitrate Audio Bitrate in kbits. Max: 512n",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "naudio_channels",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "naudio_codec",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "ncategory",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "ncontainer",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nfps",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nheight",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nname",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nsample_rate Sample Rate in Hz.",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "ntwo_pass",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nvideo_bitrate",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nvideo_codec",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nwidth",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"<td>/job/:id</td>": {
			"<td>get</td>": {
				"summary": "Job Info",
				"description": "<h2>Job Info</h2>",
				"operationId": "h2job-infoh2",
				"parameters": [
					{
						"name": "HTTP Method",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"<td>/job</td>": {
			"<td>post</td>": {
				"summary": "Create a new Job",
				"description": "<h2>Create a new Job</h2>",
				"operationId": "h2create-a-new-jobh2",
				"parameters": [
					{
						"name": "nEncoding Options",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nformat_id",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "noutput_url",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nping_url Learn More",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "nvideo_id",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"<td>/video/:id</td>": {
			"<td>get</td>": {
				"summary": "Download a Video",
				"description": "<h2>Download a Video</h2>",
				"operationId": "h2download-a-videoh2",
				"parameters": [
					{
						"name": "HTTP Method",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"<td>/video</td>": {
			"<td>get</td>": {
				"summary": "List all Videos",
				"description": "<h2>List all Videos</h2>",
				"operationId": "h2list-all-videosh2",
				"parameters": [
					{
						"name": "HTTP Method",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}