{
	"swagger": "2.0",
	"info": {
		"title": "IBM Watson Language Identification API",
		"description": "REST methods for Language Identification",
		"termsOfService": null,
		"version": "v1"
	},
	"host": "service.platform.watson.ibm.com",
	"basePath": "/laser/v1",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/conceptexpansion/service/ping": {
			"get": {
				"summary": "Ping the service to verify that that it is available",
				"description": "",
				"operationId": "ping",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/conceptexpansion/service/result": {
			"put": {
				"summary": "Retrieves the seed list and deletes the results",
				"description": "Step 3. Retrieve the concept-expanded seed list and delete the results.",
				"operationId": "result",
				"parameters": [
					{
						"name": "jobid",
						"in": "query",
						"description": "ID returned from the upload path."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/conceptexpansion/service/status": {
			"get": {
				"summary": "Get the status of a job",
				"description": "Step 2. Query the status of the job created with the POST /upload operation.",
				"operationId": "getStatus",
				"parameters": [
					{
						"name": "jobid",
						"in": "query",
						"description": "The jobid returned from the POST /upload operation."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/conceptexpansion/service/upload": {
			"post": {
				"summary": "Uploads the seeds list",
				"description": "Step 1. Upload the seed list.",
				"operationId": "upload",
				"parameters": [
					{
						"name": "dataset",
						"in": "query",
						"description": "Dataset to run against."
					},
					{
						"name": "label",
						"in": "query",
						"description": "A conceptual classification of the seed terms."
					},
					{
						"name": "seeds",
						"in": "body",
						"description": "List of terms to seed the concept expansion.",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/feedback/service/v1/api/conceptexpansion": {
			"put": {
				"summary": "Submit feedback on the Concept Expansion service",
				"description": "The feedback API allows you to provide information on how well the service performed.  The feedback is used to further improve the service and future results.",
				"operationId": "profile",
				"parameters": [
					{
						"name": "Basic Authorization",
						"in": "Header",
						"description": "Base64 Basic Auth"
					},
					{
						"name": "Feedback information",
						"in": "body",
						"description": "JSON Data",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/feedback/service/v1/api/languageidentification": {
			"put": {
				"summary": "Submit feedback on the Language Identification service",
				"description": "The feedback API allows you to provide information on how well the service performed.  The feedback is used to further improve the service and future results.",
				"operationId": "profile",
				"parameters": [
					{
						"name": "Basic Authorization",
						"in": "Header",
						"description": "Base64 Basic Auth"
					},
					{
						"name": "Feedback information",
						"in": "body",
						"description": "JSON Data",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/laser/service/txtlid": {
			"post": {
				"summary": "Sends text to the server",
				"description": "You can detect the language of text that is encoded as UTF-8 by using the Watson Language Identification (LID) service.",
				"operationId": "postLid",
				"parameters": [
					{
						"name": "rt",
						"in": "query",
						"description": "Return type. The content type to accept."
					},
					{
						"name": "sid",
						"in": "query",
						"description": "Language identification of the text."
					},
					{
						"name": "txt",
						"in": "query",
						"description": "The text that you want to process. Must be encoded as UTF-8."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	},
	"definitions": {
	}
}