{
	"swagger": "2.0",
	"info": {
		"title": "IconFinder",
		"description": "Give your users instant access to more than 300,000 icons.",
		"termsOfService": "https://developer.iconfinder.com/api/2.0/terms.html",
		"version": "v2"
	},
	"host": "api.iconfinder.com",
	"basePath": "/v2/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/authors/{authorID}": {
			"get": {
				"summary": "Get author details",
				"description": "Get details about a specific author identified by a unique ID.",
				"operationId": "getAuthor",
				"parameters": [
					{
						"name": "authors",
						"in": "path",
						"description": "The ID of the author.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Author"
				]
			}
		},
		"/categories": {
			"get": {
				"summary": "List all categories",
				"description": "List all categories sorted ascendingly by their identifier.",
				"operationId": "getCategories",
				"parameters": [
					{
						"name": "after",
						"in": "query",
						"description": "identifier of the last category received. If empty, the count first categories are returned.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "integer",
						"default": "Number of categories to include in the result. Accepted values are between 1 and 100. Default 10."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Categories"
				]
			}
		},
		"/icons/search": {
			"get": {
				"summary": "Search for icons",
				"description": "Search through icons by various criteria. The returned list of icons is ordered descendingly by popularit",
				"operationId": "",
				"parameters": [
					{
						"name": "category",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "Number of icons to include in the result. Accepted values are between 1 and 100. Default 10.",
						"type": "integer",
						"format": "integer"
					},
					{
						"name": "license",
						"in": "query",
						"description": "Filter by license scope.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "maximum_size",
						"in": "query",
						"description": "Maximum icon size to include in search result. Default 512.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "minimum_size",
						"in": "query",
						"description": "Minimum icon size to include in search result. Default 0.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Result offset. Starts from 0, resulting in the first count icons being returned.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "premium",
						"in": "query",
						"description": "Filter premium icons.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Keyword to search by.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "style",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "vector",
						"in": "query",
						"description": "Filter vector icons.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Icons"
				]
			}
		},
		"/licenses/{licenseID}": {
			"get": {
				"summary": "Get license details",
				"description": "Get details about a specific license by its unique ID.",
				"operationId": "",
				"parameters": [
					{
						"name": "licenseID",
						"in": "path",
						"description": "The unique id of the license",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Licenses"
				]
			}
		},
		"/styles/{styleID}": {
			"get": {
				"summary": "Get style details",
				"description": "Get details about a specific style identified by its identifier.",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Styles"
				]
			}
		},
		"/user": {
			"get": {
				"summary": "Get Authentication User.",
				"description": "Gets an authenticated user.",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v2/categories/{categoryID}": {
			"get": {
				"summary": "Get category details",
				"description": "Get details about a specific category identified by its identifier.",
				"operationId": "getCategory",
				"parameters": [
					{
						"name": "categoryID",
						"in": "path",
						"description": "The unique ID of the category.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Category"
				]
			}
		},
		"/v2/icons/{iconID}": {
			"get": {
				"summary": "Get icon details",
				"description": "Get details about a specific ico",
				"operationId": "",
				"parameters": [
					{
						"name": "iconID",
						"in": "path",
						"description": "The unique ID of the icon.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Icons"
				]
			}
		},
		"/v2/iconsets/{iconID}/icons": {
			"get": {
				"summary": "List all icons in an icon set",
				"description": "Provides a list of all icons in an icon set sorted descendingly by the popularity of the icons.List all icons in an icon set",
				"operationId": "",
				"parameters": [
					{
						"name": "after",
						"in": "query",
						"description": "Icon ID of the last icon received. If empty, the count most popular icons are returned.",
						"type": "integer",
						"format": "integer"
					},
					{
						"name": "count",
						"in": "query",
						"description": "Number of icons to include in the result. Accepted values are between 1 and 100. Default 10.",
						"type": "integer",
						"format": "integer"
					},
					{
						"name": "List all icons in an icon set",
						"in": "path",
						"description": "Unique id of the icon.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Icons"
				]
			}
		},
		"/v2/styles": {
			"get": {
				"summary": "List all styles",
				"description": "List all styles sorted ascendingly by their identifier.",
				"operationId": "",
				"parameters": [
					{
						"name": "after",
						"in": "query",
						"description": "identifier of the last style received. If empty, the count first styles are returned.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "Number of styles to include in the result. Accepted values are between 1 and 100. Default 10.",
						"type": "integer",
						"format": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Styles"
				]
			}
		},
		"GET /v2/users/{userID}": {
			"get": {
				"summary": "Get user details",
				"description": "Get details about a specific user.",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Users"
				]
			}
		},
		"GET /v2/users/{username}": {
			"get": {
				"summary": "Get user details",
				"description": "Get details about a specific user.",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}