{
	"swagger": "2.0",
	"info": {
		"title": "Guardian Content API",
		"description": "The Content API is a public service for accessing all the content the Guardian creates and the collections we have of that content (tags and sections). There are over one and a half million items available published as far back as 1999. This overview will give you some idea of what data is available, how to find what you need, and what you will see when you make a request to us.",
		"termsOfService": null,
		"version": "v1"
	},
	"host": "beta.content.guardianapis.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/": {
			"get": {
				"summary": "News",
				"description": "Retrieves a single news item.",
				"operationId": "",
				"parameters": [
					{
						"name": "api-key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "The javascript callback name to wrap the JSON response",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "The format to return the results in",
						"type": "string",
						"format": "string"
					},
					{
						"name": "hide-recent-content",
						"in": "query",
						"description": "When true removes the results list from the response.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "idea",
						"in": "query",
						"description": "The ID for an item, such as a piece of content, is the path to that item on the site. By replacing the domain with content.guardianapis.com you get the API URL for that piece of content",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-editors-picks",
						"in": "query",
						"description": "When true display a list of content that is chosen by editors on tags, sections and the home page. This content list represents the main list of content found on the equivalent path on the site",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-most-viewed",
						"in": "query",
						"description": "When true display most viewed content. For overall most viewed set id to /, for section most viewed set id to the section id",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-related-content",
						"in": "query",
						"description": "Content items can show a set of related content. When true returns content items related to the main content item",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-story-package",
						"in": "query",
						"description": "When true display a list of content that is in the has been identified as being about the same story as the requested content item. When a content item is in a package the hasStoryPackage field has a value of true",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news"
				]
			}
		},
		"search/": {
			"get": {
				"summary": "Content Search",
				"description": "Search for the content API.",
				"operationId": "",
				"parameters": [
					{
						"name": "all",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "allowUgc",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "api-key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "body",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "byline",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "The javascript callback name to wrap the JSON response. Read HTTP Status Codes and APIs: how the Guardians Content API does it for more details",
						"type": "string",
						"format": "string"
					},
					{
						"name": "commentable",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "commentCloseDate",
						"in": "query",
						"description": "The date the comments have been closed",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "The format to return the results in",
						"type": "string",
						"format": "string",
						"default": "json"
					},
					{
						"name": "from-date",
						"in": "query",
						"description": "Return only content published on or after that date",
						"type": "string",
						"format": "string"
					},
					{
						"name": "hasStoryPackage",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "headline",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "ids",
						"in": "query",
						"description": "Return only content with those IDs",
						"type": "string",
						"format": "string"
					},
					{
						"name": "internalPageCode",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "isPremoderated",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "lastModified",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "liveBloggingNow",
						"in": "query",
						"description": "Content is currently live blogged if true",
						"type": "string",
						"format": "string"
					},
					{
						"name": "order-by",
						"in": "query",
						"description": "Returns results in the specified order",
						"type": "string",
						"format": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "Return only the result set from a particular page",
						"type": "string",
						"format": "string"
					},
					{
						"name": "page-size",
						"in": "query",
						"description": "Modify the number of items displayed per page",
						"type": "string",
						"format": "string"
					},
					{
						"name": "production-office",
						"in": "query",
						"description": "Return only content from those production offices",
						"type": "string",
						"format": "string"
					},
					{
						"name": "productionOffice",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "publication",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "q",
						"in": "query",
						"description": "Request content containing this free text",
						"type": "string",
						"format": "string"
					},
					{
						"name": "reference",
						"in": "query",
						"description": "Return only content with those references",
						"type": "string",
						"format": "string"
					},
					{
						"name": "reference-type",
						"in": "query",
						"description": "Return only content with references of those types",
						"type": "string",
						"format": "string"
					},
					{
						"name": "rights",
						"in": "query",
						"description": "Return only content with those rights",
						"type": "string",
						"format": "string"
					},
					{
						"name": "score",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "section",
						"in": "query",
						"description": "Return only content in those sections",
						"type": "string",
						"format": "string"
					},
					{
						"name": "shortUrl",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "shouldHideAdverts",
						"in": "query",
						"description": "Adverts will not be displayed if true",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-elements",
						"in": "query",
						"description": "Add associated media elements such as images and audio",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-fields",
						"in": "query",
						"description": "Add fields associated with the content",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-references",
						"in": "query",
						"description": "Add associated reference data such as ISBNs",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-rights",
						"in": "query",
						"description": "Add associated rights",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-tags",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "showInRelatedContent",
						"in": "query",
						"description": "Whether this content can appear in automatically generated Related Content",
						"type": "string",
						"format": "string"
					},
					{
						"name": "standfirst",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "starRating",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Return only content with those tags",
						"type": "string",
						"format": "string"
					},
					{
						"name": "thumbnail",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "to-date",
						"in": "query",
						"description": "Return only content published on or before that date",
						"type": "string",
						"format": "string"
					},
					{
						"name": "trailText",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "use-date",
						"in": "query",
						"description": "Changes which type of date is used to order the results",
						"type": "string",
						"format": "string"
					},
					{
						"name": "wordcount",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news"
				]
			}
		},
		"sections/": {
			"get": {
				"summary": "Sections",
				"description": "Retrieve list of sections.",
				"operationId": "",
				"parameters": [
					{
						"name": "api-key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "The javascript callback name to wrap the JSON response.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "The format to return the results in",
						"type": "string",
						"format": "string"
					},
					{
						"name": "q",
						"in": "query",
						"description": "Return section based on the query term specified",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" sections"
				]
			}
		},
		"tags/": {
			"get": {
				"summary": "Tags",
				"description": "Tags search.",
				"operationId": "",
				"parameters": [
					{
						"name": "api-key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "The javascript callback name to wrap the JSON response. Read HTTP Status Codes and APIs: how the Guardians Content API does it for more details",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "The format to return the results in",
						"type": "string",
						"format": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "Returns results only for that page index",
						"type": "string",
						"format": "string"
					},
					{
						"name": "page-size",
						"in": "query",
						"description": "Modify the number of items displayed per page",
						"type": "string",
						"format": "string"
					},
					{
						"name": "q",
						"in": "query",
						"description": "Request tags containing this free text",
						"type": "string",
						"format": "string"
					},
					{
						"name": "reference",
						"in": "query",
						"description": "Return only tags with those references",
						"type": "string",
						"format": "string"
					},
					{
						"name": "reference-type",
						"in": "query",
						"description": "Return only tags with references of those types",
						"type": "string",
						"format": "string"
					},
					{
						"name": "section",
						"in": "query",
						"description": "Return only tags in those sections",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-references",
						"in": "query",
						"description": "Show associated reference data such as ISBNs",
						"type": "string",
						"format": "string"
					},
					{
						"name": "type",
						"in": "query",
						"description": "Return only tags of those types",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" tags"
				]
			}
		}
	}
}