{
	"swagger": "2.0",
	"info": {
		"title": "Auth0 Stats API",
		"description": null,
		"termsOfService": null,
		"version": "v1"
	},
	"host": "login.auth0.com",
	"basePath": "/stats",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/api/v2/clients": {
			"post": {
				"summary": "Creates a client.",
				"description": "",
				"operationId": "post_clients",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"description": "",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/api/v2/clients/{id}": {
			"patch": {
				"summary": "Updates a client's attributes.",
				"description": "<strong>Important:</strong> The <code>client_secret</code>,<code>encryption_key</code> and <code>signing_keys</code> attributes can only be updated with the <code>update:client_keys</code> scope.",
				"operationId": "patch_clients_by_id",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"description": "",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The client_id of the client to retrieve."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/api/v2/users": {
			"post": {
				"summary": "Creates a user.",
				"description": "",
				"operationId": "post_users",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"description": "",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/api/v2/users/{id}": {
			"patch": {
				"summary": "Updates a user.",
				"description": "",
				"operationId": "patch_users_by_id",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"description": "",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The user_id of the user to update."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/api/v2/users/{id}/multifactor/{provider}": {
			"delete": {
				"summary": "Deletes a multifactor provider for a user.",
				"description": "",
				"operationId": "delete_multifactor_by_provider",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "The user_id of the user to delete."
					},
					{
						"name": "provider",
						"in": "path",
						"description": "The multifactor provider. Supported values duo or google-authenticator"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/api/v2/blacklists/tokens": {
			"post": {
				"summary": "Adds the token identified by the <code>jti</code> to a blacklist for the tenant.",
				"description": "",
				"operationId": "post_tokens",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"description": "",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/api/v2/jobs/users-imports": {
			"post": {
				"summary": "Imports users to a connection from a file using a long running job.",
				"description": "<strong>Important:</strong> The documentation for the file format is <a href=https://docs.auth0.com/bulk-import>here</a>.",
				"operationId": "post_users-imports",
				"parameters": [
					{
						"name": "connection_name",
						"in": "form",
						"description": "The name of the connection to which users will be added."
					},
					{
						"name": "users",
						"in": "form",
						"description": "A file containing the users to import"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/api/v2/jobs/{job_id}": {
			"get": {
				"summary": "Retrieves a job. Useful to check its status.",
				"description": "",
				"operationId": "get_jobs_by_job_id",
				"parameters": [
					{
						"name": "job_id",
						"in": "path",
						"description": "The id of the job"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/api/v2/stats/active-users": {
			"get": {
				"summary": "Gets the active users count (logged in during the last 30 days).",
				"description": "",
				"operationId": "get_active-users",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/api/v2/stats/daily": {
			"get": {
				"summary": "Gets the daily stats for a particular period.",
				"description": "",
				"operationId": "get_daily",
				"parameters": [
					{
						"name": "from",
						"in": "query",
						"description": "The first day of the period (inclusive) in YYYYMMDD format."
					},
					{
						"name": "to",
						"in": "query",
						"description": "The last day of the period (inclusive) in YYYYMMDD format."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	},
	"definitions": {
	}
}