{
	"swagger": "2.0",
	"info": {
		"title": "Spotify Web API",
		"description": "Our Web API lets your applications fetch data from the Spotify music catalog and manage useru2019s playlists and saved music.",
		"termsOfService": "https://developer.spotify.com/developer-terms-of-use/",
		"version": "v1"
	},
	"host": "api.spotify.com",
	"basePath": "/v1",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/lookup/1/": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "The format to be returned in the response. (e.g. JSON, or XML)",
						"type": "string"
					},
					{
						"name": "extras",
						"in": "query",
						"description": "A comma-separated list of words that defines the detail level expected in the response. Options:- Album: Returns basic information about all the albums the artist is featured in.- Albumdetail: Returns detailed information about all the albums the artist is featured in.",
						"type": "string"
					},
					{
						"name": "uri",
						"in": "query",
						"description": "A Spotify URI. Either artist.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/search/1/album": {
			"get": {
				"summary": "Lookup",
				"description": "Lookup",
				"operationId": "lookup",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "The format to be returned in the response. (e.g. JSON, or XML)",
						"type": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page of the result set to return.",
						"type": "integer"
					},
					{
						"name": "q",
						"in": "query",
						"description": "Search string encoded in UTF-8.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/search/1/artist": {
			"get": {
				"summary": "Search",
				"description": "Search",
				"operationId": "search",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "The format to be returned in the response. (e.g. JSON, or XML)",
						"type": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page of the result set to return.",
						"type": "integer"
					},
					{
						"name": "q",
						"in": "query",
						"description": "Search string encoded in UTF-8.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/search/1/track": {
			"get": {
				"summary": "Search",
				"description": "Search",
				"operationId": "search",
				"parameters": [
					{
						"name": "Accept",
						"in": "query",
						"description": "The format to be returned in the response. (e.g. JSON, or XML)",
						"type": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page of the result set to return.",
						"type": "integer"
					},
					{
						"name": "q",
						"in": "query",
						"description": "Search string encoded in UTF-8.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}