{
	"swagger": "2.0",
	"info": {
		"title": "Mailjet Messages API",
		"description": "Allows you to list and view the details of a Message (an e-mail) processed by Mailjet",
		"termsOfService": null,
		"version": "v3"
	},
	"host": "api.mailjet.com",
	"basePath": "v3/REST/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"message/": {
			"get": {
				"summary": "Message List",
				"description": "Allows you to list messages.",
				"operationId": "",
				"parameters": [
					{
						"name": "Campaign",
						"in": "query",
						"description": "Only retrieve message resources for which Campaign ID equals the specified value.nn                            n                                [ Type Int64 ]",
						"type": "string"
					},
					{
						"name": "Contact",
						"in": "query",
						"description": "Only retrieve message resources for which Contact ID equals the specified value.nn                            n                                [ Type Int64 ]",
						"type": "string"
					},
					{
						"name": "MessageState",
						"in": "query",
						"description": "Only show messages with this state.nn                            n                                [ Type Int64 ]",
						"type": "string"
					},
					{
						"name": "PlanSubscription",
						"in": "query",
						"description": "Only retrieve message resources for which PlanSubscription ID equals the specified value.nn                            n                                [ Type Int64 ]",
						"type": "string"
					},
					{
						"name": "Sender",
						"in": "query",
						"description": "Only show messages from this sender.nn                            n                                [ Type Int64 ]",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messagehistory/": {
			"get": {
				"summary": "Message History",
				"description": "List message history resources ",
				"operationId": "",
				"parameters": [
					{
						"name": "Message",
						"in": "path",
						"description": "ID of message for which to show the history.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messagehistory/{id}": {
			"get": {
				"summary": "Message History",
				"description": "Get the history of a message.",
				"operationId": "",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID of the message history.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messageinformation/": {
			"get": {
				"summary": "Message Information",
				"description": "Lists the information about a message.",
				"operationId": "",
				"parameters": [
					{
						"name": "CampaignID",
						"in": "query",
						"description": "Unique numerical ID for this object.nn                            n                                [ Type Int64 ]",
						"type": "string"
					},
					{
						"name": "CampaignStatus",
						"in": "query",
						"description": "Only retrieve campaigns with status equal to specified value.nn                            n                                [ Type SmallInt ]",
						"type": "string"
					},
					{
						"name": "ContactsList",
						"in": "query",
						"description": "Only retrieve campaigns sent to specified Contacts list.nn                            n                                [ Type Int64 ]",
						"type": "string"
					},
					{
						"name": "CustomCampaign",
						"in": "query",
						"description": "Only retrieve campaigns with given Custom Value.nn                            n                                [ Type AnsiString ]",
						"type": "string"
					},
					{
						"name": "From",
						"in": "query",
						"description": "Only retrieve campaigns with given From header.nn                            n                                [ Type AnsiString ]",
						"type": "string"
					},
					{
						"name": "FromDomain",
						"in": "query",
						"description": "Only retrieve campaigns with given domain in From header.nn                            n                                [ Type AnsiString ]",
						"type": "string"
					},
					{
						"name": "FromID",
						"in": "query",
						"description": "Only retrieve campaigns with this sender ID.nn                            n                                [ Type Int64 ]",
						"type": "string"
					},
					{
						"name": "FromTS",
						"in": "query",
						"description": "Only retrieve campaigns with SendStartAt after this timestamp.nn                            n                                [ Type TRFC3339DateTime ]",
						"type": "string"
					},
					{
						"name": "FromType",
						"in": "query",
						"description": "Only retrieve campaigns with FromType equal to specified value.nn                            n                                [ Type LongInt ]",
						"type": "string"
					},
					{
						"name": "IsDeleted",
						"in": "query",
						"description": "Only retrieve campaigns where isDeleted matches the specified value.nn                            n                                [ Type TBooleanFilter ]",
						"type": "string"
					},
					{
						"name": "IsNewsletterTool",
						"in": "query",
						"description": "Only retrieve campaigns which were started by the newsletter tool.nn                            n                                [ Type TBooleanFilter ]",
						"type": "string"
					},
					{
						"name": "IsStarred",
						"in": "query",
						"description": "Only retrieve campaigns which were marked as starred.nn                            n                                [ Type TBooleanFilter ]",
						"type": "string"
					},
					{
						"name": "MessageStatus",
						"in": "query",
						"description": "Only retrieve messages with status equal to specified value.nn                            n                                [ Type TMessageStatus ]",
						"type": "string"
					},
					{
						"name": "Period",
						"in": "query",
						"description": "Set FromTS and ToTS timestamps to beginning of indicated period and current timestamp, respectively.nn                            n                                [ Type AnsiString ]",
						"type": "string"
					},
					{
						"name": "ToTS",
						"in": "query",
						"description": "Only retrieve campaigns with SendStartAt timestamp less than the specified value.nn                            n                                [ Type TRFC3339DateTime ]",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messageinformation/{id}": {
			"get": {
				"summary": "Message Information",
				"description": "Lists a message informaiton.",
				"operationId": "",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID of the message.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messagesentstatistics/": {
			"get": {
				"summary": "Message Statistics",
				"description": "Lists the message statistics.",
				"operationId": "",
				"parameters": [
					{
						"name": "AllMessages",
						"in": "query",
						"description": "Retrieve all messages. Normally, only the first message of each campaign is retrieved.nn                            n                                [ Type TBooleanFilter ]",
						"type": "string"
					},
					{
						"name": "CampaignID",
						"in": "query",
						"description": "Unique numerical ID for this object.nn                            n                                [ Type Int64 ]",
						"type": "string"
					},
					{
						"name": "CampaignStatus",
						"in": "query",
						"description": "Only retrieve campaigns with Status equal to specified value.nn                            n                                [ Type SmallInt ]",
						"type": "string"
					},
					{
						"name": "Contact",
						"in": "query",
						"description": "Only retrieve messagesentstatistics resources for which Contact equals the specified value.nn                            n                                [ Type Int64 ]",
						"type": "string"
					},
					{
						"name": "ContactsList",
						"in": "query",
						"description": "Only retrieve campaigns sent to specified Contacts list.nn                            n                                [ Type Int64 ]",
						"type": "string"
					},
					{
						"name": "CustomCampaign",
						"in": "query",
						"description": "Only retrieve campaigns with given Custom Value.nn                            n                                [ Type AnsiString ]",
						"type": "string"
					},
					{
						"name": "From",
						"in": "query",
						"description": "Only retrieve campaigns with given From header.nn                            n                                [ Type AnsiString ]",
						"type": "string"
					},
					{
						"name": "FromDomain",
						"in": "query",
						"description": "Only retrieve campaigns with given domain in From header.nn                            n                                [ Type AnsiString ]",
						"type": "string"
					},
					{
						"name": "FromID",
						"in": "query",
						"description": "Only retrieve campaigns with this sender ID.nn                            n                                [ Type Int64 ]",
						"type": "string"
					},
					{
						"name": "FromTS",
						"in": "query",
						"description": "Only retrieve campaigns with SendStartAt after this timestamp.nn                            n                                [ Type TRFC3339DateTime ]",
						"type": "string"
					},
					{
						"name": "FromType",
						"in": "query",
						"description": "Only retrieve campaigns with FromType equal to specified value.nn                            n                                [ Type LongInt ]",
						"type": "string"
					},
					{
						"name": "IsDeleted",
						"in": "query",
						"description": "Only retrieve campaigns where isDeleted matches the specified value.nn                            n                                [ Type TBooleanFilter ]",
						"type": "string"
					},
					{
						"name": "IsNewsletterTool",
						"in": "query",
						"description": "Only retrieve campaigns which were started by the newsletter tool.nn                            n                                [ Type TBooleanFilter ]",
						"type": "string"
					},
					{
						"name": "IsStarred",
						"in": "query",
						"description": "Only retrieve campaigns which were marked as starred.nn                            n                                [ Type TBooleanFilter ]",
						"type": "string"
					},
					{
						"name": "MessageStatus",
						"in": "query",
						"description": "Only retrieve messages with Status equal to specified value.nn                            n                                [ Type TMessageStatus ]",
						"type": "string"
					},
					{
						"name": "Period",
						"in": "query",
						"description": "Set FromTS and ToTS timestamps to beginning of indicated period and current timestamp, respectively.nn                            n                                [ Type AnsiString ]",
						"type": "string"
					},
					{
						"name": "ShowExtraData",
						"in": "query",
						"description": "[ Type TBooleanFilter ]",
						"type": "string"
					},
					{
						"name": "ToTS",
						"in": "query",
						"description": "Only retrieve campaigns with SendStartAt timestamp less than the specified value.nn                            n                                [ Type TRFC3339DateTime ]",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messagesentstatistics/{id}": {
			"get": {
				"summary": "Message Statistics",
				"description": "List message statistics.",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messagestate/{id}": {
			"get": {
				"summary": "Message State",
				"description": "Returns message state.",
				"operationId": "",
				"parameters": [
					{
						"name": "id",
						"in": "query",
						"description": "Id of the message.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messagestatistics/": {
			"get": {
				"summary": "Message Statistics",
				"description": "Message Statistics",
				"operationId": "",
				"parameters": [
					{
						"name": "CampaignID",
						"in": "query",
						"description": "Unique numerical ID for this object.nn                            n                                [ Type Int64 ]",
						"type": "string"
					},
					{
						"name": "CampaignStatus",
						"in": "query",
						"description": "Only retrieve campaigns with status equal to specified value.nn                            n                                [ Type SmallInt ]",
						"type": "string"
					},
					{
						"name": "ContactEmail",
						"in": "query",
						"description": "Only retrieve message statistics for this contact email address.nn                            n                                [ Type AnsiString ]",
						"type": "string"
					},
					{
						"name": "ContactID",
						"in": "query",
						"description": "Unique numerical ID for this object.nn                            n                                [ Type Int64 ]",
						"type": "string"
					},
					{
						"name": "ContactListID",
						"in": "query",
						"description": "[ Type Int64 ]",
						"type": "string"
					},
					{
						"name": "CustomCampaign",
						"in": "query",
						"description": "Only retrieve campaigns with given Custom Value.nn                            n                                [ Type AnsiString ]",
						"type": "string"
					},
					{
						"name": "From",
						"in": "query",
						"description": "Only retrieve campaigns with given From header.nn                            n                                [ Type AnsiString ]",
						"type": "string"
					},
					{
						"name": "FromDomain",
						"in": "query",
						"description": "Only retrieve campaigns with given domain in From header.nn                            n                                [ Type AnsiString ]",
						"type": "string"
					},
					{
						"name": "FromID",
						"in": "query",
						"description": "Only retrieve campaigns with this sender ID.nn                            n                                [ Type Int64 ]",
						"type": "string"
					},
					{
						"name": "FromTS",
						"in": "query",
						"description": "Only retrieve campaigns with SendStartAt after this timestamp.nn                            n                                [ Type TRFC3339DateTime ]",
						"type": "string"
					},
					{
						"name": "FromType",
						"in": "query",
						"description": "Only retrieve campaigns with FromType equal to specified value.nn                            n                                [ Type LongInt ]",
						"type": "string"
					},
					{
						"name": "IsDeleted",
						"in": "query",
						"description": "Only retrieve campaigns where isDeleted matches the specified value.nn                            n                                [ Type TBooleanFilter ]",
						"type": "string"
					},
					{
						"name": "IsNewsletterTool",
						"in": "query",
						"description": "Only retrieve campaigns which were started by the newsletter tool.nn                            n                                [ Type TBooleanFilter ]",
						"type": "string"
					},
					{
						"name": "IsStarred",
						"in": "query",
						"description": "Only retrieve campaigns which were marked as starred.nn                            n                                [ Type TBooleanFilter ]",
						"type": "string"
					},
					{
						"name": "MessageStatus",
						"in": "query",
						"description": "Only retrieve messages with status equal to specified value.nn                            n                                [ Type TMessageStatus ]",
						"type": "string"
					},
					{
						"name": "Period",
						"in": "query",
						"description": "Set FromTS and ToTS timestamps to beginning of indicated period and current timestamp, respectively.nn                            n                                [ Type AnsiString ]",
						"type": "string"
					},
					{
						"name": "ToTS",
						"in": "query",
						"description": "Only retrieve campaigns with SendStartAt timestamp less than the specified value.nn                            n                                [ Type TRFC3339DateTime ]",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messagestatistics/{id}": {
			"get": {
				"summary": "Message Statistics",
				"description": "Message Statistics",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"message{id}": {
			"get": {
				"summary": "Message Detail",
				"description": "View the details of a message.",
				"operationId": "",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Message ID.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		}
	}
}