{
	"swagger": "2.0",
	"info": {
		"title": "Elastic Email SMTP API",
		"description": "API for sending and management email.",
		"termsOfService": null,
		"version": "v1"
	},
	"host": "api.elasticemail.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"attachments/upload/": {
			"get": {
				"summary": "Upload Attachment",
				"description": "The upload attachment command is used to upload an attachment for sending.  ",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "your api key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "file",
						"in": "query",
						"description": "The file name being uploaded",
						"type": "string",
						"format": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "username",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"lists/add-contact": {
			"get": {
				"summary": "Add Existing Subscriber To List",
				"description": "Add Existing Subscriber To List",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API Key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "listname",
						"in": "query",
						"description": "name of list you wish to add subscriber to (separate by semi-colon to add to multiple lists)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "Your user name.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"lists/create-contact": {
			"get": {
				"summary": "Create New Subscriber",
				"description": "Create New Subscriber",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "your api key found on the Account screen",
						"type": "string",
						"format": "string"
					},
					{
						"name": "birthdate",
						"in": "query",
						"description": "date of birth of the subscriber",
						"type": "string",
						"format": "string"
					},
					{
						"name": "city",
						"in": "query",
						"description": "city of the subscriber",
						"type": "string",
						"format": "string"
					},
					{
						"name": "country",
						"in": "query",
						"description": "country of the subscriber",
						"type": "string",
						"format": "string"
					},
					{
						"name": "email",
						"in": "query",
						"description": "email address of subscriber/recipient",
						"type": "string",
						"format": "string"
					},
					{
						"name": "firstname",
						"in": "query",
						"description": "first name of the subscriber",
						"type": "string",
						"format": "string"
					},
					{
						"name": "gender",
						"in": "query",
						"description": "male or female",
						"type": "string",
						"format": "string"
					},
					{
						"name": "lastname",
						"in": "query",
						"description": " last name of the subscriber",
						"type": "string",
						"format": "string"
					},
					{
						"name": "listname",
						"in": "query",
						"description": "the name of the list or lists (separated by semi-colon) the subscriber will be added to - if blank, it will just create the subscriber. If the list does not exist it will raise an error and fail",
						"type": "string",
						"format": "string"
					},
					{
						"name": "organizationname",
						"in": "query",
						"description": "organization name the subscriber works for",
						"type": "string",
						"format": "string"
					},
					{
						"name": "phone",
						"in": "query",
						"description": "phone number for the subscriber",
						"type": "string",
						"format": "string"
					},
					{
						"name": "postalcode",
						"in": "query",
						"description": "the zip or postal code of the subscriber",
						"type": "string",
						"format": "string"
					},
					{
						"name": "state",
						"in": "query",
						"description": "the state or province for the subscriber",
						"type": "string",
						"format": "string"
					},
					{
						"name": "the zip or postal code of the subscriber",
						"in": "query",
						"description": "Your user name.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "title",
						"in": "query",
						"description": "the title for the subscriber (Mr., Mrs, Miss, etc)",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"lists/create-lists": {
			"get": {
				"summary": "Create New List",
				"description": "Create New List",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API Key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "listname",
						"in": "query",
						"description": "name of list you wish to create",
						"type": "string",
						"format": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "Your user name.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"lists/delete": {
			"get": {
				"summary": "Delete Existing List",
				"description": "Delete Existing List",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API Key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "listname",
						"in": "query",
						"description": "name of list you wish to delete",
						"type": "string",
						"format": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "Your user name.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"lists/delete-contact": {
			"get": {
				"summary": "Delete Existing Subscriber",
				"description": "Delete Existing Subscriber",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API Key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "email",
						"in": "query",
						"description": "email address of subscriber/recipient (separate by semi-colon to remove multiple)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "Your user name.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"lists/remove-contact": {
			"get": {
				"summary": "Remove Existing Subscriber From List",
				"description": "Remove Existing Subscriber From List",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API Key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "listname",
						"in": "query",
						"description": "name of list you wish to remove subscriber from (separate by semi-colon to remove from multiple lists)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "Your user name.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"lists/upload-contacts": {
			"get": {
				"summary": "Create Multiple Subscriber From CSV File",
				"description": "Create Multiple Subscriber From CSV File",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API Key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "birthdate",
						"in": "query",
						"description": "date of birth of the subscriber",
						"type": "string",
						"format": "string"
					},
					{
						"name": "city",
						"in": "query",
						"description": "city of the subscriber",
						"type": "string",
						"format": "string"
					},
					{
						"name": "country",
						"in": "query",
						"description": "country of the subscriber",
						"type": "string",
						"format": "string"
					},
					{
						"name": "email",
						"in": "query",
						"description": "email address of subscriber/recipient",
						"type": "string",
						"format": "string"
					},
					{
						"name": "firstname",
						"in": "query",
						"description": "first name of the subscriber",
						"type": "string",
						"format": "string"
					},
					{
						"name": "gender",
						"in": "query",
						"description": "male or female",
						"type": "string",
						"format": "string"
					},
					{
						"name": "lastname",
						"in": "query",
						"description": "last name of the subscriber",
						"type": "string",
						"format": "string"
					},
					{
						"name": "listname",
						"in": "query",
						"description": "the name of the list or lists (separated by semi-colon) the subscriber will be added to - if blank, it will just create the subscriber. If the list does not exist it will raise an error and fail",
						"type": "string",
						"format": "string"
					},
					{
						"name": "organizationname",
						"in": "query",
						"description": "organization name the subscriber works for",
						"type": "string",
						"format": "string"
					},
					{
						"name": "phone",
						"in": "query",
						"description": "phone number for the subscriber",
						"type": "string",
						"format": "string"
					},
					{
						"name": "postalcode",
						"in": "query",
						"description": "the zip or postal code of the subscriber",
						"type": "string",
						"format": "string"
					},
					{
						"name": "state",
						"in": "query",
						"description": "the state or province for the subscriber",
						"type": "string",
						"format": "string"
					},
					{
						"name": "title",
						"in": "query",
						"description": "the title for the subscriber (Mr., Mrs, Miss, etc)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "Your user name.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"mailer/account-details": {
			"get": {
				"summary": "Account Details",
				"description": "The Account Details command is used to determine how much credit you have left.  ",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API Key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "Your user name.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"mailer/channel/delete": {
			"get": {
				"summary": "Deleting Channel",
				"description": "Deleting Channel",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API Key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "csv or xml",
						"type": "string",
						"format": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "channel name to delete",
						"type": "string",
						"format": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "Your user name.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"mailer/channel/list": {
			"get": {
				"summary": "Listing of Active Channels",
				"description": "Listing of Active Channels",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API Key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "csv or xml",
						"type": "string",
						"format": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "Your user name.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"mailer/list/bounced": {
			"get": {
				"summary": "Bounced",
				"description": "This api will return you the list of email addresses which are currently in your block list. ",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API Key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "Your user name.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"mailer/list/complaint": {
			"get": {
				"summary": "Complaint",
				"description": "This api will return you the list of email addresses which are currently in your block list. ",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API Key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "Your user name.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"mailer/lists/unsubscribed": {
			"get": {
				"summary": "Unsubscribed",
				"description": "This api will return you the list of email addresses which are currently in your block list. ",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API Key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "Your user name.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"mailer/send/": {
			"get": {
				"summary": "Send Email",
				"description": "api.elasticemail.com",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "your api key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "body_html",
						"in": "query",
						"description": "html email body",
						"type": "string",
						"format": "string"
					},
					{
						"name": "body_text",
						"in": "query",
						"description": "text email body",
						"type": "string",
						"format": "string"
					},
					{
						"name": "channel",
						"in": "query",
						"description": "an id field (max 60 chars) that can be used for reporting",
						"type": "string",
						"format": "string"
					},
					{
						"name": "charset",
						"in": "query",
						"description": "text value of encoding for example: iso-8859-1, windows-1251, utf-8, us-ascii, windows-1250",
						"type": "string",
						"format": "string"
					},
					{
						"name": "encodingtype",
						"in": "query",
						"description": "0 for None, 1 for Raw7Bit, 2 for Raw8Bit, 3 for QuotedPrintable, 4 for Base64 (Default), 5 for Uue  note that you can also provide the text version such as Raw7Bit for value 1. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "from",
						"in": "query",
						"description": "from email address",
						"type": "string",
						"format": "string"
					},
					{
						"name": "from_name",
						"in": "query",
						"description": "display name for from email address",
						"type": "string",
						"format": "string"
					},
					{
						"name": "lists",
						"in": "query",
						"description": "the name of a contact list you would like to send to. Separate multiple contact lists by commas",
						"type": "string",
						"format": "string"
					},
					{
						"name": "merge_firstname",
						"in": "query",
						"description": "if sending to a template you can send merge_ fields to merge data with the template. Template fields are entered with {firstname}, {lastname} etc.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "merge_lastname",
						"in": "query",
						"description": "if sending to a template you can send merge_ fields to merge data with the template. Template fields are entered with {firstname}, {lastname} etc.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "reply_to",
						"in": "query",
						"description": "email address to reply to",
						"type": "string",
						"format": "string"
					},
					{
						"name": "reply_to_name",
						"in": "query",
						"description": "display name of the reply to address",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sender",
						"in": "query",
						"description": "email address of the sender",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sender_name",
						"in": "query",
						"description": "display name sender ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "subject",
						"in": "query",
						"description": "email subject ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "template",
						"in": "query",
						"description": "the name of an email template you have created in your account. If you send a template",
						"type": "string",
						"format": "string"
					},
					{
						"name": "time_offset_minutes",
						"in": "query",
						"description": "number of minutes in the future this email should be sent ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "total",
						"in": "query",
						"description": "semi colon separated list of email recipients (each email is treated separately, like a BCC)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "your account email address",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"mailer/status/log": {
			"get": {
				"summary": "Log Activity",
				"description": "The detailed activity log api allows you to get detailed information from your activity log on the emails that you have sent. Information can be narrowed by email status, channel and datetime.",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API Key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "channel",
						"in": "query",
						"description": "If you included a channel name when submitting your requests you can filter here. If you did not submit a specific channel it is defaulted to the from email address.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "compress",
						"in": "query",
						"description": "True if you want the results returned as a compressed zip file",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "xml or csv",
						"type": "string",
						"format": "string"
					},
					{
						"name": "from",
						"in": "query",
						"description": "Server time in the format: 5/19/2011 10:54:20 PM",
						"type": "string",
						"format": "string"
					},
					{
						"name": "status",
						"in": "query",
						"description": "One of the following status values: 0 or all, 1 for ReadyToSend, 2 for InProgress, 4 for Bounced, 5 for Sent, 6 for Opened, 7 for Clicked, 8 for Unsubscribed, 9 for Abuse Report",
						"type": "string",
						"format": "string"
					},
					{
						"name": "to",
						"in": "query",
						"description": "Server time in the format: 5/19/2011 10:54:20 PM",
						"type": "string",
						"format": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "Your user name.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"mailer/status/{message_id}": {
			"get": {
				"summary": "Get Status",
				"description": "Get the status of an email message",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API Key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "message_id",
						"in": "path",
						"description": "The ID of the email message.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "showdelivered",
						"in": "query",
						"description": "true - This will return all the recipients who succeeded. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "showdetails",
						"in": "query",
						"description": "true  - This will return all recipients for each status.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "showerrors",
						"in": "query",
						"description": "true - This will return all the recipients who bounced with details on why",
						"type": "string",
						"format": "string"
					},
					{
						"name": "showfailed",
						"in": "query",
						"description": "true - This will return all the recipients who bounced. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "showpending",
						"in": "query",
						"description": "true - This will return all the recipients still in progress. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "showstats",
						"in": "query",
						"description": "Show stats.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "Your user name.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		}
	}
}