{
	"swagger": "2.0",
	"info": {
		"title": "Urban Airship",
		"description": "The Urban Airship Push API is a major update which unifies several legacy endpoints into twou2014 one for sending messages and one for scheduling. ",
		"termsOfService": "http://urbanairship.com/legal/terms-of-use",
		"version": "v3"
	},
	"host": "go.urbanairship.com",
	"basePath": "/api",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/airmail/send": {
			"post": {
				"summary": "Reset User Credentials",
				"description": "Reset User Credentials",
				"operationId": "reset-user-credentials",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/airmail/send/broadcast": {
			"post": {
				"summary": "Send Message",
				"description": "Send Message",
				"operationId": "send-message",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apids": {
			"get": {
				"summary": "Broadcast Message",
				"description": "Broadcast Message",
				"operationId": "broadcast-message",
				"parameters": [
					{
						"name": "limit",
						"in": "query",
						"description": "Control how many APIDs are returned at a time. The maximum limit is 5000.",
						"type": "integer"
					},
					{
						"name": "start",
						"in": "query",
						"description": "APID from where to start from.",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apids/{apid}": {
			"put": {
				"summary": "List Invalid Device Tokens",
				"description": "List Invalid Device Tokens",
				"operationId": "list-invalid-device-tokens",
				"parameters": [
					{
						"name": "apid",
						"in": "query",
						"description": "An APID (Android Push ID) is the Urban Airship ID of a device to which a message can be pushed.",
						"type": "string"
					},
					{
						"name": "apid",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/app/content": {
			"get": {
				"summary": "Delete User Messages",
				"description": "Delete User Messages",
				"operationId": "delete-user-messages",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "The user ID.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/app/content/{product_id}/download": {
			"post": {
				"summary": "Get Store Inventory",
				"description": "Get Store Inventory",
				"operationId": "get-store-inventory",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "product_id",
						"in": "query",
						"description": "The product ID.",
						"type": "string"
					},
					{
						"name": "product_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/app/updates": {
			"post": {
				"summary": "Download Paid Content",
				"description": "Download Paid Content",
				"operationId": "download-paid-content",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "product_id",
						"in": "query",
						"description": "The product ID.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/device_pins/{pin}": {
			"put": {
				"summary": "List APIDs",
				"description": "List APIDs",
				"operationId": "list-apids",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "pin",
						"in": "query",
						"description": "A BlackBerry PIN. Device PINs should be 8 character strings, without spaces.",
						"type": "string"
					},
					{
						"name": "pin",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/device_tokens": {
			"get": {
				"summary": "Get Hourly Message Counts",
				"description": "Get Hourly Message Counts",
				"operationId": "get-hourly-message-counts",
				"parameters": [
					{
						"name": "limit",
						"in": "query",
						"description": "The total items to return. By default, we paginate at 5000 device tokens.",
						"type": "integer"
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number.",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/device_tokens/count": {
			"get": {
				"summary": "List Device Tokens",
				"description": "List Device Tokens",
				"operationId": "list-device-tokens",
				"parameters": [
					{
						"name": "limit",
						"in": "query",
						"description": "The total items to return. By default, we paginate at 5000 device tokens.",
						"type": "integer"
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number.",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/device_tokens/feedback": {
			"get": {
				"summary": "Count Device Tokens",
				"description": "Count Device Tokens",
				"operationId": "count-device-tokens",
				"parameters": [
					{
						"name": "since",
						"in": "query",
						"description": "Since timestamp in ISO 8601 format. Example: 2012-03-01+13:00:00.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/device_tokens/{device_token}/tags": {
			"get": {
				"summary": "Modify Tag Device Tokens",
				"description": "Modify Tag Device Tokens",
				"operationId": "modify-tag-device-tokens",
				"parameters": [
					{
						"name": "device_token",
						"in": "query",
						"description": "A specific device token.",
						"type": "string"
					},
					{
						"name": "device_token",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/device_tokens/{device_token}/tags/{tag}": {
			"put": {
				"summary": "List Device Token Tags",
				"description": "List Device Token Tags",
				"operationId": "list-device-token-tags",
				"parameters": [
					{
						"name": "device_token",
						"in": "query",
						"description": "A specific device token.",
						"type": "string"
					},
					{
						"name": "device_token",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Tags can be of any format you wish, but we recommend that they be URL-safe in order to make less work for you. The maximum length of a tag is 128 characters.",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/device_tokens/{token}": {
			"put": {
				"summary": "",
				"description": "",
				"operationId": "",
				"parameters": [
					{
						"name": "token",
						"in": "query",
						"description": "Device tokens should be represented as an uppercase string, 64 characters long, without spaces or other separators. An example device token is: FE66489F304DC75B8D6E8200DFF8A456E8DAEACEC428B427E9518741C92C6660.",
						"type": "string"
					},
					{
						"name": "token",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/feeds": {
			"post": {
				"summary": "Download Content",
				"description": "Download Content",
				"operationId": "download-content",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/feeds/{feed_id}": {
			"put": {
				"summary": "Get Feed",
				"description": "Get Feed",
				"operationId": "get-feed",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "feed_id",
						"in": "query",
						"description": "A particular feed.",
						"type": "string"
					},
					{
						"name": "feed_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/partner/apps": {
			"post": {
				"summary": "List Applications",
				"description": "List Applications",
				"operationId": "list-applications",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/partner/apps/{app_id}": {
			"put": {
				"summary": "Create Application",
				"description": "Create Application",
				"operationId": "create-application",
				"parameters": [
					{
						"name": "app_id",
						"in": "query",
						"description": "A specific application.",
						"type": "string"
					},
					{
						"name": "app_id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/push": {
			"post": {
				"summary": "Disable Device Token",
				"description": "Disable Device Token",
				"operationId": "disable-device-token",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/push/batch": {
			"post": {
				"summary": "Remove Scheduled Notification Alias",
				"description": "Remove Scheduled Notification Alias",
				"operationId": "remove-scheduled-notification-alias",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/push/broadcast": {
			"post": {
				"summary": "Push Notification Batch",
				"description": "Push Notification Batch",
				"operationId": "push-notification-batch",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/push/scheduled": {
			"post": {
				"summary": "Cancel Scheduled Notification",
				"description": "Cancel Scheduled Notification",
				"operationId": "cancel-scheduled-notification",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/push/scheduled/alias/{alias}": {
			"put": {
				"summary": "Bulk Delete Scheduled Notifications",
				"description": "Bulk Delete Scheduled Notifications",
				"operationId": "bulk-delete-scheduled-notifications",
				"parameters": [
					{
						"name": "alias",
						"in": "query",
						"description": "Scheduled notification alias.",
						"type": "string"
					},
					{
						"name": "alias",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/push/scheduled/{notification}": {
			"delete": {
				"summary": "Push Notification",
				"description": "Push Notification",
				"operationId": "push-notification",
				"parameters": [
					{
						"name": "notification",
						"in": "query",
						"description": "Scheduled notification ID.",
						"type": "string"
					},
					{
						"name": "notification",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/push/stats": {
			"get": {
				"summary": "Broadcast Notification",
				"description": "Broadcast Notification",
				"operationId": "broadcast-notification",
				"parameters": [
					{
						"name": "end",
						"in": "query",
						"description": "End date in UTC format. Example: 2009-06-22+06:00.",
						"type": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "Response format.",
						"type": "string"
					},
					{
						"name": "start",
						"in": "query",
						"description": "Start date in UTC format. Example: 2009-06-22.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tags": {
			"get": {
				"summary": "Delete Feed",
				"description": "Delete Feed",
				"operationId": "delete-feed",
				"parameters": [
					{
						"name": "feed_id",
						"in": "query",
						"description": "A particular feed.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tags/{tag}": {
			"put": {
				"summary": "List Tags",
				"description": "List Tags",
				"operationId": "list-tags",
				"parameters": [
					{
						"name": "tag",
						"in": "query",
						"description": "Tags can be of any format you wish, but we recommend that they be URL-safe in order to make less work for you. The maximum length of a tag is 128 characters.",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/user": {
			"post": {
				"summary": "Push Message Batch",
				"description": "Push Message Batch",
				"operationId": "push-message-batch",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/user/recover": {
			"post": {
				"summary": "Reset Credentials",
				"description": "Reset Credentials",
				"operationId": "reset-credentials",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/user/recover/{id}": {
			"get": {
				"summary": "Recover Account",
				"description": "Recover Account",
				"operationId": "recover-account",
				"parameters": [
					{
						"name": "id",
						"in": "query",
						"description": "ID of the useru2019s account recovery.",
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/user/{user_id}": {
			"put": {
				"summary": "Create User",
				"description": "Create User",
				"operationId": "create-user",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "The user ID.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/user/{user_id}/available_subscriptions": {
			"get": {
				"summary": "Check Recovery Status",
				"description": "Check Recovery Status",
				"operationId": "check-recovery-status",
				"parameters": [
					{
						"name": "user_id",
						"in": "query",
						"description": "User ID.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/user/{user_id}/creds/reset": {
			"post": {
				"summary": "Delete User",
				"description": "Delete User",
				"operationId": "delete-user",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "The user ID.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/user/{user_id}/messages": {
			"get": {
				"summary": "Broadcast Message",
				"description": "Broadcast Message",
				"operationId": "broadcast-message",
				"parameters": [
					{
						"name": "full_list",
						"in": "query",
						"description": "Get the full message included in this list (which might take a while to download).",
						"type": "string"
					},
					{
						"name": "since",
						"in": "query",
						"description": "Return only new items. Example: since=some_message_id will return all messages sent after the message ID of some_message_id.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "The user ID.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/user/{user_id}/messages/delete": {
			"post": {
				"summary": "Mark User Message As Read",
				"description": "Mark User Message As Read",
				"operationId": "mark-user-message-as-read",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "The user ID.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/user/{user_id}/messages/message/{message_id}": {
			"get": {
				"summary": "Mark User Unread Messages As Read",
				"description": "Mark User Unread Messages As Read",
				"operationId": "mark-user-unread-messages-as-read",
				"parameters": [
					{
						"name": "message_id",
						"in": "query",
						"description": "The message ID.",
						"type": "string"
					},
					{
						"name": "message_id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "The user ID.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/user/{user_id}/messages/message/{message_id}/body": {
			"get": {
				"summary": "Delete User Message",
				"description": "Delete User Message",
				"operationId": "delete-user-message",
				"parameters": [
					{
						"name": "message_id",
						"in": "query",
						"description": "The message ID.",
						"type": "string"
					},
					{
						"name": "message_id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "The user ID.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/user/{user_id}/messages/message/{message_id}/read": {
			"post": {
				"summary": "Get User Message Body",
				"description": "Get User Message Body",
				"operationId": "get-user-message-body",
				"parameters": [
					{
						"name": "message_id",
						"in": "query",
						"description": "The message ID.",
						"type": "string"
					},
					{
						"name": "message_id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "The user ID.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/user/{user_id}/messages/unread": {
			"post": {
				"summary": "List User Unread Messages",
				"description": "List User Unread Messages",
				"operationId": "list-user-unread-messages",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "The user ID.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/user/{user_id}/subscriptions/content/{content_id}/download": {
			"post": {
				"summary": "List Available Content",
				"description": "List Available Content",
				"operationId": "list-available-content",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "content_id",
						"in": "query",
						"description": "Content ID.",
						"type": "string"
					},
					{
						"name": "content_id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "User ID.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/user/{user_id}/subscriptions/{subscription_key}/purchase": {
			"post": {
				"summary": "Retrieve Subscription Options",
				"description": "Retrieve Subscription Options",
				"operationId": "retrieve-subscription-options",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Content type.",
						"type": "string"
					},
					{
						"name": "subscription_key",
						"in": "query",
						"description": "Subscription Key.",
						"type": "string"
					},
					{
						"name": "subscription_key",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "User ID.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/user/{user_id}/subscription_content": {
			"get": {
				"summary": "Add Subscription",
				"description": "Add Subscription",
				"operationId": "add-subscription",
				"parameters": [
					{
						"name": "user_id",
						"in": "query",
						"description": "User ID.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}