{
	"swagger": "2.0",
	"info": {
		"title": "7digital Locker API",
		"description": "Returns a paged list of releases and tracks for a user's locker (collection of all purchased tracks). ",
		"termsOfService": "",
		"version": ""
	},
	"host": "api.7digital.com",
	"basePath": "1.2/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"artist/browse": {
			"get ": {
				"summary": "artist/browse",
				"description": "This method returns a list of artists from the 7digital catalogue whose names match the start letter(s) supplied.",
				"operationId": "artistbrowse",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "artistId",
						"in": "query",
						"description": "unique identifier of the artist"
					},
					{
						"name": "country",
						"in": "query",
						"description": "nttttttt 2 letter ISO country code of the country whose releases you would like to searchntttttt "
					},
					{
						"name": "imageSize",
						"in": "query",
						"description": "nttttttt The requested width of the image in pixelsntttttt "
					},
					{
						"name": "letter",
						"in": "query",
						"description": "The first letter(s) of the artist name to browse."
					},
					{
						"name": "page",
						"in": "query",
						"description": "Page number of the result set. If not supplied, defaults to 1"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50"
					},
					{
						"name": "period",
						"in": "query",
						"description": "The time period for which the chart is generated. Default value is a week."
					},
					{
						"name": "streamable",
						"in": "query",
						"description": "If provided search results will contain only releases that can/cannot be streamed"
					},
					{
						"name": "toDate",
						"in": "query",
						"description": "The last day the chart should include data for. If not provided, by default the most recent chart for requested period will be returned."
					},
					{
						"name": "type",
						"in": "query",
						"description": "Releases can be of type album, single or video. If specified, results are filtered by release type."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"release/chart": {
			"get ": {
				"summary": "release/chart",
				"description": "This endpoint returns a chart of the most purchased releases for given week. Only albums are included in this chart. To retrieve the most recent charts as published on 7digital.com the 'toDate' parameter should be omitted.",
				"operationId": "releasechart",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "country",
						"in": "query",
						"description": "nttttttt 2 letter ISO country code of the country whose releases you would like to viewntttttt "
					},
					{
						"name": "imageSize",
						"in": "query",
						"description": "nttttttt The requested width of the image in pixelsntttttt "
					},
					{
						"name": "page",
						"in": "query",
						"description": "Page number of the result set. If not supplied, defaults to 1"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50"
					},
					{
						"name": "streamable",
						"in": "query",
						"description": "If provided search results will contain only releases that can/cannot be streamed"
					},
					{
						"name": "toDate",
						"in": "query",
						"description": "The last day the chart should include data for. If not provided, it defaults to the most recent chart week."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"tag": {
			"get ": {
				"summary": "tag",
				"description": "This method returns a list of all available tags.",
				"operationId": "tag",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "artistId",
						"in": "query",
						"description": "The unique identifier of the artist."
					},
					{
						"name": "country",
						"in": "query",
						"description": "nttttttt2 letter ISO country code of the country whose artists you would like to searchntttttt"
					},
					{
						"name": "imageSize",
						"in": "query",
						"description": "ntttttttThe requested width of the image in pixelsntttttt"
					},
					{
						"name": "page",
						"in": "query",
						"description": "Page number of the result set. If not supplied, defaults to 1"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50"
					},
					{
						"name": "streamable",
						"in": "query",
						"description": "If provided search results will contain only artists that can/cannot be streamed"
					},
					{
						"name": "tags",
						"in": "query",
						"description": "A single or comma separated list of tags."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"track/chart": {
			"get ": {
				"summary": "track/chart",
				"description": "This endpoint returns a chart of the most purchased tracks for given week. To retrieve the most recent charts as published on 7digital.com the 'toDate' parameter should be omitted.",
				"operationId": "trackchart",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "country",
						"in": "query",
						"description": "2 letter ISO country code of the country whose tracks you would like to search"
					},
					{
						"name": "imageSize",
						"in": "query",
						"description": "The requested width of the image in pixels"
					},
					{
						"name": "page",
						"in": "query",
						"description": "Page number of the result set. If not supplied, defaults to 1"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50"
					},
					{
						"name": "streamable",
						"in": "query",
						"description": "If provided search results will contain only tracks that can/cannot be streamed"
					},
					{
						"name": "toDate",
						"in": "query",
						"description": "The last day the chart should include data for. If not provided, it defaults to the most recent chart week."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"basket": {
			"<h4 ": {
				"summary": "basket",
				"description": "",
				"operationId": "basket",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "amountDue",
						"in": "query",
						"description": ""
					},
					{
						"name": "artistName",
						"in": "query",
						"description": ""
					},
					{
						"name": "basket id",
						"in": "query",
						"description": ""
					},
					{
						"name": "basketId",
						"in": "query",
						"description": "nttttttttThe unique identifier of the basket as acquired by basket/create methodnttttttt"
					},
					{
						"name": "basketItem id",
						"in": "query",
						"description": ""
					},
					{
						"name": "basketItems",
						"in": "query",
						"description": ""
					},
					{
						"name": "country",
						"in": "query",
						"description": "The code of the country the end user resides in. The country will default to GB if not provided.ntttt"
					},
					{
						"name": "discount",
						"in": "query",
						"description": ""
					},
					{
						"name": "itemCount",
						"in": "query",
						"description": ""
					},
					{
						"name": "itemName",
						"in": "query",
						"description": ""
					},
					{
						"name": "package",
						"in": "query",
						"description": ""
					},
					{
						"name": "price",
						"in": "query",
						"description": ""
					},
					{
						"name": "releaseId",
						"in": "query",
						"description": ""
					},
					{
						"name": "trackId",
						"in": "query",
						"description": ""
					},
					{
						"name": "type",
						"in": "query",
						"description": ""
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"playlists": {
			"get ": {
				"summary": "playlists",
				"description": "Returns a list of all public playlists. If an oauth_token is provided then also given users' private playlists will be included in the response.",
				"operationId": "playlists",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Users OAuth access token - allows user to view Private playlist if it belongs to them"
					},
					{
						"name": "page",
						"in": "query",
						"description": "nttttttPage number of the result set. If not supplied, defaults to 1nttttt"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of items to be returned per page. If not supplied, defaults to 10. Maximum page size is 500"
					},
					{
						"name": "user",
						"in": "query",
						"description": "This allows you to pass the id of a user you wish to view the playlists of a specific user. It must be in the format id:{userId}"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"playlists/{playlistId}": {
			"get ": {
				"summary": "playlists/{playlistId}",
				"description": "Returns playlist details and track listing. Access to private playlists is only allowed when an oauth_token of the playlist owner is provided.",
				"operationId": "playlistsplaylistid",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Users OAuth access token - allows user to view private playlist if it belongs to them"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"playlists/{playlistId}/details": {
			"post ": {
				"summary": "playlists/{playlistId}/details",
				"description": "Updates playlist details at {playlistId} with the supplied playlist details. It does not affect playlist tracks. Use this method e.g. for changing visibility of the playlist from private to public. The playlist details can only be updated by the playlist owner, i.e. oauth_token representing the user has to be provided.",
				"operationId": "playlistsplaylistiddetails",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Users OAuth access token"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"playlists/{playlistId}/tracks/{playlisttrackid}": {
			"delete ": {
				"summary": "playlists/{playlistId}/tracks/{playlisttrackid}",
				"description": "Removes the specified track {playlisttrackid} from the specified playlist at {playlistId}.  Tracks can only be removed by the playlist owner, i.e. oauth_token representing the user has to be provided.",
				"operationId": "playlistsplaylistidtracksplaylisttrackid",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Users OAuth access token"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"user/locker": {
			"get ": {
				"summary": "user/locker",
				"description": "Returns a paged list of releases and tracks for a user's locker (collection of all purchased tracks). This method must be OAuth signed.",
				"operationId": "userlocker",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "country",
						"in": "query",
						"description": "The code of the country the end user resides in. The country will default to GB if not provided.nttt"
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "users OAuth accesstoken"
					},
					{
						"name": "page",
						"in": "query",
						"description": "sets the page to be returned in paged list of the customers releases and tracks, by default this is the first page. page=1"
					},
					{
						"name": "pagesize",
						"in": "query",
						"description": "sets the number of releases that will be returned per page, the default is 10, the maximum is 50"
					},
					{
						"name": "purchaseId",
						"in": "query",
						"description": "nttttt If supplied will return only the releases and tracks for that basket. Will return an error if no tracks are found.nttttt"
					},
					{
						"name": "releaseId",
						"in": "query",
						"description": "The 7digital ID of the release to be that we are interested in. You will use this to filter out and return a specific release from the users locker. Will return an empty locker response if no match is found."
					},
					{
						"name": "sort",
						"in": "query",
						"description": "nttttttOrders the returned results. Supplied as a string in the format: {sortColumn} {sortOrder}, for example: purchaseDate desc ntttwill show recent purchases first. Currently you can sort by releaseTitle (asc or desc), purchaseDate (asc or desc) and artistName (asc or desc). If no sort is ntttsupplied, the default is releaseTitle asc. If no order is supplied the default is ascending.nttttt"
					},
					{
						"name": "trackId",
						"in": "query",
						"description": "nttttttIf supplied together with the releaseId, will returned only that specific track (provided it exists in user locker).nttttttWill return an empty locker response if no match is found.nttttt"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}