{
	"swagger": "2.0",
	"info": {
		"title": "7digital Catalogue API",
		"description": "Access to the 7digital catalogue API",
		"termsOfService": "http://developer.7digital.com/db/Attachments/Legal/Terms_of_Use/7digital%20Public%20API%20Terms.pdf",
		"version": "1.2"
	},
	"host": "api.7digital.com",
	"basePath": "1.2/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"artist/browse": {
			"get ": {
				"summary": "artist/browse",
				"description": "This method returns a list of artists from the 7digital catalogue whose names match the start letter(s) supplied.",
				"operationId": "artistbrowse",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "artistId",
						"in": "query",
						"description": "unique identifier of the artist"
					},
					{
						"name": "country",
						"in": "query",
						"description": "nttttttt 2 letter ISO country code of the country whose releases you would like to searchntttttt "
					},
					{
						"name": "imageSize",
						"in": "query",
						"description": "nttttttt The requested width of the image in pixelsntttttt "
					},
					{
						"name": "letter",
						"in": "query",
						"description": "The first letter(s) of the artist name to browse."
					},
					{
						"name": "page",
						"in": "query",
						"description": "Page number of the result set. If not supplied, defaults to 1"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50"
					},
					{
						"name": "period",
						"in": "query",
						"description": "The time period for which the chart is generated. Default value is a week."
					},
					{
						"name": "streamable",
						"in": "query",
						"description": "If provided search results will contain only releases that can/cannot be streamed"
					},
					{
						"name": "toDate",
						"in": "query",
						"description": "The last day the chart should include data for. If not provided, by default the most recent chart for requested period will be returned."
					},
					{
						"name": "type",
						"in": "query",
						"description": "Releases can be of type album, single or video. If specified, results are filtered by release type."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"release/chart": {
			"get ": {
				"summary": "release/chart",
				"description": "This endpoint returns a chart of the most purchased releases for given week. Only albums are included in this chart. To retrieve the most recent charts as published on 7digital.com the 'toDate' parameter should be omitted.",
				"operationId": "releasechart",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "country",
						"in": "query",
						"description": "nttttttt 2 letter ISO country code of the country whose releases you would like to viewntttttt "
					},
					{
						"name": "imageSize",
						"in": "query",
						"description": "nttttttt The requested width of the image in pixelsntttttt "
					},
					{
						"name": "page",
						"in": "query",
						"description": "Page number of the result set. If not supplied, defaults to 1"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50"
					},
					{
						"name": "streamable",
						"in": "query",
						"description": "If provided search results will contain only releases that can/cannot be streamed"
					},
					{
						"name": "toDate",
						"in": "query",
						"description": "The last day the chart should include data for. If not provided, it defaults to the most recent chart week."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"tag": {
			"get ": {
				"summary": "tag",
				"description": "This method returns a list of all available tags.",
				"operationId": "tag",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "artistId",
						"in": "query",
						"description": "The unique identifier of the artist."
					},
					{
						"name": "country",
						"in": "query",
						"description": "nttttttt2 letter ISO country code of the country whose artists you would like to searchntttttt"
					},
					{
						"name": "imageSize",
						"in": "query",
						"description": "ntttttttThe requested width of the image in pixelsntttttt"
					},
					{
						"name": "page",
						"in": "query",
						"description": "Page number of the result set. If not supplied, defaults to 1"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50"
					},
					{
						"name": "streamable",
						"in": "query",
						"description": "If provided search results will contain only artists that can/cannot be streamed"
					},
					{
						"name": "tags",
						"in": "query",
						"description": "A single or comma separated list of tags."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"track/chart": {
			"get ": {
				"summary": "track/chart",
				"description": "This endpoint returns a chart of the most purchased tracks for given week. To retrieve the most recent charts as published on 7digital.com the 'toDate' parameter should be omitted.",
				"operationId": "trackchart",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "country",
						"in": "query",
						"description": "2 letter ISO country code of the country whose tracks you would like to search"
					},
					{
						"name": "imageSize",
						"in": "query",
						"description": "The requested width of the image in pixels"
					},
					{
						"name": "page",
						"in": "query",
						"description": "Page number of the result set. If not supplied, defaults to 1"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50"
					},
					{
						"name": "streamable",
						"in": "query",
						"description": "If provided search results will contain only tracks that can/cannot be streamed"
					},
					{
						"name": "toDate",
						"in": "query",
						"description": "The last day the chart should include data for. If not provided, it defaults to the most recent chart week."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}