{
	"swagger": "2.0",
	"info": {
		"title": "7digital Media Delivery API",
		"description": "The Media Delivery API allows end users to download or stream full-length tracks and previews.",
		"termsOfService": "",
		"version": "1.2"
	},
	"host": "stream.svc.7digital.net",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"artist/browse": {
			"get ": {
				"summary": "artist/browse",
				"description": "This method returns a list of artists from the 7digital catalogue whose names match the start letter(s) supplied.",
				"operationId": "artistbrowse",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "artistId",
						"in": "query",
						"description": "unique identifier of the artist"
					},
					{
						"name": "country",
						"in": "query",
						"description": "nttttttt 2 letter ISO country code of the country whose releases you would like to searchntttttt "
					},
					{
						"name": "imageSize",
						"in": "query",
						"description": "nttttttt The requested width of the image in pixelsntttttt "
					},
					{
						"name": "letter",
						"in": "query",
						"description": "The first letter(s) of the artist name to browse."
					},
					{
						"name": "page",
						"in": "query",
						"description": "Page number of the result set. If not supplied, defaults to 1"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50"
					},
					{
						"name": "period",
						"in": "query",
						"description": "The time period for which the chart is generated. Default value is a week."
					},
					{
						"name": "streamable",
						"in": "query",
						"description": "If provided search results will contain only releases that can/cannot be streamed"
					},
					{
						"name": "toDate",
						"in": "query",
						"description": "The last day the chart should include data for. If not provided, by default the most recent chart for requested period will be returned."
					},
					{
						"name": "type",
						"in": "query",
						"description": "Releases can be of type album, single or video. If specified, results are filtered by release type."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"release/chart": {
			"get ": {
				"summary": "release/chart",
				"description": "This endpoint returns a chart of the most purchased releases for given week. Only albums are included in this chart. To retrieve the most recent charts as published on 7digital.com the 'toDate' parameter should be omitted.",
				"operationId": "releasechart",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "country",
						"in": "query",
						"description": "nttttttt 2 letter ISO country code of the country whose releases you would like to viewntttttt "
					},
					{
						"name": "imageSize",
						"in": "query",
						"description": "nttttttt The requested width of the image in pixelsntttttt "
					},
					{
						"name": "page",
						"in": "query",
						"description": "Page number of the result set. If not supplied, defaults to 1"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50"
					},
					{
						"name": "streamable",
						"in": "query",
						"description": "If provided search results will contain only releases that can/cannot be streamed"
					},
					{
						"name": "toDate",
						"in": "query",
						"description": "The last day the chart should include data for. If not provided, it defaults to the most recent chart week."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"tag": {
			"get ": {
				"summary": "tag",
				"description": "This method returns a list of all available tags.",
				"operationId": "tag",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "artistId",
						"in": "query",
						"description": "The unique identifier of the artist."
					},
					{
						"name": "country",
						"in": "query",
						"description": "nttttttt2 letter ISO country code of the country whose artists you would like to searchntttttt"
					},
					{
						"name": "imageSize",
						"in": "query",
						"description": "ntttttttThe requested width of the image in pixelsntttttt"
					},
					{
						"name": "page",
						"in": "query",
						"description": "Page number of the result set. If not supplied, defaults to 1"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50"
					},
					{
						"name": "streamable",
						"in": "query",
						"description": "If provided search results will contain only artists that can/cannot be streamed"
					},
					{
						"name": "tags",
						"in": "query",
						"description": "A single or comma separated list of tags."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"track/chart": {
			"get ": {
				"summary": "track/chart",
				"description": "This endpoint returns a chart of the most purchased tracks for given week. To retrieve the most recent charts as published on 7digital.com the 'toDate' parameter should be omitted.",
				"operationId": "trackchart",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "country",
						"in": "query",
						"description": "2 letter ISO country code of the country whose tracks you would like to search"
					},
					{
						"name": "imageSize",
						"in": "query",
						"description": "The requested width of the image in pixels"
					},
					{
						"name": "page",
						"in": "query",
						"description": "Page number of the result set. If not supplied, defaults to 1"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of items to be returned per page. If not supplied this defaults to 10. Maximum page size is 50"
					},
					{
						"name": "streamable",
						"in": "query",
						"description": "If provided search results will contain only tracks that can/cannot be streamed"
					},
					{
						"name": "toDate",
						"in": "query",
						"description": "The last day the chart should include data for. If not provided, it defaults to the most recent chart week."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"basket": {
			"<h4 ": {
				"summary": "basket",
				"description": "",
				"operationId": "basket",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "amountDue",
						"in": "query",
						"description": ""
					},
					{
						"name": "artistName",
						"in": "query",
						"description": ""
					},
					{
						"name": "basket id",
						"in": "query",
						"description": ""
					},
					{
						"name": "basketId",
						"in": "query",
						"description": "nttttttttThe unique identifier of the basket as acquired by basket/create methodnttttttt"
					},
					{
						"name": "basketItem id",
						"in": "query",
						"description": ""
					},
					{
						"name": "basketItems",
						"in": "query",
						"description": ""
					},
					{
						"name": "country",
						"in": "query",
						"description": "The code of the country the end user resides in. The country will default to GB if not provided.ntttt"
					},
					{
						"name": "discount",
						"in": "query",
						"description": ""
					},
					{
						"name": "itemCount",
						"in": "query",
						"description": ""
					},
					{
						"name": "itemName",
						"in": "query",
						"description": ""
					},
					{
						"name": "package",
						"in": "query",
						"description": ""
					},
					{
						"name": "price",
						"in": "query",
						"description": ""
					},
					{
						"name": "releaseId",
						"in": "query",
						"description": ""
					},
					{
						"name": "trackId",
						"in": "query",
						"description": ""
					},
					{
						"name": "type",
						"in": "query",
						"description": ""
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"playlists": {
			"get ": {
				"summary": "playlists",
				"description": "Returns a list of all public playlists. If an oauth_token is provided then also given users' private playlists will be included in the response.",
				"operationId": "playlists",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Users OAuth access token - allows user to view Private playlist if it belongs to them"
					},
					{
						"name": "page",
						"in": "query",
						"description": "nttttttPage number of the result set. If not supplied, defaults to 1nttttt"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of items to be returned per page. If not supplied, defaults to 10. Maximum page size is 500"
					},
					{
						"name": "user",
						"in": "query",
						"description": "This allows you to pass the id of a user you wish to view the playlists of a specific user. It must be in the format id:{userId}"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"playlists/{playlistId}": {
			"get ": {
				"summary": "playlists/{playlistId}",
				"description": "Returns playlist details and track listing. Access to private playlists is only allowed when an oauth_token of the playlist owner is provided.",
				"operationId": "playlistsplaylistid",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Users OAuth access token - allows user to view private playlist if it belongs to them"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"playlists/{playlistId}/details": {
			"post ": {
				"summary": "playlists/{playlistId}/details",
				"description": "Updates playlist details at {playlistId} with the supplied playlist details. It does not affect playlist tracks. Use this method e.g. for changing visibility of the playlist from private to public. The playlist details can only be updated by the playlist owner, i.e. oauth_token representing the user has to be provided.",
				"operationId": "playlistsplaylistiddetails",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Users OAuth access token"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"playlists/{playlistId}/tracks/{playlisttrackid}": {
			"delete ": {
				"summary": "playlists/{playlistId}/tracks/{playlisttrackid}",
				"description": "Removes the specified track {playlisttrackid} from the specified playlist at {playlistId}.  Tracks can only be removed by the playlist owner, i.e. oauth_token representing the user has to be provided.",
				"operationId": "playlistsplaylistidtracksplaylisttrackid",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Users OAuth access token"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"user/locker": {
			"get ": {
				"summary": "user/locker",
				"description": "Returns a paged list of releases and tracks for a user's locker (collection of all purchased tracks). This method must be OAuth signed.",
				"operationId": "userlocker",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "country",
						"in": "query",
						"description": "The code of the country the end user resides in. The country will default to GB if not provided.nttt"
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "users OAuth accesstoken"
					},
					{
						"name": "page",
						"in": "query",
						"description": "sets the page to be returned in paged list of the customers releases and tracks, by default this is the first page. page=1"
					},
					{
						"name": "pagesize",
						"in": "query",
						"description": "sets the number of releases that will be returned per page, the default is 10, the maximum is 50"
					},
					{
						"name": "purchaseId",
						"in": "query",
						"description": "nttttt If supplied will return only the releases and tracks for that basket. Will return an error if no tracks are found.nttttt"
					},
					{
						"name": "releaseId",
						"in": "query",
						"description": "The 7digital ID of the release to be that we are interested in. You will use this to filter out and return a specific release from the users locker. Will return an empty locker response if no match is found."
					},
					{
						"name": "sort",
						"in": "query",
						"description": "nttttttOrders the returned results. Supplied as a string in the format: {sortColumn} {sortOrder}, for example: purchaseDate desc ntttwill show recent purchases first. Currently you can sort by releaseTitle (asc or desc), purchaseDate (asc or desc) and artistName (asc or desc). If no sort is ntttsupplied, the default is releaseTitle asc. If no order is supplied the default is ascending.nttttt"
					},
					{
						"name": "trackId",
						"in": "query",
						"description": "nttttttIf supplied together with the releaseId, will returned only that specific track (provided it exists in user locker).nttttttWill return an empty locker response if no match is found.nttttt"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"": {
			"<h4 ": {
				"summary": "",
				"description": "This method allows a user to purchase an item at the price as advertised on 7digital.com. It will return the download URL of each item purchased. For example, if a release consisting of multiple tracks was purchased, then the download URL of each item constituting the release will be returned.nttttttFor a user purchase to be processed, the user should already have a default debit or credit card set up for payments.ntttThis method allows users to take advantage of 7digital.com promotional offers and is only available to selected partners building 7digital branded integrations. For white-label integrations please use user/purchase/rrpItem or user/purchase/pricedItem.",
				"operationId": "",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "country",
						"in": "query",
						"description": "The code of the country the end user resides in. The country will default to GB if not provided.nttttttt",
						"type": "iso 2"
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "users OAuth accesstoken",
						"type": "integer"
					},
					{
						"name": "price",
						"in": "query",
						"description": "nttttttttThe price that has been displayed to the user prior to purchase. If the actual 7digital.com price is different to the supplied value the purchase is aborted and 3004 error message is returned instead. This is used to ensure the users cannot be charged a different amount than the advertised price (e.g. if the price was cached and/or has changed after it was displayed.)nttttttt",
						"type": "decimal"
					},
					{
						"name": "releaseId",
						"in": "query",
						"description": "The unique ID of the release being purchased. If a track is being purchased, this needs to identify the release the track appears on.",
						"type": "integer"
					},
					{
						"name": "shopid",
						"in": "query",
						"description": "nttttttttThe shop ID that all basket items were selected from.  The shop ID will default to the 7digital UK shop if it is not provided.nttttttttIf the shop ID is provided, the country parameter will be ignored.nttttttt",
						"type": "integer"
					},
					{
						"name": "tag_*key*",
						"in": "query",
						"description": "nttttttttAdditional data to be stored with successful transactions, for the purposes such as tagging affiliated or marketing information.nttttttttup to 10 tags can be stored. A tag key can be a maximum of 50 characters, and a tag value a maximum of 100 characters.nttttttttE.g. tag_MyPartner=MagazinePromoABC&amp;tag_ApplicationVersion=1.5.nttttttttThis data will only be available to API clients subscribing to customized sales reports service.nttttttt",
						"type": "string"
					},
					{
						"name": "trackId",
						"in": "query",
						"description": "The unique ID of the track being purchased. If supplied, only the track is delivered - otherwise the full release is delivered.",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"basket/addpriceditem": {
			"get ": {
				"summary": "basket/addpriceditem",
				"description": "This method allows an item to be added to a basket with a specified price. The specified price can be higher or lower than the 7digital catalogue price, including a price of 0.00 to make an item free.",
				"operationId": "basketaddpriceditem",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "basketId",
						"in": "query",
						"description": "The unique identifier of the basket generated by the basket/create method"
					},
					{
						"name": "country",
						"in": "query",
						"description": "nttttttttThe country that all basket items were selected from.  The country will default to UK if it is not provided.nttttttttProvide this if you are purchasing from a territory other than the UK.nttttttt"
					},
					{
						"name": "country/shopId",
						"in": "query",
						"description": "nttttttttA Country Code needs to be provided if you are delivering content from a 7digital international shop. Provide a shop ID if you have a dedicated pool of content and you have been assigned a shop ID by 7digital.nttttttt"
					},
					{
						"name": "emailAddress",
						"in": "query",
						"description": "The email address of the User."
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "users OAuth accesstoken"
					},
					{
						"name": "price",
						"in": "query",
						"description": "nttttttttThe custom price for the item to add to the basket e.g. 11.95.nttttttttThe price cannot be negative and must not be more than 2 decimal places. The price should not include any commas (,).nttttttt"
					},
					{
						"name": "purchaseid",
						"in": "query",
						"description": "purchase id identifying the transaction at 7digitals end that the refunded item belongs to"
					},
					{
						"name": "releaseId",
						"in": "query",
						"description": "The unique identifier of the release"
					},
					{
						"name": "retailPrice",
						"in": "query",
						"description": "Compulsory if you are charging your users different prices than 7digital RRP. If youre giving away items for free please use retailPrice=0, if youre using vouchers or youre not sure what to report please contact our sales team."
					},
					{
						"name": "shopid",
						"in": "query",
						"description": "nttttttttThe shop ID that all basket items were selected from.  The shop ID will default to the 7digital UK shop if it is not provided.nttttttttIf the shop ID is provided, the country parameter will be ignored.nttttttt"
					},
					{
						"name": "trackId",
						"in": "query",
						"description": "The unique identifier of the track. If supplied, you must also supply the releaseId that the track belongs to."
					},
					{
						"name": "transactionId",
						"in": "query",
						"description": "The transaction ID provided will be stored along with a 7digital purchase ID in the 7digital transactions log."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"user/purchase/basket": {
			"get ": {
				"summary": "user/purchase/basket",
				"description": "This method allows a user to purchase a basket with items that have been added via basket/additem or basket/addpriceditem. It will return the download URL of each item purchased. For example, if a release consisting of multiple tracks was purchased, then the download URL of each item constituting the release will be returned.",
				"operationId": "userpurchasebasket",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "basketid",
						"in": "query",
						"description": "This is the session ID for the basket that contains the items to purchase.  This is the basketid returned from basket/create."
					},
					{
						"name": "country",
						"in": "query",
						"description": "nttttttttThe country that all basket items were selected from.  The country will default to UK if it is not provided.nttttttttProvide this if you are purchasing from a territory other than the UK.nttttttt"
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "users OAuth accesstoken"
					},
					{
						"name": "shopid",
						"in": "query",
						"description": "nttttttttThe shop ID that all basket items were selected from.  The shop ID will default to the 7digital UK shop if it is not provided.nttttttttIf the shop ID is provided, the country parameter will be ignored.nttttttt"
					},
					{
						"name": "tag_*key*",
						"in": "query",
						"description": "nttttttttAdditional data to be stored with successful transactions, for the purposes such as tagging affiliated or marketing information.nttttttttup to 10 tags can be stored. A tag key can be a maximum of 50 characters, and a tag value a maximum of 100 characters.nttttttttE.g. tag_MyPartner=MagazinePromoABC&amp;tag_ApplicationVersion=1.5.nttttttttThis data will only be available to API clients subscribing to customized sales reports service.nttttttt"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"user/purchase/item": {
			"get ": {
				"summary": "user/purchase/item",
				"description": "This method allows a user to purchase an item at the price as advertised on 7digital.com. It will return the download URL of each item purchased. For example, if a release consisting of multiple tracks was purchased, then the download URL of each item constituting the release will be returned.nttttttFor a user purchase to be processed, the user should already have a default debit or credit card set up for payments.ntttThis method allows users to take advantage of 7digital.com promotional offers and is only available to selected partners building 7digital branded integrations. For white-label integrations please use user/purchase/rrpItem or user/purchase/pricedItem.",
				"operationId": "userpurchaseitem",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "country",
						"in": "query",
						"description": "The code of the country the end user resides in. The country will default to GB if not provided.nttttttt"
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "users OAuth accesstoken"
					},
					{
						"name": "price",
						"in": "query",
						"description": "nttttttttThe price that has been displayed to the user prior to purchase. If the actual 7digital.com price is different to the supplied value the purchase is aborted and 3004 error message is returned instead. This is used to ensure the users cannot be charged a different amount than the advertised price (e.g. if the price was cached and/or has changed after it was displayed.)nttttttt"
					},
					{
						"name": "releaseId",
						"in": "query",
						"description": "The unique ID of the release being purchased. If a track is being purchased, this needs to identify the release the track appears on."
					},
					{
						"name": "shopid",
						"in": "query",
						"description": "nttttttttThe shop ID that all basket items were selected from.  The shop ID will default to the 7digital UK shop if it is not provided.nttttttttIf the shop ID is provided, the country parameter will be ignored.nttttttt"
					},
					{
						"name": "tag_*key*",
						"in": "query",
						"description": "nttttttttAdditional data to be stored with successful transactions, for the purposes such as tagging affiliated or marketing information.nttttttttup to 10 tags can be stored. A tag key can be a maximum of 50 characters, and a tag value a maximum of 100 characters.nttttttttE.g. tag_MyPartner=MagazinePromoABC&amp;tag_ApplicationVersion=1.5.nttttttttThis data will only be available to API clients subscribing to customized sales reports service.nttttttt"
					},
					{
						"name": "trackId",
						"in": "query",
						"description": "The unique ID of the track being purchased. If supplied, only the track is delivered - otherwise the full release is delivered."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"user/purchase/rrpItem": {
			"get ": {
				"summary": "user/purchase/rrpItem",
				"description": "This method allows a user to purchase an item at 7digital recommended retail price (RRP). It will return the download URL of each item purchased. For example, if a release consisting of multiple tracks was purchased, then the download URL of each item constituting the release will be returned.nttttttFor a user purchase to be processed, the user should already have a default debit or credit card set up for payments.",
				"operationId": "userpurchaserrpitem",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "country",
						"in": "query",
						"description": "nttttttttThe country that all basket items were selected from.  The country will default to UK if it is not provided.nttttttttProvide this if you are purchasing from a territory other than the UK.nttttttt"
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "users OAuth accesstoken"
					},
					{
						"name": "price",
						"in": "query",
						"description": "nttttttttThe price that has been displayed to the user prior to purchase. If the actual 7digital recommended retail price is different to the supplied value the purchase is aborted and 3004 error message is returned instead. This is used to ensure the users cannot be charged a different amount than the advertised price (e.g. if the price was cached and/or has changed after it was displayed.)nttttttt"
					},
					{
						"name": "releaseId",
						"in": "query",
						"description": "The unique ID of the release being purchased. If a track is being purchased, this needs to identify the release the track appears on."
					},
					{
						"name": "shopid",
						"in": "query",
						"description": "nttttttttThe shop ID that all basket items were selected from.  The shop ID will default to the 7digital UK shop if it is not provided.nttttttttIf the shop ID is provided, the country parameter will be ignored.nttttttt"
					},
					{
						"name": "tag_*key*",
						"in": "query",
						"description": "nttttttttAdditional data to be stored with successful transactions, for the purposes such as tagging affiliated or marketing information.nttttttttup to 10 tags can be stored. A tag key can be a maximum of 50 characters, and a tag value a maximum of 100 characters.nttttttttE.g. tag_MyPartner=MagazinePromoABC&amp;tag_ApplicationVersion=1.5.nttttttttThis data will only be available to API clients subscribing to customized sales reports service.nttttttt"
					},
					{
						"name": "trackId",
						"in": "query",
						"description": "The unique ID of the track being purchased. If supplied, only the track is delivered - otherwise the full release is delivered."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"user/purchase/{purchaseid}/track/{trackid}": {
			"delete ": {
				"summary": "user/purchase/{purchaseid}/track/{trackid}",
				"description": "This method allows a user to remove a purchase of a track from the sales report when the purchase has been refunded.",
				"operationId": "userpurchasepurchaseidtracktrackid",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "purchaseid",
						"in": "query",
						"description": "purchase id identifying the transaction at 7digitals end that the refunded item belongs to"
					},
					{
						"name": "trackid",
						"in": "query",
						"description": "nttttttttThe 7digital id of the track being refundednnttttttt"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"catalogue/log": {
			"post ": {
				"summary": "catalogue/log",
				"description": "Multiple plays can be batched into a single POST to this endpoint, and the body can be sent in either XML or JSON formats.",
				"operationId": "cataloguelog",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "country",
						"in": "query",
						"description": "The 2 letter ISO country code, as with our other endpoints. Should be the country where the user originated the stream from (e.g. set to US if the stream was played by a US user). Please note it can only be placed as a query string parameter, not in the POST body, or authorisation headers if those are used."
					},
					{
						"name": "dateTimePlayed",
						"in": "query",
						"description": "The date and time when the track was played. Should be in the ISO 8601 format."
					},
					{
						"name": "errorUrl",
						"in": "query",
						"description": "URL encoded callback URL in the event of an error."
					},
					{
						"name": "formatId",
						"in": "query",
						"description": "The 7digital ID of the format streamed."
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Users OAuth access token."
					},
					{
						"name": "releaseId",
						"in": "query",
						"description": "The 7digital ID of the release that was streamed."
					},
					{
						"name": "totalTimePlayed",
						"in": "query",
						"description": "The total time the track was streamed in seconds (or 0 if it was only pre-fetched and never played)."
					},
					{
						"name": "trackId",
						"in": "query",
						"description": "The 7digital ID of the track that was streamed."
					},
					{
						"name": "userAgent",
						"in": "query",
						"description": "Details of the device model and application version used to play the track."
					},
					{
						"name": "userId",
						"in": "query",
						"description": "The identifier of the user that played that track. Please note this must be in the body and is not a user id for authorisation purposes (as this endpoint is 2-leg OAuth signed). Its just for reporting purposes."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"clip/{trackId}": {
			"get ": {
				"summary": "clip/{trackId}",
				"description": "If authorisation is successful the bytes for the clip will be returned to the client. Request url should not be stored for reuse since it expires.nttttttttnttttttttEndpoint's full location: http://previews.7digital.com/clip",
				"operationId": "cliptrackid",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "country",
						"in": "query",
						"description": "2 letter ISO country code where the play originates. Used for store access and label reporting."
					},
					{
						"name": "trackId",
						"in": "query",
						"description": "The 7digital ID of the track."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"offline/subscription": {
			"get ": {
				"summary": "offline/subscription",
				"description": "Allows user to stream any track available for streaming in their region, as long as they have a valid subscription account already set up with our subscription system and their device is registered for offline play with the user/unlimitedStreaming/offline endpoint.",
				"operationId": "offlinesubscription",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "clientId",
						"in": "query",
						"description": "A unique identifier for the current device streaming the track. This should be the same clientId used to register the device for offline play with the user/unlimitedStreaming/offline endpoint."
					},
					{
						"name": "country",
						"in": "query",
						"description": "Two character country code. If not supplied, this request will default to GB."
					},
					{
						"name": "formatId",
						"in": "query",
						"description": "The 7digital ID of the format requested. Please contact us for available formats."
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Users OAuth access token."
					},
					{
						"name": "trackId",
						"in": "query",
						"description": "The 7digital ID of the track to be streamed."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"stream/catalogue": {
			"get ": {
				"summary": "stream/catalogue",
				"description": "Allows user to stream any track in the 7digital catalogue available in their region. This endpoint is designed for radio style play where individual tracks cannot be selected by the user (i.e. not on-demand streaming), and is licensed differently than other streaming endpoints.",
				"operationId": "streamcatalogue",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "country",
						"in": "query",
						"description": "Two character country code. If not supplied, this request will default to GB."
					},
					{
						"name": "formatId",
						"in": "query",
						"description": "The 7digital ID of the format requested. Please contact us for available formats."
					},
					{
						"name": "oauth_token / userId",
						"in": "query",
						"description": "If you hold a 7digital oauth access token for the user streaming the track this needs to be provided. If not, you can pass your own identifier of the user (ID, GUID, username, etc). For streaming services that dont require users to sign, please contact us for alternative options of providing user identification (e.g. device IDs, autogenerated IDs stored in a cookie)."
					},
					{
						"name": "trackId",
						"in": "query",
						"description": "The 7digital ID of the track to be streamed."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"stream/locker": {
			"get ": {
				"summary": "stream/locker",
				"description": "Allows user to stream a previously purchased track from their locker.",
				"operationId": "streamlocker",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "country",
						"in": "query",
						"description": "Two character country code. If not supplied, this request will default to GB."
					},
					{
						"name": "formatId",
						"in": "query",
						"description": "The 7digital ID of the format requested. Please contact us for available formats."
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Users OAuth access token."
					},
					{
						"name": "trackId",
						"in": "query",
						"description": "The 7digital ID of the track to be streamed."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"stream/subscription": {
			"get ": {
				"summary": "stream/subscription",
				"description": "Allows user to stream any track available for streaming in their region, as long as they have a valid subscription account already set up with our subscription system (billed either by 7digital or your system).",
				"operationId": "streamsubscription",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "clientId",
						"in": "query",
						"description": "A unique identifier for the current device streaming the track. Generally a music label requirement, this will allow us to block multiple devices from streaming on the same user account (see above for more information)."
					},
					{
						"name": "country",
						"in": "query",
						"description": "Two character country code. If not supplied, this request will default to GB."
					},
					{
						"name": "formatId",
						"in": "query",
						"description": "The 7digital ID of the format requested. Please contact us for available formats."
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Users OAuth access token."
					},
					{
						"name": "trackId",
						"in": "query",
						"description": "The 7digital ID of the track to be streamed."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"user/download/purchase": {
			"get ": {
				"summary": "user/download/purchase",
				"description": "Allows a user to download tracks purchased in a transaction as a single ZIP file. The highest quality available for each track will be used.",
				"operationId": "userdownloadpurchase",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Users OAuth access token."
					},
					{
						"name": "purchaseId",
						"in": "query",
						"description": "This is the 7digital ID of the purchase as returned by the user/purchase/* or user/deliveritem methods."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"user/download/release": {
			"get ": {
				"summary": "user/download/release",
				"description": "Allows a user to download tracks in a purchased release as a single ZIP file.",
				"operationId": "userdownloadrelease",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "formatId",
						"in": "query",
						"description": "The 7digital ID of the format requested (from the list provided for each track by the purchasing API or locker response)."
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Users OAuth access token."
					},
					{
						"name": "releaseId",
						"in": "query",
						"description": "The 7digital ID of the previously purchased release by the user to be downloaded."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"user/offlineclients": {
			"get ": {
				"summary": "user/offlineclients",
				"description": "Used to get list of all user's registered devices.",
				"operationId": "userofflineclients",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "country",
						"in": "query",
						"description": "The 2 letter ISO country code, as with our other endpoints. Should be the country where the user originated the stream from (e.g. set to US if the stream was played by a US user). Please note: this parameter can only be placed in the query string, not in the POST body or authorisation headers."
					},
					{
						"name": "dateTimePlayed",
						"in": "query",
						"description": "The date and time when the track was played. Should be in the ISO 8601 format."
					},
					{
						"name": "formatId",
						"in": "query",
						"description": "The 7digital ID of the format streamed."
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Users OAuth access token."
					},
					{
						"name": "oauth_token / userid",
						"in": "query",
						"description": "Users OAuth access token or user id, depending how your API key is setup."
					},
					{
						"name": "playMode",
						"in": "query",
						"description": "Either online, offline, or online-cached. Indicates if the play was with an active or inactive network connection and, if the network connection is active, whether or not it was read from the device cache."
					},
					{
						"name": "releaseId",
						"in": "query",
						"description": "The 7digital ID of the release that was streamed."
					},
					{
						"name": "totalTimePlayed",
						"in": "query",
						"description": "The total time the track was streamed in seconds (or 0 if it was only pre-fetched and never played)."
					},
					{
						"name": "trackId",
						"in": "query",
						"description": "The 7digital ID of the track that was streamed."
					},
					{
						"name": "userAgent",
						"in": "query",
						"description": "Details of the device model and application version used to play the track."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"user/unlimitedStreaming/offline": {
			"post ": {
				"summary": "user/unlimitedStreaming/offline",
				"description": "Used to authorise a device for offline mode. After authorised, a device can download in bulk from the offline/subscription endpoint.",
				"operationId": "userunlimitedstreamingoffline",
				"parameters": [
					{
						"name": "",
						"in": "query",
						"description": ""
					},
					{
						"name": "clientId",
						"in": "query",
						"description": "A unique identifier for the current device wanting to go offline."
					},
					{
						"name": "country",
						"in": "query",
						"description": "The code of the country the end user resides in."
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Users OAuth access token."
					},
					{
						"name": "offlineEnabled",
						"in": "query",
						"description": "true if the device is being enabled for offline streaming, false if its being disabled."
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}