{
	"swagger": "2.0",
	"info": {
		"title": "Arlington National Cemetery Burial Record",
		"description": "The Arlington National Cemetery (ANC) Interment Scheduling System (ISS) provides a JSONP responder for searching the ANC burial record dataset.",
		"termsOfService": null,
		"version": "v1"
	},
	"host": "wspublic.iss.army.mil",
	"basePath": "/IssRetrieveServices.svc/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/search/": {
			"get": {
				"summary": "Searches Burial Records",
				"description": "Searches Burial Records",
				"operationId": "",
				"parameters": [
					{
						"name": "limit",
						"in": "query",
						"description": "This is the maximum number of records to return at one time. The interface has been designed for paging and is reliable when the limit ranges between 1 and 1,000. Counts greater than 1,000 may exceed memory availability on the server.",
						"type": "integer",
						"format": "integer"
					},
					{
						"name": "method",
						"in": "query",
						"description": "This should be a valid JavaScript identifier that corresponds to the method on the page for processing the returned information.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "q",
						"in": "query",
						"description": "A comma separated list of query parameters.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sortColumn",
						"in": "query",
						"description": "A comma separated list of column used to sort. The columns are arranged in priority order, i.e. PrimaryLastName, PrimaryFirstName would provide the data set sorted by last name and then first name.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sortOrder",
						"in": "query",
						"description": "ASC/DESC ascending or descending, values not in this set will be automatically set to ascending.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "start",
						"in": "query",
						"description": "This is the number of the first record to return from the result set. This value is limited from 0 to the number of records in the result set.",
						"type": "integer",
						"format": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response"
					}
				},
				"tags": [
					"military",
					" death",
					" cemetery",
					" burial"
				]
			}
		}
	}
}