{
	"swagger": "2.0",
	"info": {
		"title": "Aspose.Storage API",
		"description": "The Aspose for Cloud File Storage API let's you upload and download files for use with our Product APIs",
		"termsOfService": "http://www.aspose.com/corporate/legal/terms-of-use.aspx",
		"version": "v1.1"
	},
	"host": "api.aspose.com",
	"basePath": "/v1.1",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/storage/disc": {
			"get": {
				"summary": "Get Disc",
				"description": "The resource represents information about user's application disc usage (size in bytes",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Get Disc"
				]
			}
		},
		"/storage/exist/{path}": {
			"get": {
				"summary": "Exist",
				"description": "The controller checks that the file or folder exists in the service file storage.",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Exist"
				]
			}
		},
		"/storage/file/{path}": {
			"put": {
				"summary": "Put File",
				"description": "The resource represents customer's file at server file storage.",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"File"
				]
			}
		},
		"/storage/folder/{folder}": {
			"post": {
				"summary": "Add Folder",
				"description": "The resource represents customer folder at service file storage. ",
				"operationId": "",
				"parameters": [
					{
						"name": "dest",
						"in": "query",
						"description": "Moves (renames) the file to NewFile.txt",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Folder"
				]
			}
		},
		"https": {
			"put": {
				"summary": "Update Folder",
				"description": "The resource represents customer folder at service file storage. ",
				"operationId": "",
				"parameters": [
					{
						"name": "newdest",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string",
						"default": "Copies the file to NewFolder/NewFile.txt"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Folder"
				]
			}
		}
	}
}