{
	"swagger": "2.0",
	"info": {
		"title": "Factual",
		"description": "Access to the places and business data available at Factual.",
		"termsOfService": null,
		"version": "v3"
	},
	"host": "api.v3.factual.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/t/{table_name}/boost": {
			"post": {
				"summary": "boost",
				"description": "boost",
				"operationId": "boost",
				"parameters": [
					{
						"name": "table_name",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/t/{table_name}/facets": {
			"get": {
				"summary": "facets",
				"description": "facets",
				"operationId": "facets",
				"parameters": [
					{
						"name": "table_name",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/t/{table_name}/match": {
			"get": {
				"summary": "match",
				"description": "match",
				"operationId": "match",
				"parameters": [
					{
						"name": "table_name",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/t/{table_name}/resolve": {
			"get": {
				"summary": "resolve",
				"description": "resolve",
				"operationId": "resolve",
				"parameters": [
					{
						"name": "table_name",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/t/{table_name}/schema": {
			"get": {
				"summary": "schema",
				"description": "schema",
				"operationId": "schema",
				"parameters": [
					{
						"name": "table_name",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/t/{table_name}/submit": {
			"post": {
				"summary": "submit",
				"description": "submit",
				"operationId": "submit",
				"parameters": [
					{
						"name": "table_name",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/t/{table_name}/{factual_id}": {
			"get": {
				"summary": "read",
				"description": "read",
				"operationId": "read",
				"parameters": [
					{
						"name": "factual_id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "table_name",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/t/{table_name}/{factual_id}/clear": {
			"post": {
				"summary": "clear",
				"description": "clear",
				"operationId": "clear",
				"parameters": [
					{
						"name": "factual_id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "table_name",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/t/{table_name}/{factual_id}/flag": {
			"post": {
				"summary": "flag",
				"description": "flag",
				"operationId": "flag",
				"parameters": [
					{
						"name": "factual_id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "table_name",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}