{
	"swagger": "2.0",
	"info": {
		"title": "Stocklytics Intraday Historical Stock Prices API",
		"description": "The Intraday Historical Prices API allows you to get a list of the price for a particular stock for the current day (or the latest day of trading if markets are closed) in 5 minute intervals. This data is perfect for generating intraday stock graphs, or performing stock analysis in near real-time. Data for this API is updated every 5 minutes.",
		"termsOfService": null,
		"version": "v1"
	},
	"host": "api.stocklytics.com",
	"basePath": "/services/pressroom/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"companyData/{API_VERSION}/": {
			"get": {
				"summary": "Company Data",
				"description": "The Company Data API allows you to retrieve company information about a particular stock/ticker code.",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Allows us to identify the request initiator.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "API_VERSION",
						"in": "path",
						"description": "Version of the API",
						"type": "string",
						"format": "string"
					},
					{
						"name": "stock",
						"in": "query",
						"description": "The stock code/ticker for the stock to look up.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"company",
					" business"
				]
			}
		},
		"historicalPrices/{API_VERSION}/": {
			"get": {
				"summary": "Historical Prices",
				"description": "The Historical Prices API can be used to look up the Open, Close, High and Low price, as well as the volume of stock traded for a stock code within a particular date range. The API supports the downloading the entire historical data set we have on file for a stock, we index data for a stock with a start date of January 1st 1980.",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Allows us to identify the request initiator.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "API_VERSION",
						"in": "path",
						"description": "Version of the API",
						"type": "string",
						"format": "string"
					},
					{
						"name": "end",
						"in": "query",
						"description": "The start and end dates to return data for. Supply dates in the format: YYYY-MM-DD",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "Format of returned data. Either CSV or JSON.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "order",
						"in": "query",
						"description": "Order of returned data sorted by date. ASC for Ascending, DESC for Decending.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "start",
						"in": "query",
						"description": "The start and end dates to return data for. Supply dates in the format: YYYY-MM-DD",
						"type": "string",
						"format": "string"
					},
					{
						"name": "stock",
						"in": "query",
						"description": "The stock code/ticker for the stock to look up. ",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"financial"
				]
			}
		},
		"intradayHistoricalPrices/{API_VERSION}/": {
			"get": {
				"summary": "Intraday Historical Prices",
				"description": "The Intraday Historical Prices API allows you to get a list of the price for a particular stock for the current day (or the latest day of trading if markets are closed) in 5 minute intervals. This data is perfect for generating intraday stock graphs, or performing stock analysis in near real-time. Data for this API is updated every 5 minutes.",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Allows us to identify the request initiator.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "API_VERSION",
						"in": "path",
						"description": "Version of the API",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "Format of returned data. Either CSV or JSON.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "include_date",
						"in": "query",
						"description": "Include the corresponding date and time of the data. True or False.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "order",
						"in": "query",
						"description": "Order of returned data sorted by date/time. ASC for Ascending, DESC for Decending.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "stock",
						"in": "query",
						"description": "The stock code/ticker for the stock to look up.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"financial"
				]
			}
		}
	}
}