{
	"swagger": "2.0",
	"info": {
		"title": "National Crime Victimization Survey (NCVS) API",
		"description": "The NCVS (National Crime Victimization Survey) RESTful API is a web service that provides criminal victimization data obtained annually from a nationally representative sample of about 79,800 households and 143,210 persons interviewed each year. ",
		"termsOfService": null,
		"version": "v2"
	},
	"host": "www.bjs.gov",
	"basePath": "/bjs/ncvs/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"v2/": {
			"get": {
				"summary": "Datasets",
				"description": "Returns a list of available datasets and data types they are available in.",
				"operationId": "",
				"responses": {
					"200": {
						"description": "Successful response"
					}
				},
				"tags": [
					"data",
					" datasets"
				]
			}
		},
		"v2/household/fields/": {
			"get": {
				"summary": "Fields/columns",
				"description": "Returns a description of the fields/columns used returned in the household data sets.",
				"operationId": "",
				"responses": {
					"200": {
						"description": "Successful response"
					}
				},
				"tags": [
					""
				]
			}
		},
		"v2/household/population/{year}": {
			"get": {
				"summary": "Personal population of reported incidents",
				"description": "Returns the personal population of reported incidents.",
				"operationId": "",
				"parameters": [
					{
						"name": "format",
						"in": "query",
						"description": "Format the data will be provided in.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "year",
						"in": "query",
						"description": "Year will limit the data to only values that occurred the given year.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response"
					}
				},
				"tags": [
					""
				]
			}
		},
		"v2/household/{year}": {
			"get": {
				"summary": "Household counts of reported incidents",
				"description": "Returns the household counts of reported incidents",
				"operationId": "",
				"parameters": [
					{
						"name": "format",
						"in": "query",
						"description": "Format the data will be provided in.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "year",
						"in": "query",
						"description": "Year will limit the data to only values that occurred the given year.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response"
					}
				},
				"tags": [
					""
				]
			}
		},
		"v2/personal/fields/": {
			"get": {
				"summary": "Fields/columns",
				"description": "Returns a description of the fields/columns used returned in the personal data sets.",
				"operationId": "",
				"responses": {
					"200": {
						"description": "Successful response"
					}
				},
				"tags": [
					""
				]
			}
		},
		"v2/personal/population/{year}": {
			"get": {
				"summary": "Personal population of reported incidents",
				"description": "Returns the personal population of reported incidents.",
				"operationId": "",
				"parameters": [
					{
						"name": "format",
						"in": "query",
						"description": "Format the data will be provided in.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "year",
						"in": "query",
						"description": "Year will limit the data to only values that occurred the given year.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response"
					}
				},
				"tags": [
					""
				]
			}
		},
		"v2/personal/{year}": {
			"get": {
				"summary": "Personal counts of reported incidents",
				"description": "Returns the personal counts of reported incidents.",
				"operationId": "",
				"parameters": [
					{
						"name": "format",
						"in": "query",
						"description": "Format the data will be provided in.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "year",
						"in": "query",
						"description": "Year will limit the data to only values that occurred the given year.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}