{
	"swagger": "2.0",
	"info": {
		"title": "EhrScape Terminology APIs",
		"description": "Validates and resolves terminology codes",
		"termsOfService": null,
		"version": null
	},
	"host": "rest.ehrscape.com",
	"basePath": "/terminology-adapter/rest",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/terminology/codesystem/{codeSystem}/entities": {
			"get": {
				"summary": "List of entities in an explicit version of a single code system",
				"description": "",
				"operationId": "listEntities",
				"parameters": [
					{
						"name": "codelist",
						"in": "query",
						"description": "Filter to results whose code exactly matches one of the codes in this list"
					},
					{
						"name": "codeSystem",
						"in": "path",
						"description": "Identifying code of the codesystem"
					},
					{
						"name": "codesystemversion",
						"in": "query",
						"description": "Version of the codesystem. Defaults to the newest version"
					},
					{
						"name": "matchvalue",
						"in": "query",
						"description": "Filter to results that contain this value, either in code or description"
					},
					{
						"name": "page",
						"in": "query",
						"description": "Page of results to return. Starts with 1"
					},
					{
						"name": "pagesize",
						"in": "query",
						"description": "Size of a single page"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/terminology/codesystem/{codeSystem}/entity/{entity}": {
			"get": {
				"summary": "Returns details about a single entity",
				"description": "",
				"operationId": "getEntityDescription",
				"parameters": [
					{
						"name": "codeSystem",
						"in": "path",
						"description": "Identifying code of the codesystem"
					},
					{
						"name": "codesystemversion",
						"in": "query",
						"description": "Version of the codesystem. Defaults to the newest version"
					},
					{
						"name": "entity",
						"in": "path",
						"description": "code of the parent entity"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/terminology/codesystem/{codeSystem}/entity/{entity}/children": {
			"get": {
				"summary": "List of all children of a single entity",
				"description": "",
				"operationId": "listEntityChildren",
				"parameters": [
					{
						"name": "codelist",
						"in": "query",
						"description": "Filter to results whose code exactly matches one of the codes in this list"
					},
					{
						"name": "codeSystem",
						"in": "path",
						"description": "Identifying code of the codesystem"
					},
					{
						"name": "codesystemversion",
						"in": "query",
						"description": "Version of the codesystem. Defaults to the newest version"
					},
					{
						"name": "entity",
						"in": "path",
						"description": "code of the parent entity"
					},
					{
						"name": "matchvalue",
						"in": "query",
						"description": "Filter to results that contain this value, either in code or description"
					},
					{
						"name": "page",
						"in": "query",
						"description": "Page of results to return. Starts with 1"
					},
					{
						"name": "pagesize",
						"in": "query",
						"description": "Size of a single page"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/terminology/codesystem/{codeSystem}/resolve": {
			"post": {
				"summary": "Resolves a list of entity codes with associated types into a list of actual entity codes",
				"description": "<p>Resolves a list of entity codes with associated types into a list of actual entity codes<p>Each entity code in the input has an associated type. Depending on the type, the code will resolve to the following:<ul><li>fixed - itself<li>tree - itself and all its children</ul>",
				"operationId": "resolveEntityCodes",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"description": "list of entities to be resolved",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "codeSystem",
						"in": "path",
						"description": ""
					},
					{
						"name": "codesystemversion",
						"in": "query",
						"description": ""
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/terminology/codesystem/{codeSystem}/validate": {
			"get": {
				"summary": "Validates a list of entity codes in a given code system",
				"description": "",
				"operationId": "validateCodes",
				"parameters": [
					{
						"name": "codeSystem",
						"in": "path",
						"description": "Identifying code of the codesystem"
					},
					{
						"name": "codesystemversion",
						"in": "query",
						"description": "Version of the codesystem. Defaults to the newest version"
					},
					{
						"name": "entities",
						"in": "query",
						"description": "Codes of the entities to validate"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/terminology/codesystems": {
			"get": {
				"summary": "Lists code systems matching a criteria",
				"description": "Only the newest version of each code system will be returned",
				"operationId": "listCodeSystems",
				"parameters": [
					{
						"name": "codelist",
						"in": "query",
						"description": "Filter to results whose code exactly matches one of the codes in this list"
					},
					{
						"name": "matchvalue",
						"in": "query",
						"description": "Filter to results that contain this value, either in code or description"
					},
					{
						"name": "page",
						"in": "query",
						"description": "Page of results to return. Starts with 1"
					},
					{
						"name": "pagesize",
						"in": "query",
						"description": "Size of a single page"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	},
	"definitions": {
	}
}