{
	"swagger": "2.0",
	"info": {
		"title": "MyNewsDesk Pressroom List",
		"description": "Mynewsdesk Webservice for newsroom is a way for you, as a registered customer, to fetch information from your newsroom at Mynewsdesk to any system. You can get all your information as XML and create email subscriptions to your material.",
		"termsOfService": "http://www.mynewsdesk.com/about/terms-and-conditions?locale=en",
		"version": "v1"
	},
	"host": "www.mynewsdesk.com",
	"basePath": "/services/pressroom/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"create_comment/": {
			"get": {
				"summary": "Create Comment",
				"description": "Create Comment",
				"operationId": "",
				"parameters": [
					{
						"name": "blog",
						"in": "query",
						"description": "URL of commenters blog/website.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "body",
						"in": "query",
						"description": "Content of comment.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "commentable_id",
						"in": "query",
						"description": "ID of the material that is commented.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "email",
						"in": "query",
						"description": "Email address of commenter.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "Name of commenter.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "type_of_media",
						"in": "query",
						"description": "Type of material. Valid values are pressrelease, news, blog_post, event, image, video, document and contact_person.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "unique key",
						"in": "path",
						"description": "The MyNewsDesk API Key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "user_ip",
						"in": "query",
						"description": "IP number of commenter. This is needed for easier moderation and spam protection.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" comment"
				]
			}
		},
		"list/": {
			"get": {
				"summary": "Lists news",
				"description": "Lists news",
				"operationId": "",
				"parameters": [
					{
						"name": "archived",
						"in": "query",
						"description": "Fetch items marked as archived, this is useful for fetching old events. Example: true u2013 Fetches all the items, including archived ones",
						"type": "string",
						"format": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "If format is JSON and callback is specified, the JSON response is wrapped in a function call with the specified callback name.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "Specify the format of the response: RSS 2.0, JSON or full XML.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Set the maximum number of items in the response. This cannot be more than 100.",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Specify which item (sequentially) should be first, skipping preceding items.",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "order",
						"in": "query",
						"description": "Specify the sort order of the result: publish date (published), latest update (updated) or creation date (created).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "pressroom",
						"in": "query",
						"description": "Set the pressroom to fetch material from. Examples: se u2013 Swedish pressroom, uk u2013 United Kingdom pressroom.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "type_of_media",
						"in": "query",
						"description": "Fetch material of this type only.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "unique key",
						"in": "path",
						"description": "The MyNewsDesk API Key",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news"
				]
			}
		},
		"pressroom_info/": {
			"get": {
				"summary": "Pressroom Info",
				"description": "Pressroom Info",
				"operationId": "",
				"parameters": [
					{
						"name": "pressroom",
						"in": "query",
						"description": "Set the pressroom to search in. se u2013 Swedish pressroom, no u2013 Norwegian pressroom and en for international pressroom.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "unique key",
						"in": "path",
						"description": "The MyNewsDesk API Key",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" press"
				]
			}
		},
		"search/": {
			"get": {
				"summary": "News Search",
				"description": "News Search",
				"operationId": "",
				"parameters": [
					{
						"name": "callback",
						"in": "query",
						"description": "If format is JSON and callback is specified, the JSON response is wrapped in a function call with the specified callback name.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "date_end",
						"in": "query",
						"description": "End date. Valid only with date modes between and before. Format: YYYY-MM-DD, e.g. 2006-12-31.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "date_mode",
						"in": "query",
						"description": "Specifies how the date parameters are used. Valid values are: between, on, before or after.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "date_on",
						"in": "query",
						"description": "Date. Valid only with date mode on. Format: YYYY-MM-DD, e.g. 2006-12-31",
						"type": "string",
						"format": "string"
					},
					{
						"name": "date_start",
						"in": "query",
						"description": "Start date. Valid only with date modes between and after. Format: YYYY-MM-DD, e.g. 2006-12-31.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "Specify the format of the response: RSS 2.0, JSON or full XML.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Set the maximum number of items in the response. This cannot be more than 100.",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "Page number in the search result",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "pressroom",
						"in": "query",
						"description": "Set the pressroom to search in. se u2013 Swedish pressroom, no u2013 Norwegian pressroom",
						"type": "string",
						"format": "string"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search string. The search is performed on all text fields in the material, like the header, summary and body. Searching supports advanced queries with AND/OR/NOT, and wildcards (*).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "type_of_media",
						"in": "query",
						"description": "The type of material to be fetched.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "unique key",
						"in": "path",
						"description": "The MyNewsDesk API Key",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news"
				]
			}
		},
		"send_email/": {
			"get": {
				"summary": "Send Email",
				"description": "Send Email",
				"operationId": "",
				"parameters": [
					{
						"name": "from",
						"in": "query",
						"description": "Name of sender.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "item_id",
						"in": "query",
						"description": "ID of the material to be fetched.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "message",
						"in": "query",
						"description": "Personal message from the sender to the recipient.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "to_email",
						"in": "query",
						"description": "Recipient email address.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "type_of_media",
						"in": "query",
						"description": "The type of material to be fetched. Valid values are pressrelease, news, blog_post,event, image, video, document and contact_person.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "unique key",
						"in": "path",
						"description": "The MyNewsDesk API Key",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Email",
					" Messaging"
				]
			}
		},
		"subscription/": {
			"get": {
				"summary": "News Subscription",
				"description": "News Subscription",
				"operationId": "",
				"parameters": [
					{
						"name": "newsdesk_pressroom",
						"in": "query",
						"description": "Set the pressroom to search in. se u2013 Swedish pressroom, no u2013 Norwegian pressroom and en for international pressroom.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "newsdesk_subscriber_email",
						"in": "query",
						"description": "Email address of the subscriber.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "newsdesk_subscribe_to_type",
						"in": "query",
						"description": "Send a parameter with the value 1 for each type of material to be included in the subscription. At least one type is required.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "unique key",
						"in": "query",
						"description": "The MyNewsDesk API Key",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" subscription"
				]
			}
		},
		"view/": {
			"get": {
				"summary": "View News",
				"description": "View News",
				"operationId": "",
				"parameters": [
					{
						"name": "callback",
						"in": "query",
						"description": "If format is JSON and callback is specified, the JSON response is wrapped in a function call with the specified callback name.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "Specify the format of the response: JSON or full XML.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "item_id",
						"in": "query",
						"description": "ID of the material to be fetched.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "type_of_media",
						"in": "query",
						"description": "The type of material to be fetched.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "unique key",
						"in": "path",
						"description": "The MyNewsDesk API Key",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news"
				]
			}
		}
	}
}