{
	"swagger": "2.0",
	"info": {
		"title": "Vimeo API",
		"description": "The only way to perform authenticated read/write requests on videos, users, groups, channels, albums, or upload.",
		"termsOfService": "https://developer.vimeo.com/guidelines/terms",
		"version": "v1"
	},
	"host": "api.vimeo.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/": {
			"": {
				"summary": "List all endpoints",
				"description": "View all endpoints as URI templates",
				"operationId": "list-all-endpoints",
				"responses": {
					"200 OK": {
						"description": ""
					}
				},
				"tags": [
					""
				]
			}
		},
		"/categories": {
			"": {
				"summary": "Categories",
				"description": "Get a list of the top level categories.",
				"operationId": "categories",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					}
				},
				"tags": [
					""
				]
			}
		},
		"/categories/{category}": {
			"": {
				"summary": "Categories",
				"description": "Get a category.",
				"operationId": "categories",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					}
				},
				"tags": [
					""
				]
			}
		},
		"/categories/{category}/channels": {
			"": {
				"summary": "Categories",
				"description": "Get a list of Channels related to a category.",
				"operationId": "categories",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					}
				},
				"tags": [
					""
				]
			}
		},
		"/categories/{category}/groups": {
			"": {
				"summary": "Categories",
				"description": "Get a list of Groups related to a category.",
				"operationId": "categories",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					}
				},
				"tags": [
					""
				]
			}
		},
		"/categories/{category}/users": {
			"": {
				"summary": "Categories",
				"description": "Get a list of users related to a category.",
				"operationId": "categories",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					}
				},
				"tags": [
					""
				]
			}
		},
		"/categories/{category}/videos": {
			"": {
				"summary": "Categories",
				"description": "Get a list of videos related to a category.",
				"operationId": "categories",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					}
				},
				"tags": [
					""
				]
			}
		},
		"/categories/{category}/videos/{video_id}": {
			"": {
				"summary": "Categories",
				"description": "Check if a category contains a video",
				"operationId": "categories",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					}
				},
				"tags": [
					""
				]
			}
		},
		"/channels": {
			"": {
				"summary": "Channels",
				"description": "Get a list of all Channels.",
				"operationId": "channels",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Filter to apply to the results.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/channels/{channel_id}": {
			"": {
				"summary": "Channels",
				"description": "Get a Channel.",
				"operationId": "channels",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Filter to apply to the results.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/channels/{channel_id}/users": {
			"": {
				"summary": "Channels",
				"description": "Get a list of users who follow a Channel.",
				"operationId": "channels",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Filter to apply to the results.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/channels/{channel_id}/videos": {
			"": {
				"summary": "Channels",
				"description": "Get a list of videos in a Channel.",
				"operationId": "channels",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Filter to apply to the results.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/channels/{channel_id}/videos/{video_id}": {
			"": {
				"summary": "Channels",
				"description": "Check if this Channel contains a video.",
				"operationId": "channels",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Filter to apply to the results.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/groups": {
			"": {
				"summary": "Groups",
				"description": "Get a list of all Groups.",
				"operationId": "groups",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Filter to apply to the results.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/groups/{group_id}": {
			"": {
				"summary": "Groups",
				"description": "Get a Group.",
				"operationId": "groups",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Filter to apply to the results.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/groups/{group_id}/users": {
			"": {
				"summary": "Groups",
				"description": "Get a list of users that joined a Group.",
				"operationId": "groups",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Filter to apply to the results.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/groups/{group_id}/videos": {
			"": {
				"summary": "Groups",
				"description": "Get a list of videos in a Group.",
				"operationId": "groups",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Filter to apply to the results.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/groups/{group_id}/videos/{video_id}": {
			"": {
				"summary": "Groups",
				"description": "Check if a Group has a video.",
				"operationId": "groups",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Filter to apply to the results.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me": {
			"": {
				"summary": "Me",
				"description": "Get a user.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/albums": {
			"": {
				"summary": "Me",
				"description": "Get a list of a user's Albums.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/albums/{album_id}": {
			"": {
				"summary": "Me",
				"description": "Get info on an Album.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/albums/{album_id}/videos": {
			"": {
				"summary": "Me",
				"description": "Get the list of videos in an Album.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/albums/{album_id}/videos/{video_id}": {
			"": {
				"summary": "Me",
				"description": "Check if an Album contains a video.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/appearances": {
			"": {
				"summary": "Me",
				"description": "Get all videos that a user appears in.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/channels": {
			"": {
				"summary": "Me",
				"description": "Get a list of the Channels a user follows.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/channels/{channel_id}": {
			"": {
				"summary": "Me",
				"description": "Check if a user follows a Channel.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/feed": {
			"": {
				"summary": "Me",
				"description": "Get a list of the videos in your feed.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/followers": {
			"": {
				"summary": "Me",
				"description": "Get a list of the user's followers.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/following": {
			"": {
				"summary": "Me",
				"description": "Get a list of the users that a user is following.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/following/{follow_user_id}": {
			"": {
				"summary": "Me",
				"description": "Check if a user follows another user.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/groups": {
			"": {
				"summary": "Me",
				"description": "Get a list of the Groups a user has joined.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/groups/{group_id}": {
			"": {
				"summary": "Me",
				"description": "Check if a user has joined a Group?",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/likes": {
			"": {
				"summary": "Me",
				"description": "Get a list of videos that a user likes.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/likes/{video_id}": {
			"": {
				"summary": "Me",
				"description": "Check if a user likes a video.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/ondemand/library": {
			"": {
				"summary": "Me",
				"description": "Get a users On Demand purchases and rentals.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/ondemand/library/{ondemand_id}": {
			"": {
				"summary": "Me",
				"description": "Check if an On Demand page is in your library.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/ondemand/pages": {
			"": {
				"summary": "Me",
				"description": "Get a user's On Demand pages.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/pictures": {
			"": {
				"summary": "Me",
				"description": "Get a list of this user's portrait images.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/pictures/{portraitset_id}": {
			"": {
				"summary": "Me",
				"description": "Check if a user has a portrait.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/portfolios": {
			"": {
				"summary": "Me",
				"description": "Get a list of Portfolios created by a user.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/portfolios/{portfolio_id}": {
			"": {
				"summary": "Me",
				"description": "Get a Portfolio.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/portfolios/{portfolio_id}/videos": {
			"": {
				"summary": "Me",
				"description": "Get the videos in this Portfolio.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/portfolios/{portfolio_id}/videos/{video_id}": {
			"": {
				"summary": "Me",
				"description": "Check if a Portfolio contains a video.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/presets": {
			"": {
				"summary": "Me",
				"description": "Get all presets created by the authenticated user.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/presets/{preset_id}": {
			"": {
				"summary": "Me",
				"description": "Get a preset.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/presets/{preset_id}/videos": {
			"": {
				"summary": "Me",
				"description": "Get videos that have the provided preset.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/videos": {
			"": {
				"summary": "Me",
				"description": "Get a list of videos uploaded by a user.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/videos/{video_id}": {
			"": {
				"summary": "Me",
				"description": "Check if a user owns a clip.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/watchlater": {
			"": {
				"summary": "Me",
				"description": "Get the authenticated user's Watch Later queue.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/watchlater/{video_id}": {
			"": {
				"summary": "Me",
				"description": "Check if a video is in the authenticated user's Watch Later queue.",
				"operationId": "me",
				"parameters": [
					{
						"name": "bio",
						"in": "query",
						"description": "The users bio",
						"type": "string"
					},
					{
						"name": "location",
						"in": "query",
						"description": "The users location",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The users display name",
						"type": "string"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/ondemand/genres": {
			"": {
				"summary": "On Demand",
				"description": "View all On Demand Genres.",
				"operationId": "on-demand",
				"parameters": [
					{
						"name": "link",
						"in": "query",
						"description": "The custom string to use in this On Demand pages Vimeo URL.",
						"type": "string"
					},
					{
						"name": "preorder.active",
						"in": "query",
						"description": "If set to true, you will enable preorders on the On Demand page",
						"type": "boolean"
					},
					{
						"name": "preorder.publish_time",
						"in": "query",
						"description": "Required if preorder.active is true. The time that the On Demand page will be published",
						"type": "boolean"
					},
					{
						"name": "publish.active",
						"in": "query",
						"description": "If set to true, you will publish the On Demand page",
						"type": "boolean"
					},
					{
						"name": "publish_when_ready",
						"in": "query",
						"description": "This On Demand page will be automatically published when all videos are finished transcoding",
						"type": "boolean"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/ondemand/genres/{genre_id}": {
			"": {
				"summary": "On Demand",
				"description": "View a single On Demand Genre.",
				"operationId": "on-demand",
				"parameters": [
					{
						"name": "link",
						"in": "query",
						"description": "The custom string to use in this On Demand pages Vimeo URL.",
						"type": "string"
					},
					{
						"name": "preorder.active",
						"in": "query",
						"description": "If set to true, you will enable preorders on the On Demand page",
						"type": "boolean"
					},
					{
						"name": "preorder.publish_time",
						"in": "query",
						"description": "Required if preorder.active is true. The time that the On Demand page will be published",
						"type": "boolean"
					},
					{
						"name": "publish.active",
						"in": "query",
						"description": "If set to true, you will publish the On Demand page",
						"type": "boolean"
					},
					{
						"name": "publish_when_ready",
						"in": "query",
						"description": "This On Demand page will be automatically published when all videos are finished transcoding",
						"type": "boolean"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/ondemand/genres/{genre_id}/pages": {
			"": {
				"summary": "On Demand",
				"description": "View a genre's On Demand pages.",
				"operationId": "on-demand",
				"parameters": [
					{
						"name": "link",
						"in": "query",
						"description": "The custom string to use in this On Demand pages Vimeo URL.",
						"type": "string"
					},
					{
						"name": "preorder.active",
						"in": "query",
						"description": "If set to true, you will enable preorders on the On Demand page",
						"type": "boolean"
					},
					{
						"name": "preorder.publish_time",
						"in": "query",
						"description": "Required if preorder.active is true. The time that the On Demand page will be published",
						"type": "boolean"
					},
					{
						"name": "publish.active",
						"in": "query",
						"description": "If set to true, you will publish the On Demand page",
						"type": "boolean"
					},
					{
						"name": "publish_when_ready",
						"in": "query",
						"description": "This On Demand page will be automatically published when all videos are finished transcoding",
						"type": "boolean"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/ondemand/genres/{genre_id}/pages/{ondemand_id}": {
			"": {
				"summary": "On Demand",
				"description": "Check whether a genre contains a single On Demand Page.",
				"operationId": "on-demand",
				"parameters": [
					{
						"name": "link",
						"in": "query",
						"description": "The custom string to use in this On Demand pages Vimeo URL.",
						"type": "string"
					},
					{
						"name": "preorder.active",
						"in": "query",
						"description": "If set to true, you will enable preorders on the On Demand page",
						"type": "boolean"
					},
					{
						"name": "preorder.publish_time",
						"in": "query",
						"description": "Required if preorder.active is true. The time that the On Demand page will be published",
						"type": "boolean"
					},
					{
						"name": "publish.active",
						"in": "query",
						"description": "If set to true, you will publish the On Demand page",
						"type": "boolean"
					},
					{
						"name": "publish_when_ready",
						"in": "query",
						"description": "This On Demand page will be automatically published when all videos are finished transcoding",
						"type": "boolean"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/ondemand/pages/{ondemand_id}": {
			"": {
				"summary": "On Demand",
				"description": "View an existing On Demand page.",
				"operationId": "on-demand",
				"parameters": [
					{
						"name": "link",
						"in": "query",
						"description": "The custom string to use in this On Demand pages Vimeo URL.",
						"type": "string"
					},
					{
						"name": "preorder.active",
						"in": "query",
						"description": "If set to true, you will enable preorders on the On Demand page",
						"type": "boolean"
					},
					{
						"name": "preorder.publish_time",
						"in": "query",
						"description": "Required if preorder.active is true. The time that the On Demand page will be published",
						"type": "boolean"
					},
					{
						"name": "publish.active",
						"in": "query",
						"description": "If set to true, you will publish the On Demand page",
						"type": "boolean"
					},
					{
						"name": "publish_when_ready",
						"in": "query",
						"description": "This On Demand page will be automatically published when all videos are finished transcoding",
						"type": "boolean"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/ondemand/pages/{ondemand_id}/genres": {
			"": {
				"summary": "On Demand",
				"description": "View an On Demand page's genres.",
				"operationId": "on-demand",
				"parameters": [
					{
						"name": "link",
						"in": "query",
						"description": "The custom string to use in this On Demand pages Vimeo URL.",
						"type": "string"
					},
					{
						"name": "preorder.active",
						"in": "query",
						"description": "If set to true, you will enable preorders on the On Demand page",
						"type": "boolean"
					},
					{
						"name": "preorder.publish_time",
						"in": "query",
						"description": "Required if preorder.active is true. The time that the On Demand page will be published",
						"type": "boolean"
					},
					{
						"name": "publish.active",
						"in": "query",
						"description": "If set to true, you will publish the On Demand page",
						"type": "boolean"
					},
					{
						"name": "publish_when_ready",
						"in": "query",
						"description": "This On Demand page will be automatically published when all videos are finished transcoding",
						"type": "boolean"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/ondemand/pages/{ondemand_id}/genres/{genre_id}": {
			"": {
				"summary": "On Demand",
				"description": "Check whether an On Demand page has an On Demand Genre.",
				"operationId": "on-demand",
				"parameters": [
					{
						"name": "link",
						"in": "query",
						"description": "The custom string to use in this On Demand pages Vimeo URL.",
						"type": "string"
					},
					{
						"name": "preorder.active",
						"in": "query",
						"description": "If set to true, you will enable preorders on the On Demand page",
						"type": "boolean"
					},
					{
						"name": "preorder.publish_time",
						"in": "query",
						"description": "Required if preorder.active is true. The time that the On Demand page will be published",
						"type": "boolean"
					},
					{
						"name": "publish.active",
						"in": "query",
						"description": "If set to true, you will publish the On Demand page",
						"type": "boolean"
					},
					{
						"name": "publish_when_ready",
						"in": "query",
						"description": "This On Demand page will be automatically published when all videos are finished transcoding",
						"type": "boolean"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/ondemand/pages/{ondemand_id}/pictures": {
			"": {
				"summary": "On Demand",
				"description": "Get an On Demand page's pictures.",
				"operationId": "on-demand",
				"parameters": [
					{
						"name": "link",
						"in": "query",
						"description": "The custom string to use in this On Demand pages Vimeo URL.",
						"type": "string"
					},
					{
						"name": "preorder.active",
						"in": "query",
						"description": "If set to true, you will enable preorders on the On Demand page",
						"type": "boolean"
					},
					{
						"name": "preorder.publish_time",
						"in": "query",
						"description": "Required if preorder.active is true. The time that the On Demand page will be published",
						"type": "boolean"
					},
					{
						"name": "publish.active",
						"in": "query",
						"description": "If set to true, you will publish the On Demand page",
						"type": "boolean"
					},
					{
						"name": "publish_when_ready",
						"in": "query",
						"description": "This On Demand page will be automatically published when all videos are finished transcoding",
						"type": "boolean"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/ondemand/pages/{ondemand_id}/pictures/{poster_id}": {
			"": {
				"summary": "On Demand",
				"description": "Modify an existing picture on an On Demand.",
				"operationId": "on-demand",
				"parameters": [
					{
						"name": "link",
						"in": "query",
						"description": "The custom string to use in this On Demand pages Vimeo URL.",
						"type": "string"
					},
					{
						"name": "preorder.active",
						"in": "query",
						"description": "If set to true, you will enable preorders on the On Demand page",
						"type": "boolean"
					},
					{
						"name": "preorder.publish_time",
						"in": "query",
						"description": "Required if preorder.active is true. The time that the On Demand page will be published",
						"type": "boolean"
					},
					{
						"name": "publish.active",
						"in": "query",
						"description": "If set to true, you will publish the On Demand page",
						"type": "boolean"
					},
					{
						"name": "publish_when_ready",
						"in": "query",
						"description": "This On Demand page will be automatically published when all videos are finished transcoding",
						"type": "boolean"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/ondemand/pages/{ondemand_id}/regions": {
			"": {
				"summary": "On Demand",
				"description": "View an On Demand page's Regions.",
				"operationId": "on-demand",
				"parameters": [
					{
						"name": "link",
						"in": "query",
						"description": "The custom string to use in this On Demand pages Vimeo URL.",
						"type": "string"
					},
					{
						"name": "preorder.active",
						"in": "query",
						"description": "If set to true, you will enable preorders on the On Demand page",
						"type": "boolean"
					},
					{
						"name": "preorder.publish_time",
						"in": "query",
						"description": "Required if preorder.active is true. The time that the On Demand page will be published",
						"type": "boolean"
					},
					{
						"name": "publish.active",
						"in": "query",
						"description": "If set to true, you will publish the On Demand page",
						"type": "boolean"
					},
					{
						"name": "publish_when_ready",
						"in": "query",
						"description": "This On Demand page will be automatically published when all videos are finished transcoding",
						"type": "boolean"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/ondemand/pages/{ondemand_id}/regions/{country}": {
			"": {
				"summary": "On Demand",
				"description": "Check whether an On Demand page has a region.",
				"operationId": "on-demand",
				"parameters": [
					{
						"name": "link",
						"in": "query",
						"description": "The custom string to use in this On Demand pages Vimeo URL.",
						"type": "string"
					},
					{
						"name": "preorder.active",
						"in": "query",
						"description": "If set to true, you will enable preorders on the On Demand page",
						"type": "boolean"
					},
					{
						"name": "preorder.publish_time",
						"in": "query",
						"description": "Required if preorder.active is true. The time that the On Demand page will be published",
						"type": "boolean"
					},
					{
						"name": "publish.active",
						"in": "query",
						"description": "If set to true, you will publish the On Demand page",
						"type": "boolean"
					},
					{
						"name": "publish_when_ready",
						"in": "query",
						"description": "This On Demand page will be automatically published when all videos are finished transcoding",
						"type": "boolean"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/ondemand/pages/{ondemand_id}/videos": {
			"": {
				"summary": "On Demand",
				"description": "List all videos associated with an On Demand page.",
				"operationId": "on-demand",
				"parameters": [
					{
						"name": "link",
						"in": "query",
						"description": "The custom string to use in this On Demand pages Vimeo URL.",
						"type": "string"
					},
					{
						"name": "preorder.active",
						"in": "query",
						"description": "If set to true, you will enable preorders on the On Demand page",
						"type": "boolean"
					},
					{
						"name": "preorder.publish_time",
						"in": "query",
						"description": "Required if preorder.active is true. The time that the On Demand page will be published",
						"type": "boolean"
					},
					{
						"name": "publish.active",
						"in": "query",
						"description": "If set to true, you will publish the On Demand page",
						"type": "boolean"
					},
					{
						"name": "publish_when_ready",
						"in": "query",
						"description": "This On Demand page will be automatically published when all videos are finished transcoding",
						"type": "boolean"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/ondemand/pages/{ondemand_id}/videos/{video_id}": {
			"": {
				"summary": "On Demand",
				"description": "Check if an On Demand page contains a video.",
				"operationId": "on-demand",
				"parameters": [
					{
						"name": "link",
						"in": "query",
						"description": "The custom string to use in this On Demand pages Vimeo URL.",
						"type": "string"
					},
					{
						"name": "preorder.active",
						"in": "query",
						"description": "If set to true, you will enable preorders on the On Demand page",
						"type": "boolean"
					},
					{
						"name": "preorder.publish_time",
						"in": "query",
						"description": "Required if preorder.active is true. The time that the On Demand page will be published",
						"type": "boolean"
					},
					{
						"name": "publish.active",
						"in": "query",
						"description": "If set to true, you will publish the On Demand page",
						"type": "boolean"
					},
					{
						"name": "publish_when_ready",
						"in": "query",
						"description": "This On Demand page will be automatically published when all videos are finished transcoding",
						"type": "boolean"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/ondemand/regions": {
			"": {
				"summary": "On Demand",
				"description": "Get all On Demand Regions.",
				"operationId": "on-demand",
				"parameters": [
					{
						"name": "link",
						"in": "query",
						"description": "The custom string to use in this On Demand pages Vimeo URL.",
						"type": "string"
					},
					{
						"name": "preorder.active",
						"in": "query",
						"description": "If set to true, you will enable preorders on the On Demand page",
						"type": "boolean"
					},
					{
						"name": "preorder.publish_time",
						"in": "query",
						"description": "Required if preorder.active is true. The time that the On Demand page will be published",
						"type": "boolean"
					},
					{
						"name": "publish.active",
						"in": "query",
						"description": "If set to true, you will publish the On Demand page",
						"type": "boolean"
					},
					{
						"name": "publish_when_ready",
						"in": "query",
						"description": "This On Demand page will be automatically published when all videos are finished transcoding",
						"type": "boolean"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/ondemand/regions/@country": {
			"": {
				"summary": "On Demand",
				"description": "Get a single On Demand Region.",
				"operationId": "on-demand",
				"parameters": [
					{
						"name": "link",
						"in": "query",
						"description": "The custom string to use in this On Demand pages Vimeo URL.",
						"type": "string"
					},
					{
						"name": "preorder.active",
						"in": "query",
						"description": "If set to true, you will enable preorders on the On Demand page",
						"type": "boolean"
					},
					{
						"name": "preorder.publish_time",
						"in": "query",
						"description": "Required if preorder.active is true. The time that the On Demand page will be published",
						"type": "boolean"
					},
					{
						"name": "publish.active",
						"in": "query",
						"description": "If set to true, you will publish the On Demand page",
						"type": "boolean"
					},
					{
						"name": "publish_when_ready",
						"in": "query",
						"description": "This On Demand page will be automatically published when all videos are finished transcoding",
						"type": "boolean"
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tags/{word}": {
			"": {
				"summary": "Tags",
				"description": "Get a Tag.",
				"operationId": "tags",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tags/{word}/videos": {
			"": {
				"summary": "Tags",
				"description": "Get a list of videos associated with a tag.",
				"operationId": "tags",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users": {
			"": {
				"summary": "Users",
				"description": "Search for users.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}": {
			"": {
				"summary": "Users",
				"description": "Get a user.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/albums": {
			"": {
				"summary": "Users",
				"description": "Get a list of a user's Albums.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/albums/{album_id}": {
			"": {
				"summary": "Users",
				"description": "Get info on an Album.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/albums/{album_id}/videos": {
			"": {
				"summary": "Users",
				"description": "Get the list of videos in an Album.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/albums/{album_id}/videos/{video_id}": {
			"": {
				"summary": "Users",
				"description": "Check if an Album contains a video.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/appearances": {
			"": {
				"summary": "Users",
				"description": "Get all videos that a user appears in.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/channels": {
			"": {
				"summary": "Users",
				"description": "Get a list of the Channels a user follows.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/channels/{channel_id}": {
			"": {
				"summary": "Users",
				"description": "Check if a user follows a Channel.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/feed": {
			"": {
				"summary": "Users",
				"description": "Get a list of the videos in your feed.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/followers": {
			"": {
				"summary": "Users",
				"description": "Get a list of the user's followers.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/following": {
			"": {
				"summary": "Users",
				"description": "Get a list of the users that a user is following.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/following/{follow_user_id}": {
			"": {
				"summary": "Users",
				"description": "Check if a user follows another user.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/groups": {
			"": {
				"summary": "Users",
				"description": "Get a list of the Groups a user has joined.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/groups/{group_id}": {
			"": {
				"summary": "Users",
				"description": "Check if a user has joined a Group?",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/likes": {
			"": {
				"summary": "Users",
				"description": "Get a list of videos that a user likes.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/likes/{video_id}": {
			"": {
				"summary": "Users",
				"description": "Check if a user likes a video.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/ondemand/library": {
			"": {
				"summary": "Users",
				"description": "Check if an On Demand page is in your library.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/ondemand/pages": {
			"": {
				"summary": "Users",
				"description": "Get a user's On Demand pages.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/pictures": {
			"": {
				"summary": "Users",
				"description": "Get a list of this user's portrait images.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/pictures/{portraitset_id}": {
			"": {
				"summary": "Users",
				"description": "Check if a user has a portrait.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/portfolios": {
			"": {
				"summary": "Users",
				"description": "Get a list of Portfolios created by a user.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
						"description": "If there was an internal error with waldo/solr"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/portfolios/{portfolio_id}": {
			"": {
				"summary": "Users",
				"description": "Get a Portfolio.",
				"operationId": "users",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					},
					"404 Not Found": {
						"description": "If the On Demand page cannot be found"
					},
					"503": {
						"description": "If search is disbaled"
					},
					"500": {
[...]
