{
	"swagger": "2.0",
	"info": {
		"title": "ConstantContact",
		"description": "Constant Contact, Inc is an online marketing company offering email marketing, social media marketing, online survey, and event marketing tools, primarily to small businesses, nonprofit organizations, and membership associations.",
		"termsOfService": "http://www.constantcontact.com/uidocs/CCSiteOwnerAgreement.jsp",
		"version": ""
	},
	"host": "api.constantcontact.com",
	"basePath": "/v2",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/{username}/activities": {
			"post": {
				"summary": "Add Activity",
				"description": "Add Activity",
				"operationId": "add-activity",
				"parameters": [
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/activities/{activity-id}": {
			"get": {
				"summary": "Get Activity",
				"description": "Get Activity",
				"operationId": "get-activity",
				"parameters": [
					{
						"name": "activity-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/campaigns": {
			"post": {
				"summary": "Add Campaign",
				"description": "Add Campaign",
				"operationId": "add-campaign",
				"parameters": [
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/campaigns/{campaign-id}": {
			"put": {
				"summary": "Update Campaign",
				"description": "Update Campaign",
				"operationId": "update-campaign",
				"parameters": [
					{
						"name": "campaign-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/campaigns/{campaign-id}/events/": {
			"get": {
				"summary": "Get Campaign Events",
				"description": "Get Campaign Events",
				"operationId": "get-campaign-events",
				"parameters": [
					{
						"name": "campaign-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/contacts": {
			"post": {
				"summary": "Add Contact",
				"description": "Add Contact",
				"operationId": "add-contact",
				"parameters": [
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/contacts/{contact-id}": {
			"put": {
				"summary": "Update Contact",
				"description": "Update Contact",
				"operationId": "update-contact",
				"parameters": [
					{
						"name": "contact-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/contacts/{contact-id}/events/": {
			"get": {
				"summary": "Get Per-Contact Campaign Events",
				"description": "Get Per-Contact Campaign Events",
				"operationId": "get-percontact-campaign-events",
				"parameters": [
					{
						"name": "contact-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/events": {
			"post": {
				"summary": "Add Event",
				"description": "Add Event",
				"operationId": "add-event",
				"parameters": [
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/events/{event-id}": {
			"get": {
				"summary": "Get Event",
				"description": "Get Event",
				"operationId": "get-event",
				"parameters": [
					{
						"name": "event-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/events/{event-id}/registrants": {
			"get": {
				"summary": "List Registrants",
				"description": "List Registrants",
				"operationId": "list-registrants",
				"parameters": [
					{
						"name": "event-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/events/{event-id}/registrants/{registrant-id}": {
			"get": {
				"summary": "Get Registrant",
				"description": "Get Registrant",
				"operationId": "get-registrant",
				"parameters": [
					{
						"name": "event-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "registrant-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/events/{event-id}/registrants/{registrant-id}/attendancestatus": {
			"put": {
				"summary": "Update Attendance Status",
				"description": "Update Attendance Status",
				"operationId": "update-attendance-status",
				"parameters": [
					{
						"name": "event-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "registrant-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/events/{event-id}/registrants/{registrant-id}/guests": {
			"get": {
				"summary": "Get List of Guests",
				"description": "Get List of Guests",
				"operationId": "get-list-of-guests",
				"parameters": [
					{
						"name": "event-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "registrant-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/events/{event-id}/registrants/{registrant-id}/guests/{guest-id}": {
			"get": {
				"summary": "Get Guest Details",
				"description": "Get Guest Details",
				"operationId": "get-guest-details",
				"parameters": [
					{
						"name": "event-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "guest-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "registrant-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/events/{event-id}/registrants/{registrant-id}/paymentstatus": {
			"put": {
				"summary": "Update Payment Status",
				"description": "Update Payment Status",
				"operationId": "update-payment-status",
				"parameters": [
					{
						"name": "event-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "registrant-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/library/folders": {
			"get": {
				"summary": "List Folders",
				"description": "List Folders",
				"operationId": "list-folders",
				"parameters": [
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/library/folders/{folder-id}/images": {
			"get": {
				"summary": "List Images",
				"description": "List Images",
				"operationId": "list-images",
				"parameters": [
					{
						"name": "folder-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/library/folders/{folder-id}/images/{image-id}": {
			"get": {
				"summary": "Get Image",
				"description": "Get Image",
				"operationId": "get-image",
				"parameters": [
					{
						"name": "folder-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "image-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/lists": {
			"post": {
				"summary": "Add Mailing List",
				"description": "Add Mailing List",
				"operationId": "add-mailing-list",
				"parameters": [
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/lists/{list-id}": {
			"put": {
				"summary": "Update Mailing List",
				"description": "Update Mailing List",
				"operationId": "update-mailing-list",
				"parameters": [
					{
						"name": "list-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/lists/{list-id}/members": {
			"get": {
				"summary": "Get Contacts Collection from a List",
				"description": "Get Contacts Collection from a List",
				"operationId": "get-contacts-collection-from-a-list",
				"parameters": [
					{
						"name": "list-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/settings/emailaddresses": {
			"get": {
				"summary": "List Account Email Addresses",
				"description": "List Account Email Addresses",
				"operationId": "list-account-email-addresses",
				"parameters": [
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{username}/settings/emailaddresses/{email-id}": {
			"get": {
				"summary": "Get Email Address Details",
				"description": "Get Email Address Details",
				"operationId": "get-email-address-details",
				"parameters": [
					{
						"name": "email-id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "username",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}