---
layout: default
---
<p align="center">Here is what I am reading when it comes to API aggregation.</p>
<table cellpadding="1" cellspacing="1" width="100%" border="0">
	<tr><td colspan="2" align="center"><hr style="padding: 1px 1px 1px 1px; margin: 1px 1px 1px 1px;" /></td></tr>
{% for post in paginator.posts %}
	<tr>    
	    <td width="10%" align="center">
		    {% if post.image != null %}
		    	<a href="{{ post.source }}" rel="bookmark" title="{{ post.title }}"><img src="{{ post.image }}" width="50" align="left" /></a>
		    {% endif %}
	    </td>
	    <td align="left">
		    <a href="{{ post.source }}" rel="bookmark" title="{{ post.title }}" style="color:#000; font-size: 16px;"><strong>{{ post.title }}</strong></a><br /><i><span class="post-date">{{ post.date | date:"%m-%d-%Y" }}{% if post.domain != null %} on <a href="http://{{ post.domain }}"></a>{{ post.domain }}</a></span>{% endif %}</i>
	    </td>   
	</tr>
	<tr><td colspan="2" align="center"><hr style="padding: 1px 1px 1px 1px; margin: 1px 1px 1px 1px;" /></td></tr>
{% endfor %}
</table>

<div class="pagination">
  {% if paginator.next_page %}
    <a href="/blog/page{{paginator.next_page}}" class="older">Older</a>
  {% else %}
    <span class="next">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="/" class="newer">Newer</a>
    {% else %}
      <a href="/blog/page{{paginator.previous_page}}" class="newer">Newer</a>
    {% endif %}
  {% else %}
    <span class="previous">Newer</span>
  {% endif %}
</div>