{
	"swagger": "2.0",
	"info": {
		"title": "API Evangelist - Links API",
		"description": "This is a template links API from API Evangelist.",
		"termsOfService": "http://apievangelist.com/terms-of-service.html",
		"version": "v1"
	},
	"host": "links.api.apievangelist.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/screen-capture": {
			"get": {
				"summary": "Returns a screen capture of a url.",
				"description": "Returns PNG file returned from screen capture of a url.",
				"operationId": "captureScreen",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "code",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					},
					{
						"name": "url",
						"in": "query",
						"description": "a url for screen capture",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Returns successful screen capture image."
					}
				},
				"tags": [
					"URL",
					" Links",
					" Screenshot",
					" Screen Capture"
				]
			}
		},
		"/charcoal": {
			"get": {
				"summary": "Applies charcoal filter.",
				"description": "Returns an image with charcoal effect applied.",
				"operationId": "charcoal",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string",
						"format": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string",
						"format": "string"
					},
					{
						"name": "radius",
						"in": "query",
						"description": "radius setting for image filter",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sigma",
						"in": "query",
						"description": "sigma setting for image filter",
						"type": "string",
						"format": "string"
					},
					{
						"name": "url",
						"in": "query",
						"description": "public url of image to be converted",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Image Manipulation"
					}
				},
				"tags": [
					"charcoal",
					" image",
					" filter"
				]
			}
		},
		"/oilpainting": {
			"get": {
				"summary": "Applies oil painting filter.",
				"description": "Returns an image with oil painting effect applied.",
				"operationId": "oilpainting",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string",
						"format": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string",
						"format": "string"
					},
					{
						"name": "radius",
						"in": "query",
						"description": "radius setting for image filter",
						"type": "string",
						"format": "string"
					},
					{
						"name": "url",
						"in": "query",
						"description": "public url of image to be converted",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Image Manipulation"
					}
				},
				"tags": [
					"oil painting",
					" image",
					" filter"
				]
			}
		},
		"/polaroid": {
			"get": {
				"summary": "Applies polaroid filter.",
				"description": "Returns an image with polaroid effect applied.",
				"operationId": "polaroid",
				"parameters": [
					{
						"name": "angle",
						"in": "query",
						"description": "angle setting for image filter",
						"type": "string",
						"format": "string"
					},
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string",
						"format": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string",
						"format": "string"
					},
					{
						"name": "url",
						"in": "query",
						"description": "public url of image to be converted",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Image Manipulation"
					}
				},
				"tags": [
					"polaroid",
					" image",
					" filter"
				]
			}
		},
		"/sketch": {
			"get": {
				"summary": "Applies sketch filter.",
				"description": "Returns an image with sketch effect applied.",
				"operationId": "sketch",
				"parameters": [
					{
						"name": "angle",
						"in": "query",
						"description": "angle setting for image filter",
						"type": "string",
						"format": "string"
					},
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string",
						"format": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string",
						"format": "string"
					},
					{
						"name": "radius",
						"in": "query",
						"description": "radius setting for image filter",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sigma",
						"in": "query",
						"description": "sigma setting for image filter",
						"type": "string",
						"format": "string"
					},
					{
						"name": "url",
						"in": "query",
						"description": "public url of image to be converted",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Image Manipulation"
					}
				},
				"tags": [
					"sketch",
					" image",
					" filter"
				]
			}
		},
		"/analyses/d": {
			"get": {
				"summary": "Pull analysis",
				"description": "Returns a list of all blog posts filtered by keyword.",
				"operationId": "getAnalysis",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					},
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across posts",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Analysis Response"
					}
				},
				"tags": [
					"API",
					" Analysis",
					" Blog",
					" Analyst"
				]
			}
		},
		"/analysis/{id}": {
			"get": {
				"summary": "Retrieve a blog post using its ID",
				"description": "Returns a blog post detail",
				"operationId": "getAnalysis",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "id of the blog post to be returned",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Analysis Response"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/api/{id}": {
			"get": {
				"summary": "Retrieve an API",
				"description": "Returns the API detail",
				"operationId": "getAPI",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "id of the blog post to be returned",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "Successful API Response"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apis": {
			"get": {
				"summary": "Retrieve APIs",
				"description": "Returns a list of APIs.",
				"operationId": "getAPI",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					},
					{
						"name": "date",
						"in": "query",
						"description": "data to search by in the m/d/Y format",
						"type": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "how many posts to show",
						"type": "integer"
					},
					{
						"name": "new",
						"in": "query",
						"description": "only show new apis (true / false)",
						"type": "string"
					},
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across posts",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful API Response"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/buildingblock/types/": {
			"get": {
				"summary": "Retrieve a list of the building block types",
				"description": "Returns the building block types",
				"operationId": "getBuildingBlockTypes",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Building Block Response"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/buildingblock/{id}": {
			"get": {
				"summary": "Retrieve a building block using its ID",
				"description": "Returns a building block detail",
				"operationId": "getBuildingBlock",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "id of the building block to be returned",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Building Block Response"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/buildingblocks/": {
			"get": {
				"summary": "Pull building blocks",
				"description": "Returns a list of all building blocks filtered by keyword.",
				"operationId": "getBuildingBlocks",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					},
					{
						"name": "type",
						"in": "query",
						"description": "the type of building blocks to pull",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Building Block Response"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/curated/": {
			"get": {
				"summary": "Pull curated",
				"description": "Returns a list of all curated items filtered by keyword.",
				"operationId": "getCurated",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					},
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across curated items",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/curated/{id}": {
			"get": {
				"summary": "Retrieve a curated item using its ID",
				"description": "Returns a curated item detail",
				"operationId": "getCurated",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "id of the curated item to be returned",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Curated REsponse"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tool/{id}": {
			"get": {
				"summary": "Retrieve a tool using its ID",
				"description": "Returns a tool detail",
				"operationId": "getTool",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "id of the tool to be returned",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Tool Response"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tools/": {
			"get": {
				"summary": "Pull tool",
				"description": "Returns a list of all tools filtered by keyword.",
				"operationId": "getTool",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					},
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across tools",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Tool Response"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/business/": {
			"get": {
				"summary": "Finds all business",
				"description": "Returns a list of all business, allowing you to filter by state and keyword query.",
				"operationId": "getBusinesses",
				"parameters": [
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across facilities",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/business/{id}": {
			"get": {
				"summary": "Retrieve a business using its ID",
				"description": "Returns a business detail",
				"operationId": "getOffice",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "id for the business, notice this is in the path, not a query variable",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/events/": {
			"get": {
				"summary": "Pulls a listing of events",
				"description": "Returns a list of events, allowing you to filter by keyword query.",
				"operationId": "getJobs",
				"parameters": [
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across events",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/events/{id}": {
			"get": {
				"summary": "Retrieve an event using its ID",
				"description": "Returns a events detail",
				"operationId": "getJobs",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "id for the event, notice this is in the path, not a query variable",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/is-there-a-table-on-this-html-page/": {
			"get": {
				"summary": "Checks To See If There Are Tables On Web Page",
				"description": "Turns a listing of the number of tables, and number of rows for tables in an HTML web page",
				"operationId": "getTables",
				"parameters": [
					{
						"name": "url",
						"in": "query",
						"description": "the url of html page to evaluate",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/return-urls-in-this-html-page/": {
			"get": {
				"summary": "Return URLs",
				"description": "Returns a list of any url present in an HTML web page.",
				"operationId": "getURLs",
				"parameters": [
					{
						"name": "extensions",
						"in": "query",
						"description": "any file extension, separated by commas",
						"type": "string"
					},
					{
						"name": "url",
						"in": "query",
						"description": "the url of html page to evaluate",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/images/": {
			"get": {
				"summary": "Pulls a listing of images",
				"description": "Returns a list of images, allowing you to filter by keyword query.",
				"operationId": "getJobs",
				"parameters": [
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across images",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/images/{id}": {
			"get": {
				"summary": "Retrieve an image using its ID",
				"description": "Returns a images detail",
				"operationId": "getJobs",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "id for the job, notice this is in the path, not a query variable",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/jobs/": {
			"get": {
				"summary": "Pulls a listing of jobs",
				"description": "Returns a list of jobs, allowing you to filter by keyword query.",
				"operationId": "getJobs",
				"parameters": [
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across jobs",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/jobs/{id}": {
			"get": {
				"summary": "Retrieve a job using its ID",
				"description": "Returns a jobs detail",
				"operationId": "getJobs",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "id for the job, notice this is in the path, not a query variable",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/links/": {
			"get": {
				"summary": "Finds all links",
				"description": "Returns a list of all links, allowing you to filter by keyword query.",
				"operationId": "getBusinesses",
				"parameters": [
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across links",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/links/{id}": {
			"get": {
				"summary": "Retrieve a links using its ID",
				"description": "Returns a links detail",
				"operationId": "getOffice",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "id for the links, notice this is in the path, not a query variable",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	},
	"definitions": {
	}
}