{
	"swagger": "2.0",
	"info": {
		"title": "Inbox API",
		"description": "Inbox is a modern API that works with existing email providers. It makes it easy to integrate with your usersu2019 email data, and eliminates the complexity of old protocols like IMAP and MIME.",
		"termsOfService": null,
		"version": null
	},
	"host": "api.inboxapp.com",
	"basePath": "n/{namespace_id}/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"drafts/": {
			"post": {
				"summary": "Creating a Draft",
				"description": "Creating a Draft",
				"operationId": "",
				"parameters": [
					{
						"name": "bcc",
						"in": "query",
						"description": "Blind carbon messages.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "body",
						"in": "query",
						"description": "Body of the message.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "cc",
						"in": "query",
						"description": "Other address to send to.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "file_ids",
						"in": "query",
						"description": "Files to associate with email.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "namespace_id",
						"in": "query",
						"description": "Namespaces are essentially references to linked accounts. They are the top-level unit of a useru2019s data.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "subject",
						"in": "query",
						"description": "Subject of the message.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "thread_id",
						"in": "query",
						"description": "ID thread to associate messages.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "to",
						"in": "query",
						"description": "Who the message is to.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"drafts/{draft_id}": {
			"put": {
				"summary": "Updating a draft",
				"description": "Updating a draft",
				"operationId": "",
				"parameters": [
					{
						"name": "namespace_id",
						"in": "query",
						"description": "Namespaces are essentially references to linked accounts. They are the top-level unit of a useru2019s data.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"files/": {
			"post": {
				"summary": "Uploading a new file",
				"description": "Uploading a new file",
				"operationId": "",
				"parameters": [
					{
						"name": "namespace_id",
						"in": "query",
						"description": "Namespaces are essentially references to linked accounts. They are the top-level unit of a useru2019s data.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"files/{file_id}": {
			"get": {
				"summary": "Retrieving a specific files metadata",
				"description": "Retrieving a specific files metadata",
				"operationId": "",
				"parameters": [
					{
						"name": "namespace_id",
						"in": "query",
						"description": "Namespaces are essentially references to linked accounts. They are the top-level unit of a useru2019s data.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "Uploading a new file",
						"in": "query",
						"description": "The ID of the file.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"files/{file_id}/download": {
			"get": {
				"summary": "Downloading files",
				"description": "Downloading files",
				"operationId": "",
				"parameters": [
					{
						"name": "file_id",
						"in": "query",
						"description": "The ID of the file.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "namespace_id",
						"in": "query",
						"description": "Namespaces are essentially references to linked accounts. They are the top-level unit of a useru2019s data.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/": {
			"get": {
				"summary": "Retrieving Many Messages",
				"description": "Retrieving Many Messages",
				"operationId": "",
				"parameters": [
					{
						"name": "namespace_id",
						"in": "query",
						"description": "Namespaces are essentially references to linked accounts. They are the top-level unit of a useru2019s data.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/{message_id}": {
			"get": {
				"summary": "Retrieving a Message",
				"description": "Retrieving a Message",
				"operationId": "",
				"parameters": [
					{
						"name": "message_id",
						"in": "query",
						"description": "The ID of the Message.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "namespace_id",
						"in": "query",
						"description": "Namespaces are essentially references to linked accounts. They are the top-level unit of a useru2019s data.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "thread_id",
						"in": "query",
						"description": "One of the filter parameters available on messages is thread. Given a thread_id value, the API call will will return all messages in the thread.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"send/": {
			"get": {
				"summary": "Sending",
				"description": "Sending",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"tags/": {
			"post": {
				"summary": "Creating Custom Tags",
				"description": "Creating Custom Tags",
				"operationId": "",
				"parameters": [
					{
						"name": "name",
						"in": "body",
						"description": "Tag name.",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "namespace_id",
						"in": "query",
						"description": "Namespaces are essentially references to linked accounts. They are the top-level unit of a useru2019s data.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"tags/{tag_id}": {
			"put": {
				"summary": "Changing custom tag names",
				"description": "Changing custom tag names",
				"operationId": "",
				"parameters": [
					{
						"name": "name",
						"in": "query",
						"description": "The name of the tag.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "namespace_id",
						"in": "query",
						"description": "Namespaces are essentially references to linked accounts. They are the top-level unit of a useru2019s data.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"threads/": {
			"get": {
				"summary": "Getting Threads with a Tag",
				"description": "Getting Threads with a Tag",
				"operationId": "",
				"parameters": [
					{
						"name": "namespace_id",
						"in": "query",
						"description": "Namespaces are essentially references to linked accounts. They are the top-level unit of a useru2019s data.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "You can list all of the threads with a given tag using a Tag Filter. The tag parameter can be a tag ID, such as 4zv7pgvihjvuptbwv57kiz62 or a tag name, like inbox or hiking.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"threads/{thread_id}": {
			"put": {
				"summary": "Updating Tags & Performing Actions",
				"description": "Updating Tags & Performing Actions",
				"operationId": "",
				"parameters": [
					{
						"name": "namespace_id",
						"in": "query",
						"description": "Namespaces are essentially references to linked accounts. They are the top-level unit of a useru2019s data.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "thread_id",
						"in": "query",
						"description": "ID of the thread.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		}
	}
}