{
	"swagger": "2.0",
	"info": {
		"title": "Chute Media",
		"description": "The Chute API enables you to add media capture, management, metadata and publishing to any app or site.",
		"termsOfService": "http://www.getchute.com/who-we-are/about/terms/",
		"version": "v2"
	},
	"host": "api.getchute.com",
	"basePath": "/v2/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/albums/{album_id}/assets/{asset_id}{?oauth_token}": {
			"": {
				"summary": "Remove asset&nbsp;",
				"description": "Remove asset&nbsp;",
				"operationId": "albumsalbum-idassetsasset-idoauth-token",
				"parameters": [
					{
						"name": "album_id",
						"in": "query",
						"description": "Example:&nbsp;1 - album id",
						"type": "string"
					},
					{
						"name": "asset_id",
						"in": "query",
						"description": "Example:&nbsp;2524334 - asset id",
						"type": "string"
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Example:&nbsp;XYZ - authentication token",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/albums/{album}/assets/import{?urls,shortcuts,instagram_ids,oauth_token}": {
			"": {
				"summary": "Import assets&nbsp;",
				"description": "Import assets&nbsp;",
				"operationId": "albumsalbumassetsimporturlsshortcutsinstagram-idsoauth-token",
				"parameters": [
					{
						"name": "album",
						"in": "query",
						"description": "Example:&nbsp;1 - album id or shortcut",
						"type": "string"
					},
					{
						"name": "instagram_ids",
						"in": "query",
						"description": "Example:&nbsp;123456789,112233445 - list of instagram ids. Can be passed in the request body or query param.",
						"type": "string"
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Example:&nbsp;XYZ - authentication token",
						"type": "string"
					},
					{
						"name": "shortcuts",
						"in": "query",
						"description": "Example:&nbsp;123abc,456uio - list of existing asset shortcuts. Deprecated: Use urls or instagram_ids, or move/copy endpoint instead.",
						"type": "string"
					},
					{
						"name": "urls",
						"in": "query",
						"description": "Example:&nbsp;http%3A%2F%2Ffarm5.static.flickr.com%2F4138%2F4758470218_b0f3cf0d44.jpg - import assets from given list of urls. Can be passed in the request body or query param.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/albums/{album}/assets/{asset}/geo": {
			"": {
				"summary": "Geo data of an asset&nbsp;",
				"description": "Geo data of an asset&nbsp;",
				"operationId": "albumsalbumassetsassetgeo",
				"parameters": [
					{
						"name": "album",
						"in": "query",
						"description": "Example:&nbsp;1 - album id or shortcut",
						"type": "string"
					},
					{
						"name": "asset",
						"in": "query",
						"description": "Example:&nbsp;2524334 - asset id or shortcut",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/albums/{album}/assets/{asset}/hearts{?oauth_token}": {
			"": {
				"summary": "Heart asset&nbsp;",
				"description": "Heart asset&nbsp;",
				"operationId": "albumsalbumassetsassetheartsoauth-token",
				"parameters": [
					{
						"name": "album",
						"in": "query",
						"description": "Example:&nbsp;1 - album id or shortcut",
						"type": "string"
					},
					{
						"name": "asset",
						"in": "query",
						"description": "Example:&nbsp;2524334 - asset id or shortcut",
						"type": "string"
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Example:&nbsp;XYZ - authentication token, can be passed in the request body or as query param. If not set then the heart will be anonymous.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/albums/{album}/assets/{asset}/tags/{tags}{?oauth_token}": {
			"": {
				"summary": "Remove asset tags&nbsp;",
				"description": "Remove asset tags&nbsp;",
				"operationId": "albumsalbumassetsassettagstagsoauth-token",
				"parameters": [
					{
						"name": "album",
						"in": "query",
						"description": "Example:&nbsp;1 - album id or shortcut",
						"type": "string"
					},
					{
						"name": "asset",
						"in": "query",
						"description": "Example:&nbsp;123 - asset id or shortcut",
						"type": "string"
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Example:&nbsp;XYZ - authentication token",
						"type": "string"
					},
					{
						"name": "tags",
						"in": "query",
						"description": "Example:&nbsp;fashion,beauty - tags to remove from the asset",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/albums/{album}/assets/{asset}/tags{?tags,oauth_token}": {
			"": {
				"summary": "Tag asset&nbsp;",
				"description": "Tag asset&nbsp;",
				"operationId": "albumsalbumassetsassettagstagsoauth-token",
				"parameters": [
					{
						"name": "album",
						"in": "query",
						"description": "Example:&nbsp;1 - album id or shortcut",
						"type": "string"
					},
					{
						"name": "asset",
						"in": "query",
						"description": "Example:&nbsp;123 - asset id or shortcut",
						"type": "string"
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Example:&nbsp;XYZ - authentication token. Can be passed in the request body or query param.",
						"type": "string"
					},
					{
						"name": "tags",
						"in": "query",
						"description": "Example:&nbsp;olympics,sochi - tags to add to the asset. Can be passed in the request body or query param.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/albums/{album}/assets/{asset}/votes": {
			"": {
				"summary": "Get vote count&nbsp;",
				"description": "Get vote count&nbsp;",
				"operationId": "albumsalbumassetsassetvotes",
				"parameters": [
					{
						"name": "album",
						"in": "query",
						"description": "Example:&nbsp;1 - album id or shortcut",
						"type": "string"
					},
					{
						"name": "asset",
						"in": "query",
						"description": "Example:&nbsp;2524334 - asset id or shortcut",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/albums/{album}/assets/{asset}/votes{?oauth_token}": {
			"": {
				"summary": "Un-Vote asset&nbsp;",
				"description": "Un-Vote asset&nbsp;",
				"operationId": "albumsalbumassetsassetvotesoauth-token",
				"parameters": [
					{
						"name": "album",
						"in": "query",
						"description": "Example:&nbsp;1 - album id or shortcut",
						"type": "string"
					},
					{
						"name": "asset",
						"in": "query",
						"description": "Example:&nbsp;2524334 - asset id or shortcut",
						"type": "string"
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Example:&nbsp;XYZ - authentication token, can be passed in the request body or as query param",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/albums/{album}/assets{?asset_ids,type,from_time,to_time,username,tags,source,service,lat,lng,radius,sort,page,per_page}": {
			"": {
				"summary": "Fetch album assets&nbsp;",
				"description": "Fetch album assets&nbsp;",
				"operationId": "albumsalbumassetsasset-idstypefrom-timeto-timeusernametagssourceservicelatlngradiussortpageper-page",
				"parameters": [
					{
						"name": "album",
						"in": "query",
						"description": "Example:&nbsp;1abc - album id or shortcut",
						"type": "string"
					},
					{
						"name": "asset_ids",
						"in": "query",
						"description": "Example:&nbsp;12345,23456 - list of asset ids or shortcuts to be returned. Example: ?asset_ids=12345,23456 or ?asset_ids=abcde,fghij.",
						"type": "string"
					},
					{
						"name": "from_time",
						"in": "query",
						"description": "Example:&nbsp;1377357058 - Only return assets that were created since given time (exclusive). from_time and to_time can be combined in one query. When sort=time, then from_time/to_time are automatically used for continuous search.",
						"type": "string"
					},
					{
						"name": "lat",
						"in": "query",
						"description": "Example:&nbsp;37.40 - Find assets that have location near the given lat/lng. When used, both lat and lng are required.",
						"type": "string"
					},
					{
						"name": "lng",
						"in": "query",
						"description": "Example:&nbsp;122.20 - see lat",
						"type": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "Example:&nbsp;1 - Paging using offset. You should never set this manually and instead use next_page/previous_page from the Pagination object.",
						"type": "string"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Example:&nbsp;5 - Number of assets returned per page. Defaults to 5.",
						"type": "string"
					},
					{
						"name": "radius",
						"in": "query",
						"description": "Example:&nbsp;1000 - Max distance from lat and lng in meters. Defaults to 5000.",
						"type": "string"
					},
					{
						"name": "service",
						"in": "query",
						"description": "Example:&nbsp;instagram - one of instagram, facebook, flickr, google, twitter, rss, uploaded, trendabl, skydrive, googledrive, dropbox",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Example:&nbsp;id - Sort assets by:",
						"type": "string"
					},
					{
						"name": "source",
						"in": "query",
						"description": "Example:&nbsp;upload - how the asset got into the system, can be either upload (uploaded via Media Chooser) or import (imported from social network)",
						"type": "string"
					},
					{
						"name": "tags",
						"in": "query",
						"description": "Example:&nbsp;holiday,photochallenge - List of tags associated with the asset, can be hashtags or arbitrary Tags. # is not required and is stripped automatically.",
						"type": "string"
					},
					{
						"name": "to_time",
						"in": "query",
						"description": "Example:&nbsp;1379430721 - Only return assets that were created before given time (inclusive). See from_time.",
						"type": "string"
					},
					{
						"name": "type",
						"in": "query",
						"description": "Example:&nbsp;image - only return image or video assets",
						"type": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "Example:&nbsp;getchute - Only return assets by given user.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/albums/{album}/remove_assets{?asset_ids,oauth_token}": {
			"": {
				"summary": "Remove assets from album&nbsp;",
				"description": "Remove assets from album&nbsp;",
				"operationId": "albumsalbumremove-assetsasset-idsoauth-token",
				"parameters": [
					{
						"name": "album",
						"in": "query",
						"description": "Example:&nbsp;1 - album id or shortcut",
						"type": "string"
					},
					{
						"name": "asset_ids",
						"in": "query",
						"description": "Example:&nbsp;123423,125343 - list of asset ids; can be as a URL param or in the request body",
						"type": "string"
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Example:&nbsp;XYZ - authentication token",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/albums/{album}{?include}": {
			"": {
				"summary": "Fetch album details&nbsp;",
				"description": "Fetch album details&nbsp;",
				"operationId": "albumsalbuminclude",
				"parameters": [
					{
						"name": "album",
						"in": "query",
						"description": "Example:&nbsp;1abc - album id or shortcut",
						"type": "string"
					},
					{
						"name": "include",
						"in": "query",
						"description": "Example:&nbsp;asset - related objects to be included in the response, currently only asset is available",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/albums/{album}{?oauth_token}": {
			"": {
				"summary": "Update album details&nbsp;",
				"description": "Update album details&nbsp;",
				"operationId": "albumsalbumoauth-token",
				"parameters": [
					{
						"name": "album",
						"in": "query",
						"description": "Example:&nbsp;1 - album id or shortcut",
						"type": "string"
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Example:&nbsp;XYZ - authentication token",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/albums/{from_album_id}/assets/{asset_id}/copy/{to_album_id}{?oauth_token}": {
			"": {
				"summary": "Copy asset&nbsp;",
				"description": "Copy asset&nbsp;",
				"operationId": "albumsfrom-album-idassetsasset-idcopyto-album-idoauth-token",
				"parameters": [
					{
						"name": "asset_id",
						"in": "query",
						"description": "Example:&nbsp;3223423 - asset id",
						"type": "string"
					},
					{
						"name": "from_album_id",
						"in": "query",
						"description": "Example:&nbsp;1 - album id where the asset is currently",
						"type": "string"
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Example:&nbsp;XYZ - authentication token",
						"type": "string"
					},
					{
						"name": "to_album_id",
						"in": "query",
						"description": "Example:&nbsp;2 - destination album id",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/albums{?oauth_token}": {
			"": {
				"summary": "Create album&nbsp;",
				"description": "Create album&nbsp;",
				"operationId": "albumsoauth-token",
				"parameters": [
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Example:&nbsp;XYZ - authentication token",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user,oauth_token}": {
			"": {
				"summary": "Get user&nbsp;",
				"description": "Get user&nbsp;",
				"operationId": "usersuseroauth-token",
				"parameters": [
					{
						"name": "oauth_token",
						"in": "query",
						"description": "Example:&nbsp;XYZ - authentication token",
						"type": "string"
					},
					{
						"name": "user",
						"in": "query",
						"description": "Example:&nbsp;987 - user id",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}