{
	"swagger": "2.0",
	"info": {
		"title": "Zencoder",
		"description": null,
		"termsOfService": null,
		"version": "v2"
	},
	"host": "app.zencoder.com",
	"basePath": "/api/v2",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/account": {
			"post": {
				"summary": "Create an Account",
				"description": "Create an Account",
				"operationId": "",
				"parameters": [
					{
						"name": "email",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "password",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "password_confirmation",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "terms_of_service",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Create an Account"
				]
			}
		},
		"/account/integration": {
			"put": {
				"summary": "Integration Mode",
				"description": "Integration Mode",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Integration Mode"
				]
			}
		},
		"/account/live": {
			"put": {
				"summary": "Integration Mode - Live",
				"description": "Integration Mode - Live",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Integration Mode - Live"
				]
			}
		},
		"/inputs/{input_id}": {
			"get": {
				"summary": "Get Input Details",
				"description": "Get Input Details",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "JSONP Callback",
						"type": "string",
						"format": "string"
					},
					{
						"name": "input_id",
						"in": "query",
						"description": "The input id.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Get Input Details"
				]
			}
		},
		"/inputs/{input_id}/progress": {
			"get": {
				"summary": "Input Progress",
				"description": "The return will contain one or more of the following keys: state, current_event, current_event_progress and progress.",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Input Progress"
				]
			}
		},
		"/jobs": {
			"post": {
				"summary": "Create a Job",
				"description": "Encoding jobs are created by sending an HTTP POST request.",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "Encoding Settings",
						"in": "query",
						"description": "(see: https://app.zencoder.com/docs/api/encoding)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "input",
						"in": "query",
						"description": "A valid URL to a media file (HTTP/HTTPS, FTP/FTPS, SFTP, GCS, CF or S3), with or without authentication",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Create a Job"
				]
			}
		},
		"/jobs/{job_id}": {
			"get": {
				"summary": "Get Job Details",
				"description": "Get Job Details",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API Key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "Get Job Details",
						"in": "query",
						"description": "The Job id.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Get Job Details"
				]
			}
		},
		"/jobs/{job_id}/cancel": {
			"put": {
				"summary": "Cancel a Job",
				"description": "If you wish to cancel a job that has not yet finished processing you may send a request.",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API Key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "job_id",
						"in": "query",
						"description": "The job id.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Cancel a Job"
				]
			}
		},
		"/jobs/{job_id}/finish": {
			"put": {
				"summary": "Finish a LIve Job",
				"description": "Finishes the input on a Live streaming job.",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Finish a LIve Job"
				]
			}
		},
		"/jobs/{job_id}/progress": {
			"get": {
				"summary": "Job Progress",
				"description": "The return will contain one or more of the following keys: state, input, outputs, and progress.",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Job Progress"
				]
			}
		},
		"/jobs/{job_id}/resubmit": {
			"put": {
				"summary": "Resubmit a Job",
				"description": "If a job has failed processing you may request that it be attempted again.",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API Key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "job_id",
						"in": "query",
						"description": "The job id.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Resubmit a Job"
				]
			}
		},
		"/outputs/{output_id}/progress": {
			"get": {
				"summary": "Output Progress",
				"description": "The return will contain one or more of the following keys: state, current_event, current_event_progress and progress.",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "JSONP Callback",
						"type": "string",
						"format": "string"
					},
					{
						"name": "output_id",
						"in": "query",
						"description": "The output id.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Output Progress"
				]
			}
		},
		"/reports/all": {
			"get": {
				"summary": "Get Usage for VOD & Live",
				"description": "Get Usage for VOD & Live",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "from",
						"in": "query",
						"description": "Start date in the format YYYY-MM-DD (default: 30 days ago).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "grouping",
						"in": "query",
						"description": "Hour usage for only one report grouping (default: none).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "to",
						"in": "query",
						"description": "End date in the format YYYY-MM-DD (default: yesterday).",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Get Usage for VOD & Live"
				]
			}
		},
		"/reports/live": {
			"get": {
				"summary": "Get Usage for Live",
				"description": "Get Usage for Live",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "from",
						"in": "query",
						"description": "Start date in the format YYYY-MM-DD (default: 30 days ago).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "grouping",
						"in": "query",
						"description": "Hour usage for only one report grouping (default: none).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "to",
						"in": "query",
						"description": "End date in the format YYYY-MM-DD (default: yesterday).",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity; the date range requested is larger than 60 days"
					}
				},
				"tags": [
					"Get Usage for Live"
				]
			}
		},
		"/reports/minutes": {
			"get": {
				"summary": "Get Minutes Used",
				"description": "Get Minutes Used",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API Key.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity; the date range requested is larger than 60 days"
					}
				},
				"tags": [
					"Get Minutes Used"
				]
			}
		},
		"/reports/vod": {
			"get": {
				"summary": "Get Usage for VOD",
				"description": "Get Usage for VOD",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "from",
						"in": "query",
						"description": "Start date in the format YYYY-MM-DD (default: 30 days ago).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "grouping",
						"in": "query",
						"description": "Minute usage for only one report grouping (default: none).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "to",
						"in": "query",
						"description": "End date in the format YYYY-MM-DD (default: yesterday).",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity; the date range requested is larger than 60 days"
					}
				},
				"tags": [
					"Get Usage for VOD"
				]
			}
		},
		"/v2/outputs/{output_id}": {
			"get": {
				"summary": "Get Output Details",
				"description": "Get Output Details",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "output_id",
						"in": "query",
						"description": "The output id.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity; the date range requested is larger than 60 days"
					}
				},
				"tags": [
					"Get Output Details"
				]
			}
		}
	}
}