{
  "swagger": "2.0",
  "info": {
    "version": "1",
    "title": "Westfield APIs",
    "description": "Westfield APIs"
  },
  "host": "api.westfield.io",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/categories": {
      "get": {
        "summary": "All categories",
        "description": "Returns a list of 0 or more categories, filtered according to the parameters provided.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true,
            "default": 1
          },
          {
            "name": "westfield_locale",
            "description": "Westfield locale strings comprise a formal locale code with an optional centre code, separated by a '|' character",
            "type": "string",
            "in": "query",
            "pattern": "^[a-z]{2}(-[A-Z]{2})?(\\|[a-z]+)?$"
          },
          {
            "name": "max_depth",
            "type": "integer",
            "description": "How many levels of nested child categories should be returned. If this param is missing, no child categories will be returned.",
            "in": "query",
            "default": 0
          },
          {
            "name": "updated_since",
            "description": "Return categories that were updated after the specified date-time (supplied as ISO8601 Zulu Time)",
            "type": "string",
            "format": "date-time",
            "in": "query"
          },
          {
            "name": "deleted",
            "description": "Include deleted categories in the response",
            "type": "boolean",
            "in": "query"
          },
          {
            "name": "parent_id",
            "description": "The ID of the parent category.",
            "type": "integer",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of categories with localised names",
            "schema": {
              "$ref": "#/definitions/categoriesListResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Create a new category",
        "description": "Creates a new category",
        "parameters": [
          {
            "name": "version",
            "description": "Version of the API",
            "type": "string",
            "in": "query",
            "required": true,
            "default": 1
          },
          {
            "name": "category",
            "description": "The created Category details",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/categoryPayload"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created category",
            "schema": {
              "$ref": "#/definitions/categoryResponse"
            }
          },
          "422": {
            "description": "Unprocessable entity or request",
            "schema": {
              "$ref": "#/definitions/Category422Response"
            }
          }
        }
      },
      "x-services": [
        "category"
      ]
    },
    "/categories/{category_id}": {
      "get": {
        "summary": "Get a specific category",
        "description": "Returns information about a specific category.",
        "parameters": [
          {
            "name": "category_id",
            "description": "ID of category to get",
            "type": "integer",
            "in": "path",
            "required": true
          },
          {
            "name": "version",
            "description": "Version of the API",
            "type": "string",
            "in": "query",
            "required": true,
            "default": 1
          },
          {
            "name": "westfield_locale",
            "description": "Westfield locale strings comprise a language code with an optional centre code, separated by a '|' character",
            "type": "string",
            "in": "query",
            "pattern": "^[a-z]{2}(-[A-Z]{2})?(\\|[a-z]+)?$",
            "required": false
          },
          {
            "name": "max_depth",
            "type": "integer",
            "description": "How many levels of nested child categories should be returned. If this param is missing, no child categories will be returned.",
            "in": "query",
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Information about requested category.",
            "schema": {
              "$ref": "#/definitions/categoryResponse"
            }
          },
          "404": {
            "description": "Category not found",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "put": {
        "summary": "Update an existing category",
        "description": "Updates an existing category",
        "parameters": [
          {
            "name": "category_id",
            "description": "ID of the category to update",
            "type": "integer",
            "in": "path",
            "required": true
          },
          {
            "name": "version",
            "description": "Version of the API",
            "type": "string",
            "in": "query",
            "required": true,
            "default": 1
          },
          {
            "name": "category",
            "description": "The updated Category details",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/categoryPayload"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No data"
          },
          "404": {
            "description": "Category not found",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          },
          "422": {
            "description": "Unprocessable entity or request",
            "schema": {
              "$ref": "#/definitions/Category422Response"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an existing category",
        "description": "Deletes an existing category",
        "parameters": [
          {
            "name": "category_id",
            "description": "ID of the category to delete",
            "type": "integer",
            "in": "path",
            "required": true
          },
          {
            "name": "version",
            "description": "Version of the API",
            "type": "string",
            "in": "query",
            "required": true,
            "default": 1
          }
        ],
        "responses": {
          "204": {
            "description": "No data"
          },
          "404": {
            "description": "Category not found",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "x-services": [
        "category"
      ]
    },
    "/centres/{centre_id}/services": {
      "get": {
        "summary": "Services available to shoppers in Westfield Centres",
        "description": "Returns a list of all services available to shoppers in Westfield Centres.\n",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "default": "1"
          },
          {
            "name": "centre_id",
            "description": "Filter the list of services by centre",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "page",
            "in": "query",
            "description": "Return a specific page of results",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Limit the number of results returned per page",
            "type": "integer"
          },
          {
            "name": "updated_since",
            "description": "Return services that were updated at or after the specified date-time (supplied as ISO8601 Zulu Time)",
            "type": "string",
            "in": "query",
            "format": "date-time"
          },
          {
            "name": "deleted",
            "description": "Include deleted services in the response",
            "type": "boolean",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of services",
            "schema": {
              "$ref": "#/definitions/servicesListResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Creates a new service",
        "description": "Creates a new service with the supplied attributes.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true
          },
          {
            "name": "centre_id",
            "description": "Filter the list of services by centre",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "service",
            "in": "body",
            "description": "Payload of data to create a service",
            "schema": {
              "$ref": "#/definitions/servicePayload"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Information about the new service",
            "schema": {
              "$ref": "#/definitions/serviceResponse"
            }
          },
          "422": {
            "description": "Validation error information",
            "schema": {
              "$ref": "#/definitions/Service422Response"
            }
          }
        }
      },
      "x-services": [
        "centre_directory"
      ]
    },
    "/centres/{centre_id}/services/{service_id}": {
      "get": {
        "summary": "Service information",
        "description": "Return information about a specific service.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "default": "1"
          },
          {
            "name": "centre_id",
            "description": "Filter the list of services by centre",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "service_id",
            "in": "path",
            "description": "Service identifier",
            "type": "integer",
            "format": "int64",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Service information",
            "schema": {
              "$ref": "#/definitions/serviceResponse"
            }
          },
          "404": {
            "description": "Service not found error",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "patch": {
        "summary": "Update information about a specific service.",
        "description": "Update information about a specific service.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true
          },
          {
            "name": "centre_id",
            "description": "The centre associated with the service",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "service_id",
            "in": "path",
            "description": "ID of service to fetch",
            "type": "integer",
            "format": "int64",
            "required": true
          },
          {
            "name": "service",
            "in": "body",
            "description": "Payload of data to update a service",
            "schema": {
              "$ref": "#/definitions/servicePayload"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "description": "Requested service was not found",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          },
          "422": {
            "description": "Validation error information",
            "schema": {
              "$ref": "#/definitions/Service422Response"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a service.",
        "description": "Delete a service.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "default": "1"
          },
          {
            "name": "centre_id",
            "description": "The centre associated with the service",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "service_id",
            "in": "path",
            "description": "ID of service to delete",
            "type": "integer",
            "format": "int64",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "description": "Requested service was not found",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "x-services": [
        "centre_directory"
      ]
    },
    "/centres/services/types": {
      "get": {
        "summary": "Service Types",
        "description": "Returns a list of all available service types",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "default": "1"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Return a specific page of results",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Limit the number of results returned per page",
            "type": "integer"
          },
          {
            "name": "updated_since",
            "description": "Return service types that were updated at or after the specified date-time (supplied as ISO8601 Zulu Time)",
            "type": "string",
            "in": "query",
            "format": "date-time"
          },
          {
            "name": "deleted",
            "description": "Include deleted service types in the response",
            "type": "boolean",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of service types",
            "schema": {
              "$ref": "#/definitions/serviceTypesListResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Create a new service type.",
        "description": "Create a new service type.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "default": "1"
          },
          {
            "name": "service_type",
            "in": "body",
            "description": "Payload of data to create a service type",
            "schema": {
              "$ref": "#/definitions/serviceTypePayload"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Information about the new service type",
            "schema": {
              "$ref": "#/definitions/serviceTypeResponse"
            }
          },
          "422": {
            "description": "Validation error information",
            "schema": {
              "$ref": "#/definitions/ServiceType422Response"
            }
          }
        }
      },
      "x-services": [
        "centre_directory"
      ]
    },
    "/centres/services/types/{service_type_id}": {
      "get": {
        "summary": "Service type information",
        "description": "Return information about a specific service type",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "default": "1"
          },
          {
            "name": "service_type_id",
            "in": "path",
            "description": "Service type identifier",
            "type": "integer",
            "format": "int64",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Service type information",
            "schema": {
              "$ref": "#/definitions/serviceTypeResponse"
            }
          },
          "404": {
            "description": "Service type not found error",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "patch": {
        "summary": "Update information about a service type.",
        "description": "Update information about a service type.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true
          },
          {
            "name": "service_type_id",
            "in": "path",
            "description": "ID of service to fetch",
            "type": "integer",
            "format": "int64",
            "required": true
          },
          {
            "name": "service_type",
            "in": "body",
            "description": "Payload of data to update a service type",
            "schema": {
              "$ref": "#/definitions/serviceTypePayload"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "description": "Requested service type was not found",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          },
          "422": {
            "description": "Validation error information",
            "schema": {
              "$ref": "#/definitions/ServiceType422Response"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a service type.",
        "description": "Delete a service type.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "default": "1"
          },
          {
            "name": "service_type_id",
            "in": "path",
            "description": "ID of service to delete",
            "type": "integer",
            "format": "int64",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "description": "Requested service type was not found",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "x-services": [
        "centre_directory"
      ]
    },
    "/centres": {
      "get": {
        "summary": "Centres (Index)",
        "description": "Returns all centre data filtered by query parameters",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "description": "Filter by country",
            "type": "string"
          },
          {
            "name": "enabled",
            "in": "query",
            "description": "Filter by enabled (true) or disabled (false) centres. Default is true.",
            "default": true,
            "type": "boolean"
          },
          {
            "name": "max_distance",
            "in": "query",
            "description": "Combined with near_to, determines the distance limit when requesting nearby centres. Default is 30km.",
            "type": "integer"
          },
          {
            "name": "near_to",
            "in": "query",
            "description": "A centre identifier. Returns the three closest centres within max_distance of the specified centre. Result is sorted by distance from the specified centre.",
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by retail (true) or non-retail (false) centres. Default is true.",
            "type": "boolean"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by state",
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of centres",
            "schema": {
              "$ref": "#/definitions/centreListResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Centre (Create)",
        "description": "Create a new centre",
        "parameters": [
          {
            "name": "centre_data",
            "in": "body",
            "description": "Data for a new centre",
            "required": true,
            "schema": {
              "$ref": "#/definitions/centre_new"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the successfully created centre with a response header location field containing the URI",
            "schema": {
              "$ref": "#/definitions/centreCreateResponse"
            },
            "headers": {
              "location": {
                "description": "URI of created centre.",
                "type": "string"
              }
            }
          },
          "422": {
            "description": "Centre was not created. Returns an array of error messages explaining the problems with the provided attributes.",
            "schema": {
              "$ref": "#/definitions/422CentreResponse"
            }
          }
        }
      },
      "x-services": [
        "centre"
      ]
    },
    "/centres/{centre_id}": {
      "get": {
        "summary": "Centre (Show)",
        "description": "Returns data for the specified centre",
        "parameters": [
          {
            "name": "centre_id",
            "in": "path",
            "description": "Centre identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns data for the specifed centre",
            "schema": {
              "$ref": "#/definitions/centreResponse"
            }
          },
          "404": {
            "description": "Centre data specified by centre_id does not exist",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "patch": {
        "summary": "Centre (Update)",
        "description": "Updates supplied data for a centre",
        "parameters": [
          {
            "name": "centre_id",
            "in": "path",
            "description": "Centre identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "centre_data",
            "in": "body",
            "description": "Data to be updated",
            "schema": {
              "$ref": "#/definitions/centre_new"
            },
            "required": true
          },
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully updated the centre. Response is empty."
          },
          "404": {
            "description": "Centre data specified by centre_id does not exist",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          },
          "422": {
            "description": "Centre could not be updated. Returns an array of error messages explaining the problems with the provided attributes.",
            "schema": {
              "$ref": "#/definitions/422CentreResponse"
            }
          }
        }
      },
      "x-services": [
        "centre"
      ]
    },
    "/notices": {
      "get": {
        "summary": "Notices (List)",
        "description": "Returns notices filtered by query parameters",
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "description": "Filter to select active (true) or inactive (false) notices",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "centre_id",
            "in": "query",
            "description": "Filter to select notices for the centre with this identifier",
            "required": false,
            "type": "string"
          },
          {
            "name": "featured",
            "in": "query",
            "description": "Filter to select only featured (true) notices",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of selected notices",
            "schema": {
              "$ref": "#/definitions/noticeListResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Notices (Create)",
        "description": "Create a new notice",
        "parameters": [
          {
            "name": "notice_data",
            "in": "body",
            "description": "Data for a new notice",
            "required": true,
            "schema": {
              "$ref": "#/definitions/notice_new"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the successfully created notice with a response header location field containing the URI",
            "schema": {
              "$ref": "#/definitions/noticeCreateResponse"
            },
            "headers": {
              "location": {
                "description": "URI of created notice.",
                "type": "string"
              }
            }
          },
          "422": {
            "description": "Notice was not created. Returns an array of error messages explaining the problems with the provided attributes",
            "schema": {
              "$ref": "#/definitions/422NoticeResponse"
            }
          }
        }
      },
      "x-services": [
        "centre"
      ]
    },
    "/notices/{notice_id}": {
      "get": {
        "summary": "Notice (Show)",
        "description": "Returns data for the specified notice",
        "parameters": [
          {
            "name": "notice_id",
            "in": "path",
            "description": "Identifier of notice",
            "required": true,
            "type": "integer"
          },
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns data for the specified notice",
            "schema": {
              "$ref": "#/definitions/noticeResponse"
            }
          },
          "404": {
            "description": "Notice data specified by notice_id does not exist",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "patch": {
        "summary": "Notice (Update)",
        "description": "Updates supplied data for a notice",
        "parameters": [
          {
            "name": "notice_id",
            "in": "path",
            "description": "Identifier of notice",
            "required": true,
            "type": "integer"
          },
          {
            "name": "notice_data",
            "in": "body",
            "description": "Payload of data to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/notice_new"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Notice updated successfully. Response is empty."
          },
          "404": {
            "description": "Notice specified by notice_id does not exist",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          },
          "422": {
            "description": "Notice could not be updated. Returns an array of error messages explaining the problems with the provided attributes.",
            "schema": {
              "$ref": "#/definitions/422NoticeResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Notice (Delete)",
        "description": "Delete the speciied notice",
        "parameters": [
          {
            "name": "notice_id",
            "in": "path",
            "description": "Identifier of notice",
            "required": true,
            "type": "integer"
          },
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Notice successfully deleted"
          },
          "404": {
            "description": "Notice specified by notice_id does not exist",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "x-services": [
        "centre"
      ]
    },
    "/centres/parkings": {
      "post": {
        "summary": "Parkings (Create)",
        "description": "Create a centre parking detail",
        "parameters": [
          {
            "name": "parking_data",
            "in": "body",
            "description": "POST payload of data for a new parking record",
            "schema": {
              "$ref": "#/definitions/parking_new"
            },
            "required": true
          },
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the successfully created parking data with a response header location field containing the URI",
            "schema": {
              "$ref": "#/definitions/parkingCreateResponse"
            },
            "headers": {
              "location": {
                "description": "URI of created parking data",
                "type": "string"
              }
            }
          }
        }
      },
      "x-services": [
        "centre"
      ]
    },
    "/centres/parkings/{id}": {
      "get": {
        "summary": "Parking (Show)",
        "description": "Returns parking data for the specified centre",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Centre identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns parking details for the specified centre",
            "schema": {
              "$ref": "#/definitions/parkingResponse"
            }
          },
          "404": {
            "description": "Parking data specified by id does not exist",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "patch": {
        "summary": "Parkings (Update)",
        "description": "Updates the supplied parking data",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Centre identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "parking_data",
            "in": "body",
            "description": "Payload of data to be updated",
            "schema": {
              "$ref": "#/definitions/parking_new"
            },
            "required": true
          },
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Parking data updated successfully. Response is empty."
          },
          "404": {
            "description": "Parking specified by id does not exist",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "x-services": [
        "centre"
      ]
    },
    "/countries": {
      "get": {
        "summary": "List of countries",
        "description": "Returns a list of countries",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of countries",
            "schema": {
              "$ref": "#/definitions/countryListResponse"
            }
          }
        }
      },
      "x-services": [
        "centre"
      ]
    },
    "/states": {
      "get": {
        "summary": "List of state",
        "description": "Returns a list of states",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "description": "Filters states by the given country",
            "required": false,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of selected states.",
            "schema": {
              "$ref": "#/definitions/stateListResponse"
            }
          }
        }
      },
      "x-services": [
        "centre"
      ]
    },
    "/curations": {
      "get": {
        "summary": "List of curations",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API version",
            "required": true,
            "type": "string"
          },
          {
            "name": "code",
            "in": "query",
            "description": "Filter by curation code",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by curation ID",
            "type": "integer"
          },
          {
            "name": "centre_id",
            "in": "query",
            "description": "Filter by centre ID",
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Filter by country",
            "type": "string"
          },
          {
            "name": "current",
            "in": "query",
            "description": "Show only current (non-expired) curations",
            "type": "boolean"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category",
            "type": "string"
          },
          {
            "name": "sub_category",
            "in": "query",
            "description": "Filter by sub-category",
            "type": "string"
          },
          {
            "name": "available_on_or_after",
            "in": "query",
            "description": "Show only curations available from a specified date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the maximum number of results returned.",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Curations index response",
            "schema": {
              "$ref": "#/definitions/curationsListResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Create a new curation",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API version",
            "required": true,
            "type": "string"
          },
          {
            "name": "curation",
            "in": "body",
            "description": "Payload data for creating a new curation",
            "schema": {
              "$ref": "#/definitions/curationPayload"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Information about the new curation.",
            "schema": {
              "$ref": "#/definitions/curationCreateResponse"
            }
          },
          "422": {
            "description": "Unprocessable entity or request",
            "schema": {
              "$ref": "#/definitions/curation422Response"
            }
          }
        }
      },
      "x-services": [
        "collection"
      ]
    },
    "/curations/{curation_id}": {
      "get": {
        "summary": "Find a curation",
        "parameters": [
          {
            "name": "curation_id",
            "in": "path",
            "description": "Curation ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the new curation.",
            "schema": {
              "$ref": "#/definitions/curationResponse"
            }
          },
          "404": {
            "description": "Unprocessable entity or request",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "put": {
        "summary": "Update an existing curation",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API version",
            "required": true,
            "type": "string"
          },
          {
            "name": "curation_id",
            "in": "path",
            "description": "ID of curation to delete",
            "required": true,
            "type": "integer"
          },
          {
            "name": "curation",
            "in": "body",
            "description": "Payload data for updating a curation",
            "schema": {
              "$ref": "#/definitions/curationPayload"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No data"
          },
          "404": {
            "description": "Unprocessable entity or request",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          },
          "422": {
            "description": "Unprocessable entity or request",
            "schema": {
              "$ref": "#/definitions/curation422Response"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a curation",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API version",
            "required": true,
            "type": "string"
          },
          {
            "name": "curation_id",
            "in": "path",
            "description": "ID of curation to delete",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "No data"
          },
          "404": {
            "description": "Unprocessable entity or request",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "x-services": [
        "collection"
      ]
    },
    "/search": {
      "get": {
        "description": "Do a search",
        "operationId": "search",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "term",
            "in": "query",
            "description": "The search term",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return per result type",
            "required": false,
            "default": 5,
            "type": "integer"
          },
          {
            "name": "centre_id",
            "in": "query",
            "description": "Filter by centre_id",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page of results to retrieve",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "How to sort results (product results only)",
            "required": false,
            "type": "string",
            "enum": [
              "price_low_high_sort",
              "price_high_low_sort",
              "store_name_sort",
              "product_name_sort",
              "largest_discount_sort",
              "most_recent_sort"
            ]
          },
          {
            "name": "facets",
            "in": "query",
            "description": "Which facets to filter by, eg country, price",
            "required": false,
            "type": "string"
          },
          {
            "name": "types[]",
            "enum": [
              "stores",
              "events",
              "deals",
              "productcurations",
              "centreservices",
              "centreinformations",
              "storecategories",
              "productbrands",
              "productcategories",
              "retailchains",
              "colours",
              "editorials",
              "products",
              "movies",
              "centredirectories"
            ],
            "in": "query",
            "description": "Which kinds of results to return, eg products, deals",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Search",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SearchResponse"
                  }
                },
                "metadata": {
                  "type": "object"
                },
                "errors": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "x-services": [
        "search"
      ]
    },
    "/events": {
      "get": {
        "summary": "Events happening at centres",
        "description": "Returns a list of all events happening at all centres (or a specific centre).",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API version",
            "type": "string",
            "required": true
          },
          {
            "name": "published",
            "in": "query",
            "description": "Filter by published status",
            "type": "boolean"
          },
          {
            "name": "centre_id",
            "in": "query",
            "description": "Filter by centre",
            "type": "string"
          },
          {
            "name": "featured",
            "in": "query",
            "description": "Filter by featured",
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Return a specific page of results",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Limit the number of results returned per page",
            "type": "integer"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order results by this attribute",
            "type": "string"
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Order results in this direction (asc/desc)",
            "type": "string"
          },
          {
            "name": "deleted",
            "description": "Include deleted events in the response",
            "type": "boolean",
            "in": "query"
          },
          {
            "name": "updated_at",
            "description": "Return events that were updated after the specified date-time (supplied in ISO8601 format)",
            "type": "string",
            "format": "date-time",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "schema": {
              "$ref": "#/definitions/eventsListResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Create a new event",
        "description": "Creates a new event",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API version",
            "type": "string",
            "required": true
          },
          {
            "name": "event_data",
            "in": "body",
            "required": true,
            "description": "Payload of data to create an event",
            "schema": {
              "$ref": "#/definitions/eventCreateParameters"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created event",
            "schema": {
              "$ref": "#/definitions/eventResponse"
            }
          },
          "422": {
            "description": "Unprocessable entity or request",
            "schema": {
              "$ref": "#/definitions/Event422Response"
            }
          }
        }
      },
      "x-services": [
        "event"
      ]
    },
    "/events/{event_id}": {
      "get": {
        "summary": "Get a specific event",
        "description": "Returns information about a specific event.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API version",
            "type": "string",
            "required": true
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "ID of event to get",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Information about requested event.",
            "schema": {
              "$ref": "#/definitions/eventResponse"
            }
          },
          "404": {
            "description": "Event not found",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "put": {
        "summary": "Update an existing event",
        "description": "Updates an existing event",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API version",
            "type": "string",
            "required": true
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "ID of event to update",
            "required": true,
            "type": "integer"
          },
          {
            "name": "event_data",
            "in": "body",
            "required": true,
            "description": "Payload of data to update an event",
            "schema": {
              "$ref": "#/definitions/eventUpdateParameters"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No data"
          },
          "404": {
            "description": "Event not found",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          },
          "422": {
            "description": "Unprocessable entity or request",
            "schema": {
              "$ref": "#/definitions/Event422Response"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an existing event",
        "description": "Deletes an existing event",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API version",
            "type": "string",
            "required": true
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "ID of event to get",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "No data"
          },
          "404": {
            "description": "Event not found",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "x-services": [
        "event"
      ]
    },
    "/centres/{centre_id}/movies": {
      "get": {
        "summary": "Movies available to shoppers in Westfield Centres",
        "description": "Returns a list of all movies available to shoppers in Westfield Centres. Does not return movies which have no currently available sessions.\n",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          },
          {
            "name": "centre_id",
            "description": "Return movies playing in the specified centre",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "date",
            "description": "Return movies playing on a specified date",
            "type": "string",
            "format": "date",
            "in": "query"
          },
          {
            "name": "start_date",
            "description": "Return movies with sessions on or after a specified date",
            "type": "string",
            "format": "date",
            "in": "query"
          },
          {
            "name": "end_date",
            "description": "Return movies with sessions on or before a specified date",
            "type": "string",
            "format": "date",
            "in": "query"
          },
          {
            "name": "deleted",
            "description": "Include deleted movies in response",
            "type": "boolean",
            "in": "query"
          },
          {
            "name": "updated_since",
            "description": "Return movies updated since a specified date and time",
            "type": "string",
            "format": "date-time",
            "in": "query"
          },
          {
            "name": "fields",
            "description": "Specify a list of attributes to be returned. If empty or not supplied, all attributes will be returned",
            "type": "array",
            "items": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of movies and session times",
            "schema": {
              "$ref": "#/definitions/moviesListResponse"
            }
          },
          "404": {
            "description": "Specified centre was not found",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "x-services": [
        "movie"
      ]
    },
    "/centres/{centre_id}/movies/{movie_id}": {
      "get": {
        "summary": "Information about a specific movie",
        "description": "Returns information about a specific movie",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          },
          {
            "name": "centre_id",
            "description": "Return movies playing in the specified centre",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "movie_id",
            "in": "path",
            "description": "Movie ID",
            "type": "integer",
            "format": "int64",
            "required": true
          },
          {
            "name": "start_date",
            "description": "Return movie sessions on or after a specified date",
            "type": "string",
            "format": "date",
            "in": "query"
          },
          {
            "name": "end_date",
            "description": "Return movie sessions on or before a specified date",
            "type": "string",
            "format": "date",
            "in": "query"
          },
          {
            "name": "fields",
            "description": "Specify a list of attributes to be returned. If empty or not supplied, all attributes will be returned",
            "type": "array",
            "items": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Information and session times for the requested movie",
            "schema": {
              "$ref": "#/definitions/movieResponse"
            }
          },
          "404": {
            "description": "Movie or centre was not found",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "x-services": [
        "movie"
      ]
    },
    "/password_resets": {
      "post": {
        "summary": "Initiate an EmailPassword account password reset",
        "description": "Initiate an EmailPassword account password reset",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true,
            "default": "1"
          },
          {
            "name": "email",
            "in": "body",
            "description": "The email address of the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Password reset token",
            "schema": {
              "$ref": "#/definitions/passwordResetTokenResponse"
            }
          },
          "404": {
            "description": "Incorrect email address"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "x-services": [
        "access"
      ]
    },
    "/password_resets/{id}": {
      "put": {
        "summary": "Update an EmailPassword account password",
        "description": "Update an EmailPassword account password",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true,
            "default": "1"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Password reset token",
            "type": "string",
            "required": true
          },
          {
            "name": "password",
            "in": "body",
            "description": "The new password",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password_confirmation",
            "in": "body",
            "description": "The new password again",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Incorrect password reset token"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "x-services": [
        "access"
      ]
    },
    "/people": {
      "get": {
        "summary": "Accounts with access to Westfield APIs",
        "description": "Returns a list of accounts (paginated)",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true,
            "default": "1"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Restricts type of accounts returned.",
            "type": "string",
            "required": false
          },
          {
            "name": "q",
            "in": "query",
            "description": "Searches the accounts after they have been restricted.",
            "type": "string",
            "required": false
          },
          {
            "name": "role",
            "in": "query",
            "description": "Restricts the type of the accounts returned by the role.",
            "type": "string",
            "required": false
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of the matching accounts to return.",
            "type": "integer",
            "required": false
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of accounts per page to return.",
            "type": "integer",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Page with a list of matching accounts",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/Page"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/emptyErrorResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Create an account for a person with a username and a password.",
        "description": "Create an account for a person and returns it if created.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true,
            "default": "1"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewAccount"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created account object",
            "schema": {
              "$ref": "#/definitions/AccountResponse"
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "schema": {
              "$ref": "#/definitions/emptyErrorResponse"
            }
          }
        }
      },
      "x-services": [
        "access"
      ]
    },
    "/people/{uuid}": {
      "get": {
        "summary": "Account for a specified UUID.",
        "description": "Returns a specific account for a UUID.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true,
            "default": "1"
          },
          {
            "name": "uuid",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "type",
            "in": "query",
            "description": "UUID for the account to be returned.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Account for the specified UUID",
            "schema": {
              "$ref": "#/definitions/AccountResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/emptyErrorResponse"
            }
          }
        }
      },
      "put": {
        "summary": "Update an account for a person with a username and a password.",
        "description": "Updates an account for a person and returns it if updated.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "integer",
            "required": true,
            "default": 1
          },
          {
            "name": "uuid",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created account object",
            "schema": {
              "$ref": "#/definitions/AccountResponse"
            }
          },
          "401": {
            "description": "Unprocessable entity",
            "schema": {
              "$ref": "#/definitions/emptyErrorResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Deletes the account and associated data.",
        "description": "Deletes the account and associated data.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true,
            "default": "1"
          },
          {
            "name": "uuid",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Account and associated data deleted"
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/emptyErrorResponse"
            }
          }
        }
      },
      "x-services": [
        "access"
      ]
    },
    "/token": {
      "post": {
        "summary": "Create OAuth token.",
        "description": "If you send the grant type `client_credentials` you must also provide the `client_id` and `client_secret`. If you send the grant type `password` you must also provide the `username` and `password`; you may optionally provide `client_id` and `client_secret`. If you send the grant type as `authorization_code`, you must provide the `client_id` and `client_secret` along with the `code` and `redirect_uri`.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true,
            "default": "1"
          },
          {
            "in": "query",
            "name": "grant_type",
            "type": "string",
            "description": "Grant Type",
            "required": true,
            "enum": [
              "client_credentials",
              "password",
              "authorization_code"
            ]
          },
          {
            "in": "query",
            "name": "client_id",
            "type": "string",
            "description": "OAuth Client ID",
            "required": false
          },
          {
            "in": "query",
            "name": "client_secret",
            "type": "string",
            "description": "OAuth Client Secret",
            "required": false
          },
          {
            "in": "query",
            "name": "username",
            "type": "string",
            "description": "Username",
            "required": false
          },
          {
            "in": "query",
            "name": "password",
            "type": "string",
            "description": "Password",
            "required": false
          },
          {
            "in": "query",
            "name": "redirect_uri",
            "type": "string",
            "description": "the redirect_uri specified when registering the app and in the /authorize call (must match exactly).",
            "required": false
          },
          {
            "in": "query",
            "name": "code",
            "type": "string",
            "description": "The code parameter returned by the /authorize step.",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Token"
            }
          },
          "401": {
            "description": "Authenticate failure"
          }
        }
      },
      "x-services": [
        "access"
      ]
    },
    "/revoke": {
      "post": {
        "summary": "Revoke an OAuth token",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true,
            "default": "1"
          },
          {
            "in": "query",
            "name": "token",
            "type": "string",
            "description": "Access Token string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "x-services": [
        "access"
      ]
    },
    "/token/info": {
      "get": {
        "summary": "Returns Information about an OAuth Access token.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true,
            "default": "1"
          },
          {
            "in": "query",
            "name": "access_token",
            "type": "string",
            "description": "Access token",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns token information.",
            "schema": {
              "$ref": "#/definitions/TokenInfo"
            }
          },
          "401": {
            "description": "The request is missing a required parameter, includes an unsupported parameter value, or is otherwise malformed.",
            "schema": {
              "$ref": "#/definitions/emptyErrorResponse"
            }
          }
        }
      },
      "x-services": [
        "access"
      ]
    },
    "/metadata": {
      "post": {
        "summary": "Create one or more pieces of metadata for a given UUID.",
        "description": "Returns a list of accounts (paginated).",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true,
            "default": "1"
          },
          {
            "name": "metadata",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Metadata"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Page with a list of matching accounts",
            "schema": {
              "$ref": "#/definitions/Metadata"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/emptyErrorResponse"
            }
          }
        }
      },
      "x-services": [
        "access"
      ]
    },
    "/metadata_snapshots/{id}": {
      "get": {
        "summary": "Returns metadata about a specific UUID over time.",
        "description": "Return all metadata for a specific UUID from the first recorded instance until now.\n",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true,
            "default": "1"
          },
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "The upper bound for the interval to collect the snapshot `[t,t'`] where `t` is the first point in time metadata was recorded, and `t'` is the initial snapshot interval. If no interval is provided all of the snapshot information up until the current time is returned.\n",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Page with a list of matching accounts",
            "schema": {
              "$ref": "#/definitions/MetadataSnapshot"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/emptyErrorResponse"
            }
          }
        }
      },
      "x-services": [
        "access"
      ]
    },
    "/metadata_snapshots": {
      "post": {
        "summary": "Returns metadata about a specific UUID over time.",
        "description": "Return all metadata for a UUID from the first recorded instance to now.\n",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true,
            "default": "1"
          },
          {
            "name": "timestamp",
            "description": "The upper bound for the interval to collect the snapshot `[t,t']` where `t` is the first point in time metadata was recorded, and `t'` is the upper bound of the interval. If no upper bound is provided all of the snapshot information up until the current time is returned.\n",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "name": "uuids",
            "description": "Set of UUIDs for requesting metadata snapshots for multiple UUIDs.\n",
            "in": "body",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Page with a list of matching accounts",
            "schema": {
              "$ref": "#/definitions/MetadataSnapshotBulkResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/emptyErrorResponse"
            }
          }
        }
      },
      "x-services": [
        "access"
      ]
    },
    "/deals": {
      "get": {
        "summary": "Returns all deals",
        "description": "Returns a list of all deals available to shoppers in Westfield Centres",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          },
          {
            "name": "version_header",
            "in": "header",
            "description": "API Version",
            "type": "string"
          },
          {
            "name": "all",
            "in": "query",
            "description": "Return all deals",
            "type": "string"
          },
          {
            "name": "centre",
            "description": "Filter by centre code",
            "type": "string",
            "in": "query"
          },
          {
            "name": "retailer",
            "description": "Filter by retailer ID",
            "type": "integer",
            "in": "query"
          },
          {
            "name": "campaign",
            "description": "Filter by campagin ID",
            "type": "integer",
            "in": "query"
          },
          {
            "name": "campaign_code",
            "description": "Filter by campaign code",
            "type": "string",
            "in": "query"
          },
          {
            "name": "featured",
            "description": "Filter by featured",
            "type": "boolean",
            "in": "query"
          },
          {
            "name": "country",
            "description": "Filter by country",
            "type": "string",
            "in": "query"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Return specified page of results",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Limit results per page",
            "type": "integer"
          },
          {
            "name": "fields",
            "description": "Filter the fields of each retailer that are included in the returned data.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of deals",
            "schema": {
              "$ref": "#/definitions/dealsListResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Create a new deal",
        "description": "Creates a new deal",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          },
          {
            "name": "version_header",
            "in": "header",
            "description": "API Version",
            "type": "string"
          },
          {
            "name": "deal_data",
            "in": "body",
            "required": true,
            "description": "Payload of data to create a deal",
            "schema": {
              "$ref": "#/definitions/dealCreateParameters"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created Deal",
            "schema": {
              "$ref": "#/definitions/dealResponse"
            }
          },
          "422": {
            "description": "Unprocessable entity or request",
            "schema": {
              "$ref": "#/definitions/Deal422Response"
            }
          }
        }
      },
      "x-services": [
        "deal"
      ]
    },
    "/deals/{deal_id}": {
      "get": {
        "summary": "Information about a specific deal",
        "description": "Returns information about a specific deal",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          },
          {
            "name": "version_header",
            "in": "header",
            "description": "API Version",
            "type": "string"
          },
          {
            "name": "deal_id",
            "in": "path",
            "description": "ID of deal to fetch",
            "required": true,
            "type": "integer"
          },
          {
            "name": "fields",
            "description": "Filter the fields of each retailer that are included in the returned data.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the requested deal",
            "schema": {
              "$ref": "#/definitions/dealResponse"
            }
          },
          "404": {
            "description": "Deal not found",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "put": {
        "summary": "Update an existing deal",
        "description": "Updates an existing deal",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          },
          {
            "name": "version_header",
            "in": "header",
            "description": "API Version",
            "type": "string"
          },
          {
            "name": "deal_id",
            "in": "path",
            "description": "ID of deal to update",
            "type": "integer",
            "required": true
          },
          {
            "name": "deal_data",
            "in": "body",
            "required": true,
            "description": "Payload of data to update a deal",
            "schema": {
              "$ref": "#/definitions/dealUpdateParameters"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully updated the deal. Response is empty"
          },
          "404": {
            "description": "Deal not found",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          },
          "422": {
            "description": "Unprocessable entity or request",
            "schema": {
              "$ref": "#/definitions/Deal422Response"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an existing deal",
        "description": "Deletes an existing deal",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          },
          {
            "name": "version_header",
            "in": "header",
            "description": "API Version",
            "type": "string"
          },
          {
            "name": "deal_id",
            "in": "path",
            "description": "ID of deal to delete",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "No data"
          },
          "404": {
            "description": "Deal not found",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "x-services": [
        "deal"
      ]
    },
    "/centres/{centre_id}/trading-hours": {
      "get": {
        "summary": "Trading hours for a centre",
        "description": "Returns a list of times the centre is open for trading.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true
          },
          {
            "name": "centre_id",
            "in": "path",
            "required": true,
            "description": "The centre id you'd like the hours for",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of trading hours",
            "schema": {
              "$ref": "#/definitions/centreTradingHoursListResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Create one or more trading hours for a centre",
        "description": "Create one or more trading hours for a centre.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true
          },
          {
            "name": "centre_id",
            "in": "path",
            "description": "The centre ID the trading hours apply to",
            "type": "string"
          },
          {
            "name": "centre_trading_hour_data",
            "in": "body",
            "required": true,
            "description": "Payload of data to create centre trading hours",
            "schema": {
              "$ref": "#/definitions/createCentreHoursParameters"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "List of trading hours",
            "schema": {
              "$ref": "#/definitions/centreTradingHoursListResponse"
            }
          }
        }
      },
      "x-services": [
        "trading_hour"
      ]
    },
    "/centres/{centre_id}/trading-hours/{trading_hour_id}": {
      "delete": {
        "summary": "Delete a centre trading hour",
        "description": "Delete a trading hour for a centre",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true
          },
          {
            "name": "centre_id",
            "in": "path",
            "required": true,
            "description": "The centre this trading hour belongs to",
            "type": "string"
          },
          {
            "name": "trading_hour_id",
            "in": "path",
            "required": true,
            "description": "The trading hour ID to destroy",
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "No data"
          },
          "404": {
            "description": "Requested trading hour was not found",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "x-services": [
        "trading_hour"
      ]
    },
    "/centres/{centre_id}/trading-hours/range": {
      "get": {
        "summary": "Return a list of trading hours for a date range",
        "description": "Return a list of trading hours between a specified date range",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true
          },
          {
            "name": "centre_id",
            "in": "path",
            "required": true,
            "description": "The centre id you'd like the hours for",
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Date you'd like the hours from",
            "type": "string",
            "format": "date"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Date you'd like the hours to",
            "type": "string",
            "format": "date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of trading hours",
            "schema": {
              "$ref": "#/definitions/centreTradingHoursListResponse"
            }
          }
        }
      },
      "x-services": [
        "trading_hour"
      ]
    },
    "/stores/{store_id}/trading-hours": {
      "get": {
        "summary": "Get a list of trading hours for a store",
        "description": "Returns a list of trading hours for a specific store",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true
          },
          {
            "name": "centre_id",
            "in": "query",
            "required": true,
            "description": "The centre ID you'd like the hours for",
            "type": "string"
          },
          {
            "name": "store_id",
            "in": "path",
            "required": true,
            "description": "The store ID you'd like the hours for",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the requested trading hour",
            "schema": {
              "$ref": "#/definitions/storeTradingHoursListResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Create one or more store trading hours",
        "description": "Create one or more trading hours for a specific store",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true
          },
          {
            "name": "store_id",
            "in": "path",
            "required": true,
            "description": "The store ID you'd like the hours for",
            "type": "string"
          },
          {
            "name": "centre_trading_hour_data",
            "in": "body",
            "required": true,
            "description": "Payload of data to create store trading hours",
            "schema": {
              "$ref": "#/definitions/createStoreHoursParameters"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Information about the requested trading hour",
            "schema": {
              "$ref": "#/definitions/storeTradingHoursListResponse"
            }
          },
          "422": {
            "description": "Trading hour was not valid",
            "schema": {
              "$ref": "#/definitions/tradingHour422Response"
            }
          }
        }
      },
      "x-services": [
        "trading_hour"
      ]
    },
    "/stores/{store_id}/trading-hours/{trading_hour_id}": {
      "delete": {
        "summary": "Destroy a store trading hour",
        "description": "Destroy a specific trading hour for a store",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true
          },
          {
            "name": "trading_hour_id",
            "in": "path",
            "required": true,
            "description": "The trading hour ID to destroy",
            "type": "integer"
          },
          {
            "name": "store_id",
            "in": "path",
            "required": true,
            "description": "The store this trading hour belongs to",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No data"
          },
          "404": {
            "description": "Requested store was not found",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "x-services": [
        "trading_hour"
      ]
    },
    "/stores/{store_id}/trading-hours/range": {
      "get": {
        "summary": "Get a range of store trading hours",
        "description": "Returns a list of store trading hours between a specified date range",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string",
            "required": true
          },
          {
            "name": "centre_id",
            "in": "query",
            "required": true,
            "description": "The centre id you'd like the hours for",
            "type": "string"
          },
          {
            "name": "store_id",
            "in": "path",
            "required": true,
            "description": "The store ID you'd like the hours for",
            "type": "integer"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Date you'd like the hours from",
            "type": "string",
            "format": "date"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Date you'd like the hours to",
            "type": "string",
            "format": "date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of store trading hours",
            "schema": {
              "$ref": "#/definitions/storeTradingHoursListResponse"
            }
          }
        }
      },
      "x-services": [
        "trading_hour"
      ]
    },
    "/products/{product_uuid}": {
      "get": {
        "summary": "Information about a specific product",
        "description": "Returns information about a specific product",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version of the API",
            "type": "string"
          },
          {
            "name": "version_header",
            "in": "header",
            "description": "API Version",
            "type": "string",
            "required": true
          },
          {
            "name": "product_uuid",
            "in": "path",
            "description": "UUID of product to fetch",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the requested <object>",
            "schema": {
              "$ref": "#/definitions/productResponse"
            }
          }
        }
      },
      "x-services": [
        "consumption"
      ]
    },
    "/retailers": {
      "get": {
        "summary": "Returns a list of retailers",
        "description": "Returns a list of retailers operating in Westfield Centres filtered by query parameters.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          },
          {
            "name": "campaign_id",
            "description": "Filter to retailers that are part of any campaign (true) or that are part of a specific campaign (integer ID).",
            "type": "integer",
            "in": "query"
          },
          {
            "name": "category_id",
            "description": "Filter to retailers that belong to the category with the specified ID.",
            "type": "integer",
            "in": "query"
          },
          {
            "name": "centre",
            "description": "Filter to retailers that have stores in the centre.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "country",
            "description": "Filter to retailers that have stores in the country.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "fields",
            "description": "Filter the fields of each retailer that are included in the returned data.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "id",
            "description": "Filter to the retailer with the first ID in the list.",
            "type": "array",
            "items": {
              "type": "integer"
            },
            "collectionFormat": "csv",
            "in": "query"
          },
          {
            "name": "name",
            "description": "Filter to the retailers matching the name. Partial matching is supported with wildcards.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "page",
            "description": "When per_page is specified returns page X.",
            "type": "integer",
            "default": 1,
            "in": "query"
          },
          {
            "name": "per_page",
            "description": "Limit the list of retailers to X items.",
            "type": "integer",
            "default": 50,
            "maximum": 500,
            "in": "query"
          },
          {
            "name": "product_upload_enabled",
            "description": "Filter the list of retailers by product upload enabled (true) or don't filter (false).",
            "type": "boolean",
            "default": false,
            "in": "query"
          },
          {
            "name": "q",
            "description": "Filter the list of retailers based on partial match of name or retailer code.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "retailer_code",
            "description": "Filter to the retailers with the specified codes.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "in": "query"
          },
          {
            "name": "deleted_at",
            "description": "Filter retailer to show deleted records.",
            "type": "boolean",
            "default": false,
            "in": "query"
          },
          {
            "name": "updated_since",
            "description": "Filter the retailers to show only those that have been updated since the given date-time.",
            "type": "string",
            "format": "date-time",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of retailers",
            "schema": {
              "$ref": "#/definitions/retailersListResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Creates a retailer",
        "description": "Creates a retailer operating in Westfield Centres and returns it.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          },
          {
            "name": "retailer_data",
            "in": "body",
            "description": "Payload of data to create a retailer.",
            "schema": {
              "$ref": "#/definitions/retailerCreateParameters"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Details of the newly created retailer",
            "schema": {
              "$ref": "#/definitions/retailerResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/401Response"
            }
          },
          "422": {
            "description": "Retailer is invalid",
            "schema": {
              "$ref": "#/definitions/Retailer422Response"
            }
          }
        }
      },
      "x-services": [
        "store"
      ]
    },
    "/retailers/{retailer_code}": {
      "get": {
        "summary": "Returns a specific retailer",
        "description": "Returns a specific retailer operating in Westfield Centres specified by ID.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          },
          {
            "name": "retailer_code",
            "description": "Unique code for the retailer",
            "required": true,
            "type": "string",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Retailer's details",
            "schema": {
              "$ref": "#/definitions/retailerResponse"
            }
          },
          "404": {
            "description": "Retailer not found",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "patch": {
        "summary": "Updates an existing retailer",
        "description": "Updates an existing retailer operating in Westfield Centres and returns it.",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "API Version",
            "type": "string",
            "required": true
          },
          {
            "name": "retailer_code",
            "description": "retailer code",
            "required": true,
            "type": "string",
            "in": "path"
          },
          {
            "name": "retailer_data",
            "in": "body",
[...]
