{
	"swagger": "2.0",
	"info": {
		"title": "Hearst Author Search",
		"description": "A read-only service for the retrieval of Author content from the Hearst Magazines Content Management System. Contains a list of parameters and sample responses.",
		"termsOfService": "Whether or not to return a total number of records in the response or not. Values are 1 or 0.",
		"version": "v1"
	},
	"host": "api.hearstdigital.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"Article/search": {
			"get": {
				"summary": "Article Search",
				"description": " read-only service for the retrieval of magazine and website content from the Hearst Magazines Content Management System. Contains a list of parameters and sample responses.",
				"operationId": "",
				"parameters": [
					{
						"name": "ad_category_id",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "article_category_id",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "article_section_id",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "article_type_id",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "id",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "keywords",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "pages",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "print_issue_date",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "publish_date_begin",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "shape",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "site_id",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "start",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "title",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "total",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "url_name",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_callback",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_pretty",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" articles"
				]
			}
		},
		"AdCategory/search": {
			"get": {
				"summary": "Search Ad Categories",
				"description": "A read-only service for the retrieval of Ad Category content from the Hearst Magazines Content Management System.",
				"operationId": "",
				"parameters": [
					{
						"name": "article_id",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "id",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "organization_id",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "parent_id",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "prefix",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "site_id",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "start",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "total",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "_callback",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_pretty",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" category"
				]
			}
		},
		"ArticleSection/search": {
			"get": {
				"summary": "Article Section Search",
				"description": "A read-only service for the retrieval of Article Section content from the Hearst Magazines Content Management System. Contains a list of parameters and sample responses.",
				"operationId": "",
				"parameters": [
					{
						"name": "description",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "full_name",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "full_path",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "id",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "keywords",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "parent_id",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "prefix",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "site_id",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "start",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "total",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "_callback",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_pretty",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" article",
					" sections"
				]
			}
		},
		"ArticleImage/search": {
			"get": {
				"summary": "Article Image Search",
				"description": "A read-only service for the retrieval of Article Image content from the Hearst Magazines Content Management System. Contains a list of parameters and sample responses.",
				"operationId": "",
				"parameters": [
					{
						"name": "caption",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "description",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "id",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "keywords",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "shape",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "site_id",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "start",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "total",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "_callback",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_pretty",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" articles",
					" images"
				]
			}
		},
		"ArticleType/search": {
			"get": {
				"summary": "Article Type Search",
				"description": "A read-only service for the retrieval of Article Type content from the Hearst Magazines Content Management System. Contains a list of parameters and sample responses.",
				"operationId": "",
				"parameters": [
					{
						"name": "dtd",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "id",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "organization_id",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "site_id",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "start",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "total",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "_callback",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_pretty",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"article",
					" type"
				]
			}
		},
		"Author/search": {
			"get": {
				"summary": "Author Search",
				"description": "A read-only service for the retrieval of Author content from the Hearst Magazines Content Management System. Contains a list of parameters and sample responses.",
				"operationId": "",
				"parameters": [
					{
						"name": "email",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "first_name",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "id",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "last_name",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "nick_name",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "organization_id",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "site_id",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "start",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "title",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "total",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					},
					{
						"name": "_callback",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_pretty",
						"in": "query",
						"description": "",
						"type": "integer",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" author"
				]
			}
		}
	}
}