{
	"swagger": "2.0",
	"info": {
		"title": "Deck of Cards",
		"description": "An API to simulate a deck of cards",
		"termsOfService": "https://github.com/crobertsbmw/deckofcards/blob/master/LICENSE.txt",
		"version": "v1"
	},
	"host": "deckofcardsapi.com",
	"basePath": "/api/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/draw/{deck_id}/": {
			"get": {
				"summary": "Draw a Card",
				"description": "The count variable defines how many cards to draw from the deck. Be sure to replace deck_id with a valid deck_id. We use the deck_id as an identifier so we know who is playing with what deck. After two weeks, if no actions have been made on the deck then we throw it away.",
				"operationId": "draw-card",
				"parameters": [
					{
						"name": "deck_id",
						"in": "path",
						"description": "The id of the deck.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Card",
					" Deck",
					" Draw"
				]
			}
		},
		"/shuffle/": {
			"get": {
				"summary": "Shuffle Deck",
				"description": "Add deck_count as a GET or POST parameter to define the number of Decks you want to use. Blackjack typically uses 6 decks. The default is 1.",
				"operationId": "shuffle-deck",
				"parameters": [
					{
						"name": "deck_count",
						"in": "query",
						"description": "The deck count.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Shuffle",
					" Cards"
				]
			}
		},
		"/shuffle/{deck_id}/": {
			"get": {
				"summary": "Shuffle Deck",
				"description": "Don't throw away a deck when all you want to do is shuffle. Include the deck_id on your call to shuffle your cards. Don't worry about reminding us how many decks you are playing with.",
				"operationId": "shuffle-deck",
				"parameters": [
					{
						"name": "deck_id",
						"in": "path",
						"description": "The id of the deck.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Card",
					" Deck",
					" Shuffle"
				]
			}
		}
	},
	"definitions": {
	}
}