{
	"swagger": "2.0",
	"info": {
		"title": "MetaFull Web Metadata API",
		"description": "Convert web pages into meaningful metadata. Use the tools and languages you know to access the Metafull API at scale.",
		"termsOfService": null,
		"version": "v1.1"
	},
	"host": "api.metafull.com",
	"basePath": "/api/v1",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/metadata": {
			"get": {
				"summary": "Get Metadata",
				"description": "The metadata api is a tool to extract the topics, author, content sentiment and readable summary for any link.",
				"operationId": "",
				"parameters": [
					{
						"name": "apiKey",
						"in": "query",
						"description": "License key ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "url",
						"in": "query",
						"description": "The URL to analyze and return metadata on.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Metadata"
				]
			}
		},
		"/sentiment": {
			"get": {
				"summary": "Sentiment Analysis",
				"description": "The sentiment analysis api is a tool to determine the overall negative or positive sentiment in a text string.",
				"operationId": "",
				"parameters": [
					{
						"name": "apiKey",
						"in": "query",
						"description": "License key ",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Sentiment"
				]
			}
		},
		"/shared": {
			"get": {
				"summary": "Social Shares",
				"description": "The social shares api is used to get a page link's popularity on social networks like Facebook and Twitter.",
				"operationId": "",
				"parameters": [
					{
						"name": "apiKey",
						"in": "query",
						"description": "License key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "url",
						"in": "query",
						"description": "The URL to analyze for social network activity.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Shared"
				]
			}
		},
		"/tags": {
			"get": {
				"summary": "Get Tags",
				"description": "The topic extraction api is a tool to find, extract and categorize all the topics in a text string.",
				"operationId": "",
				"parameters": [
					{
						"name": "apiKey",
						"in": "query",
						"description": "License key ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "text",
						"in": "query",
						"description": "Text string to analyze. (Note use POST for text strings greater than 2k.)",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Tags"
				]
			}
		}
	}
}