{
	"swagger": "2.0",
	"info": {
		"title": "SpeakerText",
		"description": "SpeakerText's transcription services may be accessed through a RESTful API. It is possible to initiate transcription and receive transcription results through the API. Anyone with a SpeakerText account can use the API.",
		"termsOfService": "http://speakertext.com/tos",
		"version": "v1"
	},
	"host": "api.speakertext.com",
	"basePath": "/v1",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/transcripts": {
			"post": {
				"summary": "Iniate Transcript",
				"description": "This method is used to initiate one or more SpeakerText transcriptions.",
				"operationId": "",
				"parameters": [
					{
						"name": "pingback_url",
						"in": "query",
						"description": "If present, we will make a POST request to this URL upon transcript completion. The body of the request will have three keys: transcript_id (SpeakerTexts transcript id), ref_id (the media reference id or video id you specified in the original POST), and content (the HTML transcript for CaptionBox).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sources",
						"in": "query",
						"description": "(JSON) single source object or array of source objects",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					},
					"400": {
						"description": "Bad Request"
					},
					"401": {
						"description": "Unauthorized"
					},
					"402": {
						"description": "Payment Required"
					},
					"500": {
						"description": "Internal Server Error"
					}
				},
				"tags": [
					"Transcripts"
				]
			}
		},
		"/transcripts/{id}": {
			"get": {
				"summary": "Retrieve Transcription",
				"description": "This method is used to retrieve the results of SpeakerText transcriptions.",
				"operationId": "",
				"parameters": [
					{
						"name": "format",
						"in": "query",
						"description": "dfxp, srt, txt, xml, or html (for CaptionBox). When not specified, defaults to txt. Case-insensitive.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "id",
						"in": "query",
						"description": "Transcript ID returned to you upon transcript creation",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"201": {
						"description": "Created"
					},
					"400": {
						"description": "Bad Request"
					},
					"401": {
						"description": "Unauthorized"
					},
					"402": {
						"description": "Payment Required"
					},
					"500": {
						"description": "Internal Server Error"
					}
				},
				"tags": [
					"Transcrips"
				]
			}
		}
	}
}