{
	"swagger": "2.0",
	"info": {
		"title": "Next Caller API",
		"description": "Next Calleru2019s RESTful API is designed to allow your business the ability to identify unknown callers with our Advanced Caller IDu2122 service.",
		"termsOfService": "https://dev.nextcaller.com/terms/",
		"version": "v2"
	},
	"host": "api.nextcaller.com",
	"basePath": "/v2",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/{version}/records/": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "",
				"parameters": [
					{
						"name": "format",
						"in": "query",
						"description": "Specifies a format of response: JSON or XML.",
						"type": "string"
					},
					{
						"name": "phone",
						"in": "query",
						"description": "Specifies the callers phone number.",
						"type": "long"
					},
					{
						"name": "version",
						"in": "query",
						"description": "Specifies a api version.",
						"type": "string"
					},
					{
						"name": "version",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/{version}/users/{nextcaller_id}/": {
			"post": {
				"summary": "Get Profile",
				"description": "Get Profile",
				"operationId": "get-profile",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "Specifies a format of response: JSON or XML.",
						"type": "string"
					},
					{
						"name": "nextcaller_id",
						"in": "query",
						"description": "The ID of the user whose profile you wish to edit",
						"type": "string"
					},
					{
						"name": "nextcaller_id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "version",
						"in": "query",
						"description": "Specifies a api version.",
						"type": "string"
					},
					{
						"name": "version",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}