{
	"swagger": "2.0",
	"info": {
		"title": "Mailgun API",
		"description": "Powerful APIs that allow you to send, receive and track email effortlessly.",
		"termsOfService": null,
		"version": "v2"
	},
	"host": "api.mailgun.net",
	"basePath": "v2/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"bounces/": {
			"post": {
				"summary": "Add Bounce",
				"description": "Adds a permanent bounce to the bounces table. Updates the existing record if already here.",
				"operationId": "",
				"parameters": [
					{
						"name": "address",
						"in": "query",
						"description": "Email address to add to bounce list.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "code",
						"in": "query",
						"description": "Error code (default 550)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "error",
						"in": "query",
						"description": "Error description, (default is empty)",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"bounces/{address}": {
			"get": {
				"summary": "Bounce",
				"description": "Fetches a single bounce event by a given email address. This is useful to check if a given email address has bounced before.",
				"operationId": "",
				"parameters": [
					{
						"name": "address",
						"in": "path",
						"description": "The email address to get bounce request for.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"complaints/": {
			"post": {
				"summary": "Add Complaint",
				"description": "Adds an address to the complaints table.",
				"operationId": "",
				"parameters": [
					{
						"name": "address",
						"in": "query",
						"description": "Email address to add to the complaint list.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"complaints/{address}": {
			"get": {
				"summary": "Complaint",
				"description": "Fetches a single spam complaint by a given email address. This is useful to check if a particular user has complained.",
				"operationId": "",
				"parameters": [
					{
						"name": "address",
						"in": "query",
						"description": "Email address of the complaint to get.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"lists": {
			"post": {
				"summary": "Create List",
				"description": "Creates a new mailing list.",
				"operationId": "",
				"parameters": [
					{
						"name": "access_level",
						"in": "query",
						"description": "List access level, one of: readonly (default), members, everyone",
						"type": "string",
						"format": "string"
					},
					{
						"name": "address",
						"in": "query",
						"description": "A valid email address for the mailing list, e.g. developers@mailgun.net, or Developers ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "description",
						"in": "query",
						"description": "A description",
						"type": "string",
						"format": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "Mailing list name, e.g. Developers (optional)",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"lists/": {
			"get": {
				"summary": "Lists",
				"description": "Returns a list of mailing lists under your account.",
				"operationId": "",
				"parameters": [
					{
						"name": "access_level",
						"in": "query",
						"description": "List access level, one of: readonly (default), members, everyone",
						"type": "string",
						"format": "string"
					},
					{
						"name": "address",
						"in": "query",
						"description": "Find a mailing list by itu2019s address (optional)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "description",
						"in": "query",
						"description": "Description string",
						"type": "string",
						"format": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Maximum number of records to return (100 by default)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "namespace_id",
						"in": "query",
						"description": "New name, e.g. My newsletter (",
						"type": "string",
						"format": "string"
					},
					{
						"name": "skip",
						"in": "query",
						"description": "Records to skip (0 by default)",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"lists/{address}": {
			"put": {
				"summary": "Update List",
				"description": "Update mailing list properties, such as address, description or name",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"lists/{address}/members": {
			"get": {
				"summary": "Add To List",
				"description": "Adds a member to the mailing list.",
				"operationId": "",
				"parameters": [
					{
						"name": "address",
						"in": "query",
						"description": "Valid email address specification, e.g. Alice  or just alice@example.com",
						"type": "string",
						"format": "string"
					},
					{
						"name": "Name",
						"in": "query",
						"description": "Optional member name",
						"type": "string",
						"format": "string"
					},
					{
						"name": "subscribed",
						"in": "query",
						"description": "yes to add as subscribed (default), no as unsubscribed",
						"type": "string",
						"format": "string"
					},
					{
						"name": "upsert",
						"in": "query",
						"description": "yes to update member if present, no to raise error in case of a duplicate member (default)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "vars",
						"in": "query",
						"description": "JSON-encoded dictionary string with arbitrary parameters, e.g. {gender:female,age:27}",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"lists/{address}/members/": {
			"get": {
				"summary": "List Members",
				"description": "Fetches the list of mailing list members.",
				"operationId": "",
				"parameters": [
					{
						"name": "limit",
						"in": "query",
						"description": "Maximum number of records to return (100 by default)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "skip",
						"in": "query",
						"description": "Records to skip (0 by default)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "subscribed",
						"in": "query",
						"description": "yes to list subscribed, no for unsubscribed, list all if not set",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"lists/{address}/members/{member_address}": {
			"get": {
				"summary": "List Member",
				"description": "Retrieves a mailing list member.",
				"operationId": "",
				"parameters": [
					{
						"name": "address",
						"in": "query",
						"description": "Email address of commenter.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "member_address",
						"in": "query",
						"description": "Email address on the list.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages.mime": {
			"post": {
				"summary": "Posts Mime Message",
				"description": "Posts a message in MIME format. Note: you will need to build a MIME string yourself. Use a MIME library for your programming language to do this. Pass the resulting MIME string as message parameter.",
				"operationId": "",
				"parameters": [
					{
						"name": "h:X-My-Header",
						"in": "query",
						"description": "h: prefix followed by an arbitrary value allows to appendna custom MIME header to the message (X-My-Headernin this case). For example, h:Reply-To to specify Reply-Tonaddress.",
						"type": "string"
					},
					{
						"name": "message",
						"in": "query",
						"description": "MIME string of the message. Make sure to usenmultipart/form-data to send this as a file upload.",
						"type": "string"
					},
					{
						"name": "o:campaign",
						"in": "query",
						"description": "Id of the campaign the message belongs to. SeenCampaign Analytics for details.",
						"type": "string"
					},
					{
						"name": "o:deliverytime",
						"in": "query",
						"description": "Desired time of delivery. See Date Format. Note:nMessages can be scheduled for a maximum of 3 days in thenfuture.",
						"type": "string"
					},
					{
						"name": "o:dkim",
						"in": "query",
						"description": "Enables/disabled DKIM signatures on per-message basis.nPass yes or no",
						"type": "string"
					},
					{
						"name": "o:tag",
						"in": "query",
						"description": "Tag string. See Tagging for more information.",
						"type": "string"
					},
					{
						"name": "o:testmode",
						"in": "query",
						"description": "Enables sending in test mode. Pass yes if needed.nSee Sending in Test Mode",
						"type": "string"
					},
					{
						"name": "o:tracking",
						"in": "query",
						"description": "Toggles tracking on a per-message basis, seenTracking Messages for details. Pass yes or no.",
						"type": "string"
					},
					{
						"name": "o:tracking-clicks",
						"in": "query",
						"description": "Toggles clicks tracking on a per-message basis. Has highernpriority than domain-level setting. Pass yes, nonor htmlonly.",
						"type": "string"
					},
					{
						"name": "o:tracking-opens",
						"in": "query",
						"description": "Toggles opens tracking on a per-message basis. Has highernpriority than domain-level setting. Pass yes or no.",
						"type": "string"
					},
					{
						"name": "to",
						"in": "query",
						"description": "Email address of the recipient(s).nExample: &quot;Bob &lt;bob&#64;host.com&gt;&quot;. You can use commas tonseparate multiple recipients.nMake sure to include all To, Cc and Bccnrecipients of the message.",
						"type": "string"
					},
					{
						"name": "v:my-var",
						"in": "query",
						"description": "v: prefix followed by an arbitrary name allows tonattach a custom JSON data to the message.nSee Attaching Data to Messages for more information.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/": {
			"post": {
				"summary": "Send Message",
				"description": "Sends a message by assembling it from the components. Note that you can specify most parameters multiple times, HTTP supports this out of the box. This makes sense for parameters like cc, to or attachment.",
				"operationId": "",
				"parameters": [
					{
						"name": "attachment",
						"in": "query",
						"description": "File attachment. You can post multiple attachmentnvalues. Important: You must use multipart/form-datanencoding when sending attachments.",
						"type": "string"
					},
					{
						"name": "bcc",
						"in": "query",
						"description": "Same as To but for Bcc",
						"type": "string"
					},
					{
						"name": "cc",
						"in": "query",
						"description": "Same as To but for Cc",
						"type": "string"
					},
					{
						"name": "from",
						"in": "query",
						"description": "Email address for From header",
						"type": "string"
					},
					{
						"name": "h:X-My-Header",
						"in": "query",
						"description": "h: prefix followed by an arbitrary value allows to appendna custom MIME header to the message (X-My-Headernin this case). For example, h:Reply-To to specify Reply-Tonaddress.",
						"type": "string"
					},
					{
						"name": "html",
						"in": "query",
						"description": "Body of the message. (HTML version)",
						"type": "string"
					},
					{
						"name": "inline",
						"in": "query",
						"description": "Attachment with inline disposition. Can be used tonsend inline images (see example).nYou can post multiple inline values.",
						"type": "string"
					},
					{
						"name": "o:campaign",
						"in": "query",
						"description": "Id of the campaign the message belongs to. SeenCampaign Analytics for details.",
						"type": "string"
					},
					{
						"name": "o:deliverytime",
						"in": "query",
						"description": "Desired time of delivery. See Date Format. Note:nMessages can be scheduled for a maximum of 3 days in thenfuture.",
						"type": "string"
					},
					{
						"name": "o:dkim",
						"in": "query",
						"description": "Enables/disables DKIM signatures on per-message basis.nPass yes or no",
						"type": "string"
					},
					{
						"name": "o:tag",
						"in": "query",
						"description": "Tag string. See Tagging for more information.",
						"type": "string"
					},
					{
						"name": "o:testmode",
						"in": "query",
						"description": "Enables sending in test mode. Pass yes if needed.nSee Sending in Test Mode",
						"type": "string"
					},
					{
						"name": "o:tracking",
						"in": "query",
						"description": "Toggles tracking on a per-message basis, seenTracking Messages for details. Pass yes or no.",
						"type": "string"
					},
					{
						"name": "o:tracking-clicks",
						"in": "query",
						"description": "Toggles clicks tracking on a per-message basis. Has highernpriority than domain-level setting. Pass yes, nonor htmlonly.",
						"type": "string"
					},
					{
						"name": "o:tracking-opens",
						"in": "query",
						"description": "Toggles opens tracking on a per-message basis. Has highernpriority than domain-level setting. Pass yes or no.",
						"type": "string"
					},
					{
						"name": "subject",
						"in": "query",
						"description": "Message subject",
						"type": "string"
					},
					{
						"name": "text",
						"in": "query",
						"description": "Body of the message. (text version)",
						"type": "string"
					},
					{
						"name": "to",
						"in": "query",
						"description": "Email address of the recipient(s).nExample: &quot;Bob &lt;bob&#64;host.com&gt;&quot;. You can use commas tonseparate multiple recipients.",
						"type": "string"
					},
					{
						"name": "v:my-var",
						"in": "query",
						"description": "v: prefix followed by an arbitrary name allows tonattach a custom JSON data to the message.nSee Attaching Data to Messages for more information.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/{id}": {
			"get": {
				"summary": "Message",
				"description": "Gets a message.",
				"operationId": "",
				"parameters": [
					{
						"name": "id",
						"in": "query",
						"description": "ID of the message.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"routes/": {
			"post": {
				"summary": "Add Route",
				"description": "Creates a new route.",
				"operationId": "",
				"parameters": [
					{
						"name": "action",
						"in": "query",
						"description": "Route action. This action is executed when the expression evaluates to True. Example: forward(alice@example.com) You can pass multiple action parameters.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "description",
						"in": "query",
						"description": "An arbitrary string.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "expression",
						"in": "query",
						"description": "A filter expression like match_recipient(.*@gmail.com)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "priority",
						"in": "query",
						"description": "Integer: smaller number indicates higher priority. Higher priority routes are handled first. Defaults to 0.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"routes/{id}": {
			"put": {
				"summary": "Updates Route",
				"description": "Updates a given route by ID. ",
				"operationId": "",
				"parameters": [
					{
						"name": "action",
						"in": "query",
						"description": "Route action. This action is executed when the expression evaluates to True. Example: forward(alice@example.com) You can pass multiple action parameters.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "description",
						"in": "query",
						"description": "An arbitrary string.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "expression",
						"in": "query",
						"description": "A filter expression like match_recipient(.*@gmail.com)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "ID of the route.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "priority",
						"in": "query",
						"description": "Integer: smaller number indicates higher priority. Higher priority routes are handled first.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"stats/": {
			"get": {
				"summary": "Stats",
				"description": "Returns a list of event stat items. Each record represents counts for one event per one day.",
				"operationId": "",
				"parameters": [
					{
						"name": "event",
						"in": "query",
						"description": "Name of the event to receive the stats for. Note that you can specify this parameter multiple times to fetch stats for several events at the same time (see example below)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Maximum number of records to return. (100 by default)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "skip",
						"in": "query",
						"description": "Number of records to skip. (0 by default)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "start-date",
						"in": "query",
						"description": "The date to receive the stats starting from. Should have ISO8601 format (YYYY-MM-DD).",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"tags/{tag}": {
			"delete": {
				"summary": "Delete Tag",
				"description": "Deletes all counters for particular tag and the tag itself.",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"unsubscribes/": {
			"post": {
				"summary": "Add to unsubscribe list.",
				"description": "Adds address to unsubscribed table.",
				"operationId": "",
				"parameters": [
					{
						"name": "address",
						"in": "query",
						"description": "The address to add to unsubscribe list.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Tag to unsubscribe from, use * to unsubscribe address from domain",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"unsubscribes/{address}": {
			"get": {
				"summary": "Unsubscribe",
				"description": "Retreives a single unsubscribe record. Can be used to check if a given address is present in the list of unsubscribed users.",
				"operationId": "",
				"parameters": [
					{
						"name": "address",
						"in": "query",
						"description": "The email address of the person on the unsubscribe list.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		}
	}
}