{
	"swagger": "2.0",
	"info": {
		"title": "Ge.tt  REST API",
		"description": "The Ge.tt API allows you to use Ge.tt in your own applications. We believe that our users should be able to access their files and share their content in their platform of choice. By using the API, developers are able to easily put their own content, or the content of their users online. At the same time they are able to use Ge.tt's unique real-time file sharing technology where files are available before they are even uploaded.",
		"termsOfService": "http://ge.tt/terms",
		"version": "1"
	},
	"host": "open.ge.tt",
	"basePath": "/1",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/1/files/{sharename}/create": {
			"post": {
				"summary": "Files Create",
				"description": "To upload files to Ge.tt you must first create the file under a given share. You do that by posting the filename:",
				"operationId": "files-create",
				"parameters": [
					{
						"name": "accesstoken",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "sharename",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/1/files/{sharename}/{fileid}": {
			"get": {
				"summary": "Files",
				"description": "Get the state of a file. This returns the following data:",
				"operationId": "files-",
				"parameters": [
					{
						"name": "fileid",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "sharename",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/1/files/{sharename}/{fileid}/blob": {
			"get": {
				"summary": "Files  Blob",
				"description": "Will redirect to the binary content of the file",
				"operationId": "files--blob",
				"parameters": [
					{
						"name": "fileid",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "sharename",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/1/files/{sharename}/{fileid}/blob/thumb": {
			"get": {
				"summary": "Files  Blob Thumb",
				"description": "Will redirect to a thumbnail of the binary file. Currently only available for images.",
				"operationId": "files--blob-thumb",
				"parameters": [
					{
						"name": "fileid",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "sharename",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/1/files/{sharename}/{fileid}/destroy": {
			"post": {
				"summary": "Files  Destroy",
				"description": "Delete a file and the binary contents.",
				"operationId": "files--destroy",
				"parameters": [
					{
						"name": "accesstoken",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "fileid",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "sharename",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/1/files/{sharename}/{fileid}/upload": {
			"get": {
				"summary": "Files  Upload",
				"description": "Get upload urls to the file. This returns a new PUT and POST url for you to upload the file to.nOBS You can also choose to use the put- or posturl that you were previously given to override the file.",
				"operationId": "files--upload",
				"parameters": [
					{
						"name": "accesstoken",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "fileid",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "sharename",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/1/shares": {
			"get": {
				"summary": "Shares",
				"description": "Returns all your shares and the containing files:",
				"operationId": "shares",
				"parameters": [
					{
						"name": "accesstoken",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/1/shares/create": {
			"post": {
				"summary": "Shares Create",
				"description": "Creates a new share. The request body is optional but can look like:",
				"operationId": "shares-create",
				"parameters": [
					{
						"name": "accesstoken",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/1/shares/{sharename}": {
			"get": {
				"summary": "Shares",
				"description": "Lists a share.",
				"operationId": "shares-",
				"parameters": [
					{
						"name": "sharename",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/1/shares/{sharename}/destroy": {
			"post": {
				"summary": "Shares Destroy",
				"description": "Delete a share and all of its files.",
				"operationId": "shares-destroy",
				"parameters": [
					{
						"name": "accesstoken",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "sharename",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/1/shares/{sharename}/update": {
			"post": {
				"summary": "Shares Update",
				"description": "Updates a share. Currently you can only update the title",
				"operationId": "shares-update",
				"parameters": [
					{
						"name": "accesstoken",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "sharename",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/1/users/login": {
			"post": {
				"summary": "Users Login",
				"description": "The API is based on oauth with an xauth handshake. The request body looks like this:",
				"operationId": "users-login",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/1/users/me": {
			"get": {
				"summary": "Users Me",
				"description": "Returns your user information:",
				"operationId": "users-me",
				"parameters": [
					{
						"name": "accesstoken",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}