{
	"swagger": "2.0",
	"info": {
		"title": "Pivotal Tracker API",
		"description": "Tracker provides an API that can be used to create, retrieve, update, and delete virtually all of the resources stored and manipulated by the system.",
		"termsOfService": null,
		"version": null
	},
	"host": "www.pivotaltracker.com",
	"basePath": "/services/v3",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/activities": {
			"get": {
				"summary": "activities",
				"description": "activities",
				"operationId": "activities",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/projects": {
			"post": {
				"summary": "projects (POST)",
				"description": "projects (POST)",
				"operationId": "projects-post",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/projects/{PROJECT_ID}": {
			"get": {
				"summary": "projects/{PROJECT_ID}",
				"description": "projects/{PROJECT_ID}",
				"operationId": "projectsproject-id",
				"parameters": [
					{
						"name": "PROJECT_ID",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/projects/{PROJECT_ID}/activities": {
			"get": {
				"summary": "projects/{PROJECT_ID}/activities",
				"description": "projects/{PROJECT_ID}/activities",
				"operationId": "projectsproject-idactivities",
				"parameters": [
					{
						"name": "PROJECT_ID",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/projects/{PROJECT_ID}/iterations": {
			"get": {
				"summary": "projects/{PROJECT_ID}/iterations",
				"description": "projects/{PROJECT_ID}/iterations",
				"operationId": "projectsproject-iditerations",
				"parameters": [
					{
						"name": "PROJECT_ID",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/projects/{PROJECT_ID}/iterations/backlog": {
			"get": {
				"summary": "projects/{PROJECT_ID}/iterations/backlog",
				"description": "projects/{PROJECT_ID}/iterations/backlog",
				"operationId": "projectsproject-iditerationsbacklog",
				"parameters": [
					{
						"name": "PROJECT_ID",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/projects/{PROJECT_ID}/iterations/current": {
			"get": {
				"summary": "projects/{PROJECT_ID}/iterations/current",
				"description": "projects/{PROJECT_ID}/iterations/current",
				"operationId": "projectsproject-iditerationscurrent",
				"parameters": [
					{
						"name": "PROJECT_ID",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/projects/{PROJECT_ID}/iterations/current_backlog": {
			"get": {
				"summary": "projects/{PROJECT_ID}/iterations/current_backlog",
				"description": "projects/{PROJECT_ID}/iterations/current_backlog",
				"operationId": "projectsproject-iditerationscurrent-backlog",
				"parameters": [
					{
						"name": "PROJECT_ID",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/projects/{PROJECT_ID}/iterations/done": {
			"get": {
				"summary": "projects/{PROJECT_ID}/iterations/done",
				"description": "projects/{PROJECT_ID}/iterations/done",
				"operationId": "projectsproject-iditerationsdone",
				"parameters": [
					{
						"name": "PROJECT_ID",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/projects/{PROJECT_ID}/memberships": {
			"post": {
				"summary": "projects/{PROJECT_ID}/memberships (POST)",
				"description": "projects/{PROJECT_ID}/memberships (POST)",
				"operationId": "projectsproject-idmemberships-post",
				"parameters": [
					{
						"name": "PROJECT_ID",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/projects/{PROJECT_ID}/memberships/{MEMBERSHIP_ID}": {
			"get": {
				"summary": "projects/{PROJECT_ID}/memberships/{MEMBERSHIP_ID} (GET)",
				"description": "projects/{PROJECT_ID}/memberships/{MEMBERSHIP_ID} (GET)",
				"operationId": "projectsproject-idmembershipsmembership-id-get",
				"parameters": [
					{
						"name": "MEMBERSHIP_ID",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "PROJECT_ID",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/projects/{PROJECT_ID}/stories": {
			"post": {
				"summary": "projects/{PROJECT_ID}/stories (POST)",
				"description": "projects/{PROJECT_ID}/stories (POST)",
				"operationId": "projectsproject-idstories-post",
				"parameters": [
					{
						"name": "PROJECT_ID",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/projects/{PROJECT_ID}/stories/deliver_all_finished": {
			"post": {
				"summary": "projects/{PROJECT_ID}/stories/deliver_all_finished",
				"description": "projects/{PROJECT_ID}/stories/deliver_all_finished",
				"operationId": "projectsproject-idstoriesdeliver-all-finished",
				"parameters": [
					{
						"name": "PROJECT_ID",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/projects/{PROJECT_ID}/stories/{STORY_ID}": {
			"put": {
				"summary": "projects/{PROJECT_ID}/stories/{STORY_ID} (PUT)",
				"description": "projects/{PROJECT_ID}/stories/{STORY_ID} (PUT)",
				"operationId": "projectsproject-idstoriesstory-id-put",
				"parameters": [
					{
						"name": "PROJECT_ID",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "STORY_ID",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/projects/{PROJECT_ID}/stories/{STORY_ID}/attachments": {
			"post": {
				"summary": "projects/{PROJECT_ID}/stories/{STORY_ID}/attachments",
				"description": "projects/{PROJECT_ID}/stories/{STORY_ID}/attachments",
				"operationId": "projectsproject-idstoriesstory-idattachments",
				"parameters": [
					{
						"name": "PROJECT_ID",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "STORY_ID",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/projects/{PROJECT_ID}/stories/{STORY_ID}/moves": {
			"post": {
				"summary": "projects/{PROJECT_ID}/stories/{STORY_ID}/moves",
				"description": "projects/{PROJECT_ID}/stories/{STORY_ID}/moves",
				"operationId": "projectsproject-idstoriesstory-idmoves",
				"parameters": [
					{
						"name": "PROJECT_ID",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "STORY_ID",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/projects/{PROJECT_ID}/stories/{STORY_ID}/notes": {
			"put": {
				"summary": "projects/{PROJECT_ID}/stories/{STORY_ID}/notes (POST)",
				"description": "projects/{PROJECT_ID}/stories/{STORY_ID}/notes (POST)",
				"operationId": "projectsproject-idstoriesstory-idnotes-post",
				"parameters": [
					{
						"name": "PROJECT_ID",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "STORY_ID",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/projects/{PROJECT_ID}/stories/{STORY_ID}/tasks": {
			"post": {
				"summary": "projects/{PROJECT_ID}/stories/{STORY_ID}/tasks (POST)",
				"description": "projects/{PROJECT_ID}/stories/{STORY_ID}/tasks (POST)",
				"operationId": "projectsproject-idstoriesstory-idtasks-post",
				"parameters": [
					{
						"name": "PROJECT_ID",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "STORY_ID",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/projects/{PROJECT_ID}/stories/{STORY_ID}/tasks/{TASK_ID}": {
			"put": {
				"summary": "projects/{PROJECT_ID}/stories/{STORY_ID}/tasks/{TASK_ID} (PUT)",
				"description": "projects/{PROJECT_ID}/stories/{STORY_ID}/tasks/{TASK_ID} (PUT)",
				"operationId": "projectsproject-idstoriesstory-idtaskstask-id-put",
				"parameters": [
					{
						"name": "PROJECT_ID",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "STORY_ID",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "TASK_ID",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/source_commits": {
			"post": {
				"summary": "source_commits",
				"description": "source_commits",
				"operationId": "source-commits",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tokens/active": {
			"post": {
				"summary": "tokens/active (POST)",
				"description": "tokens/active (POST)",
				"operationId": "tokensactive-post",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}