{
	"swagger": "2.0",
	"info": {
		"title": "SoundCloud",
		"description": "The SoundCloud API exposes SoundCloud resources like sounds, sets and users. ",
		"termsOfService": null,
		"version": "1"
	},
	"host": "api.soundcloud.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/comments/{comment_id}.{format}": {
			"get": {
				"summary": "/comments/{comment_id}.{format}",
				"description": "/comments/{comment_id}.{format}",
				"operationId": "commentscomment-idformat",
				"parameters": [
					{
						"name": "comment_id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/groups.{format}": {
			"get": {
				"summary": "/groups.{format}",
				"description": "/groups.{format}",
				"operationId": "groupsformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/groups/{group_id}.{format}": {
			"get": {
				"summary": "/groups/{group_id}.{format}",
				"description": "/groups/{group_id}.{format}",
				"operationId": "groupsgroup-idformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "group_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/groups/{group_id}/contributors.{format}": {
			"get": {
				"summary": "/groups/{group_id}/contributors.{format}",
				"description": "/groups/{group_id}/contributors.{format}",
				"operationId": "groupsgroup-idcontributorsformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "group_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/groups/{group_id}/members.{format}": {
			"get": {
				"summary": "/groups/{group_id}/members.{format}",
				"description": "/groups/{group_id}/members.{format}",
				"operationId": "groupsgroup-idmembersformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "group_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/groups/{group_id}/moderators.{format}": {
			"get": {
				"summary": "/groups/{group_id}/moderators.{format}",
				"description": "/groups/{group_id}/moderators.{format}",
				"operationId": "groupsgroup-idmoderatorsformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "group_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/groups/{group_id}/tracks.{format}": {
			"get": {
				"summary": "/groups/{group_id}/tracks.{format}",
				"description": "/groups/{group_id}/tracks.{format}",
				"operationId": "groupsgroup-idtracksformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "group_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/groups/{group_id}/users.{format}": {
			"get": {
				"summary": "/groups/{group_id}/users.{format}",
				"description": "/groups/{group_id}/users.{format}",
				"operationId": "groupsgroup-idusersformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "group_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me.{format}": {
			"put": {
				"summary": "me (PUT)",
				"description": "me (PUT)",
				"operationId": "me-put",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/comments.{format}": {
			"get": {
				"summary": "/me/comments.{format}",
				"description": "/me/comments.{format}",
				"operationId": "mecommentsformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/favorites.{format}": {
			"get": {
				"summary": "/me/favorites.{format}",
				"description": "/me/favorites.{format}",
				"operationId": "mefavoritesformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/favorites/{track_id}.{format}": {
			"put": {
				"summary": "me/favorites/track_id (PUT)",
				"description": "me/favorites/track_id (PUT)",
				"operationId": "mefavoritestrack-id-put",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "track_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/followers.{format}": {
			"get": {
				"summary": "/me/followers.{format}",
				"description": "/me/followers.{format}",
				"operationId": "mefollowersformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/followers/{contact_id}.{format}": {
			"get": {
				"summary": "me/followers/contact_id (GET)",
				"description": "me/followers/contact_id (GET)",
				"operationId": "mefollowerscontact-id-get",
				"parameters": [
					{
						"name": "contact_id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/followings.{format}": {
			"get": {
				"summary": "/me/followings.{format}",
				"description": "/me/followings.{format}",
				"operationId": "mefollowingsformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/followings/{contact_id}.{format}": {
			"put": {
				"summary": "me/followings/contact_id (PUT)",
				"description": "me/followings/contact_id (PUT)",
				"operationId": "mefollowingscontact-id-put",
				"parameters": [
					{
						"name": "contact_id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/groups.{format}": {
			"get": {
				"summary": "/me/groups.{format}",
				"description": "/me/groups.{format}",
				"operationId": "megroupsformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/playlists.{format}": {
			"get": {
				"summary": "/me/playlists.{format}",
				"description": "/me/playlists.{format}",
				"operationId": "meplaylistsformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/me/tracks.{format}": {
			"get": {
				"summary": "/me/tracks.{format}",
				"description": "/me/tracks.{format}",
				"operationId": "metracksformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/playlists.{format}": {
			"get": {
				"summary": "/playlists.{format}",
				"description": "/playlists.{format}",
				"operationId": "playlistsformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/playlists/{playlist_id}.{format}": {
			"get": {
				"summary": "/playlists/{playlist_id}.{format}",
				"description": "/playlists/{playlist_id}.{format}",
				"operationId": "playlistsplaylist-idformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "playlist_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/resolve.{format}": {
			"get": {
				"summary": "/resolve.{format}",
				"description": "/resolve.{format}",
				"operationId": "resolveformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tracks.{format}": {
			"post": {
				"summary": "tracks (POST)",
				"description": "tracks (POST)",
				"operationId": "tracks-post",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tracks/{track_id}.{format}": {
			"put": {
				"summary": "tracks/track_id (PUT)",
				"description": "tracks/track_id (PUT)",
				"operationId": "trackstrack-id-put",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "track_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tracks/{track_id}/comments.{format}": {
			"post": {
				"summary": "tracks/track_id/comments (POST)",
				"description": "tracks/track_id/comments (POST)",
				"operationId": "trackstrack-idcomments-post",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "track_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tracks/{track_id}/permissions.{format}": {
			"put": {
				"summary": "tracks/track_id/permissions (PUT)",
				"description": "tracks/track_id/permissions (PUT)",
				"operationId": "trackstrack-idpermissions-put",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "track_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tracks/{track_id}/secret-token.{format}": {
			"put": {
				"summary": "tracks/track_id/secret-token (PUT)",
				"description": "tracks/track_id/secret-token (PUT)",
				"operationId": "trackstrack-idsecrettoken-put",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "track_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users.{format}": {
			"get": {
				"summary": "/users.{format}",
				"description": "/users.{format}",
				"operationId": "usersformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}.{format}": {
			"get": {
				"summary": "/users/{user_id}.{format}",
				"description": "/users/{user_id}.{format}",
				"operationId": "usersuser-idformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/comments.{format}": {
			"get": {
				"summary": "/users/{user_id}/comments.{format}",
				"description": "/users/{user_id}/comments.{format}",
				"operationId": "usersuser-idcommentsformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/favorites.{format}": {
			"get": {
				"summary": "/users/{user_id}/favorites.{format}",
				"description": "/users/{user_id}/favorites.{format}",
				"operationId": "usersuser-idfavoritesformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/favorites/{track_id}.{format}": {
			"put": {
				"summary": "users/user_id/favorites/track_id (PUT)",
				"description": "users/user_id/favorites/track_id (PUT)",
				"operationId": "usersuser-idfavoritestrack-id-put",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "track_id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/followers.{format}": {
			"get": {
				"summary": "/users/{user_id}/followers.{format}",
				"description": "/users/{user_id}/followers.{format}",
				"operationId": "usersuser-idfollowersformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/followers/{contact_id}.{format}": {
			"get": {
				"summary": "/users/{user_id}/followers/{contact_id}.{format}",
				"description": "/users/{user_id}/followers/{contact_id}.{format}",
				"operationId": "usersuser-idfollowerscontact-idformat",
				"parameters": [
					{
						"name": "contact_id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/followings.{format}": {
			"get": {
				"summary": "/users/{user_id}/followings.{format}",
				"description": "/users/{user_id}/followings.{format}",
				"operationId": "usersuser-idfollowingsformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/followings/{contact_id}.{format}": {
			"put": {
				"summary": "users/user_id/followings/contact_id (PUT)",
				"description": "users/user_id/followings/contact_id (PUT)",
				"operationId": "usersuser-idfollowingscontact-id-put",
				"parameters": [
					{
						"name": "contact_id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/groups.{format}": {
			"get": {
				"summary": "/users/{user_id}/groups.{format}",
				"description": "/users/{user_id}/groups.{format}",
				"operationId": "usersuser-idgroupsformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/playlists.{format}": {
			"get": {
				"summary": "/users/{user_id}/playlists.{format}",
				"description": "/users/{user_id}/playlists.{format}",
				"operationId": "usersuser-idplaylistsformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/tracks.{format}": {
			"get": {
				"summary": "/users/{user_id}/tracks.{format}",
				"description": "/users/{user_id}/tracks.{format}",
				"operationId": "usersuser-idtracksformat",
				"parameters": [
					{
						"name": "format",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}