{
	"swagger": "2.0",
	"info": {
		"title": "Framesocket",
		"description": "framesocket is the best way for developers and content owners to tackle video projects of any size.",
		"termsOfService": null,
		"version": null
	},
	"host": "www.framesocket.com",
	"basePath": "/api",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/media/activate.php": {
			"get": {
				"summary": "Activate Media",
				"description": "Activate Media",
				"operationId": "",
				"parameters": [
					{
						"name": "customid",
						"in": "query",
						"description": "Custom ID",
						"type": "string",
						"format": "string"
					},
					{
						"name": "hash",
						"in": "query",
						"description": "Video Hash",
						"type": "string",
						"format": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "Your account username.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "secret",
						"in": "query",
						"description": "Your account API secret.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sig",
						"in": "query",
						"description": "This is an md5 hash of your gatekeeper concatenated with your request action.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Media"
				]
			}
		},
		"/media/deactivate.php": {
			"get": {
				"summary": "Deactive Media",
				"description": "Deactive Media",
				"operationId": "",
				"parameters": [
					{
						"name": "customid",
						"in": "query",
						"description": "Custom ID",
						"type": "string",
						"format": "string"
					},
					{
						"name": "hash",
						"in": "query",
						"description": "Video Hash",
						"type": "string",
						"format": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "Your account username.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "secret",
						"in": "query",
						"description": "Your account API secret.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sig",
						"in": "query",
						"description": "This is an md5 hash of your gatekeeper concatenated with your request action.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Media"
				]
			}
		},
		"/media/images.php": {
			"get": {
				"summary": "Query Images",
				"description": "Query Images",
				"operationId": "",
				"parameters": [
					{
						"name": "customid",
						"in": "query",
						"description": "Custom ID",
						"type": "string",
						"format": "string"
					},
					{
						"name": "hash",
						"in": "query",
						"description": "Video Hash",
						"type": "string",
						"format": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "Your account username.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "secret",
						"in": "query",
						"description": "Your account API secret.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sig",
						"in": "query",
						"description": "This is an md5 hash of your gatekeeper concatenated with your request action.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Media",
					" Images"
				]
			}
		},
		"/media/query.php": {
			"get": {
				"summary": "Query Media",
				"description": "Query Media",
				"operationId": "",
				"parameters": [
					{
						"name": "andkeywords",
						"in": "query",
						"description": "Comma separated list of title words.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "andtitlewords",
						"in": "query",
						"description": "Comma separated list of title words.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "customid",
						"in": "query",
						"description": "Custom ID",
						"type": "string",
						"format": "string"
					},
					{
						"name": "hash",
						"in": "query",
						"description": "Media Hash Code",
						"type": "string",
						"format": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "Your account username.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Must be a valid integer.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "orkeywords",
						"in": "query",
						"description": "Comma separated list of title words.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "ortitlewords",
						"in": "query",
						"description": "Comma separated list of title words.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "secret",
						"in": "query",
						"description": "Your account API secret.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sig",
						"in": "query",
						"description": "This is an md5 hash of your gatekeeper concatenated with your request action.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Must be a valid sorting option, either newest or oldest firs",
						"type": "string",
						"format": "string"
					},
					{
						"name": "status",
						"in": "query",
						"description": "Must be a valid status code.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "type",
						"in": "query",
						"description": "Must be a valid type, either image or video.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Media"
				]
			}
		},
		"/media/update.php": {
			"get": {
				"summary": "Update Media",
				"description": "Update Media",
				"operationId": "",
				"parameters": [
					{
						"name": "customid",
						"in": "query",
						"description": "Custom ID",
						"type": "string",
						"format": "string"
					},
					{
						"name": "description",
						"in": "query",
						"description": "Text String - Limit 1000 characters",
						"type": "string",
						"format": "string"
					},
					{
						"name": "hash",
						"in": "query",
						"description": "Video Hash",
						"type": "string",
						"format": "string"
					},
					{
						"name": "imagehash",
						"in": "query",
						"description": "This needs to refer to an image already assigned to this media.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "Your account username.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "keywords",
						"in": "query",
						"description": "Text String - Comma separated by keyword or phrase",
						"type": "string",
						"format": "string"
					},
					{
						"name": "secret",
						"in": "query",
						"description": "Your account API secret.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sig",
						"in": "query",
						"description": "This is an md5 hash of your gatekeeper concatenated with your request action.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "title",
						"in": "query",
						"description": "Text String - Limit 100 characters",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Media"
				]
			}
		},
		"/media/upload.php": {
			"post": {
				"summary": "Upload Media",
				"description": "Upload Media",
				"operationId": "",
				"parameters": [
					{
						"name": "callback",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "customid",
						"in": "query",
						"description": "Text String - Max Length 32 Characters",
						"type": "string",
						"format": "string"
					},
					{
						"name": "description",
						"in": "query",
						"description": "Text String - Limit 1000 Characters",
						"type": "string",
						"format": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "Your account username.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "keywords",
						"in": "query",
						"description": "Text String - Comma separated by keyword or phrase",
						"type": "string",
						"format": "string"
					},
					{
						"name": "media",
						"in": "query",
						"description": "Must be properly formatted POST data - either an image or a video.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "secret",
						"in": "query",
						"description": "Your account API secret.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sig",
						"in": "query",
						"description": "This is an md5 hash of your gatekeeper concatenated with your request action.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "title",
						"in": "query",
						"description": "Text String - Limit 100 Characters",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Media"
				]
			}
		}
	},
	"definitions": {
	}
}