{
	"swagger": "2.0",
	"info": {
		"title": "Google Calendar API",
		"description": "The Google Calendar API lets you develop client applications that create new events, edit or delete existing events, and search for events.",
		"termsOfService": null,
		"version": "v3"
	},
	"host": "www.googleapis.com",
	"basePath": "/calendar/v3",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/accounts": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "",
				"parameters": [
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maximum number of ad units to include in the response, used for paging. The minimum value is 0 (zero) and the maximum value is 10000 (10 thousand). Default is 10000 (10 thousand).",
						"type": "integer"
					},
					{
						"name": "pageToken",
						"in": "query",
						"description": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response. Default returns the first page of results.",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/accounts/{accountId}": {
			"get": {
				"summary": "List Accounts",
				"description": "List Accounts",
				"operationId": "list-accounts",
				"parameters": [
					{
						"name": "accountId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "accountId",
						"in": "query",
						"description": "Account on which to report.",
						"type": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "tree",
						"in": "query",
						"description": "Whether the tree of sub accounts should be returned.",
						"type": "boolean"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/accounts/{accountId}/adclients": {
			"get": {
				"summary": "Get Account",
				"description": "Get Account",
				"operationId": "get-account",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"description": "Account on which to report.",
						"type": "string"
					},
					{
						"name": "accountId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maximum number of ad units to include in the response, used for paging. The minimum value is 0 (zero) and the maximum value is 10000 (10 thousand). Default is 10000 (10 thousand).",
						"type": "integer"
					},
					{
						"name": "pageToken",
						"in": "query",
						"description": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response. Default returns the first page of results.",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/accounts/{accountId}/adclients/{adClientId}/adunits": {
			"get": {
				"summary": "List Ad Clients",
				"description": "List Ad Clients",
				"operationId": "list-ad-clients",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"description": "Account on which to report.",
						"type": "string"
					},
					{
						"name": "accountId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "query",
						"description": "Ad client which contains the custom channel.",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "includeInactive",
						"in": "query",
						"description": "Whether to include inactive ad units. Default: true.",
						"type": "boolean"
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maximum number of ad units to include in the response, used for paging. The minimum value is 0 (zero) and the maximum value is 10000 (10 thousand). Default is 10000 (10 thousand).",
						"type": "integer"
					},
					{
						"name": "pageToken",
						"in": "query",
						"description": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response. Default returns the first page of results.",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}": {
			"get": {
				"summary": "List Ad Units",
				"description": "List Ad Units",
				"operationId": "list-ad-units",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"description": "Account on which to report.",
						"type": "string"
					},
					{
						"name": "accountId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "query",
						"description": "Ad client which contains the custom channel.",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "adUnitId",
						"in": "query",
						"description": "Ad unit to retrieve.",
						"type": "string"
					},
					{
						"name": "adUnitId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}/customchannels": {
			"get": {
				"summary": "Get Ad Unit",
				"description": "Get Ad Unit",
				"operationId": "get-ad-unit",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"description": "Account on which to report.",
						"type": "string"
					},
					{
						"name": "accountId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "query",
						"description": "Ad client for which to list custom channels.",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "adUnitId",
						"in": "query",
						"description": "Ad unit to retrieve.",
						"type": "string"
					},
					{
						"name": "adUnitId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maximum number of ad units to include in the response, used for paging. The minimum value is 0 (zero) and the maximum value is 10000 (10 thousand). Default is 10000 (10 thousand).",
						"type": "integer"
					},
					{
						"name": "pageToken",
						"in": "query",
						"description": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response. Default returns the first page of results.",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/accounts/{accountId}/adclients/{adClientId}/customchannels": {
			"get": {
				"summary": "List Ad Unit Custom Channels",
				"description": "List Ad Unit Custom Channels",
				"operationId": "list-ad-unit-custom-channels",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"description": "Account on which to report.",
						"type": "string"
					},
					{
						"name": "accountId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "query",
						"description": "Ad client which contains the custom channel.",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maximum number of ad units to include in the response, used for paging. The minimum value is 0 (zero) and the maximum value is 10000 (10 thousand). Default is 10000 (10 thousand).",
						"type": "integer"
					},
					{
						"name": "pageToken",
						"in": "query",
						"description": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response. Default returns the first page of results.",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/accounts/{accountId}/adclients/{adClientId}/customchannels/{customChannelId}": {
			"get": {
				"summary": "List Custom Channels",
				"description": "List Custom Channels",
				"operationId": "list-custom-channels",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"description": "Account on which to report.",
						"type": "string"
					},
					{
						"name": "accountId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "query",
						"description": "Ad client which contains the custom channel.",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "customChannelId",
						"in": "query",
						"description": "Custom channel to retrieve.",
						"type": "string"
					},
					{
						"name": "customChannelId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/accounts/{accountId}/adclients/{adClientId}/customchannels/{customChannelId}/adunits": {
			"get": {
				"summary": "Get Custom Channel",
				"description": "Get Custom Channel",
				"operationId": "get-custom-channel",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"description": "Account on which to report.",
						"type": "string"
					},
					{
						"name": "accountId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "query",
						"description": "Ad client which contains the custom channel.",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "customChannelId",
						"in": "query",
						"description": "Custom channel for which to list ad units.",
						"type": "string"
					},
					{
						"name": "customChannelId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "includeInactive",
						"in": "query",
						"description": "Whether to include inactive ad units. Default: true.",
						"type": "boolean"
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maximum number of ad units to include in the response, used for paging. The minimum value is 0 (zero) and the maximum value is 10000 (10 thousand). Default is 10000 (10 thousand).",
						"type": "integer"
					},
					{
						"name": "pageToken",
						"in": "query",
						"description": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response. Default returns the first page of results.",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/accounts/{accountId}/adclients/{adClientId}/urlchannels": {
			"get": {
				"summary": "List Custom Channel Ad Units",
				"description": "List Custom Channel Ad Units",
				"operationId": "list-custom-channel-ad-units",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"description": "Account on which to report.",
						"type": "string"
					},
					{
						"name": "accountId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "query",
						"description": "Ad client for which to list URL channels.",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maximum number of ad units to include in the response, used for paging. The minimum value is 0 (zero) and the maximum value is 10000 (10 thousand). Default is 10000 (10 thousand).",
						"type": "integer"
					},
					{
						"name": "pageToken",
						"in": "query",
						"description": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response. Default returns the first page of results.",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/accounts/{accountId}/reports": {
			"get": {
				"summary": "List URL Channels",
				"description": "List URL Channels",
				"operationId": "list-url-channels",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"description": "Account on which to report.",
						"type": "string"
					},
					{
						"name": "accountId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "currency",
						"in": "query",
						"description": "Not available.",
						"type": "string"
					},
					{
						"name": "dimension",
						"in": "query",
						"description": "Optional dimensions on which to base the report.Available dimensions are:- DATE- WEEK- MONTH- AD_CLIENT_ID- PRODUCT_CODE- PRODUCT_NAME- AD_UNIT_ID- AD_UNIT_CODE- AD_UNIT_NAME- AD_UNIT_SIZE_CODE- AD_UNIT_SIZE_NAME- CUSTOM_CHANNEL_ID- CUSTOM_CHANNEL_CODE- CUSTOM_CHANNEL_NAME- URL_CHANNEL_ID- URL_CHANNEL_NAME- AD_FORMAT_CODE- AD_FORMAT_NAME- BRANDING_TYPE_CODE- BRANDING_TYPE_NAME- BUYER_NETWORK_ID- BUYER_NETWORK_NAME- BID_TYPE_CODE- BID_TYPE_NAME- DOMAIN_NAME- COUNTRY_CODE- COUNTRY_NAME- TARGETING_",
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "End of the date range on which to report in YYYY-MM-DD format, inclusive.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Set of filters to be applied to the report.",
						"type": "string"
					},
					{
						"name": "locale",
						"in": "query",
						"description": "Optional locale to use for translating report output to a local language. Defaults to en_US if not specified.",
						"type": "string"
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maximum number of rows of report data to return. The minumum value is 0 (zero), the maximum value is 50000 (50 thousand).",
						"type": "integer"
					},
					{
						"name": "metric",
						"in": "query",
						"description": "Optional numeric columns to include in the report.Available metrics are:- PAGE_VIEWS- PAGE_VIEWS_CTR- PAGE_VIEWS_RPM- AD_REQUESTS- AD_REQUESTS_COVERAGE- AD_REQUESTS_CTR- AD_REQUESTS_RPM- MATCHED_AD_REQUESTS- MATCHED_AD_REQUESTS_CTR- MATCHED_AD_REQUESTS_RPM- INDIVIDUAL_AD_IMPRESSIONS- INDIVIDUAL_AD_IMPRESSIONS_CTR- INDIVIDUAL_AD_IMPRESSIONS_RPM- CLICKS- EARNINGS- TOTAL_EARNINGS- COST_PER_CLICK",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Optional name of a dimension or metric on which to sort the resulting report. Optionally prefixed with + to sort ascending or - to sort descending. If no prefix is specified, the column is sorted ascending:- DATE- WEEK- MONTH- AD_CLIENT_ID- PRODUCT_CODE- PRODUCT_NAME- AD_UNIT_ID- AD_UNIT_CODE- AD_UNIT_NAME- AD_UNIT_SIZE_CODE- AD_UNIT_SIZE_NAME- CUSTOM_CHANNEL_ID- CUSTOM_CHANNEL_CODE- CUSTOM_CHANNEL_NAME- URL_CHANNEL_ID- URL_CHANNEL_NAME- AD_FORMAT_CODE- AD_FORMAT_NAME- BRANDING_TYPE_CODE- BRANDI",
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Start of the date range on which to report in YYYY-MM-DD format, inclusive.",
						"type": "string"
					},
					{
						"name": "startIndex",
						"in": "query",
						"description": "Index of the first row of report data to return. The minumum value is 0 (zero), the maximum value is 5000 (5 thousand). If startIndex is either unset or zero, the API will return as many rows as specified by the value of maxResults. If maxResults is not set the API will return as many rows as possible, up to 50,000. If startIndex is set to a non-zero value, the sum of startIndex and maxResults cannot be greater than 5000, or an error will be returned: paging past row 5000 is unsupported.",
						"type": "integer"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/adclients": {
			"get": {
				"summary": "Generate Reports",
				"description": "Generate Reports",
				"operationId": "generate-reports",
				"parameters": [
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maximum number of ad clients to include in the response, used for paging. The minimum value is 0 (zero) and the maximum value is 10000 (10 thousand). Default is 10000 (10 thousand).",
						"type": "integer"
					},
					{
						"name": "pageToken",
						"in": "query",
						"description": "A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response. Default returns the first page of data.",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/adclients/{adClientId}/adunits": {
			"get": {
				"summary": "List Ad Clients",
				"description": "List Ad Clients",
				"operationId": "list-ad-clients",
				"parameters": [
					{
						"name": "adClientId",
						"in": "query",
						"description": "Ad client for which to get the ad units.",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "includeInactive",
						"in": "query",
						"description": "Whether to include inactive ad units. Default: true.",
						"type": "boolean"
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maximum number of ad units to include in the response, used for paging. The minimum value is 0 (zero) and the maximum value is 10000 (10 thousand). Default is 10000 (10 thousand).",
						"type": "integer"
					},
					{
						"name": "pageToken",
						"in": "query",
						"description": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response. Default returns the first page of results.",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/adclients/{adClientId}/adunits/{adUnitId}": {
			"get": {
				"summary": "List Ad Units",
				"description": "List Ad Units",
				"operationId": "list-ad-units",
				"parameters": [
					{
						"name": "adClientId",
						"in": "query",
						"description": "Ad client for which to get the ad unit.",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "adUnitId",
						"in": "query",
						"description": "Ad unit to retrieve.",
						"type": "string"
					},
					{
						"name": "adUnitId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/adclients/{adClientId}/adunits/{adUnitId}/customchannels": {
			"get": {
				"summary": "Get Ad Unit",
				"description": "Get Ad Unit",
				"operationId": "get-ad-unit",
				"parameters": [
					{
						"name": "adClientId",
						"in": "query",
						"description": "Ad client for which to list custom channels.",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "adUnitId",
						"in": "query",
						"description": "Ad unit to retrieve.",
						"type": "string"
					},
					{
						"name": "adUnitId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maximum number of custom channels to include in the response, used for paging. The minimum value is 0 (zero), the maximum value is 10000 (10 thousand). Default is 10000 (10 thousand).",
						"type": "integer"
					},
					{
						"name": "pageToken",
						"in": "query",
						"description": "A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response. Default returns the first page of data.",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/adclients/{adClientId}/customchannels": {
			"get": {
				"summary": "List Ad Unit Custom Channels",
				"description": "List Ad Unit Custom Channels",
				"operationId": "list-ad-unit-custom-channels",
				"parameters": [
					{
						"name": "adClientId",
						"in": "query",
						"description": "Ad client for which to list custom channels.",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maximum number of custom channels to include in the response, used for paging. The minimum value is 0 (zero), the maximum value is 10000 (10 thousand). Default is 10000 (10 thousand).",
						"type": "integer"
					},
					{
						"name": "pageToken",
						"in": "query",
						"description": "A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response. Default returns the first page of data.",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/adclients/{adClientId}/customchannels/{customChannelId}": {
			"get": {
				"summary": "List Custom Channels",
				"description": "List Custom Channels",
				"operationId": "list-custom-channels",
				"parameters": [
					{
						"name": "adClientId",
						"in": "query",
						"description": "Ad client that contains the custom channel.",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "customChannelId",
						"in": "query",
						"description": "Custom channel to retrieve.",
						"type": "string"
					},
					{
						"name": "customChannelId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/adclients/{adClientId}/customchannels/{customChannelId}/adunits": {
			"get": {
				"summary": "Get Custom Channel",
				"description": "Get Custom Channel",
				"operationId": "get-custom-channel",
				"parameters": [
					{
						"name": "adClientId",
						"in": "query",
						"description": "Ad client which contains the custom channel.",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "customChannelId",
						"in": "query",
						"description": "Custom channel for which to list ad units.",
						"type": "string"
					},
					{
						"name": "customChannelId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "includeInactive",
						"in": "query",
						"description": "Whether to include inactive ad units. Default: true.",
						"type": "boolean"
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maximum number of ad units to include in the response, used for paging. The minimum value is 0 (zero) and the maximum value is 10000 (10 thousand). Default is 10000 (10 thousand).",
						"type": "integer"
					},
					{
						"name": "pageToken",
						"in": "query",
						"description": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response. Default returns the first page of results.",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/adclients/{adClientId}/urlchannels": {
			"get": {
				"summary": "List Custom Channel Ad Units",
				"description": "List Custom Channel Ad Units",
				"operationId": "list-custom-channel-ad-units",
				"parameters": [
					{
						"name": "adClientId",
						"in": "query",
						"description": "Ad client for which to list URL channels.",
						"type": "string"
					},
					{
						"name": "adClientId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maximum number of URL channels to include in the response, used for paging. The minimum value is 0 (zero), the maximum value is 10000 (10 thousand). Default is 10000 (10 thousand).",
						"type": "integer"
					},
					{
						"name": "pageToken",
						"in": "query",
						"description": "A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response. Default returns the first page of data.",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/reports": {
			"get": {
				"summary": "List URL Channels",
				"description": "List URL Channels",
				"operationId": "list-url-channels",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"description": "Accounts upon which to report.",
						"type": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "Name of the JavaScript callback function that handles the response. Used in JavaScript JSON-P requests.",
						"type": "string"
					},
					{
						"name": "currency",
						"in": "query",
						"description": "Not available.",
						"type": "string"
					},
					{
						"name": "dimension",
						"in": "query",
						"description": "Optional dimensions on which to base the report.Available dimensions are:- DATE- WEEK- MONTH- AD_CLIENT_ID- PRODUCT_CODE- PRODUCT_NAME- AD_UNIT_ID- AD_UNIT_CODE- AD_UNIT_NAME- AD_UNIT_SIZE_CODE- AD_UNIT_SIZE_NAME- CUSTOM_CHANNEL_ID- CUSTOM_CHANNEL_CODE- CUSTOM_CHANNEL_NAME- URL_CHANNEL_ID- URL_CHANNEL_NAME- AD_FORMAT_CODE- AD_FORMAT_NAME- BRANDING_TYPE_CODE- BRANDING_TYPE_NAME- BUYER_NETWORK_ID- BUYER_NETWORK_NAME- BID_TYPE_CODE- BID_TYPE_NAME- DOMAIN_NAME- COUNTRY_CODE- COUNTRY_NAME- TARGETING_",
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "End of the date range on which to report in YYYY-MM-DD format, inclusive.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying a subset of fields to include in the response. Use for better performance.",
						"type": "string"
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Set of filters to be applied to the report.",
						"type": "string"
					},
					{
						"name": "locale",
						"in": "query",
						"description": "Optional locale to use for translating report output to a local language. Defaults to en_US if not specified.",
						"type": "string"
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "The maximum number of rows of report data to return. The minumum value is 0 (zero), the maximum value is 50000 (50 thousand).",
						"type": "integer"
					},
					{
						"name": "metric",
						"in": "query",
						"description": "Optional numeric columns to include in the report.Available metrics are:- PAGE_VIEWS- PAGE_VIEWS_CTR- PAGE_VIEWS_RPM- AD_REQUESTS- AD_REQUESTS_COVERAGE- AD_REQUESTS_CTR- AD_REQUESTS_RPM- MATCHED_AD_REQUESTS- MATCHED_AD_REQUESTS_CTR- MATCHED_AD_REQUESTS_RPM- INDIVIDUAL_AD_IMPRESSIONS- INDIVIDUAL_AD_IMPRESSIONS_CTR- INDIVIDUAL_AD_IMPRESSIONS_RPM- CLICKS- EARNINGS- TOTAL_EARNINGS- COST_PER_CLICK",
						"type": "string"
					},
					{
						"name": "prettyPrint",
						"in": "query",
						"description": "Returns the response in a human-readable format (with indentations and line breaks) if true. When this is false, it can reduce the response payload size, which might lead to better performance in some environments. Default value: false.",
						"type": "boolean"
					},
					{
						"name": "quotaUser",
						"in": "query",
						"description": "Lets you enforce per-user quotas from a server-side application even in cases when the users IP address is unknown. This can occur, for example, with applications that run cron jobs on App Engine on a users behalf. You can choose any arbitrary string that uniquely identifies a user, but it is limited to 40 characters. Alternative to userIp, overrides userIp if both are provided.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Optional name of a dimension or metric on which to sort the resulting report. Optionally prefixed with + to sort ascending or - to sort descending. If no prefix is specified, the column is sorted ascending:- DATE- WEEK- MONTH- AD_CLIENT_ID- PRODUCT_CODE- PRODUCT_NAME- AD_UNIT_ID- AD_UNIT_CODE- AD_UNIT_NAME- AD_UNIT_SIZE_CODE- AD_UNIT_SIZE_NAME- CUSTOM_CHANNEL_ID- CUSTOM_CHANNEL_CODE- CUSTOM_CHANNEL_NAME- URL_CHANNEL_ID- URL_CHANNEL_NAME- AD_FORMAT_CODE- AD_FORMAT_NAME- BRANDING_TYPE_CODE- BRANDI",
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Start of the date range on which to report in YYYY-MM-DD format, inclusive.",
						"type": "string"
					},
					{
						"name": "startIndex",
						"in": "query",
						"description": "Index of the first row of report data to return. The minumum value is 0 (zero), the maximum value is 5000 (5 thousand). If startIndex is either unset or zero, the API will return as many rows as specified by the value of maxResults. If maxResults is not set the API will return as many rows as possible, up to 50,000. If startIndex is set to a non-zero value, the sum of startIndex and maxResults cannot be greater than 5000, or an error will be returned: paging past row 5000 is unsupported.",
						"type": "integer"
					},
					{
						"name": "userIp",
						"in": "query",
						"description": "IP address of the end user for whom the API call is being made. Lets you enforce per-user quotas when calling the API from a server-side application.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/data/ga": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "",
				"parameters": [
					{
						"name": "dimensions",
						"in": "query",
						"description": "A comma-separated list of Analytics dimensions. E.g., ga:browser,ga:city. (string)",
						"type": "string"
					},
					{
						"name": "end-date",
						"in": "query",
						"description": "End date for fetching Analytics data. All requests should specify an end date formatted as YYYY-MM-DD. (string)",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					},
					{
						"name": "filters",
						"in": "query",
						"description": "A comma-separated list of dimension or metric filters to be applied to Analytics data. (string)",
						"type": "string"
					},
					{
						"name": "ids",
						"in": "query",
						"description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics profile ID. (string)",
						"type": "string"
					},
					{
						"name": "max-results",
						"in": "query",
						"description": "The maximum number of entries to include in this response. (integer)",
						"type": "integer"
					},
					{
						"name": "metrics",
						"in": "query",
						"description": "A comma-separated list of Analytics metrics. E.g., ga:visits,ga:pageviews. At least one metric must be specified. (string)",
						"type": "string"
					},
					{
						"name": "segment",
						"in": "query",
						"description": "An Analytics advanced segment to be applied to data. (string)",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "A comma-separated list of dimensions or metrics that determine the sort order for Analytics data. (string)",
						"type": "string"
					},
					{
						"name": "start-date",
						"in": "query",
						"description": "Start date for fetching Analytics data. All requests should specify a start date formatted as YYYY-MM-DD. (string)",
						"type": "string"
					},
					{
						"name": "start-index",
						"in": "query",
						"description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter. (integer, 1+)",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/management/accounts": {
			"get": {
				"summary": "Get Profile Data",
				"description": "Get Profile Data",
				"operationId": "get-profile-data",
				"parameters": [
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					},
					{
						"name": "max-results",
						"in": "query",
						"description": "The maximum number of entries to include in this response. (integer)",
						"type": "integer"
					},
					{
						"name": "start-index",
						"in": "query",
						"description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter. (integer, 1+)",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/management/accounts/{accountId}/webproperties": {
			"get": {
				"summary": "Get Segments",
				"description": "Get Segments",
				"operationId": "get-segments",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"description": "Account ID for the web properties to retrieve. Can either be a specific account ID or ~all, which refers to all the accounts to which the user has access. (string)",
						"type": "string"
					},
					{
						"name": "accountId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					},
					{
						"name": "max-results",
						"in": "query",
						"description": "The maximum number of entries to include in this response. (integer)",
						"type": "integer"
					},
					{
						"name": "start-index",
						"in": "query",
						"description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter. (integer, 1+)",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles": {
			"get": {
				"summary": "Get Goals",
				"description": "Get Goals",
				"operationId": "get-goals",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"description": "Account ID for the web properties to retrieve. Can either be a specific account ID or ~all, which refers to all the accounts to which the user has access. (string)",
						"type": "string"
					},
					{
						"name": "accountId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					},
					{
						"name": "max-results",
						"in": "query",
						"description": "The maximum number of entries to include in this response. (integer)",
						"type": "integer"
					},
					{
						"name": "start-index",
						"in": "query",
						"description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter. (integer, 1+)",
						"type": "integer"
					},
					{
						"name": "webPropertyId",
						"in": "query",
						"description": "Web property ID for the web properties to retrieve. Can either be a specific web property ID or ~all, which refers to all the web properties to which the user has access. (string)",
						"type": "string"
					},
					{
						"name": "webPropertyId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals": {
			"get": {
				"summary": "Get Accounts",
				"description": "Get Accounts",
				"operationId": "get-accounts",
				"parameters": [
					{
						"name": "accountId",
						"in": "query",
						"description": "Account ID for the web properties to retrieve. Can either be a specific account ID or ~all, which refers to all the accounts to which the user has access. (string)",
						"type": "string"
					},
					{
						"name": "accountId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					},
					{
						"name": "max-results",
						"in": "query",
						"description": "The maximum number of entries to include in this response. (integer)",
						"type": "integer"
					},
					{
						"name": "profileId",
						"in": "query",
						"description": "Profile ID for the web properties to retrieve. Can either be a specific profile ID or ~all, which refers to all the profiles to which the user has access. (string)",
						"type": "string"
					},
					{
						"name": "profileId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "start-index",
						"in": "query",
						"description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter. (integer, 1+)",
						"type": "integer"
					},
					{
						"name": "webPropertyId",
						"in": "query",
						"description": "Web property ID for the web properties to retrieve. Can either be a specific web property ID or ~all, which refers to all the web properties to which the user has access. (string)",
						"type": "string"
					},
					{
						"name": "webPropertyId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/management/segments": {
			"get": {
				"summary": "Get Profiles",
				"description": "Get Profiles",
				"operationId": "get-profiles",
				"parameters": [
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					},
					{
						"name": "max-results",
						"in": "query",
						"description": "The maximum number of entries to include in this response. (integer)",
						"type": "integer"
					},
					{
						"name": "start-index",
						"in": "query",
						"description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter. (integer, 1+)",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/calendars": {
			"post": {
				"summary": "Delete Entry on User's Calendar List",
				"description": "Delete Entry on User's Calendar List",
				"operationId": "delete-entry-on-users-calendar-list",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Specifies Content Type.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/calendars/{calendarId}": {
			"put": {
				"summary": "Get Calendar",
				"description": "Get Calendar",
				"operationId": "get-calendar",
				"parameters": [
					{
						"name": "calendarId",
						"in": "query",
						"description": "Calendar identifier.",
						"type": "string"
					},
					{
						"name": "calendarId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Specifies Content Type.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/calendars/{calendarId}/acl": {
			"post": {
				"summary": "List Calendar Access Control Rules",
				"description": "List Calendar Access Control Rules",
				"operationId": "list-calendar-access-control-rules",
				"parameters": [
					{
						"name": "calendarId",
						"in": "query",
						"description": "Calendar identifier.",
						"type": "string"
					},
					{
						"name": "calendarId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Specifies Content Type.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/calendars/{calendarId}/acl/{ruleId}": {
			"put": {
				"summary": "Get Calendar Access Control Rule",
				"description": "Get Calendar Access Control Rule",
				"operationId": "get-calendar-access-control-rule",
				"parameters": [
					{
						"name": "calendarId",
						"in": "query",
						"description": "Calendar identifier.",
						"type": "string"
					},
					{
						"name": "calendarId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Specifies Content Type.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					},
					{
						"name": "ruleId",
						"in": "query",
						"description": "ACL rule identifier.",
						"type": "string"
					},
					{
						"name": "ruleId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/calendars/{calendarId}/clear": {
			"get": {
				"summary": "Delete Secondary Calendar",
				"description": "Delete Secondary Calendar",
				"operationId": "delete-secondary-calendar",
				"parameters": [
					{
						"name": "calendarId",
						"in": "query",
						"description": "Calendar identifier.",
						"type": "string"
					},
					{
						"name": "calendarId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/calendars/{calendarId}/events": {
			"post": {
				"summary": "List Events",
				"description": "List Events",
				"operationId": "list-events",
				"parameters": [
					{
						"name": "calendarId",
						"in": "query",
						"description": "Calendar identifier.",
						"type": "string"
					},
					{
						"name": "calendarId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Specifies Content Type.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					},
					{
						"name": "sendNotifications",
						"in": "query",
						"description": "Whether to send notifications about the creation of the new event.",
						"type": "boolean"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/calendars/{calendarId}/events/import": {
			"post": {
				"summary": "Get Instances",
				"description": "Get Instances",
				"operationId": "get-instances",
				"parameters": [
					{
						"name": "calendarId",
						"in": "query",
						"description": "Calendar identifier.",
						"type": "string"
					},
					{
						"name": "calendarId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Specifies Content Type.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/calendars/{calendarId}/events/quickAdd": {
			"post": {
				"summary": "Import Event",
				"description": "Import Event",
				"operationId": "import-event",
				"parameters": [
					{
						"name": "calendarId",
						"in": "query",
						"description": "Calendar identifier.",
						"type": "string"
					},
					{
						"name": "calendarId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					},
					{
						"name": "sendNotifications",
						"in": "query",
						"description": "Whether to send notifications about the creation of the event.",
						"type": "boolean"
					},
					{
						"name": "text",
						"in": "query",
						"description": "The text describing the event to be created.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/calendars/{calendarId}/events/{eventId}": {
			"put": {
				"summary": "Get Event",
				"description": "Get Event",
				"operationId": "get-event",
				"parameters": [
					{
						"name": "calendarId",
						"in": "query",
						"description": "Calendar identifier.",
						"type": "string"
					},
					{
						"name": "calendarId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Specifies Content Type.",
						"type": "string"
					},
					{
						"name": "eventId",
						"in": "query",
						"description": "Event identifier.",
						"type": "string"
					},
					{
						"name": "eventId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					},
					{
						"name": "sendNotifications",
						"in": "query",
						"description": "Whether to send notifications about the event update (e.g. attendees responses, title changes, etc.).",
						"type": "boolean"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/calendars/{calendarId}/events/{eventId}/instances": {
			"get": {
				"summary": "Delete Event",
				"description": "Delete Event",
				"operationId": "delete-event",
				"parameters": [
					{
						"name": "calendarId",
						"in": "query",
						"description": "Calendar identifier.",
						"type": "string"
					},
					{
						"name": "calendarId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "eventId",
						"in": "query",
						"description": "Event identifier.",
						"type": "string"
					},
					{
						"name": "eventId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					},
					{
						"name": "maxAttendees",
						"in": "query",
						"description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned.",
						"type": "int"
					},
					{
						"name": "maxResults",
						"in": "query",
						"description": "Maximum number of entries returned on one result page.",
						"type": "int"
					},
					{
						"name": "originalStart",
						"in": "query",
						"description": "The original start time of the instance in the result.",
						"type": "string"
					},
					{
						"name": "pageToken",
						"in": "query",
						"description": "Token specifying which result page to return.",
						"type": "string"
					},
					{
						"name": "showDeleted",
						"in": "query",
						"description": "Whether to include deleted events (with eventStatus equals cancelled) in the result.",
						"type": "boolean"
					},
					{
						"name": "timeZone",
						"in": "query",
						"description": "Time zone used in the response. The default is the time zone of the calendar.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/calendars/{calendarId}/events/{eventId}/move": {
			"post": {
				"summary": "Create Event Based on Simple Text String",
				"description": "Create Event Based on Simple Text String",
				"operationId": "create-event-based-on-simple-text-string",
				"parameters": [
					{
						"name": "calendarId",
						"in": "query",
						"description": "Calendar identifier.",
						"type": "string"
					},
					{
						"name": "calendarId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "destination",
						"in": "query",
						"description": "Calendar identifier of the target calendar where the event is to be moved to.",
						"type": "string"
					},
					{
						"name": "eventId",
						"in": "query",
						"description": "Event identifier.",
						"type": "string"
					},
					{
						"name": "eventId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					},
					{
						"name": "sendNotifications",
						"in": "query",
						"description": "Whether to send notifications about the change of the events organizer.",
						"type": "boolean"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/calendars/{calendarId}/events/{eventId}/reset": {
			"post": {
				"summary": "Move Event",
				"description": "Move Event",
				"operationId": "move-event",
				"parameters": [
					{
						"name": "calendarId",
						"in": "query",
						"description": "Calendar identifier.",
						"type": "string"
					},
					{
						"name": "calendarId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "eventId",
						"in": "query",
						"description": "Event identifier.",
						"type": "string"
					},
					{
						"name": "eventId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					},
					{
						"name": "sendNotifications",
						"in": "query",
						"description": "Whether to send notifications about the event update.",
						"type": "boolean"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/colors": {
			"get": {
				"summary": "Get User Setting",
				"description": "Get User Setting",
				"operationId": "get-user-setting",
				"parameters": [
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/freeBusy": {
			"post": {
				"summary": "Get Color Definitions",
				"description": "Get Color Definitions",
				"operationId": "get-color-definitions",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Specifies Content Type.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/me/calendarList": {
			"post": {
				"summary": "List Entries on User's Calendar List",
				"description": "List Entries on User's Calendar List",
				"operationId": "list-entries-on-users-calendar-list",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Specifies Content Type.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/me/calendarList/{calendarId}": {
			"put": {
				"summary": "Get Entry on User's Calendar List",
				"description": "Get Entry on User's Calendar List",
				"operationId": "get-entry-on-users-calendar-list",
				"parameters": [
					{
						"name": "calendarId",
						"in": "query",
						"description": "Calendar identifier.",
						"type": "string"
					},
					{
						"name": "calendarId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Specifies Content Type.",
						"type": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/me/settings": {
			"get": {
				"summary": "Reset Specialized Instance",
				"description": "Reset Specialized Instance",
				"operationId": "reset-specialized-instance",
				"parameters": [
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/me/settings/{setting}": {
			"get": {
				"summary": "List User Settings",
				"description": "List User Settings",
				"operationId": "list-user-settings",
				"parameters": [
					{
						"name": "fields",
						"in": "query",
						"description": "Selector specifying which fields to include in a partial response.",
						"type": "string"
					},
					{
						"name": "setting",
						"in": "query",
						"description": "Name of the user setting.",
						"type": "string"
					},
					{
						"name": "setting",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}