{
	"swagger": "2.0",
	"info": {
		"title": "Venmo API",
		"description": "The Venmo API provides developers a straightforward way to integrate Venmo into their applications. ",
		"termsOfService": null,
		"version": null
	},
	"host": "api.venmo.com",
	"basePath": "/v1",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/me": {
			"get": {
				"summary": "/me",
				"description": "/me",
				"operationId": "me",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/payments": {
			"post": {
				"summary": "/payments",
				"description": "/payments",
				"operationId": "payments",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/payments/{id}": {
			"get": {
				"summary": "/payments{id}",
				"description": "/payments{id}",
				"operationId": "paymentsid",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}": {
			"get": {
				"summary": "/users/{user_id}",
				"description": "/users/{user_id}",
				"operationId": "usersuser-id",
				"parameters": [
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{user_id}/friends": {
			"get": {
				"summary": "/users/{user_id}/friends",
				"description": "/users/{user_id}/friends",
				"operationId": "usersuser-idfriends",
				"parameters": [
					{
						"name": "user_id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}