{
	"swagger": "2.0",
	"info": {
		"title": "Viddler  API",
		"description": "The Viddler API exposes Viddleru2019s key features to those that would like to build custom solutions on top of Viddleru2019s video platform.",
		"termsOfService": "http://www.viddler.com/terms-of-use/",
		"version": "v2"
	},
	"host": "api.viddler.com",
	"basePath": "/api/v2",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"viddler.api.echo": {
			"get": {
				"summary": "Api Echo",
				"description": "This method is used for testing purposes only. Simply call this method to make sure the API is responding fine.",
				"operationId": "api-echo",
				"parameters": [
					{
						"name": "message",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					}
				},
				"tags": [
					""
				]
			}
		},
		"viddler.encoding.cancel": {
			"post": {
				"summary": "Encoding Cancel",
				"description": "Cancel encoding a specific video file.",
				"operationId": "encoding-cancel",
				"parameters": [
					{
						"name": "file_id",
						"in": "query",
						"description": "",
						"type": "number"
					},
					{
						"name": "sessionid",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					}
				},
				"tags": [
					""
				]
			}
		},
		"viddler.encoding.getSettings": {
			"get": {
				"summary": "Encoding GetSettings",
				"description": "Returns the current encoding options for an account.",
				"operationId": "encoding-getsettings",
				"parameters": [
					{
						"name": "sessionid",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					}
				},
				"tags": [
					""
				]
			}
		},
		"viddler.encoding.getStatus2": {
			"get": {
				"summary": "Encoding GetStatus2",
				"description": "This method is the same as viddler.encoding.getStatus except that it groups files better for users to easily find what they are looking for. We could not easily update the previous method without causing complications with external applications.",
				"operationId": "encoding-getstatus2",
				"parameters": [
					{
						"name": "sessionid",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "video_id",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					}
				},
				"tags": [
					""
				]
			}
		},
		"viddler.logins.add": {
			"post": {
				"summary": "Logins Add",
				"description": "Adds a new login to user account when the main account has multi-user sign-on enabled. You must have this feature enabled for your account. Please call us at 1-888-444-1119 to enable for you account.",
				"operationId": "logins-add",
				"parameters": [
					{
						"name": "analytics_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "api_access_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "api_settings_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "billing_settings_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "branding_settings_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "email",
						"in": "query",
						"description": "The email of the user",
						"type": "string (100)"
					},
					{
						"name": "encoding_settings_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "interaction_settings_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "invoices_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "itunes_settings_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "login",
						"in": "query",
						"description": "The login username you would like to create",
						"type": "string (100)"
					},
					{
						"name": "logins_permissions",
						"in": "query",
						"description": "options: create, read, update and delete",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The name of the user",
						"type": "string (100)"
					},
					{
						"name": "password",
						"in": "query",
						"description": "The password of the user",
						"type": "string (100)"
					},
					{
						"name": "player_settings_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "playlists_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "playlist_ids",
						"in": "query",
						"description": "A comma delimited list of playlist IDs this user can view. Can be set to &#8216;all&#8217;.",
						"type": "string"
					},
					{
						"name": "privacy_settings_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "profile_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "recorder_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "sessionid",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "subaccounts_permissions",
						"in": "query",
						"description": "options: create, read, update and delete",
						"type": "string"
					},
					{
						"name": "support_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "videos_permissions",
						"in": "query",
						"description": "options: create, read, update and delete",
						"type": "string"
					},
					{
						"name": "vidgets_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					}
				},
				"tags": [
					""
				]
			}
		},
		"viddler.logins.get": {
			"get": {
				"summary": "Logins Get",
				"description": "Return the current permissions for a specific user.",
				"operationId": "logins-get",
				"parameters": [
					{
						"name": "login",
						"in": "query",
						"description": "The login username you would like to return information for.",
						"type": "string"
					},
					{
						"name": "sessionid",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					}
				},
				"tags": [
					""
				]
			}
		},
		"viddler.logins.update": {
			"post": {
				"summary": "Logins Update",
				"description": "Updates a current login.",
				"operationId": "logins-update",
				"parameters": [
					{
						"name": "analytics_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "api_access_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "api_settings_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "billing_settings_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "branding_settings_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "email",
						"in": "query",
						"description": "The email of the user",
						"type": "string"
					},
					{
						"name": "encoding_settings_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "interaction_settings_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "invoices_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "itunes_settings_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "login",
						"in": "query",
						"description": "The login username you would like to create",
						"type": "string"
					},
					{
						"name": "logins_permissions",
						"in": "query",
						"description": "options: create, read, update and delete",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The name of the user",
						"type": "string"
					},
					{
						"name": "password",
						"in": "query",
						"description": "The password of the user",
						"type": "string"
					},
					{
						"name": "player_settings_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "playlists_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "playlist_ids",
						"in": "query",
						"description": "A comma delimited list of playlist IDs this user can view. Can be set to &#8216;all&#8217;.",
						"type": "string"
					},
					{
						"name": "privacy_settings_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "profile_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "recorder_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "sessionid",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "subaccounts_permissions",
						"in": "query",
						"description": "options: create, read, update and delete",
						"type": "string"
					},
					{
						"name": "support_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					},
					{
						"name": "videos_permissions",
						"in": "query",
						"description": "options: create, read, update and delete",
						"type": "string"
					},
					{
						"name": "vidgets_permissions",
						"in": "query",
						"description": "options: manage",
						"type": "string"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					}
				},
				"tags": [
					""
				]
			}
		},
		"viddler.playlists.create": {
			"post": {
				"summary": "Playlists Create",
				"description": "Create a playlist. Regular playlist represents user defined videos. Smart playlist updates in realtime returning videos matching selected filtering rules.",
				"operationId": "playlists-create",
				"parameters": [
					{
						"name": "max_age",
						"in": "query",
						"description": "",
						"type": "number (how old videos should be returned. in"
					},
					{
						"name": "max_update_date",
						"in": "query",
						"description": "",
						"type": "string (date formatted as: yyyy-mm-dd, empty "
					},
					{
						"name": "max_views",
						"in": "query",
						"description": "",
						"type": "number (maximum number of views, empty by def"
					},
					{
						"name": "min_update_date",
						"in": "query",
						"description": "",
						"type": "string (date formatted as: yyyy-mm-dd, empty "
					},
					{
						"name": "min_views",
						"in": "query",
						"description": "",
						"type": "number (minimal number of views, empty by def"
					},
					{
						"name": "name",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "playlist_visibility",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "Regular Playlist Params (all optional)nnvideo_ids",
						"in": "query",
						"description": "",
						"type": "string (comma delimited video ids to be added"
					},
					{
						"name": "sessionid",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "Smart Playlist Params (all optional)nnusers",
						"in": "query",
						"description": "",
						"type": "string (comma delimited usernames, defaults t"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "",
						"type": "string (uploaded-desc, uploaded-asc, views-de"
					},
					{
						"name": "tags",
						"in": "query",
						"description": "",
						"type": "string (comma separated tags names)"
					},
					{
						"name": "type",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "visibility",
						"in": "query",
						"description": "",
						"type": "string (public or private, empty by default)"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					}
				},
				"tags": [
					""
				]
			}
		},
		"viddler.playlists.delete": {
			"post": {
				"summary": "Playlists Delete",
				"description": "Delete a playlist.u00a0Caution: This operation cannot be undone.",
				"operationId": "playlists-delete",
				"parameters": [
					{
						"name": "playlist_id",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "sessionid",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					}
				},
				"tags": [
					""
				]
			}
		},
		"viddler.playlists.list": {
			"get": {
				"summary": "Playlists List",
				"description": "List all playlists for an account.",
				"operationId": "playlists-list",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "",
						"type": "number"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "",
						"type": "number"
					},
					{
						"name": "sessionid",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					}
				},
				"tags": [
					""
				]
			}
		},
		"viddler.playlists.moveVideo": {
			"get": {
				"summary": "Playlists MoveVideo",
				"description": "Reorder videos in regular playlist.",
				"operationId": "playlists-movevideo",
				"parameters": [
					{
						"name": "from",
						"in": "query",
						"description": "",
						"type": "number"
					},
					{
						"name": "playlist_id",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "sessionid",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "to",
						"in": "query",
						"description": "",
						"type": "number"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					}
				},
				"tags": [
					""
				]
			}
		},
		"viddler.resellers.getSubaccounts": {
			"get": {
				"summary": "Resellers GetSubaccounts",
				"description": "List all subaccounts under your account. Only applies to reseller accounts. Other accounts do not have access to this method.",
				"operationId": "resellers-getsubaccounts",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "",
						"type": "number"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "",
						"type": "number"
					},
					{
						"name": "sessionid",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					}
				},
				"tags": [
					""
				]
			}
		},
		"viddler.users.getPlayerBranding": {
			"get": {
				"summary": "Users GetPlayerBranding",
				"description": "Returns your player branding configuration.",
				"operationId": "users-getplayerbranding",
				"parameters": [
					{
						"name": "sessionid",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					}
				},
				"tags": [
					""
				]
			}
		},
		"viddler.users.getProfile": {
			"get": {
				"summary": "Users GetProfile",
				"description": "Get the public information for a profile. Can only get profile information for public profiles.",
				"operationId": "users-getprofile",
				"parameters": [
					{
						"name": "sessionid",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "user",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					}
				},
				"tags": [
					""
				]
			}
		},
		"viddler.users.getSettings": {
			"get": {
				"summary": "Users GetSettings",
				"description": "Return account settings.",
				"operationId": "users-getsettings",
				"parameters": [
					{
						"name": "sessionid",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					}
				},
				"tags": [
					""
				]
			}
		},
		"viddler.users.setPlayerBranding": {
			"post": {
				"summary": "Users SetPlayerBranding",
				"description": "Sets your player branding options. All options are optional other than your sessionid. Color formats are inu00a0hexadecimalu00a0format with preceding pound sign (IE: #rrggbb)",
				"operationId": "users-setplayerbranding",
				"parameters": [
					{
						"name": "bclicked",
						"in": "query",
						"description": "",
						"type": "color"
					},
					{
						"name": "bhover",
						"in": "query",
						"description": "",
						"type": "color"
					},
					{
						"name": "bidle",
						"in": "query",
						"description": "",
						"type": "color"
					},
					{
						"name": "control_bar",
						"in": "query",
						"description": "",
						"type": "color"
					},
					{
						"name": "enable_stripes",
						"in": "query",
						"description": "",
						"type": "boolean"
					},
					{
						"name": "logo_align",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "logo_click_url",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "logo_offset_x",
						"in": "query",
						"description": "",
						"type": "number"
					},
					{
						"name": "logo_offset_y",
						"in": "query",
						"description": "",
						"type": "number"
					},
					{
						"name": "logo_url",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "logo_visible",
						"in": "query",
						"description": "",
						"type": "boolean"
					},
					{
						"name": "pclicked",
						"in": "query",
						"description": "",
						"type": "color"
					},
					{
						"name": "phover",
						"in": "query",
						"description": "",
						"type": "color"
					},
					{
						"name": "pidle",
						"in": "query",
						"description": "",
						"type": "color"
					},
					{
						"name": "sessionid",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "shade_dark",
						"in": "query",
						"description": "",
						"type": "boolean"
					},
					{
						"name": "simple_color",
						"in": "query",
						"description": "",
						"type": "color"
					},
					{
						"name": "timebackground",
						"in": "query",
						"description": "",
						"type": "color"
					},
					{
						"name": "timeloaded",
						"in": "query",
						"description": "",
						"type": "color"
					},
					{
						"name": "timeplayed",
						"in": "query",
						"description": "",
						"type": "color"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
[...]
