{
	"swagger": "2.0",
	"info": {
		"title": "VZaar API",
		"description": "vzaar is an online video hosting service with fantastic features that are designed for business. Deliver to mobile or the web straight from your site.",
		"termsOfService": "http://vzaar.com/policies",
		"version": "v1"
	},
	"host": "vzaar.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"nn/api/accounts/{account}.{format}nn": {
			"get": {
				"summary": "Accounts",
				"description": "nnThis API call returns the details and rights for each vzaar subscription account type along with it's relevant metadata. This will show the details of the packages available here: http://vzaar.com/pricingnn",
				"operationId": "accounts",
				"parameters": [
					{
						"name": "account is the vzaar account type. This is an integer.",
						"in": "query",
						"description": ""
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"nn/api/upload/link.xmln": {
			"post": {
				"summary": "Upload",
				"description": "nnThis API call allows a user to upload &amp; process video file from given url.nn",
				"operationId": "upload",
				"parameters": [
					{
						"name": "bitrate",
						"in": "query",
						"description": "Specifies videos bitrate",
						"type": "integer "
					},
					{
						"name": "description",
						"in": "query",
						"description": "Specifies the description for the video",
						"type": "string "
					},
					{
						"name": "encoding_params",
						"in": "query",
						"description": "Includes optional parameters",
						"type": "node "
					},
					{
						"name": "guid",
						"in": "query",
						"description": "Specifies the guid to operate on",
						"type": "string "
					},
					{
						"name": "key",
						"in": "query",
						"description": "A name for the S3 object that stores the uploaded file",
						"type": "string "
					},
					{
						"name": "size_id",
						"in": "query",
						"description": "Specifies the size for the video to be encoded in",
						"type": "integer "
					},
					{
						"name": "title",
						"in": "query",
						"description": "Specifies the title for the video",
						"type": "string "
					},
					{
						"name": "transcoding",
						"in": "query",
						"description": "True forces vzaar to transcode the video, false makes vzaar use the original source file",
						"type": "boolean "
					},
					{
						"name": "url",
						"in": "query",
						"description": "Specifies the url to video file",
						"type": "string "
					},
					{
						"name": "width",
						"in": "query",
						"description": "Specifies videos width",
						"type": "integer "
					},
					{
						"name": "XML/JSON",
						"in": "query",
						"description": ""
					}
				],
				"responses": {
					"200": {
						"description": "success"
					},
					"422": {
						"description": "failure"
					}
				},
				"tags": [
					""
				]
			}
		},
		"nn/api/users/{username}.{format}nn": {
			"get": {
				"summary": "Users",
				"description": "nnThis API call returns the user's public details along with it's relevant metadata.nn",
				"operationId": "users",
				"parameters": [
					{
						"name": "username is the vzaar login name for the user. Note: This must be the actual username and not the email address",
						"in": "query",
						"description": ""
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "failure"
					}
				},
				"tags": [
					""
				]
			}
		},
		"nn/api/videosnn": {
			"post": {
				"summary": "Videos",
				"description": "nnThis API call tells the vzaar system to process a newly uploaded video. This will encode it if necessary and then provide a vzaar video idea back.nn",
				"operationId": "videos",
				"parameters": [
					{
						"name": "description",
						"in": "query",
						"description": "Specifies the description for the video",
						"type": "string "
					},
					{
						"name": "guid",
						"in": "query",
						"description": "Specifies the guid to operate on",
						"type": "string "
					},
					{
						"name": "labels",
						"in": "query",
						"description": "Comma separated list of labels to be assigned to the video",
						"type": "string "
					},
					{
						"name": "profile",
						"in": "query",
						"description": "Specifies the size for the video to be encoded in. If not specified, this will use the vzaar default or the user default (if set)",
						"type": "integer "
					},
					{
						"name": "replace_id",
						"in": "query",
						"description": "Specifies the video ID of an existing video that you wish to replace with the new video.",
						"type": "integer "
					},
					{
						"name": "title",
						"in": "query",
						"description": "Specifies the title for the video",
						"type": "string "
					},
					{
						"name": "transcoding",
						"in": "query",
						"description": "True forces vzaar to transcode the video, false makes vzaar use the original source file (available only for mp4 and flv files)",
						"type": "boolean "
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"nn/api/videos/signaturenn": {
			"get": {
				"summary": "Videos",
				"description": "nnThis API call allows a user to request a GUID and an AWS S3 signature. With these credentials the user will then be able upload a file into vzaar video storage area.nnThe response for this must be parsed and used in the Upload step. The upload will fail if any of these details are incorrect.nn",
				"operationId": "videos",
				"parameters": [
					{
						"name": "flash_request",
						"in": "query",
						"description": "Allows you to use a flash uploader",
						"type": "string "
					},
					{
						"name": "max_file_size",
						"in": "query",
						"description": "Specifies the maximum file size (in bytes) to limit the upload too. This gets written into the policy document",
						"type": "integer "
					},
					{
						"name": "success_action_redirect",
						"in": "query",
						"description": "Specifies if to redirect to a URL after a successful post instead of issuing a 201. See the upload documentation for more details on this.",
						"type": "string "
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"nn/api/videos/{video}.{format}nn": {
			"get": {
				"summary": "Videos",
				"description": "nnvzaar uses the oEmbed open standard for allowing 3rd parties to integrated with the vzaar. You can use the vzaar video URL to easily obtain the appropriate embed code for that video. To find out more about oEmbed view the specification here: http://oembed.com/nn",
				"operationId": "videos",
				"parameters": [
					{
						"name": "borderless,",
						"in": "query",
						"description": "If set to true and the user has sufficient privileges, the size and embeded code returned will be be for a borderless player. Else ignored",
						"type": "boolean "
					},
					{
						"name": "embed_only,",
						"in": "query",
						"description": "When returning data, only include the minimum fields and embed code possible. Use this if you want the quickest and smallest return code for embedding in it",
						"type": "boolean "
					},
					{
						"name": "videos is the vzaar video number for that video.",
						"in": "query",
						"description": ""
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"nnhttps://{bucket}.s3.amazonaws.com/nn": {
			"post": {
				"summary": "{bucket}.s3.amazonaws.com",
				"description": "nnThis API call allows a user to save a file to vzaar's storage space on AWS S3, so that it can then be processed.nnThe arguments used to submit the upload HTTP POST must be obtained from the sign call.nnThe sign call includes an expiration time. It is suggest the upload is done immediately after requesting the arguments to keep within this expiration window.nn",
				"operationId": "buckets3amazonawscom",
				"parameters": [
					{
						"name": "acl",
						"in": "query",
						"description": "The access control policy to apply to the uploaded file",
						"type": "string"
					},
					{
						"name": "AWSAccessKeyId",
						"in": "query",
						"description": "The vzaar AWS Access Key Identifier credential",
						"type": "string "
					},
					{
						"name": "bucket",
						"in": "query",
						"description": "The vzaar bucket that has been allocated for this file",
						"type": "string "
					},
					{
						"name": "content",
						"in": "query",
						"description": "type string"
					},
					{
						"name": "Filename",
						"in": "query",
						"description": "The name of the file passed through from the flash. Flash does this automatically.",
						"type": "string "
					},
					{
						"name": "key",
						"in": "query",
						"description": "A name for the S3 object that will store the uploaded files data",
						"type": "string "
					},
					{
						"name": "policy",
						"in": "query",
						"description": "A Base64"
					},
					{
						"name": "signature",
						"in": "query",
						"description": "A signature value that authorizes the form and proves that only vzaar could have created it. This value is calculated by signing the policy document",
						"type": "string "
					},
					{
						"name": "success_action_redirect",
						"in": "query",
						"description": "Specifies if to redirect to a URL after a successful post instead of issuing a 201. If set this must be the same as specified in the sign call",
						"type": "string "
					},
					{
						"name": "success_action_status",
						"in": "query",
						"description": "The status code returned to the client upon successful upload if success_action_redirect is not specified. This must be set to 201 to match the policy document we create",
						"type": "integer "
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/api/{username}/videos.xml": {
			"get": {
				"summary": "{username}",
				"description": "nnThis API call returns a list of the user's active videos along with it's relevant metadata. 20 videos are returned by default but this is customisable.nn",
				"operationId": "username",
				"parameters": [
					{
						"name": "count,",
						"in": "query",
						"description": "Specifies the number of videos to retrieve per page. Default is 20. Maximum is 100",
						"type": "integer "
					},
					{
						"name": "page,",
						"in": "query",
						"description": "Specifies the page number to retrieve. Default is 1",
						"type": "integer "
					},
					{
						"name": "sort,",
						"in": "query",
						"description": "Values can be asc (least_recent) or desc (most_recent). Defaults to desc",
						"type": "string "
					},
					{
						"name": "status,",
						"in": "query",
						"description": "Values can be processing, active, replaced, deleted and failed",
						"type": "string "
					},
					{
						"name": "title,",
						"in": "query",
						"description": "Return only videos with title containing given string",
						"type": "string "
					},
					{
						"name": "username is the vzaar login name for the user. Note: This must be the actual username and not the email address",
						"in": "query",
						"description": ""
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"SummarynnThis API call allows a user to edit or change details about a video in the system.nnEndpoint / urlnn/api/videos/{video}.xmlnn": {
			"put": {
				"summary": "Api",
				"description": "nn",
				"operationId": "api",
				"parameters": [
					{
						"name": "description",
						"in": "query",
						"description": "Specifies the new description for the video",
						"type": "string "
					},
					{
						"name": "method",
						"in": "query",
						"description": "Specifies to use the HTTP PUT method if submitting the call via HTTP POST",
						"type": "string "
					},
					{
						"name": "private",
						"in": "query",
						"description": "Marks the video as private or public",
						"type": "boolean "
					},
					{
						"name": "seo_url",
						"in": "query",
						"description": "Specifies the SEO url for the video",
						"type": "string "
					},
					{
						"name": "title",
						"in": "query",
						"description": "Specifies the new title for the video",
						"type": "string "
					},
					{
						"name": "videos is the vzaar video number for that video.",
						"in": "query",
						"description": ""
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"SummarynnThis API call deletes a video from an users account.nnEndpoint / urlnn/api/videos/{video}.xmlnn": {
			"post  delete": {
				"summary": "Api",
				"description": "nn",
				"operationId": "api",
				"parameters": [
					{
						"name": "method",
						"in": "query",
						"description": "Specifies to use the HTTP DELETE method if submitting the call via HTTP POST",
						"type": "string "
					},
					{
						"name": "videos is the vzaar video number for that video.",
						"in": "query",
						"description": ""
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"SummarynThis API call allows a user to generate new thumbnail for given video.nn /api/videos/{video}/generate_thumb.xmlnn": {
			"summarythis api c": {
				"summary": "Videos",
				"description": "n",
				"operationId": "videos",
				"parameters": [
					{
						"name": "thumb_time",
						"in": "query",
						"description": "Specifies time for the frame",
						"type": "integer "
					}
				],
				"responses": {
					"202": {
						"description": "success"
					},
					"422": {
						"description": "failure"
					}
				},
				"tags": [
					""
				]
			}
		},
		"SummarynThis API call allows a user to upload new thumbnail for given video id.nn /api/videos/{video_id}/upload_thumb.xmlnn": {
			"summarythis api call allows a user to upload ": {
				"summary": "Videos",
				"description": "n",
				"operationId": "videos",
				"responses": {
					"202": {
						"description": "success"
					},
					"422": {
						"description": "failure"
					}
				},
				"tags": [
					""
				]
			}
		},
		"SummarynThis API call allows a user to upload subtitle for given video.nn /api/subtitle/upload.xmlnn": {
			"summarythis api c": {
				"summary": "Subtitle",
				"description": "n",
				"operationId": "subtitle",
				"responses": {
					"202": {
						"description": "success"
					},
					"422": {
						"description": "failure"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}