{
	"swagger": "2.0",
	"info": {
		"title": "Digital River Shopper API",
		"description": "The DR Connect Shopper API operates on a store and products that are set up in Global Commerce. ",
		"termsOfService": null,
		"version": "v1"
	},
	"host": "store.digitalriver.com",
	"basePath": "/store/{mysite}",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/oauth20/authorize": {
			"get": {
				"summary": "oauth20/authorize",
				"description": "oauth20/authorize",
				"operationId": "oauth20authorize",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/oauth20/token": {
			"post": {
				"summary": "oauth20/token(Limited Token)",
				"description": "oauth20/token(Limited Token)",
				"operationId": "oauth20tokenlimited-token",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers": {
			"post": {
				"summary": "shoppers",
				"description": "shoppers",
				"operationId": "shoppers",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers-api": {
			"get": {
				"summary": "shoppers-api",
				"description": "shoppers-api",
				"operationId": "shoppersapi",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me": {
			"post": {
				"summary": "shoppers/me",
				"description": "shoppers/me",
				"operationId": "shoppersme",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/account": {
			"get": {
				"summary": "shoppers/me/account",
				"description": "shoppers/me/account",
				"operationId": "shoppersmeaccount",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/addresses": {
			"get": {
				"summary": "shoppers/me/addresses",
				"description": "shoppers/me/addresses",
				"operationId": "shoppersmeaddresses",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/addresses/{id}": {
			"get": {
				"summary": "shoppers/me/addresses/{id}",
				"description": "shoppers/me/addresses/{id}",
				"operationId": "shoppersmeaddressesid",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/carts/active": {
			"post": {
				"summary": "shoppers/me/carts/active",
				"description": "shoppers/me/carts/active",
				"operationId": "shoppersmecartsactive",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/carts/active/apply-shipping-option": {
			"post": {
				"summary": "shoppers/me/carts/active/apply-shipping-option",
				"description": "shoppers/me/carts/active/apply-shipping-option",
				"operationId": "shoppersmecartsactiveapplyshippingoption",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/carts/active/apply-shopper": {
			"post": {
				"summary": "shoppers/me/carts/active/apply-shopper",
				"description": "shoppers/me/carts/active/apply-shopper",
				"operationId": "shoppersmecartsactiveapplyshopper",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/carts/active/billing-address": {
			"put": {
				"summary": "shoppers/me/carts/active/billing-address",
				"description": "shoppers/me/carts/active/billing-address",
				"operationId": "shoppersmecartsactivebillingaddress",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/carts/active/line-items": {
			"post": {
				"summary": "shoppers/me/carts/active/line-items",
				"description": "shoppers/me/carts/active/line-items",
				"operationId": "shoppersmecartsactivelineitems",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/carts/active/line-items/{id}": {
			"post": {
				"summary": "shoppers/me/carts/active/line-items/{id}",
				"description": "shoppers/me/carts/active/line-items/{id}",
				"operationId": "shoppersmecartsactivelineitemsid",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/carts/active/point-of-promotions/{id}/offers": {
			"get": {
				"summary": "shoppers/me/carts/active/active/point-of-promotions/{id}/offers",
				"description": "shoppers/me/carts/active/active/point-of-promotions/{id}/offers",
				"operationId": "shoppersmecartsactiveactivepointofpromotionsidoffers",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/carts/active/shipping-address": {
			"put": {
				"summary": "shoppers/me/carts/active/shipping-address",
				"description": "shoppers/me/carts/active/shipping-address",
				"operationId": "shoppersmecartsactiveshippingaddress",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/carts/active/shipping-options": {
			"get": {
				"summary": "shoppers/me/carts/active/shipping-options",
				"description": "shoppers/me/carts/active/shipping-options",
				"operationId": "shoppersmecartsactiveshippingoptions",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/carts/active/shipping-options/{id}": {
			"get": {
				"summary": "shoppers/me/carts/active/shipping-options/{id}",
				"description": "shoppers/me/carts/active/shipping-options/{id}",
				"operationId": "shoppersmecartsactiveshippingoptionsid",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/carts/active/submit-cart": {
			"post": {
				"summary": "shoppers/me/carts/active/submit-cart",
				"description": "shoppers/me/carts/active/submit-cart",
				"operationId": "shoppersmecartsactivesubmitcart",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/carts/active/web-checkout": {
			"post": {
				"summary": "shoppers/me/carts/active/web-checkout",
				"description": "shoppers/me/carts/active/web-checkout",
				"operationId": "shoppersmecartsactivewebcheckout",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/categories": {
			"get": {
				"summary": "shoppers/me/categories",
				"description": "shoppers/me/categories",
				"operationId": "shoppersmecategories",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/categories/{id}": {
			"get": {
				"summary": "shoppers/me/categories/{id}",
				"description": "shoppers/me/categories/{id}",
				"operationId": "shoppersmecategoriesid",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/categories/{id}/products": {
			"get": {
				"summary": "shoppers/me/categories/{id}/products",
				"description": "shoppers/me/categories/{id}/products",
				"operationId": "shoppersmecategoriesidproducts",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/orders": {
			"post": {
				"summary": "shoppers/me/orders",
				"description": "shoppers/me/orders",
				"operationId": "shoppersmeorders",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/orders/{id}": {
			"get": {
				"summary": "shoppers/me/orders/{id}",
				"description": "shoppers/me/orders/{id}",
				"operationId": "shoppersmeordersid",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/orders/{id}/billing-address": {
			"get": {
				"summary": "shoppers/me/orders/{id}/billing-address",
				"description": "shoppers/me/orders/{id}/billing-address",
				"operationId": "shoppersmeordersidbillingaddress",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/orders/{id}/line-items": {
			"get": {
				"summary": "shoppers/me/orders/{id}/line-items",
				"description": "shoppers/me/orders/{id}/line-items",
				"operationId": "shoppersmeordersidlineitems",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/orders/{id}/line-items/{lineItemId}": {
			"get": {
				"summary": "shoppers/me/orders/{id}/line-items/{id}",
				"description": "shoppers/me/orders/{id}/line-items/{id}",
				"operationId": "shoppersmeordersidlineitemsid",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "lineItemId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/orders/{id}/shipping-address": {
			"get": {
				"summary": "shoppers/me/orders/{id}/shipping-address",
				"description": "shoppers/me/orders/{id}/shipping-address",
				"operationId": "shoppersmeordersidshippingaddress",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/payment-options": {
			"get": {
				"summary": "shoppers/me/payment-options",
				"description": "shoppers/me/payment-options",
				"operationId": "shoppersmepaymentoptions",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/payment-options/{id}": {
			"get": {
				"summary": "shoppers/me/payment-options/{id}",
				"description": "shoppers/me/payment-options/{id}",
				"operationId": "shoppersmepaymentoptionsid",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/point-of-promotions/{id}/offers": {
			"get": {
				"summary": "shoppers/me/point-of-promotions/{id}/offers",
				"description": "shoppers/me/point-of-promotions/{id}/offers",
				"operationId": "shoppersmepointofpromotionsidoffers",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/point-of-promotions/{id}/offers/{offerId}": {
			"get": {
				"summary": "shoppers/me/point-of-promotions/{id}/offers/{id}",
				"description": "shoppers/me/point-of-promotions/{id}/offers/{id}",
				"operationId": "shoppersmepointofpromotionsidoffersid",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "offerId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/point-of-promotions/{id}/offers/{offerId}/product-offers": {
			"get": {
				"summary": "shoppers/me/point-of-promotions/{id}/offers/{id}/product-offers",
				"description": "shoppers/me/point-of-promotions/{id}/offers/{id}/product-offers",
				"operationId": "shoppersmepointofpromotionsidoffersidproductoffers",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "offerId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/point-of-promotions/{id}/offers/{offerId}/product-offers/{productId}": {
			"get": {
				"summary": "shoppers/me/point-of-promotions/{id}/offers/{id}/product-offers/{id}",
				"description": "shoppers/me/point-of-promotions/{id}/offers/{id}/product-offers/{id}",
				"operationId": "shoppersmepointofpromotionsidoffersidproductoffersid",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "offerId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "productId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/product-search": {
			"get": {
				"summary": "shoppers/me/product-search",
				"description": "shoppers/me/product-search",
				"operationId": "shoppersmeproductsearch",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/products": {
			"get": {
				"summary": "shoppers/me/products",
				"description": "shoppers/me/products",
				"operationId": "shoppersmeproducts",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/products/{id}": {
			"get": {
				"summary": "shoppers/me/products/{id}",
				"description": "shoppers/me/products/{id}",
				"operationId": "shoppersmeproductsid",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/products/{id}/point-of-promotions/{popId}/offers": {
			"get": {
				"summary": "shoppers/me/products/{id}/point-of-promotions/{id}/offers",
				"description": "shoppers/me/products/{id}/point-of-promotions/{id}/offers",
				"operationId": "shoppersmeproductsidpointofpromotionsidoffers",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "popId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/products/{id}/purchase": {
			"post": {
				"summary": "shoppers/me/products/{id}/purchase",
				"description": "shoppers/me/products/{id}/purchase",
				"operationId": "shoppersmeproductsidpurchase",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/products/{id}/variations": {
			"get": {
				"summary": "shoppers/me/products/{id}/variations",
				"description": "shoppers/me/products/{id}/variations",
				"operationId": "shoppersmeproductsidvariations",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/purchase-plan/authorize": {
			"post": {
				"summary": "shoppers/me/purchase-plan/authorize",
				"description": "shoppers/me/purchase-plan/authorize",
				"operationId": "shoppersmepurchaseplanauthorize",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/me/purchase-plan/search": {
			"get": {
				"summary": "shoppers/me/purchase-plan/search",
				"description": "shoppers/me/purchase-plan/search",
				"operationId": "shoppersmepurchaseplansearch",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/v1/shoppers/token": {
			"get": {
				"summary": "shoppers/token",
				"description": "shoppers/token",
				"operationId": "shopperstoken",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}