{
	"swagger": "2.0",
	"info": {
		"title": "AT&T API",
		"description": "This is a complete definition of the AT&T API. Needs to be broken into separate endpoints.",
		"termsOfService": null,
		"version": "1"
	},
	"host": "api.att.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/1/devicecapabilities/acr:authorization/capabilities": {
			"get": {
				"summary": "/1/devicecapabilities/acr:authorization/capabilities",
				"description": "/1/devicecapabilities/acr:authorization/capabilities",
				"operationId": "1devicecapabilitiesacrauthorizationcapabilities",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/3/messaging/outbound/{senderAddress}/requests": {
			"post": {
				"summary": "/3/messaging/outbound/{senderAddress}/requests",
				"description": "/3/messaging/outbound/{senderAddress}/requests",
				"operationId": "3messagingoutboundsenderaddressrequests",
				"parameters": [
					{
						"name": "senderAddress",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/3/messaging/outbound/{senderAddress}/{requestId}/deliveryInfos": {
			"get": {
				"summary": "/3/messaging/outbound/{senderAddress}/{requestId}/deliveryInfos",
				"description": "/3/messaging/outbound/{senderAddress}/{requestId}/deliveryInfos",
				"operationId": "3messagingoutboundsenderaddressrequestiddeliveryinfos",
				"parameters": [
					{
						"name": "requestId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "senderAddress",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/3/smsmessaging/inbound/registrations/{registrationId}/messages": {
			"get": {
				"summary": "/3/smsmessaging/inbound/registrations/{registrationId}/messages",
				"description": "/3/smsmessaging/inbound/registrations/{registrationId}/messages",
				"operationId": "3smsmessaginginboundregistrationsregistrationidmessages",
				"parameters": [
					{
						"name": "registrationId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/3/smsmessaging/outbound/requests/{senderAddress}/{requestId}/deliveryInfos": {
			"get": {
				"summary": "/3/smsmessaging/outbound/requests/{senderAddress}/{requestId}/deliveryInfos",
				"description": "/3/smsmessaging/outbound/requests/{senderAddress}/{requestId}/deliveryInfos",
				"operationId": "3smsmessagingoutboundrequestssenderaddressrequestiddeliveryinfos",
				"parameters": [
					{
						"name": "requestId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "senderAddress",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/3/smsmessaging/outbound/{senderAddress}/requests": {
			"post": {
				"summary": "/3/smsmessaging/outbound/{senderAddress}/requests",
				"description": "/3/smsmessaging/outbound/{senderAddress}/requests",
				"operationId": "3smsmessagingoutboundsenderaddressrequests",
				"parameters": [
					{
						"name": "senderAddress",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/mms/v3/messaging/outbox": {
			"post": {
				"summary": "/mms/v3/messaging/outbox",
				"description": "/mms/v3/messaging/outbox",
				"operationId": "mmsv3messagingoutbox",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/mms/v3/messaging/outbox/{messageId}": {
			"get": {
				"summary": "/mms/v3/messaging/outbox/{messageId}",
				"description": "/mms/v3/messaging/outbox/{messageId}",
				"operationId": "mmsv3messagingoutboxmessageid",
				"parameters": [
					{
						"name": "messageId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/myMessages/v2/delta": {
			"get": {
				"summary": "/myMessages/v2/delta",
				"description": "/myMessages/v2/delta",
				"operationId": "mymessagesv2delta",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/myMessages/v2/messages": {
			"post": {
				"summary": "/myMessages/v2/messages",
				"description": "/myMessages/v2/messages",
				"operationId": "mymessagesv2messages",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/myMessages/v2/messages/index": {
			"post": {
				"summary": "/myMessages/v2/messages/index",
				"description": "/myMessages/v2/messages/index",
				"operationId": "mymessagesv2messagesindex",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/myMessages/v2/messages/index/info": {
			"get": {
				"summary": "/myMessages/v2/messages/index/info",
				"description": "/myMessages/v2/messages/index/info",
				"operationId": "mymessagesv2messagesindexinfo",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/myMessages/v2/messages/{messageId}": {
			"get": {
				"summary": "/myMessages/v2/messages/{messageId}",
				"description": "/myMessages/v2/messages/{messageId}",
				"operationId": "mymessagesv2messagesmessageid",
				"parameters": [
					{
						"name": "messageId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/myMessages/v2/messages/{messageId}/parts/{partId}": {
			"get": {
				"summary": "/myMessages/v2/messages/{messageId}/parts/{partId}",
				"description": "/myMessages/v2/messages/{messageId}/parts/{partId}",
				"operationId": "mymessagesv2messagesmessageidpartspartid",
				"parameters": [
					{
						"name": "messageId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "partId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/myMessages/v2/notificationConnectionDetails": {
			"get": {
				"summary": "/myMessages/v2/notificationConnectionDetails",
				"description": "/myMessages/v2/notificationConnectionDetails",
				"operationId": "mymessagesv2notificationconnectiondetails",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/rest/1/ads": {
			"get": {
				"summary": "/rest/1/ads",
				"description": "/rest/1/ads",
				"operationId": "rest1ads",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/rest/2/Devices/Info": {
			"get": {
				"summary": "/rest/2/Devices/Info",
				"description": "/rest/2/Devices/Info",
				"operationId": "rest2devicesinfo",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sms/v3/messaging/inbox/{RegistrationID}": {
			"get": {
				"summary": "/sms/v3/messaging/inbox/{RegistrationID}",
				"description": "/sms/v3/messaging/inbox/{RegistrationID}",
				"operationId": "smsv3messaginginboxregistrationid",
				"parameters": [
					{
						"name": "RegistrationID",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sms/v3/messaging/outbox": {
			"post": {
				"summary": "/sms/v3/messaging/outbox",
				"description": "/sms/v3/messaging/outbox",
				"operationId": "smsv3messagingoutbox",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sms/v3/messaging/outbox/{messageId}": {
			"get": {
				"summary": "/sms/v3/messaging/outbox/{messageId}",
				"description": "/sms/v3/messaging/outbox/{messageId}",
				"operationId": "smsv3messagingoutboxmessageid",
				"parameters": [
					{
						"name": "messageId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/speech/v3/speechToText": {
			"post": {
				"summary": "/speech/v3/speechToText",
				"description": "/speech/v3/speechToText",
				"operationId": "speechv3speechtotext",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/speech/v3/textToSpeech": {
			"post": {
				"summary": "/speech/v3/textToSpeech",
				"description": "/speech/v3/textToSpeech",
				"operationId": "speechv3texttospeech",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}