{
	"swagger": "2.0",
	"info": {
		"title": "PayPal",
		"description": "Our REST APIs provide a simple, powerful way to invoke PayPal services, letting you accept payment from a credit card or PayPal account, implement a secure login, and more.",
		"termsOfService": "https://cms.paypal.com/us/cgi-bin/?cmd=_render-content&content_ID=ua/Legal_Hub_full",
		"version": null
	},
	"host": "svcs.sandbox.paypal.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/AdaptiveAccounts/AddBankAccount": {
			"post": {
				"summary": "CreateAccount",
				"description": "CreateAccount",
				"operationId": "createaccount",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/AdaptiveAccounts/AddPaymentCard": {
			"post": {
				"summary": "AddBankAccount",
				"description": "AddBankAccount",
				"operationId": "addbankaccount",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/AdaptiveAccounts/CreateAccount": {
			"post": {
				"summary": "GetFundingPlans",
				"description": "GetFundingPlans",
				"operationId": "getfundingplans",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/AdaptiveAccounts/GetUserAgreement": {
			"post": {
				"summary": "GetVerifiedStatus",
				"description": "GetVerifiedStatus",
				"operationId": "getverifiedstatus",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/AdaptiveAccounts/GetVerifiedStatus": {
			"post": {
				"summary": "SetFundingSourceConfirmed",
				"description": "SetFundingSourceConfirmed",
				"operationId": "setfundingsourceconfirmed",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/AdaptiveAccounts/SetFundingSourceConfirmed": {
			"post": {
				"summary": "AddPaymentCard",
				"description": "AddPaymentCard",
				"operationId": "addpaymentcard",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/AdaptivePayments/CancelPreapproval": {
			"post": {
				"summary": "PreapprovalDetails",
				"description": "PreapprovalDetails",
				"operationId": "preapprovaldetails",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/AdaptivePayments/ConvertCurrency": {
			"post": {
				"summary": "CancelPreapproval",
				"description": "CancelPreapproval",
				"operationId": "cancelpreapproval",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/AdaptivePayments/ExecutePayment": {
			"post": {
				"summary": "SetPaymentOptions",
				"description": "SetPaymentOptions",
				"operationId": "setpaymentoptions",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/AdaptivePayments/GetFundingPlans": {
			"post": {
				"summary": "GetShippingAddresses",
				"description": "GetShippingAddresses",
				"operationId": "getshippingaddresses",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/AdaptivePayments/GetPaymentOptions": {
			"post": {
				"summary": "Refund",
				"description": "Refund",
				"operationId": "refund",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/AdaptivePayments/GetShippingAddresses": {
			"post": {
				"summary": "ExecutePayment",
				"description": "ExecutePayment",
				"operationId": "executepayment",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/AdaptivePayments/Pay": {
			"post": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/AdaptivePayments/PaymentDetails": {
			"post": {
				"summary": "Pay",
				"description": "Pay",
				"operationId": "pay",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/AdaptivePayments/Preapproval": {
			"post": {
				"summary": "PaymentDetails",
				"description": "PaymentDetails",
				"operationId": "paymentdetails",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/AdaptivePayments/PreapprovalDetails": {
			"post": {
				"summary": "Preapproval",
				"description": "Preapproval",
				"operationId": "preapproval",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/AdaptivePayments/Refund": {
			"post": {
				"summary": "ConvertCurrency",
				"description": "ConvertCurrency",
				"operationId": "convertcurrency",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/AdaptivePayments/SetPaymentOptions": {
			"post": {
				"summary": "GetPaymentOptions",
				"description": "GetPaymentOptions",
				"operationId": "getpaymentoptions",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Invoice/CancelInvoice": {
			"post": {
				"summary": "GetInvoiceDetails",
				"description": "GetInvoiceDetails",
				"operationId": "getinvoicedetails",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Invoice/CreateAndSendInvoice": {
			"post": {
				"summary": "SendInvoice",
				"description": "SendInvoice",
				"operationId": "sendinvoice",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Invoice/CreateInvoice": {
			"post": {
				"summary": "GetUserAgreement",
				"description": "GetUserAgreement",
				"operationId": "getuseragreement",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Invoice/GetInvoiceDetails": {
			"post": {
				"summary": "UpdateInvoice",
				"description": "UpdateInvoice",
				"operationId": "updateinvoice",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Invoice/MarkInvoiceAsPaid": {
			"post": {
				"summary": "CancelInvoice",
				"description": "CancelInvoice",
				"operationId": "cancelinvoice",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Invoice/SearchInvoices": {
			"post": {
				"summary": "MarkInvoiceAsPaid",
				"description": "MarkInvoiceAsPaid",
				"operationId": "markinvoiceaspaid",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Invoice/SendInvoice": {
			"post": {
				"summary": "CreateInvoice",
				"description": "CreateInvoice",
				"operationId": "createinvoice",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Invoice/UpdateInvoice": {
			"post": {
				"summary": "CreateAndSendInvoice",
				"description": "CreateAndSendInvoice",
				"operationId": "createandsendinvoice",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Permissions/CancelPermissions": {
			"post": {
				"summary": "GetPermissions",
				"description": "GetPermissions",
				"operationId": "getpermissions",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Permissions/GetAccessToken": {
			"post": {
				"summary": "RequestPermissions",
				"description": "RequestPermissions",
				"operationId": "requestpermissions",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Permissions/GetAdvancedPersonalData": {
			"post": {
				"summary": "GetBasicPersonalData",
				"description": "GetBasicPersonalData",
				"operationId": "getbasicpersonaldata",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Permissions/GetBasicPersonalData": {
			"post": {
				"summary": "CancelPermissions",
				"description": "CancelPermissions",
				"operationId": "cancelpermissions",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Permissions/GetPermissions": {
			"post": {
				"summary": "GetAccessToken",
				"description": "GetAccessToken",
				"operationId": "getaccesstoken",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Permissions/RequestPermissions": {
			"post": {
				"summary": "SearchInvoices",
				"description": "SearchInvoices",
				"operationId": "searchinvoices",
				"parameters": [
					{
						"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}