{
	"swagger": "2.0",
	"info": {
		"title": "XigniteGlobalNews",
		"description": "Financial news APIs.",
		"termsOfService": null,
		"version": "v1"
	},
	"host": "globalnews.xignite.com",
	"basePath": "xGlobalNews.xml/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"GetHistoricalMarketHeadlines/": {
			"get": {
				"summary": "Historical Market Headlines",
				"description": "Returns all market headlines that were published in a specified time frame.",
				"operationId": "",
				"parameters": [
					{
						"name": "EndDate",
						"in": "query",
						"description": "The end date range.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "The start date range.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_Token",
						"in": "query",
						"description": "The API Key",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" market",
					" historical"
				]
			}
		},
		"GetHistoricalSecurityHeadlines/": {
			"get": {
				"summary": "Historical Security Headlines",
				"description": "Returns all headlines that were published in a specified time frame for a given security.",
				"operationId": "",
				"parameters": [
					{
						"name": "EndDate",
						"in": "query",
						"description": "The end date range.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "Identifier",
						"in": "query",
						"description": "The ticker symbol for company",
						"type": "string",
						"format": "string"
					},
					{
						"name": "IdentifierType",
						"in": "query",
						"description": "The symbol to use.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "StartDate",
						"in": "query",
						"description": "The start date range.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_Token",
						"in": "query",
						"description": "The API Key.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" historical",
					" securities"
				]
			}
		},
		"GetLastMarketHeadlines/": {
			"get": {
				"summary": "GetLastMarketHeadlines",
				"description": "Returns market headlines published since a specific date and time.",
				"operationId": "",
				"parameters": [
					{
						"name": "SinceDate",
						"in": "query",
						"description": "The beginning of data range.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_Token",
						"in": "query",
						"description": "The API Key.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" press releases"
				]
			}
		},
		"GetLastSecurityHeadlines/": {
			"get": {
				"summary": "Last Security Headlines",
				"description": "Returns headlines for a company published since a specific date and time.",
				"operationId": "",
				"parameters": [
					{
						"name": "Identifier",
						"in": "query",
						"description": "The ticker symbol for company",
						"type": "string",
						"format": "string"
					},
					{
						"name": "IdentifierType",
						"in": "query",
						"description": "The identifier to use.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "SinceDate",
						"in": "query",
						"description": "The start date range.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_Token",
						"in": "query",
						"description": "The API Key.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" press releases"
				]
			}
		},
		"GetReleaseContent/": {
			"get": {
				"summary": "Release Content",
				"description": "Return detailed information about a release as well as its content.",
				"operationId": "",
				"parameters": [
					{
						"name": "ReleaseID",
						"in": "query",
						"description": "The press release ID>",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_Token",
						"in": "query",
						"description": "The API Key.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" press releases"
				]
			}
		},
		"GetTodaysSecurityHeadlines": {
			"get": {
				"summary": "Todays Security Headlines",
				"description": "Returns headlines for a company published today.",
				"operationId": "",
				"parameters": [
					{
						"name": "Identifier",
						"in": "query",
						"description": "The ticker symbol for company",
						"type": "string",
						"format": "string"
					},
					{
						"name": "IdentifierType",
						"in": "query",
						"description": "The identifier to use.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_Token",
						"in": "query",
						"description": "The API Key.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" headlines"
				]
			}
		},
		"GetTopMarketHeadlines/": {
			"get": {
				"summary": "Get Top Market Headlines",
				"description": "Returns the most recent specified number of market headlines.",
				"operationId": "",
				"parameters": [
					{
						"name": "Count",
						"in": "query",
						"description": "Number of headlines to return",
						"type": "number",
						"format": "string"
					},
					{
						"name": "_Token",
						"in": "query",
						"description": "API Key",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"financial",
					" news"
				]
			}
		},
		"GetTopSecurityHeadlines/": {
			"get": {
				"summary": "Get Top Security Headlines",
				"description": "Returns the most recent specified number of headlines for a given security.",
				"operationId": "",
				"parameters": [
					{
						"name": "Count",
						"in": "query",
						"description": "The number of news items to return.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "Identifier",
						"in": "query",
						"description": "The ticker symbol for company",
						"type": "string",
						"format": "string"
					},
					{
						"name": "IdentifierType",
						"in": "query",
						"description": "The ticker symbol for company",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_Token",
						"in": "query",
						"description": "API Key",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" security",
					" financial"
				]
			}
		},
		"SearchMarketHeadlines/": {
			"get": {
				"summary": "Search Market Headlines",
				"description": "Search market headlines across all companies based on date, source, and title.",
				"operationId": "",
				"parameters": [
					{
						"name": "EndDate",
						"in": "query",
						"description": "The end date range.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "Source",
						"in": "query",
						"description": "The source of the news.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "StartDate",
						"in": "query",
						"description": "The start date range.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "Title",
						"in": "query",
						"description": "Title of the headlines.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_Token",
						"in": "query",
						"description": "The API Key.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" markets",
					" search"
				]
			}
		},
		"SearchSecurityHeadlines/": {
			"get": {
				"summary": "Search Security Headlines",
				"description": "Search headlines for a company across all companies based on date, source, and title.",
				"operationId": "",
				"parameters": [
					{
						"name": "EndDate",
						"in": "query",
						"description": "The end date range.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "Identifier",
						"in": "query",
						"description": "The ticker symbol for company",
						"type": "string",
						"format": "string"
					},
					{
						"name": "IdentifierType",
						"in": "query",
						"description": "The identifier to use.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "Source",
						"in": "query",
						"description": "The source of the news.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "StartDate",
						"in": "query",
						"description": "The start date range.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "Title",
						"in": "query",
						"description": "The title of the article.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_Token",
						"in": "query",
						"description": "The API Key.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" securities",
					" search"
				]
			}
		},
		"GetHistoricalMarketHeadlinesBySector/": {
			"get": {
				"summary": "Historical Market Headlines By Sector",
				"description": "Returns all market headlines that were published in a specified time frame for a specified sector.",
				"operationId": "",
				"parameters": [
					{
						"name": "EndDate",
						"in": "query",
						"description": "The end date range.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "Sector",
						"in": "query",
						"description": "The business sector to search within.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "StartDate",
						"in": "query",
						"description": "The start date range.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_Token",
						"in": "query",
						"description": "The API Key.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" markets",
					" sectors"
				]
			}
		},
		"GetHistoricalReleasesBySecurity/": {
			"get": {
				"summary": "Historical Releases By Security",
				"description": "Returns all press releases that were published in a specified time frame for a given security.",
				"operationId": "",
				"parameters": [
					{
						"name": "EndDate",
						"in": "query",
						"description": "The end date range.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "Identifier",
						"in": "query",
						"description": "The ticker symbol for company",
						"type": "string",
						"format": "string"
					},
					{
						"name": "IdentifierType",
						"in": "query",
						"description": "The identifier to use.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "StartDate",
						"in": "query",
						"description": "The start date range.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_Token",
						"in": "query",
						"description": "The API Key.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" press releases",
					" securities"
				]
			}
		},
		"GetMarketNewsDetails/": {
			"get": {
				"summary": "Market News Details",
				"description": "Returns the summary content for a specified headline.",
				"operationId": "",
				"parameters": [
					{
						"name": "Reference",
						"in": "query",
						"description": "The URL of the news article.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_Token",
						"in": "query",
						"description": "The API Key.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" markets"
				]
			}
		},
		"GetTodaysMarketHeadlines/": {
			"get": {
				"summary": "Todays Market Headlines",
				"description": "Returns all market headlines that were published today.",
				"operationId": "",
				"parameters": [
					{
						"name": "_Token",
						"in": "query",
						"description": "The API Key.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"financial",
					" news"
				]
			}
		},
		"GetTodaysMarketHeadlinesBySector/": {
			"get": {
				"summary": "Todays Market Headlines By Sector",
				"description": "Returns all market headlines that were published today for a specified sector.",
				"operationId": "",
				"parameters": [
					{
						"name": "Sector",
						"in": "query",
						"description": "The business sector to search within.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_Token",
						"in": "query",
						"description": "The API Key.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" markets"
				]
			}
		},
		"GetTodaysReleasesBySecurity/": {
			"get": {
				"summary": "Todays Releases By Security",
				"description": "Returns all press releases that were published today for a given security.",
				"operationId": "",
				"parameters": [
					{
						"name": "Identifier",
						"in": "query",
						"description": "The ticker symbol for company",
						"type": "string",
						"format": "string"
					},
					{
						"name": "IdentifierType",
						"in": "query",
						"description": "The symbol to use.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_Token",
						"in": "query",
						"description": "The API Key.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" press releases",
					" securities"
				]
			}
		},
		"GetTodaysSecurityHeadlines/": {
			"get": {
				"summary": "Todays Security Headlines",
				"description": "Returns all headlines that were published today for a given security.",
				"operationId": "",
				"parameters": [
					{
						"name": "Identifier",
						"in": "query",
						"description": "The ticker symbol for company",
						"type": "string",
						"format": "string"
					},
					{
						"name": "IdentifierType",
						"in": "query",
						"description": "The ticker symbol for company",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_Token",
						"in": "query",
						"description": "The API Key",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" financial",
					" securities"
				]
			}
		},
		"GetTopMarketHeadlinesBySector/": {
			"get": {
				"summary": "Top Market Headlines By Sector",
				"description": "Returns the most recent specified number of market headlines associated with a specified sector.",
				"operationId": "",
				"parameters": [
					{
						"name": "Count",
						"in": "query",
						"description": "The number of news items to return.",
						"type": "number",
						"format": "string"
					},
					{
						"name": "Sector",
						"in": "query",
						"description": "The business sector to search within.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_Token",
						"in": "query",
						"description": "The API Key.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" markets"
				]
			}
		},
		"GetTopReleasesBySecurity": {
			"get": {
				"summary": "Top Releases By Security",
				"description": "Returns the most recent specified number of press releases for a given security.",
				"operationId": "",
				"parameters": [
					{
						"name": "country",
						"in": "query",
						"description": "Number of items to return.",
						"type": "number",
						"format": "string"
					},
					{
						"name": "Identifier",
						"in": "query",
						"description": "The ticker symbol for company",
						"type": "string",
						"format": "string"
					},
					{
						"name": "IdentifierType",
						"in": "query",
						"description": "The identifier to use.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_Token",
						"in": "query",
						"description": "The API Key.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" press releases",
					" securities"
				]
			}
		},
		"ListSectors/": {
			"get": {
				"summary": "List Sectors",
				"description": "Provides a list of all available values for a given sector.",
				"operationId": "",
				"parameters": [
					{
						"name": "_Token",
						"in": "query",
						"description": "API Key",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"financial",
					" news",
					" sectors"
				]
			}
		}
	}
}