{
	"swagger": "2.0",
	"info": {
		"title": "Delicious",
		"description": "Delicious proudly offers one of the most powerful and flexible APIs on the web. With over a billion links served daily, our API integrates seamlessly with any website or app to easily read, add, query, and edit bookmarks. ",
		"termsOfService": "https://delicious.com/terms",
		"version": "v1"
	},
	"host": "api.del.icio.us",
	"basePath": "/v1",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/posts/add": {
			"get": {
				"summary": "posts/add",
				"description": "posts/add",
				"operationId": "postsadd",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/posts/all": {
			"get": {
				"summary": "posts/all",
				"description": "posts/all",
				"operationId": "postsall",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/posts/dates": {
			"get": {
				"summary": "posts/dates",
				"description": "posts/dates",
				"operationId": "postsdates",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/posts/delete": {
			"delete": {
				"summary": "posts/delete",
				"description": "posts/delete",
				"operationId": "postsdelete",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/posts/get": {
			"get": {
				"summary": "posts/get",
				"description": "posts/get",
				"operationId": "postsget",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/posts/recent": {
			"get": {
				"summary": "posts/recent",
				"description": "posts/recent",
				"operationId": "postsrecent",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/posts/suggest": {
			"get": {
				"summary": "posts/suggest",
				"description": "posts/suggest",
				"operationId": "postssuggest",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/posts/update": {
			"get": {
				"summary": "posts/update",
				"description": "posts/update",
				"operationId": "postsupdate",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tags/bundles/all": {
			"get": {
				"summary": "tags/bundles/all",
				"description": "tags/bundles/all",
				"operationId": "tagsbundlesall",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tags/bundles/delete": {
			"delete": {
				"summary": "tags/bundles/delete",
				"description": "tags/bundles/delete",
				"operationId": "tagsbundlesdelete",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tags/bundles/set": {
			"put": {
				"summary": "tags/bundles/set",
				"description": "tags/bundles/set",
				"operationId": "tagsbundlesset",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tags/delete": {
			"delete": {
				"summary": "tags/delete",
				"description": "tags/delete",
				"operationId": "tagsdelete",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tags/get": {
			"get": {
				"summary": "tags/get",
				"description": "tags/get",
				"operationId": "tagsget",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tags/rename": {
			"get": {
				"summary": "tags/rename",
				"description": "tags/rename",
				"operationId": "tagsrename",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}