{
	"swagger": "2.0",
	"info": {
		"title": "The Bureau of Economic Analysis (BEA) API",
		"description": "he data API provides programmatic access to BEA published economic statistics using industry-standard methods and procedures. BEA's data API includes methods for retrieving a subset of our statistical data and the meta-data that describes it.",
		"termsOfService": null,
		"version": "v1"
	},
	"host": "www.bea.gov/api/data?&UserID=Your-36CharacterKey&method=getparameterlist&datasetname=RegionalData&",
	"basePath": "/api/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"data/": {
			"get": {
				"summary": "Economic Statistics",
				"description": "Economic Statistics",
				"operationId": "",
				"parameters": [
					{
						"name": "datasetname",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "method",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "ParameterName",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "ResultFormat",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "UserID",
						"in": "query",
						"description": "Your user id.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"2": {
						"description": "Successful response"
					}
				},
				"tags": [
					"economic data",
					" data"
				]
			}
		}
	}
}