{
	"swagger": "2.0",
	"info": {
		"title": "ConvertAPI",
		"description": "The ConvertAPI provides online API for creating PDF and Images from various sources like Word document, web pages or raw HTML codes. In just few minutes you can integrate it into your application and use it easily. Return to APIs list.",
		"termsOfService": null,
		"version": "v1"
	},
	"host": "do.convertapi.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/Email2Image": {
			"post": {
				"summary": "Email2Image",
				"description": "The API for converting E-Mail files to PDF files and Images. These file formats eml, mbx, msg, oft can be converted to png, jpg, tif.",
				"operationId": "email2image",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: eml, mbx, msg, oft",
						"type": "string"
					},
					{
						"name": "ImageResolutionH",
						"in": "query",
						"description": "Image horizontal resolution (DPI).",
						"type": "string"
					},
					{
						"name": "ImageResolutionV",
						"in": "query",
						"description": "Image vertical resolution (DPI).",
						"type": "string"
					},
					{
						"name": "JpgQuality",
						"in": "query",
						"description": "Jpg image quality.",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Email2Pdf": {
			"post": {
				"summary": "Email2Pdf",
				"description": "The API for converting E-Mail files to PDF files and Images. These file formats eml, mbx, msg, oft can be converted to pdf, pdfa, png, jpg, tif.",
				"operationId": "email2pdf",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "DocumentAuthor",
						"in": "query",
						"description": "Set the author of the generated Pdf file. If value is not set a source document author is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentKeywords",
						"in": "query",
						"description": "Set the keywords of the generated Pdf file. If value is not set a source document keywords is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentSubject",
						"in": "query",
						"description": "Set the subject of the generated Pdf file. If value is not set a source document subject is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentTitle",
						"in": "query",
						"description": "Set the title of the generated Pdf file. If value is not set a source document title is used instead.",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: eml, mbx, msg, oft",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats pdf, pdfa, png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Excel2Image": {
			"post": {
				"summary": "Excel2Image",
				"description": "The API for converting Excel documents to PDF files and Images. These file formats csv, xls, xlsb, xlsx, xlt, xltx can be converted to png, jpg, tif.",
				"operationId": "excel2image",
				"parameters": [
					{
						"name": "AlternativeParser",
						"in": "query",
						"description": "If some objects are missing in converted Pdf files from original source files this option can be enabled to improve conversion. The option process files much slower and should be disabled by default.",
						"type": "string"
					},
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: csv, xls, xlsb, xlsx, xlt, xltx",
						"type": "string"
					},
					{
						"name": "ImageResolutionH",
						"in": "query",
						"description": "Image horizontal resolution (DPI).",
						"type": "string"
					},
					{
						"name": "ImageResolutionV",
						"in": "query",
						"description": "Image vertical resolution (DPI).",
						"type": "string"
					},
					{
						"name": "JpgQuality",
						"in": "query",
						"description": "Jpg image quality.",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					},
					{
						"name": "WorksheetActive",
						"in": "query",
						"description": "Set to convert active worksheet. If value is not set all worksheet will be converted.",
						"type": "string"
					},
					{
						"name": "WorksheetIndex",
						"in": "query",
						"description": "Set worksheet index(number) to convert. If value is not set all worksheet will be converted.",
						"type": "string"
					},
					{
						"name": "WorksheetName",
						"in": "query",
						"description": "Set worksheet name to convert. If value is not set all worksheet will be converted.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Excel2Pdf": {
			"post": {
				"summary": "Excel2Pdf",
				"description": "The API for converting Excel documents to PDF files and Images. These file formats csv, xls, xlsb, xlsx, xlt, xltx can be converted to pdf, pdfa, png, jpg, tif.",
				"operationId": "excel2pdf",
				"parameters": [
					{
						"name": "AlternativeParser",
						"in": "query",
						"description": "If some objects are missing in converted Pdf files from original source files this option can be enabled to improve conversion. The option process files much slower and should be disabled by default.",
						"type": "string"
					},
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "DocumentAuthor",
						"in": "query",
						"description": "Set the author of the generated Pdf file. If value is not set a source document author is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentKeywords",
						"in": "query",
						"description": "Set the keywords of the generated Pdf file. If value is not set a source document keywords is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentSubject",
						"in": "query",
						"description": "Set the subject of the generated Pdf file. If value is not set a source document subject is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentTitle",
						"in": "query",
						"description": "Set the title of the generated Pdf file. If value is not set a source document title is used instead.",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: csv, xls, xlsb, xlsx, xlt, xltx",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats pdf, pdfa, png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					},
					{
						"name": "WorksheetActive",
						"in": "query",
						"description": "Set to convert active worksheet. If value is not set all worksheet will be converted.",
						"type": "string"
					},
					{
						"name": "WorksheetIndex",
						"in": "query",
						"description": "Set worksheet index(number) to convert. If value is not set all worksheet will be converted.",
						"type": "string"
					},
					{
						"name": "WorksheetName",
						"in": "query",
						"description": "Set worksheet name to convert. If value is not set all worksheet will be converted.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Image2Image": {
			"post": {
				"summary": "Image2Image",
				"description": "The API for converting Image files to PDF files and Images. These file formats avs, bmp, dcx, dib, dpx, fax, fits, fpx, gif, ico, iptc, jbig, jp2, jpeg, jpg, mdi, miff, mng, mpc, mtv, otb, pbm, pcd, pcds, pct, pcx, pgm, pict, png, pnm, ppm, psd, p7, ras, rgba, sun, tga, tiff, tif, vicar, vid, viff, wmf, xbm, xpm, xwd can be converted to png, jpg, tif.",
				"operationId": "image2image",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: avs, bmp, dcx, dib, dpx, fax, fits, fpx, gif, ico, iptc, jbig, jp2, jpeg, jpg, mdi, miff, mng, mpc, mtv, otb, pbm, pcd, pcds, pct, pcx, pgm, pict, png, pnm, ppm, psd, p7, ras, rgba, sun, tga, tiff, tif, vicar, vid, viff, wmf, xbm, xpm, xwd",
						"type": "string"
					},
					{
						"name": "ImageResolutionH",
						"in": "query",
						"description": "Image horizontal resolution (DPI).",
						"type": "string"
					},
					{
						"name": "ImageResolutionV",
						"in": "query",
						"description": "Image vertical resolution (DPI).",
						"type": "string"
					},
					{
						"name": "JpgQuality",
						"in": "query",
						"description": "Jpg image quality.",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Image2Pdf": {
			"post": {
				"summary": "Image2Pdf",
				"description": "The API for converting Image files to PDF files and Images. These file formats avs, bmp, dcx, dib, dpx, fax, fits, fpx, gif, ico, iptc, jbig, jp2, jpeg, jpg, mdi, miff, mng, mpc, mtv, otb, pbm, pcd, pcds, pct, pcx, pgm, pict, png, pnm, ppm, psd, p7, ras, rgba, sun, tga, tiff, tif, vicar, vid, viff, wmf, xbm, xpm, xwd can be converted to pdf, pdfa, png, jpg, tif.",
				"operationId": "image2pdf",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "DocumentAuthor",
						"in": "query",
						"description": "Set the author of the generated Pdf file. If value is not set a source document author is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentKeywords",
						"in": "query",
						"description": "Set the keywords of the generated Pdf file. If value is not set a source document keywords is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentSubject",
						"in": "query",
						"description": "Set the subject of the generated Pdf file. If value is not set a source document subject is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentTitle",
						"in": "query",
						"description": "Set the title of the generated Pdf file. If value is not set a source document title is used instead.",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: avs, bmp, dcx, dib, dpx, fax, fits, fpx, gif, ico, iptc, jbig, jp2, jpeg, jpg, mdi, miff, mng, mpc, mtv, otb, pbm, pcd, pcds, pct, pcx, pgm, pict, png, pnm, ppm, psd, p7, ras, rgba, sun, tga, tiff, tif, vicar, vid, viff, wmf, xbm, xpm, xwd",
						"type": "string"
					},
					{
						"name": "Ocr",
						"in": "query",
						"description": "Apply optical character recognition (OCR) and convert scanned text images into editable and searchable PDF.",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats pdf, pdfa, png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Journal2Image": {
			"post": {
				"summary": "Journal2Image",
				"description": "The API for converting Windows Journal Viewer documents to PDF files and Images. These file formats jnt can be converted to png, jpg, tif.",
				"operationId": "journal2image",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: jnt",
						"type": "string"
					},
					{
						"name": "ImageResolutionH",
						"in": "query",
						"description": "Image horizontal resolution (DPI).",
						"type": "string"
					},
					{
						"name": "ImageResolutionV",
						"in": "query",
						"description": "Image vertical resolution (DPI).",
						"type": "string"
					},
					{
						"name": "JpgQuality",
						"in": "query",
						"description": "Jpg image quality.",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Journal2Pdf": {
			"post": {
				"summary": "Journal2Pdf",
				"description": "The API for converting Windows Journal Viewer documents to PDF files and Images. These file formats jnt can be converted to pdf, pdfa, png, jpg, tif.",
				"operationId": "journal2pdf",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "DocumentAuthor",
						"in": "query",
						"description": "Set the author of the generated Pdf file. If value is not set a source document author is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentKeywords",
						"in": "query",
						"description": "Set the keywords of the generated Pdf file. If value is not set a source document keywords is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentSubject",
						"in": "query",
						"description": "Set the subject of the generated Pdf file. If value is not set a source document subject is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentTitle",
						"in": "query",
						"description": "Set the title of the generated Pdf file. If value is not set a source document title is used instead.",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: jnt",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats pdf, pdfa, png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Lotus2Image": {
			"post": {
				"summary": "Lotus2Image",
				"description": "The API for converting Lotus Smart Suite documents to PDF files and Images. These file formats 123, 12m, wk1, wk2, wk3, lwp, mwp, sam can be converted to png, jpg, tif.",
				"operationId": "lotus2image",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: 123, 12m, wk1, wk2, wk3, lwp, mwp, sam",
						"type": "string"
					},
					{
						"name": "ImageResolutionH",
						"in": "query",
						"description": "Image horizontal resolution (DPI).",
						"type": "string"
					},
					{
						"name": "ImageResolutionV",
						"in": "query",
						"description": "Image vertical resolution (DPI).",
						"type": "string"
					},
					{
						"name": "JpgQuality",
						"in": "query",
						"description": "Jpg image quality.",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Lotus2Pdf": {
			"post": {
				"summary": "Lotus2Pdf",
				"description": "The API for converting Lotus Smart Suite documents to PDF files and Images. These file formats 123, 12m, wk1, wk2, wk3, lwp, mwp, sam can be converted to pdf, pdfa, png, jpg, tif.",
				"operationId": "lotus2pdf",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "DocumentAuthor",
						"in": "query",
						"description": "Set the author of the generated Pdf file. If value is not set a source document author is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentKeywords",
						"in": "query",
						"description": "Set the keywords of the generated Pdf file. If value is not set a source document keywords is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentSubject",
						"in": "query",
						"description": "Set the subject of the generated Pdf file. If value is not set a source document subject is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentTitle",
						"in": "query",
						"description": "Set the title of the generated Pdf file. If value is not set a source document title is used instead.",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: 123, 12m, wk1, wk2, wk3, lwp, mwp, sam",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats pdf, pdfa, png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/OpenOffice2Image": {
			"post": {
				"summary": "OpenOffice2Image",
				"description": "The API for converting OpenOffice documents to PDF files and Images. These file formats mml, odc, odf, odg, odi, odm, odp, ods, odt, otg, oth, otp, ots, pxl, sgl, smf, srw, stc, sti, stw, sxc, sxg, sxi, sxm, sxw, vor, wv2 can be converted to png, jpg, tif.",
				"operationId": "openoffice2image",
				"parameters": [
					{
						"name": "AlternativeParser",
						"in": "query",
						"description": "If some objects are missing in converted Pdf files from original source files this option can be enabled to improve conversion. The option process files much slower and should be disabled by default.",
						"type": "string"
					},
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: mml, odc, odf, odg, odi, odm, odp, ods, odt, otg, oth, otp, ots, pxl, sgl, smf, srw, stc, sti, stw, sxc, sxg, sxi, sxm, sxw, vor, wv2",
						"type": "string"
					},
					{
						"name": "ImageResolutionH",
						"in": "query",
						"description": "Image horizontal resolution (DPI).",
						"type": "string"
					},
					{
						"name": "ImageResolutionV",
						"in": "query",
						"description": "Image vertical resolution (DPI).",
						"type": "string"
					},
					{
						"name": "JpgQuality",
						"in": "query",
						"description": "Jpg image quality.",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/OpenOffice2Pdf": {
			"post": {
				"summary": "OpenOffice2Pdf",
				"description": "The API for converting OpenOffice documents to PDF files and Images. These file formats mml, odc, odf, odg, odi, odm, odp, ods, odt, otg, oth, otp, ots, pxl, sgl, smf, srw, stc, sti, stw, sxc, sxg, sxi, sxm, sxw, vor, wv2 can be converted to pdf, pdfa, png, jpg, tif.",
				"operationId": "openoffice2pdf",
				"parameters": [
					{
						"name": "AlternativeParser",
						"in": "query",
						"description": "If some objects are missing in converted Pdf files from original source files this option can be enabled to improve conversion. The option process files much slower and should be disabled by default.",
						"type": "string"
					},
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "DocumentAuthor",
						"in": "query",
						"description": "Set the author of the generated Pdf file. If value is not set a source document author is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentKeywords",
						"in": "query",
						"description": "Set the keywords of the generated Pdf file. If value is not set a source document keywords is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentSubject",
						"in": "query",
						"description": "Set the subject of the generated Pdf file. If value is not set a source document subject is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentTitle",
						"in": "query",
						"description": "Set the title of the generated Pdf file. If value is not set a source document title is used instead.",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: mml, odc, odf, odg, odi, odm, odp, ods, odt, otg, oth, otp, ots, pxl, sgl, smf, srw, stc, sti, stw, sxc, sxg, sxi, sxm, sxw, vor, wv2",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats pdf, pdfa, png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Pdf2Image": {
			"post": {
				"summary": "Pdf2Image",
				"description": "The API for converting PDF documents to Image. These file formats pdf can be converted to png, jpg, tif.",
				"operationId": "pdf2image",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: pdf",
						"type": "string"
					},
					{
						"name": "ImageResolutionH",
						"in": "query",
						"description": "Image horizontal resolution (DPI).",
						"type": "string"
					},
					{
						"name": "ImageResolutionV",
						"in": "query",
						"description": "Image vertical resolution (DPI).",
						"type": "string"
					},
					{
						"name": "JpgQuality",
						"in": "query",
						"description": "Jpg image quality.",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Pdf2Pdf": {
			"post": {
				"summary": "Pdf2Pdf",
				"description": "The API for converting PDF documents to Image. These file formats pdf can be converted to pdf, pdfa, png, jpg, tif.",
				"operationId": "pdf2pdf",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "DocumentAuthor",
						"in": "query",
						"description": "Set the author of the generated Pdf file. If value is not set a source document author is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentKeywords",
						"in": "query",
						"description": "Set the keywords of the generated Pdf file. If value is not set a source document keywords is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentSubject",
						"in": "query",
						"description": "Set the subject of the generated Pdf file. If value is not set a source document subject is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentTitle",
						"in": "query",
						"description": "Set the title of the generated Pdf file. If value is not set a source document title is used instead.",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: pdf",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats pdf, pdfa, png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Pdf2PowerPoint": {
			"post": {
				"summary": "Pdf2PowerPoint",
				"description": "The API for converting PDF documents to PowerPoint presentation files. These file formats pdf, pdfa can be converted to pptx.",
				"operationId": "pdf2powerpoint",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: pdf, pdfa",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/PostScript2Image": {
			"post": {
				"summary": "PostScript2Image",
				"description": "The API for converting PostScript files to PDF files and Images. These file formats ps, eps, prn can be converted to png, jpg, tif.",
				"operationId": "postscript2image",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: ps, eps, prn",
						"type": "string"
					},
					{
						"name": "ImageResolutionH",
						"in": "query",
						"description": "Image horizontal resolution (DPI).",
						"type": "string"
					},
					{
						"name": "ImageResolutionV",
						"in": "query",
						"description": "Image vertical resolution (DPI).",
						"type": "string"
					},
					{
						"name": "JpgQuality",
						"in": "query",
						"description": "Jpg image quality.",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/PostScript2Pdf": {
			"post": {
				"summary": "PostScript2Pdf",
				"description": "The API for converting PostScript files to PDF files and Images. These file formats ps, eps, prn can be converted to pdf, pdfa, png, jpg, tif.",
				"operationId": "postscript2pdf",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "DocumentAuthor",
						"in": "query",
						"description": "Set the author of the generated Pdf file. If value is not set a source document author is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentKeywords",
						"in": "query",
						"description": "Set the keywords of the generated Pdf file. If value is not set a source document keywords is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentSubject",
						"in": "query",
						"description": "Set the subject of the generated Pdf file. If value is not set a source document subject is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentTitle",
						"in": "query",
						"description": "Set the title of the generated Pdf file. If value is not set a source document title is used instead.",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: ps, eps, prn",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats pdf, pdfa, png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/PowerPoint2Image": {
			"post": {
				"summary": "PowerPoint2Image",
				"description": "The API for converting PowerPoint documents to PDF files and Images. These file formats pot, potx, pps, ppsx, ppt, pptx can be converted to png, jpg, tif.",
				"operationId": "powerpoint2image",
				"parameters": [
					{
						"name": "AlternativeParser",
						"in": "query",
						"description": "If some objects are missing in converted Pdf files from original source files this option can be enabled to improve conversion. The option process files much slower and should be disabled by default.",
						"type": "string"
					},
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: pot, potx, pps, ppsx, ppt, pptx",
						"type": "string"
					},
					{
						"name": "ImageResolutionH",
						"in": "query",
						"description": "Image horizontal resolution (DPI).",
						"type": "string"
					},
					{
						"name": "ImageResolutionV",
						"in": "query",
						"description": "Image vertical resolution (DPI).",
						"type": "string"
					},
					{
						"name": "JpgQuality",
						"in": "query",
						"description": "Jpg image quality.",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/PowerPoint2Pdf": {
			"post": {
				"summary": "PowerPoint2Pdf",
				"description": "The API for converting PowerPoint documents to PDF files and Images. These file formats pot, potx, pps, ppsx, ppt, pptx can be converted to pdf, pdfa, png, jpg, tif.",
				"operationId": "powerpoint2pdf",
				"parameters": [
					{
						"name": "AlternativeParser",
						"in": "query",
						"description": "If some objects are missing in converted Pdf files from original source files this option can be enabled to improve conversion. The option process files much slower and should be disabled by default.",
						"type": "string"
					},
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "DocumentAuthor",
						"in": "query",
						"description": "Set the author of the generated Pdf file. If value is not set a source document author is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentKeywords",
						"in": "query",
						"description": "Set the keywords of the generated Pdf file. If value is not set a source document keywords is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentSubject",
						"in": "query",
						"description": "Set the subject of the generated Pdf file. If value is not set a source document subject is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentTitle",
						"in": "query",
						"description": "Set the title of the generated Pdf file. If value is not set a source document title is used instead.",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: pot, potx, pps, ppsx, ppt, pptx",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats pdf, pdfa, png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Project2Image": {
			"post": {
				"summary": "Project2Image",
				"description": "The API for converting Project documents to PDF files and Images. These file formats mpp, mpt can be converted to png, jpg, tif.",
				"operationId": "project2image",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: mpp, mpt",
						"type": "string"
					},
					{
						"name": "ImageResolutionH",
						"in": "query",
						"description": "Image horizontal resolution (DPI).",
						"type": "string"
					},
					{
						"name": "ImageResolutionV",
						"in": "query",
						"description": "Image vertical resolution (DPI).",
						"type": "string"
					},
					{
						"name": "JpgQuality",
						"in": "query",
						"description": "Jpg image quality.",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Project2Pdf": {
			"post": {
				"summary": "Project2Pdf",
				"description": "The API for converting Project documents to PDF files and Images. These file formats mpp, mpt can be converted to pdf, pdfa, png, jpg, tif.",
				"operationId": "project2pdf",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "DocumentAuthor",
						"in": "query",
						"description": "Set the author of the generated Pdf file. If value is not set a source document author is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentKeywords",
						"in": "query",
						"description": "Set the keywords of the generated Pdf file. If value is not set a source document keywords is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentSubject",
						"in": "query",
						"description": "Set the subject of the generated Pdf file. If value is not set a source document subject is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentTitle",
						"in": "query",
						"description": "Set the title of the generated Pdf file. If value is not set a source document title is used instead.",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: mpp, mpt",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats pdf, pdfa, png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Publisher2Image": {
			"post": {
				"summary": "Publisher2Image",
				"description": "The API for converting Publisher documents to PDF files and Images. These file formats pub can be converted to png, jpg, tif.",
				"operationId": "publisher2image",
				"parameters": [
					{
						"name": "AlternativeParser",
						"in": "query",
						"description": "If some objects are missing in converted Pdf files from original source files this option can be enabled to improve conversion. The option process files much slower and should be disabled by default.",
						"type": "string"
					},
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: pub",
						"type": "string"
					},
					{
						"name": "ImageResolutionH",
						"in": "query",
						"description": "Image horizontal resolution (DPI).",
						"type": "string"
					},
					{
						"name": "ImageResolutionV",
						"in": "query",
						"description": "Image vertical resolution (DPI).",
						"type": "string"
					},
					{
						"name": "JpgQuality",
						"in": "query",
						"description": "Jpg image quality.",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Publisher2Pdf": {
			"post": {
				"summary": "Publisher2Pdf",
				"description": "The API for converting Publisher documents to PDF files and Images. These file formats pub can be converted to pdf, pdfa, png, jpg, tif.",
				"operationId": "publisher2pdf",
				"parameters": [
					{
						"name": "AlternativeParser",
						"in": "query",
						"description": "If some objects are missing in converted Pdf files from original source files this option can be enabled to improve conversion. The option process files much slower and should be disabled by default.",
						"type": "string"
					},
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "DocumentAuthor",
						"in": "query",
						"description": "Set the author of the generated Pdf file. If value is not set a source document author is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentKeywords",
						"in": "query",
						"description": "Set the keywords of the generated Pdf file. If value is not set a source document keywords is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentSubject",
						"in": "query",
						"description": "Set the subject of the generated Pdf file. If value is not set a source document subject is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentTitle",
						"in": "query",
						"description": "Set the title of the generated Pdf file. If value is not set a source document title is used instead.",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: pub",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats pdf, pdfa, png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/RichText2Image": {
			"post": {
				"summary": "RichText2Image",
				"description": "The API for converting Rich Text documents to PDF files and Images. These file formats rtf can be converted to png, jpg, tif.",
				"operationId": "richtext2image",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: rtf",
						"type": "string"
					},
					{
						"name": "ImageResolutionH",
						"in": "query",
						"description": "Image horizontal resolution (DPI).",
						"type": "string"
					},
					{
						"name": "ImageResolutionV",
						"in": "query",
						"description": "Image vertical resolution (DPI).",
						"type": "string"
					},
					{
						"name": "JpgQuality",
						"in": "query",
						"description": "Jpg image quality.",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/RichText2Pdf": {
			"post": {
				"summary": "RichText2Pdf",
				"description": "The API for converting Rich Text documents to PDF files and Images. These file formats rtf can be converted to pdf, pdfa, png, jpg, tif.",
				"operationId": "richtext2pdf",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "DocumentAuthor",
						"in": "query",
						"description": "Set the author of the generated Pdf file. If value is not set a source document author is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentKeywords",
						"in": "query",
						"description": "Set the keywords of the generated Pdf file. If value is not set a source document keywords is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentSubject",
						"in": "query",
						"description": "Set the subject of the generated Pdf file. If value is not set a source document subject is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentTitle",
						"in": "query",
						"description": "Set the title of the generated Pdf file. If value is not set a source document title is used instead.",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: rtf",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats pdf, pdfa, png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/SnapShot2Image": {
			"post": {
				"summary": "SnapShot2Image",
				"description": "The API for converting Access Report Snapshots documents to PDF files and Images. These file formats snp can be converted to png, jpg, tif.",
				"operationId": "snapshot2image",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: snp",
						"type": "string"
					},
					{
						"name": "ImageResolutionH",
						"in": "query",
						"description": "Image horizontal resolution (DPI).",
						"type": "string"
					},
					{
						"name": "ImageResolutionV",
						"in": "query",
						"description": "Image vertical resolution (DPI).",
						"type": "string"
					},
					{
						"name": "JpgQuality",
						"in": "query",
						"description": "Jpg image quality.",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/SnapShot2Pdf": {
			"post": {
				"summary": "SnapShot2Pdf",
				"description": "The API for converting Access Report Snapshots documents to PDF files and Images. These file formats snp can be converted to pdf, pdfa, png, jpg, tif.",
				"operationId": "snapshot2pdf",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "DocumentAuthor",
						"in": "query",
						"description": "Set the author of the generated Pdf file. If value is not set a source document author is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentKeywords",
						"in": "query",
						"description": "Set the keywords of the generated Pdf file. If value is not set a source document keywords is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentSubject",
						"in": "query",
						"description": "Set the subject of the generated Pdf file. If value is not set a source document subject is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentTitle",
						"in": "query",
						"description": "Set the title of the generated Pdf file. If value is not set a source document title is used instead.",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: snp",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats pdf, pdfa, png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Text2Image": {
			"post": {
				"summary": "Text2Image",
				"description": "The API for converting Textual files to PDF files and Images. These file formats txt, log can be converted to png, jpg, tif.",
				"operationId": "text2image",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: txt, log",
						"type": "string"
					},
					{
						"name": "ImageResolutionH",
						"in": "query",
						"description": "Image horizontal resolution (DPI).",
						"type": "string"
					},
					{
						"name": "ImageResolutionV",
						"in": "query",
						"description": "Image vertical resolution (DPI).",
						"type": "string"
					},
					{
						"name": "JpgQuality",
						"in": "query",
						"description": "Jpg image quality.",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Text2Pdf": {
			"post": {
				"summary": "Text2Pdf",
				"description": "The API for converting Textual files to PDF files and Images. These file formats txt, log can be converted to pdf, pdfa, png, jpg, tif.",
				"operationId": "text2pdf",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "DocumentAuthor",
						"in": "query",
						"description": "Set the author of the generated Pdf file. If value is not set a source document author is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentKeywords",
						"in": "query",
						"description": "Set the keywords of the generated Pdf file. If value is not set a source document keywords is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentSubject",
						"in": "query",
						"description": "Set the subject of the generated Pdf file. If value is not set a source document subject is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentTitle",
						"in": "query",
						"description": "Set the title of the generated Pdf file. If value is not set a source document title is used instead.",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: txt, log",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats pdf, pdfa, png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Visio2Image": {
			"post": {
				"summary": "Visio2Image",
				"description": "The API for converting Visio documents to PDF files and Images. These file formats vsd, vst, vsdx, vstx can be converted to png, jpg, tif.",
				"operationId": "visio2image",
				"parameters": [
					{
						"name": "AlternativeParser",
						"in": "query",
						"description": "If some objects are missing in converted Pdf files from original source files this option can be enabled to improve conversion. The option process files much slower and should be disabled by default.",
						"type": "string"
					},
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: vsd, vst, vsdx, vstx",
						"type": "string"
					},
					{
						"name": "ImageResolutionH",
						"in": "query",
						"description": "Image horizontal resolution (DPI).",
						"type": "string"
					},
					{
						"name": "ImageResolutionV",
						"in": "query",
						"description": "Image vertical resolution (DPI).",
						"type": "string"
					},
					{
						"name": "JpgQuality",
						"in": "query",
						"description": "Jpg image quality.",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Visio2Pdf": {
			"post": {
				"summary": "Visio2Pdf",
				"description": "The API for converting Visio documents to PDF files and Images. These file formats vsd, vst, vsdx, vstx can be converted to pdf, pdfa, png, jpg, tif.",
				"operationId": "visio2pdf",
				"parameters": [
					{
						"name": "AlternativeParser",
						"in": "query",
						"description": "If some objects are missing in converted Pdf files from original source files this option can be enabled to improve conversion. The option process files much slower and should be disabled by default.",
						"type": "string"
					},
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "DocumentAuthor",
						"in": "query",
						"description": "Set the author of the generated Pdf file. If value is not set a source document author is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentKeywords",
						"in": "query",
						"description": "Set the keywords of the generated Pdf file. If value is not set a source document keywords is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentSubject",
						"in": "query",
						"description": "Set the subject of the generated Pdf file. If value is not set a source document subject is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentTitle",
						"in": "query",
						"description": "Set the title of the generated Pdf file. If value is not set a source document title is used instead.",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: vsd, vst, vsdx, vstx",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats pdf, pdfa, png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Web2Image": {
			"post": {
				"summary": "Web2Image",
				"description": "The API for converting Web Pages to Images.",
				"operationId": "web2image",
				"parameters": [
					{
						"name": "AcceptLanguage",
						"in": "query",
						"description": "Set accept language header.",
						"type": "string"
					},
					{
						"name": "AlternativeParser",
						"in": "query",
						"description": "Set alternative parser. You should test both parsers and choose which to use depending on conversion quality.",
						"type": "string"
					},
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "AuthPassword",
						"in": "query",
						"description": "HTTP Authentication password, used if conversion web page is protected with HTTP authentication.",
						"type": "string"
					},
					{
						"name": "AuthUsername",
						"in": "query",
						"description": "HTTP authentication username, used if conversion web page is protected with HTTP authentication.",
						"type": "string"
					},
					{
						"name": "ConversionDelay",
						"in": "query",
						"description": "Delay in seconds before page load and PDF creation. Sometimes usefull to let web page to load in full.",
						"type": "string"
					},
					{
						"name": "CUrl",
						"in": "query",
						"description": "URI of a web page to convert. Must start with http:// or https://. Several URI of web pages merged with %20 (space) symbol can be passed to create one PDF. For example if http://www.google.com%20http://www.nytimes.com URI will be passed the two web pages will be merged into one PDF. If URI has special characters like ? or &amp;amp; they must be encoded. Also a HTML code can be submitted for conversion using this parameter.",
						"type": "string"
					},
					{
						"name": "PageHeight",
						"in": "query",
						"description": "Set screen height. Default is calculated from page content.",
						"type": "string"
					},
					{
						"name": "PageWidth",
						"in": "query",
						"description": "Set screen width.",
						"type": "string"
					},
					{
						"name": "Plugins",
						"in": "query",
						"description": "Enable plugins such as flash.",
						"type": "string"
					},
					{
						"name": "Scripts",
						"in": "query",
						"description": "Allow web pages to run javascript.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					},
					{
						"name": "UserAgent",
						"in": "query",
						"description": "Set custom user agent.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Web2Pdf": {
			"post": {
				"summary": "Web2Pdf",
				"description": "The API for converting Web Pages to PDF files.",
				"operationId": "web2pdf",
				"parameters": [
					{
						"name": "AcceptLanguage",
						"in": "query",
						"description": "Set accept language header.",
						"type": "string"
					},
					{
						"name": "AlternativeParser",
						"in": "query",
						"description": "Set alternative parser. You should test both parsers and choose which to use depending on conversion quality.",
						"type": "string"
					},
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "AuthPassword",
						"in": "query",
						"description": "HTTP Authentication password, used if conversion web page is protected with HTTP authentication.",
						"type": "string"
					},
					{
						"name": "AuthUsername",
						"in": "query",
						"description": "HTTP authentication username, used if conversion web page is protected with HTTP authentication.",
						"type": "string"
					},
					{
						"name": "Background",
						"in": "query",
						"description": "Print web page background.",
						"type": "string"
					},
					{
						"name": "ConversionDelay",
						"in": "query",
						"description": "Delay in seconds before page load and PDF creation. Sometimes usefull to let web page to load in full.",
						"type": "string"
					},
					{
						"name": "CoverUrl",
						"in": "query",
						"description": "Use html document as cover. It will be inserted before the toc with no headers and footers.",
						"type": "string"
					},
					{
						"name": "CUrl",
						"in": "query",
						"description": "URI of a web page to convert. Must start with http:// or https://. Several URI of web pages merged with %20 (space) symbol can be passed to create one PDF. For example if http://www.google.com%20http://www.nytimes.com URI will be passed the two web pages will be merged into one PDF. If URI has special characters like ? or &amp;amp; they must be encoded. Also a HTML code can be submitted for conversion using this parameter.",
						"type": "string"
					},
					{
						"name": "DocumentTitle",
						"in": "query",
						"description": "Set the title of the generated pdf file. If value is not set a html page title is used instead.",
						"type": "string"
					},
					{
						"name": "FooterLine",
						"in": "query",
						"description": "Display line above the footer.",
						"type": "string"
					},
					{
						"name": "FooterSpacing",
						"in": "query",
						"description": "Spacing between footer and content. Header spacing can be specified in millimeters (mm), inches (in) or centimeters (cm). If no units are specified, millimeters are assumed.",
						"type": "string"
					},
					{
						"name": "FooterTextCenter",
						"in": "query",
						"description": "Center aligned footer text.",
						"type": "string"
					},
					{
						"name": "FooterTextFont",
						"in": "query",
						"description": "Set footer font name.",
						"type": "string"
					},
					{
						"name": "FooterTextLeft",
						"in": "query",
						"description": "Left aligned footer text.",
						"type": "string"
					},
					{
						"name": "FooterTextRight",
						"in": "query",
						"description": "Right aligned footer text.",
						"type": "string"
					},
					{
						"name": "FooterTextSize",
						"in": "query",
						"description": "Set footer font size.",
						"type": "string"
					},
					{
						"name": "FooterUrl",
						"in": "query",
						"description": "Adds a html footer. This can be either a URI or HTML code.",
						"type": "string"
					},
					{
						"name": "HeaderLine",
						"in": "query",
						"description": "Display line below the header.",
						"type": "string"
					},
					{
						"name": "HeaderSpacing",
						"in": "query",
						"description": "Spacing between header and content. Header spacing can be specified in millimeters (mm), inches (in) or centimeters (cm). If no units are specified, millimeters are assumed.",
						"type": "string"
					},
					{
						"name": "HeaderTextCenter",
						"in": "query",
						"description": "Center aligned header text.",
						"type": "string"
					},
					{
						"name": "HeaderTextFont",
						"in": "query",
						"description": "Set header font name.",
						"type": "string"
					},
					{
						"name": "HeaderTextLeft",
						"in": "query",
						"description": "Left aligned header text.",
						"type": "string"
					},
					{
						"name": "HeaderTextRight",
						"in": "query",
						"description": "Right aligned header text.",
						"type": "string"
					},
					{
						"name": "HeaderTextSize",
						"in": "query",
						"description": "Set header font size.",
						"type": "string"
					},
					{
						"name": "HeaderUrl",
						"in": "query",
						"description": "Adds a html header. This can be either a URI or HTML code. This and others header and footer properties support these smart tags. [page] - Replaced by the number of the pages currently being printed. [frompage] - Replaced by the number of the first page to be printed. [topage] - Replaced by the number of the last page to be printed. [webpage] - Replaced by the URL of the page being printed. [section] - Replaced by the name of the current section. [subsection] - Replaced by the name of the curren",
						"type": "string"
					},
					{
						"name": "InfoStamp",
						"in": "query",
						"description": "Show date stamp and conversion url in header.",
						"type": "string"
					},
					{
						"name": "LowQuality",
						"in": "query",
						"description": "Generates lower quality PDF, makes smaller file size.",
						"type": "string"
					},
					{
						"name": "MarginBottom",
						"in": "query",
						"description": "Set the page bottom margin. Margins can be specified in millimeters (mm), inches (in) or centimeters (cm). If no units are specified, millimeters are assumed.",
						"type": "string"
					},
					{
						"name": "MarginLeft",
						"in": "query",
						"description": "Set the page left margin. Margins can be specified in millimeters (mm), inches (in) or centimeters (cm). If no units are specified, millimeters are assumed.",
						"type": "string"
					},
					{
						"name": "MarginRight",
						"in": "query",
						"description": "Set the page right margin. Margins can be specified in millimeters (mm), inches (in) or centimeters (cm). If no units are specified, millimeters are assumed.",
						"type": "string"
					},
					{
						"name": "MarginTop",
						"in": "query",
						"description": "Set the page top margin. Margins can be specified in millimeters (mm), inches (in) or centimeters (cm). If no units are specified, millimeters are assumed.",
						"type": "string"
					},
					{
						"name": "Outline",
						"in": "query",
						"description": "Show outline in PDF file.",
						"type": "string"
					},
					{
						"name": "PageHeight",
						"in": "query",
						"description": "Custom page height. Custom page size can be specified in millimeters (mm), inches (in) or centimeters (cm). If no units are specified, millimeters are assumed. This option override PageSize option.",
						"type": "string"
					},
					{
						"name": "PageNo",
						"in": "query",
						"description": "Show page number in footer.",
						"type": "string"
					},
					{
						"name": "PageOrientation",
						"in": "query",
						"description": "PDF page orientation: portrait, landscape",
						"type": "string"
					},
					{
						"name": "PageSize",
						"in": "query",
						"description": "PDF page paper sizes.: a0, a1, a2, a3, a4, a5, a6, a7, a8, a9, b0, b1, b2, b3, b4, b5, letter, legal, ledger",
						"type": "string"
					},
					{
						"name": "PageWidth",
						"in": "query",
						"description": "Custom page width. Custom page size can be specified in millimeters (mm), inches (in) or centimeters (cm). If no units are specified, millimeters are assumed. This option override PageSize option.",
						"type": "string"
					},
					{
						"name": "Plugins",
						"in": "query",
						"description": "Enable plugins such as flash.",
						"type": "string"
					},
					{
						"name": "PrintType",
						"in": "query",
						"description": "Use print media-type(print css sheet) instead of screen.",
						"type": "string"
					},
					{
						"name": "Scripts",
						"in": "query",
						"description": "Allow web pages to run javascript.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					},
					{
						"name": "UserAgent",
						"in": "query",
						"description": "Set custom user agent.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Word2Image": {
			"post": {
				"summary": "Word2Image",
				"description": "The API for converting Word documents to PDF files and Images. These file formats doc, docx, dot, dotx, wpd, wps, wri can be converted to png, jpg, tif.",
				"operationId": "word2image",
				"parameters": [
					{
						"name": "AlternativeParser",
						"in": "query",
						"description": "If some objects are missing in converted Pdf files from original source files this option can be enabled to improve conversion. The option process files much slower and should be disabled by default.",
						"type": "string"
					},
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: doc, docx, dot, dotx, wpd, wps, wri",
						"type": "string"
					},
					{
						"name": "ImageResolutionH",
						"in": "query",
						"description": "Image horizontal resolution (DPI).",
						"type": "string"
					},
					{
						"name": "ImageResolutionV",
						"in": "query",
						"description": "Image vertical resolution (DPI).",
						"type": "string"
					},
					{
						"name": "JpgQuality",
						"in": "query",
						"description": "Jpg image quality.",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Word2Pdf": {
			"post": {
				"summary": "Word2Pdf",
				"description": "The API for converting Word documents to PDF files and Images. These file formats doc, docx, dot, dotx, wpd, wps, wri can be converted to pdf, pdfa, png, jpg, tif.",
				"operationId": "word2pdf",
				"parameters": [
					{
						"name": "AlternativeParser",
						"in": "query",
						"description": "If some objects are missing in converted Pdf files from original source files this option can be enabled to improve conversion. The option process files much slower and should be disabled by default.",
						"type": "string"
					},
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "DocumentAuthor",
						"in": "query",
						"description": "Set the author of the generated Pdf file. If value is not set a source document author is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentKeywords",
						"in": "query",
						"description": "Set the keywords of the generated Pdf file. If value is not set a source document keywords is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentSubject",
						"in": "query",
						"description": "Set the subject of the generated Pdf file. If value is not set a source document subject is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentTitle",
						"in": "query",
						"description": "Set the title of the generated Pdf file. If value is not set a source document title is used instead.",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: doc, docx, dot, dotx, wpd, wps, wri",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats pdf, pdfa, png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Xps2Image": {
			"post": {
				"summary": "Xps2Image",
				"description": "The API for converting Open XML Paper Specification documents to PDF files. These file formats xps can be converted to png, jpg, tif.",
				"operationId": "xps2image",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: xps",
						"type": "string"
					},
					{
						"name": "ImageResolutionH",
						"in": "query",
						"description": "Image horizontal resolution (DPI).",
						"type": "string"
					},
					{
						"name": "ImageResolutionV",
						"in": "query",
						"description": "Image vertical resolution (DPI).",
						"type": "string"
					},
					{
						"name": "JpgQuality",
						"in": "query",
						"description": "Jpg image quality.",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/Xps2Pdf": {
			"post": {
				"summary": "Xps2Pdf",
				"description": "The API for converting Open XML Paper Specification documents to PDF files. These file formats xps can be converted to pdf, pdfa, png, jpg, tif.",
				"operationId": "xps2pdf",
				"parameters": [
					{
						"name": "ApiKey",
						"in": "query",
						"description": "API Key should be passed if you purchased membership with credits. Please login to your control panel to find out your API Key http://www.convertapi.com/a",
						"type": "string"
					},
					{
						"name": "DocumentAuthor",
						"in": "query",
						"description": "Set the author of the generated Pdf file. If value is not set a source document author is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentKeywords",
						"in": "query",
						"description": "Set the keywords of the generated Pdf file. If value is not set a source document keywords is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentSubject",
						"in": "query",
						"description": "Set the subject of the generated Pdf file. If value is not set a source document subject is used instead.",
						"type": "string"
					},
					{
						"name": "DocumentTitle",
						"in": "query",
						"description": "Set the title of the generated Pdf file. If value is not set a source document title is used instead.",
						"type": "string"
					},
					{
						"name": "File",
						"in": "query",
						"description": "Supported source file formats: xps",
						"type": "string"
					},
					{
						"name": "OutputFormat",
						"in": "query",
						"description": "Supported output file formats pdf, pdfa, png, jpg, tif. If output format is set to png or jpg a image file will be created for every converted document page and returned as zip file.",
						"type": "string"
					},
					{
						"name": "StoreFile",
						"in": "query",
						"description": "Store file on server and return url to file instead of file stream response. File will be available for 24 hours.",
						"type": "string"
					},
					{
						"name": "Timeout",
						"in": "query",
						"description": "Conversion timeout in seconds.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}