{
	"swagger": "2.0",
	"info": {
		"title": "AP Breaking News API",
		"description": "AP Breaking News API allows your organization to retrieve a list of available breaking news categories and then request content for a specific category.",
		"termsOfService": "",
		"version": "v2"
	},
	"host": "developerapi.ap.org",
	"basePath": "v2/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"item/{id}/": {
			"get": {
				"summary": "Item",
				"description": "Get items.",
				"operationId": "",
				"parameters": [
					{
						"name": "apiKey",
						"in": "query",
						"description": "API Key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "The format of the returned content item data. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "id",
						"in": "query",
						"description": "The GUID of a content item (not case-sensitive).",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news"
				]
			}
		},
		"item/{mediaType}/{id}/{rendition}": {
			"get": {
				"summary": "Item Media",
				"description": "Pulls item media",
				"operationId": "",
				"parameters": [
					{
						"name": "apiKey",
						"in": "query",
						"description": "API key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "filename",
						"in": "query",
						"description": "The filename for the downloaded content item rendition, in the format ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "id",
						"in": "query",
						"description": "The GUID of a content item (not case-sensitive).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "mediaType",
						"in": "query",
						"description": "The content media type. The default for AP Images  (including all GraphicsBank content) is photo.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "rendition",
						"in": "query",
						"description": "The content item rendition.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"new",
					" media"
				]
			}
		},
		"search/{mediaType}": {
			"get": {
				"summary": "Search",
				"description": "Search news",
				"operationId": "",
				"parameters": [
					{
						"name": "apiKey",
						"in": "query",
						"description": "API Key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "arrivalDate",
						"in": "query",
						"description": "The date when the content item was released, in the format  YYYY-MM-DD, YYYY-MM, YYYY or YYYY-MM-DDTHH:mmZ where the value must be in Coordinated Universal Time  (UTC). B",
						"type": "string",
						"format": "string"
					},
					{
						"name": "contentSet",
						"in": "query",
						"description": "The AP Images content set to be searched.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "The number of search results per page. The default is 25 results with a  maximum of 100 per page",
						"type": "string",
						"format": "string"
					},
					{
						"name": "creationDate",
						"in": "query",
						"description": "The date when the content item was created, in the format  YYYY-MM-DD, YYYY-MM, YYYY or YYYY-MM-DDTHH:mmZ where the value must be in Coordinated Universal Time  (UTC).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "event",
						"in": "query",
						"description": "One or more words from the title of a specific event.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "imageId",
						"in": "query",
						"description": "One or more image ID numbers assigned to content items. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "locations",
						"in": "query",
						"description": "A geographic location in the AP Geography vocabulary. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "mediaType",
						"in": "path",
						"description": "The content media type (photo, graphic, video)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "metadataLevel",
						"in": "query",
						"description": "The level of metadata to be included in search results.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number within the set of search results. The default is 1.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "person",
						"in": "query",
						"description": "The name of a person who is featured in the content item. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "photographer",
						"in": "query",
						"description": "The photographers first and/or last name.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "q",
						"in": "query",
						"description": "The search query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "showParametrics",
						"in": "query",
						"description": "By default, query facets that allow you to refine the original  search are returned for each content item at the entry level only.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sortby",
						"in": "query",
						"description": "Specifies how to sort the search results. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "source",
						"in": "query",
						"description": "One or more content creators.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "subject",
						"in": "query",
						"description": "Subject category in the AP Subject vocabulary.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "transref",
						"in": "query",
						"description": "Transmission reference number.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news"
				]
			}
		},
		"api/cm/": {
			"get": {
				"summary": "Change Log",
				"description": "Returns a list of changes to the AP vocabulary terms according to the specified criteria.",
				"operationId": "",
				"parameters": [
					{
						"name": "apiKey",
						"in": "query",
						"description": "API Key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "authority",
						"in": "query",
						"description": "authority",
						"type": "string",
						"format": "string"
					},
					{
						"name": "enddate",
						"in": "query",
						"description": "This parameter can be used in conjunction with the startdate parameter to  specify a date range. The date must be in the format yyyy-mm-dd. If  enddate is included in the request, startdate must also be specified.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "Specifies the output format: comma-separated values (CSV) or XML. If no  format is specified as the format parameter value or in the Accept header,  XML is returned.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "lastversion",
						"in": "query",
						"description": "Returns all change logs since (but not including) the specified version  number, in the format {AuthorityVersion}.{Revision}.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "startdate",
						"in": "query",
						"description": "eturns all change logs since (and including) the specified date. The date  must be in the format yyyy-mm-dd. This parameter can be used in  conjunction with the enddate parameter to specify a date range.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "version",
						"in": "query",
						"description": "Returns the change log for the specified version number, in the format  {AuthorityVersion}.{Revision} where {AuthorityVersion} is the authority  version found in the AP Tagging Service output for each applied term. ",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" tags",
					" change log"
				]
			}
		},
		"c/{class}.{format}": {
			"get": {
				"summary": "Ontology Definition",
				"description": "Returns the AP ontology definition for the specified AP property or class and the specified format.",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "API Key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "class",
						"in": "path",
						"description": "The name of an AP property or class",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "path",
						"description": "The format of the returned AP ontology data. If no format  is specified as the format parameter value or in the Accept  header, RDF/XML is returned.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" ontology"
				]
			}
		},
		"d/DeprecatedCompany.{format}": {
			"get": {
				"summary": "DeprecatedCompany",
				"description": "Returns a list of deprecated AP vocabulary terms in the specified format for the AP Company authority  or for the other four AP authorities.",
				"operationId": "",
				"parameters": [
					{
						"name": "apiKey",
						"in": "query",
						"description": "API Key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "path",
						"description": "The format of the returned taxonomy data (RDF/XML, RDF/TTL or  NewsML-G2). If no format is specified as the format parameter  value or in the Accept header, RDF/XML is returned.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" companies"
				]
			}
		},
		"d/DeprecatedTerm.{format}": {
			"get": {
				"summary": "Deprecated Terms",
				"description": "Returns a list of deprecated AP vocabulary terms in the specified format for the AP Company authority  or for the other four AP authorities.",
				"operationId": "",
				"parameters": [
					{
						"name": "apiKey",
						"in": "query",
						"description": "API Key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "path",
						"description": "The format of the returned taxonomy data (RDF/XML, RDF/TTL or  NewsML-G2). If no format is specified as the format parameter  value or in the Accept header, RDF/XML is returned.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" terms ",
					"deprecated"
				]
			}
		},
		"d/{authority}.{format}": {
			"get": {
				"summary": "Taxonomy Information",
				"description": "Returns the taxonomy information for the specified authority and the specified format.",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "API Key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "authority",
						"in": "path",
						"description": "The name of a classification authority (not case-sensitive).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "path",
						"description": "The format of the returned taxonomy data. If no format is  specified as the format parameter value or in the Accept  header, RDF/XML is returned.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" taxonomy"
				]
			}
		},
		"d/{authority}/{GUID}.{format}": {
			"get": {
				"summary": "Authority",
				"description": "Returns a document for the specified authority and format with the AP vocabulary data for the  specified term GUID and the subset of the vocabulary located below the specified term.",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "API Key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "authority",
						"in": "path",
						"description": "The name of a classification authority (not case-sensitive).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "path",
						"description": "The format of the returned taxonomy data. If no format is  specified as the format parameter value or in the Accept header,  RDF/XML is returned.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "GUID",
						"in": "path",
						"description": "The GUID of an AP term below which the returned taxonomy data  subset is located in the AP taxonomy hierarchy. The GUID is not case-sensitive",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" authority"
				]
			}
		},
		"id/{GUID}.{format}": {
			"get": {
				"summary": "Taxonomy Information",
				"description": "Returns the taxonomy information for the specified GUID of an AP term and the specified format.",
				"operationId": "",
				"parameters": [
					{
						"name": "apiKey",
						"in": "query",
						"description": "API Key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "path",
						"description": "The format of the returned taxonomy data. If no format is  specified as the format parameter value or in the Accept  header, RDF/XML is returned.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "GUID",
						"in": "path",
						"description": "The GUID of an AP term (not case-sensitive).",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" taxonomy"
				]
			}
		},
		"Tags/": {
			"post": {
				"summary": "Tags",
				"description": "Returns the set of AP standardized vocabulary terms that apply to the submitted news content. The  output can be limited to one or more authorities specified in the request; for example, you can choose  to apply only AP Organization, AP Subject and AP Geography tags to the submitted content, but not  AP Person or AP Company.",
				"operationId": "",
				"parameters": [
					{
						"name": "apiKey",
						"in": "query",
						"description": "API Key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "story",
						"in": "body",
						"description": "URL-encoded content  submitted for tagging.",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" tags"
				]
			}
		},
		"categories.svc/": {
			"get": {
				"summary": "Categories",
				"description": "Returns a list of available AP Breaking News categories, including category IDs.",
				"operationId": "",
				"parameters": [
					{
						"name": "apiKey",
						"in": "query",
						"description": "API Key",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" categories"
				]
			}
		},
		"categories.svc/{categoryID}/": {
			"get": {
				"summary": "Category News",
				"description": "Returns the latest content for a specific category. Depending on the specified parameters, returns  either the full story for each headline and/or the headlines linked to web pages with the full stories.",
				"operationId": "",
				"parameters": [
					{
						"name": "apiKey",
						"in": "query",
						"description": "API Key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "categoryID",
						"in": "query",
						"description": "The ID of the AP Breaking News category. Use the Category List method to  get the list of available categories and their IDs.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "contentOption",
						"in": "query",
						"description": "Specifies whether to return full story content in the response. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "The number of content items to be returned. Ten items are returned by  default. The maximum allowed value is 25.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "mediaOption",
						"in": "query",
						"description": "Includes related photos in the response. ",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" categories"
				]
			}
		}
	}
}