{
	"swagger": "2.0",
	"info": {
		"title": "Pearson Peachpit Visual QuickStart Guides",
		"description": "With more than 12 million copies in print, Visual QuickStart Guides have been a vital part of the computer book category for years and are an established and trusted resource for creative people. ",
		"termsOfService": "http://developer.pearson.com/terms-and-conditions",
		"version": "v1"
	},
	"host": "api.pearson.com",
	"basePath": "/peachpit/vqs/v1",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/books": {
			"": {
				"summary": "List books available in collection",
				"description": "",
				"operationId": "listBooks",
				"parameters": [
					{
						"name": "jsonp",
						"in": "query",
						"description": "JSON callback wrapper name",
						"type": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Set the limit of the number of items returned in the collection",
						"type": "int"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Zero based index of where to start in the collection",
						"type": "int"
					},
					{
						"name": "title",
						"in": "query",
						"description": "Search for books with matching title in their title",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/courses": {
			"": {
				"summary": "List available courses",
				"description": "",
				"operationId": "listCourses",
				"parameters": [
					{
						"name": "jsonp",
						"in": "query",
						"description": "JSON callback wrapper name",
						"type": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Set the limit of the number of items returned in the collection",
						"type": "int"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Zero based index of where to start in the collection",
						"type": "int"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/cuisines": {
			"": {
				"summary": "List available cuisines",
				"description": "",
				"operationId": "listCuisines",
				"parameters": [
					{
						"name": "jsonp",
						"in": "query",
						"description": "JSON callback wrapper name",
						"type": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Set the limit of the number of items returned in the collection",
						"type": "int"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Zero based index of where to start in the collection",
						"type": "int"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/recipes": {
			"": {
				"summary": "List available recipes",
				"description": "",
				"operationId": "listRecipes",
				"parameters": [
					{
						"name": "cuisine",
						"in": "query",
						"description": "Type of cuisine to search for. For example, French, American or British",
						"type": "string"
					},
					{
						"name": "ingredients-all",
						"in": "query",
						"description": "Comma-separated list of ingredients, all of which should be in the recipe",
						"type": "string"
					},
					{
						"name": "ingredients-any",
						"in": "query",
						"description": "Comma-separated list of ingredients, any of which should be in the recipe",
						"type": "string"
					},
					{
						"name": "jsonp",
						"in": "query",
						"description": "JSON callback wrapper name",
						"type": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Set the limit of the number of items returned in the collection",
						"type": "int"
					},
					{
						"name": "method",
						"in": "query",
						"description": "The cooking method used for a recipe. For example, roast or boil",
						"type": "string"
					},
					{
						"name": "name-contains",
						"in": "query",
						"description": "Find named recipes",
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Zero based index of where to start in the collection",
						"type": "int"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/articles": {
			"": {
				"summary": "List articles available in collection",
				"description": "",
				"operationId": "listArticles",
				"parameters": [
					{
						"name": "content",
						"in": "query",
						"description": "Search for articles with matching text in their content",
						"type": "string"
					},
					{
						"name": "jsonp",
						"in": "query",
						"description": "JSON callback wrapper name",
						"type": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Set the limit of the number of items returned in the collection",
						"type": "int"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Zero based index of where to start in the collection",
						"type": "int"
					},
					{
						"name": "title",
						"in": "query",
						"description": "Search for articles with matching text in their title",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/articles/{Id}": {
			"": {
				"summary": "Get article from collection",
				"description": "",
				"operationId": "showArticle",
				"parameters": [
					{
						"name": "content-fmt",
						"in": "query",
						"description": "Get the article content in the given format",
						"type": "string"
					},
					{
						"name": "Id",
						"in": "path",
						"description": "ID of article to get",
						"type": "string"
					},
					{
						"name": "jsonp",
						"in": "query",
						"description": "JSON callback wrapper name",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/books/{Id}": {
			"": {
				"summary": "Get book from collection",
				"description": "",
				"operationId": "showBook",
				"parameters": [
					{
						"name": "Id",
						"in": "path",
						"description": "ID of book to get",
						"type": "string"
					},
					{
						"name": "jsonp",
						"in": "query",
						"description": "JSON callback wrapper name",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sections": {
			"": {
				"summary": "List sections available in collection",
				"description": "",
				"operationId": "listSections",
				"parameters": [
					{
						"name": "content",
						"in": "query",
						"description": "Search for sections with matching text in their content",
						"type": "string"
					},
					{
						"name": "jsonp",
						"in": "query",
						"description": "JSON callback wrapper name",
						"type": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Set the limit of the number of items returned in the collection",
						"type": "int"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Zero based index of where to start in the collection",
						"type": "int"
					},
					{
						"name": "title",
						"in": "query",
						"description": "Search for sections with matching text in their title",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sections/{Id}": {
			"": {
				"summary": "Get section from collection",
				"description": "",
				"operationId": "showArticle",
				"parameters": [
					{
						"name": "content-fmt",
						"in": "query",
						"description": "Get the section content in the given format",
						"type": "string"
					},
					{
						"name": "Id",
						"in": "path",
						"description": "ID of section to get",
						"type": "string"
					},
					{
						"name": "jsonp",
						"in": "query",
						"description": "JSON callback wrapper name",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}