{
	"swagger": "2.0",
	"info": {
		"title": "Pearson Kitchen Manager",
		"description": "The Pearson Kitchen Manager API is a valuable resource for food enthusiasts and chefs alike, featuring a vast collection of recipes from best-selling Pearson textbooks of top culinary schools. With over 3,000 recipes, Pearson Kitchen Manager allows cooks to truly maximize the value of their recipe content.",
		"termsOfService": null,
		"version": "v1"
	},
	"host": "api.pearson.com",
	"basePath": "/kitchen-manager/v1",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/books": {
			"": {
				"summary": "List available books",
				"description": "",
				"operationId": "listBooks",
				"parameters": [
					{
						"name": "jsonp",
						"in": "query",
						"description": "JSON callback wrapper name",
						"type": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Set the limit of the number of items returned in the collection",
						"type": "int"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Zero based index of where to start in the collection",
						"type": "int"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/courses": {
			"": {
				"summary": "List available courses",
				"description": "",
				"operationId": "listCourses",
				"parameters": [
					{
						"name": "jsonp",
						"in": "query",
						"description": "JSON callback wrapper name",
						"type": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Set the limit of the number of items returned in the collection",
						"type": "int"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Zero based index of where to start in the collection",
						"type": "int"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/cuisines": {
			"": {
				"summary": "List available cuisines",
				"description": "",
				"operationId": "listCuisines",
				"parameters": [
					{
						"name": "jsonp",
						"in": "query",
						"description": "JSON callback wrapper name",
						"type": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Set the limit of the number of items returned in the collection",
						"type": "int"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Zero based index of where to start in the collection",
						"type": "int"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/recipes": {
			"": {
				"summary": "List available recipes",
				"description": "",
				"operationId": "listRecipes",
				"parameters": [
					{
						"name": "cuisine",
						"in": "query",
						"description": "Type of cuisine to search for. For example, French, American or British",
						"type": "string"
					},
					{
						"name": "ingredients-all",
						"in": "query",
						"description": "Comma-separated list of ingredients, all of which should be in the recipe",
						"type": "string"
					},
					{
						"name": "ingredients-any",
						"in": "query",
						"description": "Comma-separated list of ingredients, any of which should be in the recipe",
						"type": "string"
					},
					{
						"name": "jsonp",
						"in": "query",
						"description": "JSON callback wrapper name",
						"type": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Set the limit of the number of items returned in the collection",
						"type": "int"
					},
					{
						"name": "method",
						"in": "query",
						"description": "The cooking method used for a recipe. For example, roast or boil",
						"type": "string"
					},
					{
						"name": "name-contains",
						"in": "query",
						"description": "Find named recipes",
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Zero based index of where to start in the collection",
						"type": "int"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}