{
	"swagger": "2.0",
	"info": {
		"title": "Echo Nest",
		"description": "The Echo Nest offers an incredible array of music data and services for developers to build amazing apps and experiences. Here is where you learn all about the features and capabilities of our platform, review tutorials and sample code, and see what tools and libraries are available.",
		"termsOfService": null,
		"version": null
	},
	"host": "developer.echonest.com",
	"basePath": "/api/v4",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/artist/biographies": {
			"get": {
				"summary": "Get Biographies",
				"description": "Get Biographies",
				"operationId": "get-biographies",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/artist/blogs": {
			"get": {
				"summary": "List Blogs",
				"description": "List Blogs",
				"operationId": "list-blogs",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/artist/extract": {
			"get": {
				"summary": "Extract Artist Names From Text",
				"description": "Extract Artist Names From Text",
				"operationId": "extract-artist-names-from-text",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/artist/familiarity": {
			"get": {
				"summary": "Get Familiarity",
				"description": "Get Familiarity",
				"operationId": "get-familiarity",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/artist/hotttnesss": {
			"get": {
				"summary": "Get Hotttnesss",
				"description": "Get Hotttnesss",
				"operationId": "get-hotttnesss",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/artist/images": {
			"get": {
				"summary": "List Images",
				"description": "List Images",
				"operationId": "list-images",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/artist/list_terms": {
			"get": {
				"summary": "List Terms For Use With Search",
				"description": "List Terms For Use With Search",
				"operationId": "list-terms-for-use-with-search",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/artist/news": {
			"get": {
				"summary": "List News",
				"description": "List News",
				"operationId": "list-news",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/artist/profile": {
			"get": {
				"summary": "Get Profile",
				"description": "Get Profile",
				"operationId": "get-profile",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/artist/reviews": {
			"get": {
				"summary": "Get Reviews",
				"description": "Get Reviews",
				"operationId": "get-reviews",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/artist/search": {
			"get": {
				"summary": "Search Artists",
				"description": "Search Artists",
				"operationId": "search-artists",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/artist/similar": {
			"get": {
				"summary": "Get Similar Artists",
				"description": "Get Similar Artists",
				"operationId": "get-similar-artists",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/artist/songs": {
			"get": {
				"summary": "List Songs",
				"description": "List Songs",
				"operationId": "list-songs",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/artist/suggest": {
			"get": {
				"summary": "Suggest Artists",
				"description": "Suggest Artists",
				"operationId": "suggest-artists",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/artist/terms": {
			"get": {
				"summary": "List Terms For Artist",
				"description": "List Terms For Artist",
				"operationId": "list-terms-for-artist",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/artist/top_hottt": {
			"get": {
				"summary": "List Top Hottt Artists",
				"description": "List Top Hottt Artists",
				"operationId": "list-top-hottt-artists",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/artist/top_terms": {
			"get": {
				"summary": "List Overall Top Terms",
				"description": "List Overall Top Terms",
				"operationId": "list-overall-top-terms",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/artist/twitter": {
			"get": {
				"summary": "Get Twitter Handle for an Artist",
				"description": "Get Twitter Handle for an Artist",
				"operationId": "get-twitter-handle-for-an-artist",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/artist/urls": {
			"get": {
				"summary": "Get Links of an Artist",
				"description": "Get Links of an Artist",
				"operationId": "get-links-of-an-artist",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/artist/video": {
			"get": {
				"summary": "List of Video Documents",
				"description": "List of Video Documents",
				"operationId": "list-of-video-documents",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/catalog/create": {
			"post": {
				"summary": "Create Catalog",
				"description": "Create Catalog",
				"operationId": "create-catalog",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/catalog/delete": {
			"post": {
				"summary": "Delete Catalog",
				"description": "Delete Catalog",
				"operationId": "delete-catalog",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/catalog/feed": {
			"get": {
				"summary": "Get Feeds Based on the Artists",
				"description": "Get Feeds Based on the Artists",
				"operationId": "get-feeds-based-on-the-artists",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/catalog/list": {
			"get": {
				"summary": "List Catalogs",
				"description": "List Catalogs",
				"operationId": "list-catalogs",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/catalog/profile": {
			"get": {
				"summary": "Get Info on a Catalog",
				"description": "Get Info on a Catalog",
				"operationId": "get-info-on-a-catalog",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/catalog/read": {
			"get": {
				"summary": "Get Data Stored in the Catalog",
				"description": "Get Data Stored in the Catalog",
				"operationId": "get-data-stored-in-the-catalog",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/catalog/status": {
			"get": {
				"summary": "Checks Status of a Catalog Update.",
				"description": "Checks Status of a Catalog Update.",
				"operationId": "checks-status-of-a-catalog-update",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/catalog/update": {
			"post": {
				"summary": "Update Catalog",
				"description": "Update Catalog",
				"operationId": "update-catalog",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/oauth/timestamp": {
			"get": {
				"summary": "Get Current Time of The Echo Nest API Server",
				"description": "Get Current Time of The Echo Nest API Server",
				"operationId": "get-current-time-of-the-echo-nest-api-server",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/playlist/basic": {
			"get": {
				"summary": "Get Basic Playlist",
				"description": "Get Basic Playlist",
				"operationId": "get-basic-playlist",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/playlist/dynamic": {
			"get": {
				"summary": "Create Dynamic Playlist",
				"description": "Create Dynamic Playlist",
				"operationId": "create-dynamic-playlist",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/playlist/session_info": {
			"get": {
				"summary": "Get State Info for Dynamic Playlists",
				"description": "Get State Info for Dynamic Playlists",
				"operationId": "get-state-info-for-dynamic-playlists",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/playlist/static": {
			"get": {
				"summary": "Get Static Playlist",
				"description": "Get Static Playlist",
				"operationId": "get-static-playlist",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sandbox/access": {
			"get": {
				"summary": "Get Access to the Listed Assets",
				"description": "Get Access to the Listed Assets",
				"operationId": "get-access-to-the-listed-assets",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sandbox/list": {
			"get": {
				"summary": "List Info About Asset in the Sandbox",
				"description": "List Info About Asset in the Sandbox",
				"operationId": "list-info-about-asset-in-the-sandbox",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/song/identify": {
			"post": {
				"summary": "Identify Song (Post)",
				"description": "Identify Song (Post)",
				"operationId": "identify-song-post",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/song/profile": {
			"get": {
				"summary": "Get Info Songs",
				"description": "Get Info Songs",
				"operationId": "get-info-songs",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/song/search": {
			"get": {
				"summary": "Search Songs",
				"description": "Search Songs",
				"operationId": "search-songs",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/track/analyze": {
			"post": {
				"summary": "Analyze",
				"description": "Analyze",
				"operationId": "analyze",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/track/profile": {
			"get": {
				"summary": "Get Info Tracks",
				"description": "Get Info Tracks",
				"operationId": "get-info-tracks",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/track/upload": {
			"post": {
				"summary": "Upload Track (Post)",
				"description": "Upload Track (Post)",
				"operationId": "upload-track-post",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}