{
	"swagger": "2.0",
	"info": {
		"title": "OneNote API",
		"description": "Microsoft OneNote API enables developers to write apps on many different platforms and device-types that create and manipulate user's information stored in Microsoft OneNote. ",
		"termsOfService": "http://go.microsoft.com/fwlink/?LinkId=391954&clcid=0x409",
		"version": "v1"
	},
	"host": "www.onenote.com",
	"basePath": "/api/v1.0",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/notebooks": {
			"post": {
				"summary": "pages",
				"description": "pages",
				"operationId": "pages",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Required: indicates type of content being sent",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/notebooks/{notebookId}": {
			"get": {
				"summary": "notebooks",
				"description": "notebooks",
				"operationId": "notebooks",
				"parameters": [
					{
						"name": "notebookId",
						"in": "query",
						"description": "Specifies the specific notebook",
						"type": "string"
					},
					{
						"name": "notebookId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/notebooks/{notebookId}/sectiongroups": {
			"get": {
				"summary": "notebooks/{notebookId}/sections",
				"description": "notebooks/{notebookId}/sections",
				"operationId": "notebooksnotebookidsections",
				"parameters": [
					{
						"name": "notebookId",
						"in": "query",
						"description": "Specifies the notebook.",
						"type": "string"
					},
					{
						"name": "notebookId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/notebooks/{notebookId}/sections": {
			"post": {
				"summary": "notebooks/{notebookId}",
				"description": "notebooks/{notebookId}",
				"operationId": "notebooksnotebookid",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Required: indicates type of content being sent",
						"type": "string"
					},
					{
						"name": "notebookId",
						"in": "query",
						"description": "Specifies the notebook.",
						"type": "string"
					},
					{
						"name": "notebookId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/pages": {
			"post": {
				"summary": "",
				"description": "",
				"operationId": "",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Required: indicates type of content sent",
						"type": "string"
					},
					{
						"name": "sectionName",
						"in": "query",
						"description": "Optional: indicates the name of the section in the default notebook that the page should be created in. This section will be created if it does not already exist.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sectionGroups/": {
			"get": {
				"summary": "notebooks/{notebookId}/sectionGroups",
				"description": "notebooks/{notebookId}/sectionGroups",
				"operationId": "notebooksnotebookidsectiongroups",
				"parameters": [
					{
						"name": "notebookId",
						"in": "query",
						"description": "Specifies the notebook.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sectionGroups/{sectionGroupId}": {
			"get": {
				"summary": "sectionGroups",
				"description": "sectionGroups",
				"operationId": "sectiongroups",
				"parameters": [
					{
						"name": "SectionGroupID",
						"in": "query",
						"description": "Specifies the specific section group",
						"type": "string"
					},
					{
						"name": "sectionGroupId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sectionGroups/{sectionGroupId}/sectionGroups": {
			"get": {
				"summary": "sectionGroups/{sectionGroupId}/sections",
				"description": "sectionGroups/{sectionGroupId}/sections",
				"operationId": "sectiongroupssectiongroupidsections",
				"parameters": [
					{
						"name": "sectionGroupId",
						"in": "query",
						"description": "Specifies the section group.",
						"type": "string"
					},
					{
						"name": "sectionGroupId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sectionGroups/{sectionGroupId}/sections": {
			"get": {
				"summary": "sectionGroups/{sectionGroupId}",
				"description": "sectionGroups/{sectionGroupId}",
				"operationId": "sectiongroupssectiongroupid",
				"parameters": [
					{
						"name": "sectionGroupId",
						"in": "query",
						"description": "Specifies the section group.",
						"type": "string"
					},
					{
						"name": "sectionGroupId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sections/": {
			"get": {
				"summary": "sectionGroups/{sectionGroupId}/sectionGroups",
				"description": "sectionGroups/{sectionGroupId}/sectionGroups",
				"operationId": "sectiongroupssectiongroupidsectiongroups",
				"parameters": [
					{
						"name": "sectionGroupId",
						"in": "query",
						"description": "Specifies the section group.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sections/{sectionId}": {
			"get": {
				"summary": "sections",
				"description": "sections",
				"operationId": "sections",
				"parameters": [
					{
						"name": "sectionId",
						"in": "query",
						"description": "Specifies the specific Section",
						"type": "string"
					},
					{
						"name": "sectionId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sections/{sectionId}/pages": {
			"post": {
				"summary": "sections/{sectionId}",
				"description": "sections/{sectionId}",
				"operationId": "sectionssectionid",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "Required: indicates type of content sent",
						"type": "string"
					},
					{
						"name": "sectionId",
						"in": "query",
						"description": "Specifies the Section to Create the Page in.",
						"type": "string"
					},
					{
						"name": "sectionId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}