{
	"swagger": "2.0",
	"info": {
		"title": "USA Today Book Reviews",
		"description": "The USA TODAY Book Reviews API provides a method for retrieving USA TODAY's book reviews conent. In addition to the textual content of a review, the API returns various types of metadata associated with each title. All reviews information is available in a JSON handler. ",
		"termsOfService": null,
		"version": "v1"
	},
	"host": "api.usatoday.com",
	"basePath": "open/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"bestsellers/books/": {
			"get": {
				"summary": "Bestseller Books",
				"description": "The USA TODAY Best-Selling Books API provides a method for retrieving the weekly list of the nationu2019s top-selling books as compiled by USA TODAY and published each Thursday. In addition, the API can be used to access a titles history on the list and metadata about each title. All bestseller information is available in a custom handler. ",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "author",
						"in": "path",
						"description": "Book by author",
						"type": "string",
						"format": "string"
					},
					{
						"name": "categories",
						"in": "path",
						"description": "A call to the /categories directory returns a list of categories used to classify books.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "class",
						"in": "query",
						"description": "A call to the /classes directory returns a list of available book classes (fiction or non-fiction).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "Programmers may specify the number of books they would like returned in a list.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "dates",
						"in": "path",
						"description": "Specifying a year within the dates directory returns the dates of each weekly books list for that particular year.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "maxyear",
						"in": "query",
						"description": "Programmers can use minyear and maxyear to establish a year range for the data returned. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "minyear",
						"in": "query",
						"description": "Programmers can use minyear and maxyear to establish a year range for the data returned. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "title",
						"in": "path",
						"description": "A call to the /titles directory returns a list of titles that have appeared on the books list. ",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"books"
				]
			}
		},
		"reviews/": {
			"get": {
				"summary": "Book Reviews",
				"description": "The USA TODAY Book Reviews API provides a method for retrieving USA TODAYs book reviews content. In addition to the textual content of a review, the API returns various types of metadata associated with each title. All reviews information is available in a JSON handler. ",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "audiobooks",
						"in": "query",
						"description": "This parameter allows the developer to filter audiobook reviews. Setting audiobooks to y will return only audiobooks, and setting it to n will return only non-audiobook reviews. By default, the Books Reviews API returns all available content.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "authors",
						"in": "path",
						"description": "Returns a list of all available authors with book reviews. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "batch",
						"in": "query",
						"description": "Oftentimes, articles are published that contain multiple book reviews. Setting batch to y will return only these batch reviews, and setting it to n will return only non-batch reviews. By default, the Books Reviews API returns all available content.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "books",
						"in": "path",
						"description": "By default, returns the most 25 most recent reviews. The number of reviews returned may be altered using the count parameter.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "Use this value to set the number of reviews returned. By default, mostrecent directory returns 25 reviews and the book and author directories return all avaialable information.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "recent",
						"in": "path",
						"description": "Returns a list of all available book reviews. ",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"books",
					" reviews"
				]
			}
		}
	}
}