{
	"swagger": "2.0",
	"info": {
		"title": "USA Today Snapshots",
		"description": "Using the USA TODAY Snapshots API, developers will be able to construct their own custom feeds for USA TODAY Snapshots. Snapshots are easy-to-read statistical graphics that present information on various issues and trends in a visually appealing way, posted online every day Monday through Friday. Snapshots data is available in a custom handler. ",
		"termsOfService": null,
		"version": "v1"
	},
	"host": "api.usatoday.com",
	"basePath": "open/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"bestsellers/books/": {
			"get": {
				"summary": "Bestseller Books",
				"description": "The USA TODAY Best-Selling Books API provides a method for retrieving the weekly list of the nationu2019s top-selling books as compiled by USA TODAY and published each Thursday. In addition, the API can be used to access a titles history on the list and metadata about each title. All bestseller information is available in a custom handler. ",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "author",
						"in": "path",
						"description": "Book by author",
						"type": "string",
						"format": "string"
					},
					{
						"name": "categories",
						"in": "path",
						"description": "A call to the /categories directory returns a list of categories used to classify books.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "class",
						"in": "query",
						"description": "A call to the /classes directory returns a list of available book classes (fiction or non-fiction).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "Programmers may specify the number of books they would like returned in a list.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "dates",
						"in": "path",
						"description": "Specifying a year within the dates directory returns the dates of each weekly books list for that particular year.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "maxyear",
						"in": "query",
						"description": "Programmers can use minyear and maxyear to establish a year range for the data returned. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "minyear",
						"in": "query",
						"description": "Programmers can use minyear and maxyear to establish a year range for the data returned. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "title",
						"in": "path",
						"description": "A call to the /titles directory returns a list of titles that have appeared on the books list. ",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"books"
				]
			}
		},
		"reviews/": {
			"get": {
				"summary": "The USA TODAY Movie Reviews API provides a method for retrieving USA TODAY movie review content. In addition to the textual content of a review, the API returns various types of metadata associated with each title. All reviews information is availabl",
				"description": "The USA TODAY Movie Reviews API provides a method for retrieving USA TODAY movie review content. In addition to the textual content of a review, the API returns various types of metadata associated with each title. All reviews information is available in a JSON handler. ",
				"operationId": "",
				"parameters": [
					{
						"name": "actors",
						"in": "query",
						"description": "Returns a list of all available actors featured in a movie review. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "directors",
						"in": "query",
						"description": "Returns a list of all available directors featured in a movie review.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "movies",
						"in": "query",
						"description": "Returns a list of all available movie reviews. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "recent",
						"in": "query",
						"description": "By default, returns the most 25 most recent reviews. The number of reviews returned may be altered using the count parameter.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"movies",
					" revies"
				]
			}
		},
		"reviews/music/": {
			"get": {
				"summary": "Music Reviews",
				"description": "The USA TODAY Music Reviews API provides a method for retrieving USA TODAY music review content. In addition to the textual content of a review, the API returns various types of metadata associated with each title. All reviews information is available in a JSON handler. ",
				"operationId": "",
				"parameters": [
					{
						"name": "albums",
						"in": "path",
						"description": "Returns a list of all available album reviews. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "artist",
						"in": "path",
						"description": "Returns a list of all available artists who have had an album reviewed. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "countries",
						"in": "query",
						"description": "Use this value to set the number of reviews returned. By default, mostrecent directory returns 25 reviews and the book and author directories return all avaialable information.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "maxrating",
						"in": "query",
						"description": "Use these parameters to set a minimum and/or maximum rating for the album or movie review returned.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "minrating",
						"in": "query",
						"description": "Use these parameters to set a minimum and/or maximum rating for the album or movie review returned.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "recent",
						"in": "path",
						"description": "By default, returns the most 25 most recent reviews. The number of reviews returned may be altered using the count parameter.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "year",
						"in": "query",
						"description": "Use this parameter to limit data returned to a specific year.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"music",
					" reviews"
				]
			}
		},
		"snapshots/": {
			"get": {
				"summary": "Snapshots",
				"description": "Using the USA TODAY Snapshots API, developers will be able to construct their own custom feeds for USA TODAY Snapshots. Snapshots are easy-to-read statistical graphics that present information on various issues and trends in a visually appealing way, posted online every day Monday through Friday. Snapshots data is available in a custom handler. ",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "days",
						"in": "query",
						"description": "Use this parameter to define the date that a snapshot was created, in terms of elapsed days. If you wish to define the published date instead of the creation date, append &date=publishedDate to your query.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "end",
						"in": "query",
						"description": "These variables are used to define the starting and ending date for a snapshot call, and may be used together in order to establish a time range. Both parameters use MM/DD/YYYY formatting.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "id",
						"in": "query",
						"description": "Use this parameter to return a specific snapshot, setting the id variable to a specific snapshots unique identification number",
						"type": "string",
						"format": "string"
					},
					{
						"name": "keywords",
						"in": "query",
						"description": "Use this parameter to to search snapshots based on tag. Note that spaces should be input as +, and multiple keywords should be separated by commas.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "last",
						"in": "query",
						"description": "By default, the Snapshots API will return the single latest snapshot. Setting last to any number will return that many of the latest snapshots.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "section",
						"in": "query",
						"description": "Set section to any one of our fronts (life, news, sports, etc.) to pull snapshots exclusively from that section.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "start",
						"in": "query",
						"description": "These variables are used to define the starting and ending date for a snapshot call, and may be used together in order to establish a time range. Both parameters use MM/DD/YYYY formatting.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"snapshots"
				]
			}
		}
	}
}