{
	"swagger": "2.0",
	"info": {
		"title": "USA Today Best-Selling Books",
		"description": "The USA TODAY Best-Selling Books API provides a method for retrieving the weekly list of the nationu2019s top-selling books as compiled by USA TODAY and published each Thursday. In addition, the API can be used to access a title's history on the list and metadata about each title. All bestseller information is available in a custom handler. ",
		"termsOfService": null,
		"version": "v1"
	},
	"host": "api.usatoday.com/",
	"basePath": "open/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"bestsellers/books/": {
			"get": {
				"summary": "Bestseller Books",
				"description": "The USA TODAY Best-Selling Books API provides a method for retrieving the weekly list of the nationu2019s top-selling books as compiled by USA TODAY and published each Thursday. In addition, the API can be used to access a titles history on the list and metadata about each title. All bestseller information is available in a custom handler. ",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "author",
						"in": "path",
						"description": "Book by author",
						"type": "string",
						"format": "string"
					},
					{
						"name": "categories",
						"in": "path",
						"description": "A call to the /categories directory returns a list of categories used to classify books.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "class",
						"in": "query",
						"description": "A call to the /classes directory returns a list of available book classes (fiction or non-fiction).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "Programmers may specify the number of books they would like returned in a list.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "dates",
						"in": "path",
						"description": "Specifying a year within the dates directory returns the dates of each weekly books list for that particular year.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "maxyear",
						"in": "query",
						"description": "Programmers can use minyear and maxyear to establish a year range for the data returned. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "minyear",
						"in": "query",
						"description": "Programmers can use minyear and maxyear to establish a year range for the data returned. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "title",
						"in": "path",
						"description": "A call to the /titles directory returns a list of titles that have appeared on the books list. ",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"books"
				]
			}
		}
	}
}