{
	"swagger": "2.0",
	"info": {
		"title": "USA Today Breaking News",
		"description": "The USA TODAY Breaking News API provides a method for developers to retrieve our breaking news content. Data is presented in an RSS format, with headline, summary text and URLs for the web and mobile sites.",
		"termsOfService": null,
		"version": "v1"
	},
	"host": "api.usatoday.com",
	"basePath": "open/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"bestsellers/books/": {
			"get": {
				"summary": "Bestseller Books",
				"description": "The USA TODAY Best-Selling Books API provides a method for retrieving the weekly list of the nationu2019s top-selling books as compiled by USA TODAY and published each Thursday. In addition, the API can be used to access a titles history on the list and metadata about each title. All bestseller information is available in a custom handler. ",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "author",
						"in": "path",
						"description": "Book by author",
						"type": "string",
						"format": "string"
					},
					{
						"name": "categories",
						"in": "path",
						"description": "A call to the /categories directory returns a list of categories used to classify books.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "class",
						"in": "query",
						"description": "A call to the /classes directory returns a list of available book classes (fiction or non-fiction).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "Programmers may specify the number of books they would like returned in a list.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "dates",
						"in": "path",
						"description": "Specifying a year within the dates directory returns the dates of each weekly books list for that particular year.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "maxyear",
						"in": "query",
						"description": "Programmers can use minyear and maxyear to establish a year range for the data returned. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "minyear",
						"in": "query",
						"description": "Programmers can use minyear and maxyear to establish a year range for the data returned. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "title",
						"in": "path",
						"description": "A call to the /titles directory returns a list of titles that have appeared on the books list. ",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"books"
				]
			}
		},
		"reviews/": {
			"get": {
				"summary": "The USA TODAY Movie Reviews API provides a method for retrieving USA TODAY movie review content. In addition to the textual content of a review, the API returns various types of metadata associated with each title. All reviews information is availabl",
				"description": "The USA TODAY Movie Reviews API provides a method for retrieving USA TODAY movie review content. In addition to the textual content of a review, the API returns various types of metadata associated with each title. All reviews information is available in a JSON handler. ",
				"operationId": "",
				"parameters": [
					{
						"name": "actors",
						"in": "query",
						"description": "Returns a list of all available actors featured in a movie review. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "directors",
						"in": "query",
						"description": "Returns a list of all available directors featured in a movie review.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "movies",
						"in": "query",
						"description": "Returns a list of all available movie reviews. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "recent",
						"in": "query",
						"description": "By default, returns the most 25 most recent reviews. The number of reviews returned may be altered using the count parameter.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"movies",
					" revies"
				]
			}
		},
		"reviews/music/": {
			"get": {
				"summary": "Music Reviews",
				"description": "The USA TODAY Music Reviews API provides a method for retrieving USA TODAY music review content. In addition to the textual content of a review, the API returns various types of metadata associated with each title. All reviews information is available in a JSON handler. ",
				"operationId": "",
				"parameters": [
					{
						"name": "albums",
						"in": "path",
						"description": "Returns a list of all available album reviews. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "artist",
						"in": "path",
						"description": "Returns a list of all available artists who have had an album reviewed. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "countries",
						"in": "query",
						"description": "Use this value to set the number of reviews returned. By default, mostrecent directory returns 25 reviews and the book and author directories return all avaialable information.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "maxrating",
						"in": "query",
						"description": "Use these parameters to set a minimum and/or maximum rating for the album or movie review returned.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "minrating",
						"in": "query",
						"description": "Use these parameters to set a minimum and/or maximum rating for the album or movie review returned.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "recent",
						"in": "path",
						"description": "By default, returns the most 25 most recent reviews. The number of reviews returned may be altered using the count parameter.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "year",
						"in": "query",
						"description": "Use this parameter to limit data returned to a specific year.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"music",
					" reviews"
				]
			}
		},
		"snapshots/": {
			"get": {
				"summary": "Snapshots",
				"description": "Using the USA TODAY Snapshots API, developers will be able to construct their own custom feeds for USA TODAY Snapshots. Snapshots are easy-to-read statistical graphics that present information on various issues and trends in a visually appealing way, posted online every day Monday through Friday. Snapshots data is available in a custom handler. ",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "days",
						"in": "query",
						"description": "Use this parameter to define the date that a snapshot was created, in terms of elapsed days. If you wish to define the published date instead of the creation date, append &date=publishedDate to your query.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "end",
						"in": "query",
						"description": "These variables are used to define the starting and ending date for a snapshot call, and may be used together in order to establish a time range. Both parameters use MM/DD/YYYY formatting.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "id",
						"in": "query",
						"description": "Use this parameter to return a specific snapshot, setting the id variable to a specific snapshots unique identification number",
						"type": "string",
						"format": "string"
					},
					{
						"name": "keywords",
						"in": "query",
						"description": "Use this parameter to to search snapshots based on tag. Note that spaces should be input as +, and multiple keywords should be separated by commas.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "last",
						"in": "query",
						"description": "By default, the Snapshots API will return the single latest snapshot. Setting last to any number will return that many of the latest snapshots.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "section",
						"in": "query",
						"description": "Set section to any one of our fronts (life, news, sports, etc.) to pull snapshots exclusively from that section.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "start",
						"in": "query",
						"description": "These variables are used to define the starting and ending date for a snapshot call, and may be used together in order to establish a time range. Both parameters use MM/DD/YYYY formatting.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"snapshots"
				]
			}
		},
		"salaries/": {
			"get": {
				"summary": "Salaries",
				"description": "The USA TODAY Salaries API allows developers to programmatically access the USA TODAY Sports Salaries database. Extensive information for the MLB, NFL, NBA and NHL is available for multiple seasons, including player, position and team data. All salaries information is available in a custom handler. ",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "maxsalary",
						"in": "query",
						"description": "Use either of these parameters to define a minimum or maximum salary, or use both to establish a salary range.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "maxseason",
						"in": "query",
						"description": "Alternatively, a programmer may use minseason and maxseason to retrieve a range of seasons. To retrieve data from all available seasons, append seasons=all to the API call.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "minsalary",
						"in": "query",
						"description": "Use either of these parameters to define a minimum or maximum salary, or use both to establish a salary range.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "minseason",
						"in": "query",
						"description": "Alternatively, a programmer may use minseason and maxseason to retrieve a range of seasons. To retrieve data from all available seasons, append seasons=all to the API call.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "players",
						"in": "query",
						"description": "Use this parameter to retrieve salary information for a specific player. Player requests should be formatted using dashes in place of spaces. For example, a request to retrieve information for Derek Jeter should be formatted as players=derek-jeter.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "positions",
						"in": "query",
						"description": "Use this parameter to retrieve salary information for a specific position. Position requests should be formatted using the",
						"type": "string",
						"format": "string"
					},
					{
						"name": "seasons",
						"in": "query",
						"description": "Alternatively, a programmer may use minseason and maxseason to retrieve a range of seasons. To retrieve data from all available seasons, append seasons=all to the API call.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "teams",
						"in": "query",
						"description": "Use this parameter to retrieve salary information for a specific team. Team requests should be formatted as the teams name (not including the hometown) and spaces should be eliminated. For example, a request to retrieve information for the Boston Red Sox should be formatted as teams=redsox.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "top",
						"in": "query",
						"description": "Use this parameter to limit your results to the X highest salaries in your query, where X equals the value of top. By default, all available information is returned.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "year",
						"in": "query",
						"description": "Use to year to define which salary years you would like returned (by default, returns the current season).",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"salaries"
				]
			}
		},
		"census": {
			"get": {
				"summary": "Census",
				"description": "The USA TODAY Census API allows developers to easily and programmatically access United States Census information. Data concerning ethnicity, housing, population and race is available from both the 2000 and 2010 census, as well as basic population numbers dating back to the original 1790 census. All data returned in JSON formatting. ",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "Ethnicity",
						"in": "query",
						"description": "Returns an areas ethnic data. Information includes how much of the population identifies as Hispanic or non-Hispanic white, and the USA TODAY Diversity Index.",
						"type": "string",
						"format": "string",
						"default": "eth"
					},
					{
						"name": "Housing",
						"in": "path",
						"description": "Returns an areas housing data. Information includes the number of housing units, and the percentage of those that are vacant.",
						"type": "string",
						"format": "string",
						"default": "hou"
					},
					{
						"name": "keypat",
						"in": "query",
						"description": "The Census API allows data searches by name, state abbreviation, FIPS code or GNIS code. The developer may use _ as a one character wildcard, or ~ as an arbitrary length wildcard.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "locations",
						"in": "query",
						"description": "Location search",
						"type": "string",
						"format": "string",
						"default": "loc"
					},
					{
						"name": "Population",
						"in": "path",
						"description": "Returns an areas population data. Information includes the total population of an area, average population per square mile, and the percent by which that population has changed since the last census.",
						"type": "string",
						"format": "string",
						"default": "pop"
					},
					{
						"name": "Race",
						"in": "path",
						"description": "Returns an areas racial data. Information includes the percentage of an areas population that identifies as White, Black, American Indian, Asian, native Hawaiian/Pacific Islander, or mixed race.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sumlevid",
						"in": "query",
						"description": "Use sumlevid to define what level of census data you would like. By default, this is set to 2.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"census"
				]
			}
		},
		"articles/": {
			"get": {
				"summary": "Articles",
				"description": "There are three kinds of feeds that a programmer can construct using the USA TODAY Articles API: (1) a Top News feed, (2) a keyword feed or (3) a community feed. Every call to the USA TODAY Articles API must be authenticated with the programmers unique API key, as demonstrated in the sample requests below.",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "Use this value to set the number of incoming stories. (default is 10)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "days",
						"in": "query",
						"description": "Returns stories that are no older than X days old, where X equals the input value.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "fromdate",
						"in": "query",
						"description": "Returns stories back to the FromDate value. Must use yyyy-mm-dd format.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "most",
						"in": "query",
						"description": "Allows programmers with the ability to retrieve articles based on most read, most E-mailed and most commented.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "Returns the Xth page of results, where X equals the input value.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "reporter",
						"in": "query",
						"description": "Returns only stories from a specific reporter. Query searches byline field.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "search",
						"in": "query",
						"description": "Keyword to search by",
						"type": "string",
						"format": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Tag to search by",
						"type": "string",
						"format": "string"
					},
					{
						"name": "tickersonly",
						"in": "query",
						"description": "When set to Y, returns only stories with embedded stock values. Best used with Money stories.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "todate",
						"in": "query",
						"description": "Returns stories starting at the ToDate value and moving back. Must use yyyy-mm-dd format.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news"
				]
			}
		},
		"breaking/": {
			"get": {
				"summary": "Breaking News",
				"description": "The USA TODAY Breaking News API provides a method for developers to retrieve our breaking news content. Data is presented in an RSS format, with headline, summary text and URLs for the web and mobile sites.",
				"operationId": "",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" breaking"
				]
			}
		}
	}
}