{
	"swagger": "2.0",
	"info": {
		"title": "Flickr",
		"description": "The Flickr API is available for non-commercial use by outside developers. Commercial use is possible by prior arrangement.",
		"termsOfService": "https://www.flickr.com/services/api/tos/",
		"version": null
	},
	"host": "www.flickr.com",
	"basePath": "/services/rest/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/?method=flickr.activity.userComments": {
			"get": {
				"summary": "flickr.activity.userComments",
				"description": "<div class=MethodDescription>Returns a list of recent activity on photos commented on by the calling user. <b>Do not poll this method more than once an hour</b>.</div>",
				"operationId": "methodflickractivityusercomments",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
						"type": "string"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to return per page. If this argument is omitted, it defaults to 10. The maximum allowed value is 50.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.activity.userPhotos": {
			"get": {
				"summary": "flickr.activity.userPhotos",
				"description": "<div class=MethodDescription>Returns a list of recent activity on photos belonging to the calling user. <b>Do not poll this method more than once an hour</b>.</div>",
				"operationId": "methodflickractivityuserphotos",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
						"type": "string"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to return per page. If this argument is omitted, it defaults to 10. The maximum allowed value is 50.",
						"type": "string"
					},
					{
						"name": "timeframe",
						"in": "query",
						"description": "The timeframe in which to return updates for. This can be specified in days (2d) or hours (4h). The default behavoir is to return changes since the beginning of the previous user session.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.auth.checkToken": {
			"get": {
				"summary": "flickr.auth.checkToken",
				"description": "<div class=MethodDescription>Returns the credentials attached to an authentication token. This call <b>must</b> be signed, and is <b><a href=/services/api/auth.oauth.html>deprecated in favour of OAuth</a></b>.</div>",
				"operationId": "methodflickrauthchecktoken",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "auth_token",
						"in": "query",
						"description": "The authentication token to check.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.auth.getFrob": {
			"get": {
				"summary": "flickr.auth.getFrob",
				"description": "<div class=MethodDescription>Returns a frob to be used during authentication. <b>This method call must be signed</b>, and is <b><a href=/services/api/auth.oauth.html>deprecated in favour of OAuth</a></b>.</div>",
				"operationId": "methodflickrauthgetfrob",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.auth.getFullToken": {
			"get": {
				"summary": "flickr.auth.getFullToken",
				"description": "<div class=MethodDescription>Get the full authentication token for a mini-token. <b>This method call must be signed</b>, and is <b><a href=/services/api/auth.oauth.html>deprecated in favour of OAuth</a></b>.</div>",
				"operationId": "methodflickrauthgetfulltoken",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "mini_token",
						"in": "query",
						"description": "The mini-token typed in by a user. It should be 9 digits long. It may optionally contain dashes.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Mini-token not found - The passed mini-token was not valid."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.auth.getToken": {
			"get": {
				"summary": "flickr.auth.getToken",
				"description": "<div class=MethodDescription>Returns the auth token for the given frob, if one has been attached. <b>This method call must be signed</b>, and is <b><a href=/services/api/auth.oauth.html>deprecated in favour of OAuth</a></b>.</div>",
				"operationId": "methodflickrauthgettoken",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "frob",
						"in": "query",
						"description": "The frob to check.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Mini-token not found - The passed mini-token was not valid."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.auth.oauth.checkToken": {
			"get": {
				"summary": "flickr.auth.oauth.checkToken",
				"description": "<div class=MethodDescription>Returns the credentials attached to an OAuth authentication token.</div>",
				"operationId": "methodflickrauthoauthchecktoken",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "oauth_token",
						"in": "query",
						"description": "The OAuth authentication token to check.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Mini-token not found - The passed mini-token was not valid."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.auth.oauth.getAccessToken": {
			"get": {
				"summary": "flickr.auth.oauth.getAccessToken",
				"description": "<div class=MethodDescription>Exchange an auth token from the old Authentication API, to an OAuth access token. Calling this method will delete the auth token used to make the request.</div>",
				"operationId": "methodflickrauthoauthgetaccesstoken",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Mini-token not found - The passed mini-token was not valid."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.blogs.getList": {
			"get": {
				"summary": "flickr.blogs.getList",
				"description": "<div class=MethodDescription>Get a list of configured blogs for the calling user.</div>",
				"operationId": "methodflickrblogsgetlist",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "service",
						"in": "query",
						"description": "Optionally only return blogs for a given service id.  You can get a list of from flickr.blogs.getServices().",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Mini-token not found - The passed mini-token was not valid."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.blogs.getServices": {
			"get": {
				"summary": "flickr.blogs.getServices",
				"description": "<div class=MethodDescription>Return a list of Flickr supported blogging services</div>",
				"operationId": "methodflickrblogsgetservices",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Mini-token not found - The passed mini-token was not valid."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.blogs.postPhoto": {
			"get": {
				"summary": "flickr.blogs.postPhoto",
				"description": "<div class=MethodDescription></div>",
				"operationId": "methodflickrblogspostphoto",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "blog_id",
						"in": "query",
						"description": "The id of the blog to post to.",
						"type": "string"
					},
					{
						"name": "blog_password",
						"in": "query",
						"description": "The password for the blog (used when the blog does not have a stored password).",
						"type": "string"
					},
					{
						"name": "description",
						"in": "query",
						"description": "The blog post body",
						"type": "string"
					},
					{
						"name": "photo_id",
						"in": "query",
						"description": "The id of the photo to blog",
						"type": "string"
					},
					{
						"name": "service",
						"in": "query",
						"description": "A Flickr supported blogging service.  Instead of passing a blog id you can pass a service id and well post to the first blog of that service we find.",
						"type": "string"
					},
					{
						"name": "title",
						"in": "query",
						"description": "The blog post title",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Blog not found - The blog id was not the id of a blog belonging to the calling user"
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "Photo not found - The photo id was not the id of a public photo"
					},
					"3": {
						"description": "Password needed - A password is not stored for the blog and one was not passed with the request"
					},
					"4": {
						"description": "Blog post failed - The blog posting failed (a blogging API failure of some sort)"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.cameras.getBrandModels": {
			"get": {
				"summary": "flickr.cameras.getBrandModels",
				"description": "<div class=MethodDescription>Retrieve all the models for a given camera brand.</div>",
				"operationId": "methodflickrcamerasgetbrandmodels",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "brand",
						"in": "query",
						"description": "The ID of the requested brand (as returned from flickr.cameras.getBrands).",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Brand not found - Unable to find the given brand ID."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "Photo not found - The photo id was not the id of a public photo"
					},
					"3": {
						"description": "Password needed - A password is not stored for the blog and one was not passed with the request"
					},
					"4": {
						"description": "Blog post failed - The blog posting failed (a blogging API failure of some sort)"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.cameras.getBrands": {
			"get": {
				"summary": "flickr.cameras.getBrands",
				"description": "<div class=MethodDescription>Returns all the brands of cameras that Flickr knows about.</div>",
				"operationId": "methodflickrcamerasgetbrands",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Brand not found - Unable to find the given brand ID."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "Photo not found - The photo id was not the id of a public photo"
					},
					"3": {
						"description": "Password needed - A password is not stored for the blog and one was not passed with the request"
					},
					"4": {
						"description": "Blog post failed - The blog posting failed (a blogging API failure of some sort)"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.collections.getInfo": {
			"get": {
				"summary": "flickr.collections.getInfo",
				"description": "<div class=MethodDescription>Returns information for a single collection.  Currently can only be called by the collection owner, this may change.</div>",
				"operationId": "methodflickrcollectionsgetinfo",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "collection_id",
						"in": "query",
						"description": "The ID of the collection to fetch information for.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Collection not found - The requested collection could not be found or is not visible to the calling user."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "Photo not found - The photo id was not the id of a public photo"
					},
					"3": {
						"description": "Password needed - A password is not stored for the blog and one was not passed with the request"
					},
					"4": {
						"description": "Blog post failed - The blog posting failed (a blogging API failure of some sort)"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.collections.getTree": {
			"get": {
				"summary": "flickr.collections.getTree",
				"description": "<div class=MethodDescription>Returns a tree (or sub tree) of collections belonging to a given user.</div>",
				"operationId": "methodflickrcollectionsgettree",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "collection_id",
						"in": "query",
						"description": "The ID of the collection to fetch a tree for, or zero to fetch the root collection. Defaults to zero.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "The ID of the account to fetch the collection tree for. Deafults to the calling user.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "User not found - The specified user could not be found."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "Collection not found - The specified collection does not exist."
					},
					"3": {
						"description": "Password needed - A password is not stored for the blog and one was not passed with the request"
					},
					"4": {
						"description": "Blog post failed - The blog posting failed (a blogging API failure of some sort)"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.commons.getInstitutions": {
			"get": {
				"summary": "flickr.commons.getInstitutions",
				"description": "<div class=MethodDescription>Retrieves a list of the current Commons institutions.</div>",
				"operationId": "methodflickrcommonsgetinstitutions",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "User not found - The specified user could not be found."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "Collection not found - The specified collection does not exist."
					},
					"3": {
						"description": "Password needed - A password is not stored for the blog and one was not passed with the request"
					},
					"4": {
						"description": "Blog post failed - The blog posting failed (a blogging API failure of some sort)"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.contacts.getList": {
			"get": {
				"summary": "flickr.contacts.getList",
				"description": "<div class=MethodDescription>Get a list of contacts for the calling user.</div>",
				"operationId": "methodflickrcontactsgetlist",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "filter",
						"in": "query",
						"description": "An optional filter of the results. The following values are valid:&nbsp;tfriendstOnly contacts who are friends (and not family)tfamilytOnly contacts who are family (and not friends)tbothtOnly contacts who are both friends and familytneithertOnly contacts who are neither friends nor family",
						"type": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
						"type": "string"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of photos to return per page. If this argument is omitted, it defaults to 1000. The maximum allowed value is 1000.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "The order in which to sort the returned contacts. Defaults to name. The possible values are: name and time.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Invalid sort parameter. - The possible values are: name and time."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "Collection not found - The specified collection does not exist."
					},
					"3": {
						"description": "Password needed - A password is not stored for the blog and one was not passed with the request"
					},
					"4": {
						"description": "Blog post failed - The blog posting failed (a blogging API failure of some sort)"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.contacts.getListRecentlyUploaded": {
			"get": {
				"summary": "flickr.contacts.getListRecentlyUploaded",
				"description": "<div class=MethodDescription>Return a list of contacts for a user who have recently uploaded photos along with the total count of photos uploaded.<br /><br />rnrnThis method is still considered experimental. We don't plan for it to change or to go away but so long as this notice is present you should write your code accordingly.</div>",
				"operationId": "methodflickrcontactsgetlistrecentlyuploaded",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "date_lastupload",
						"in": "query",
						"description": "Limits the resultset to contacts that have uploaded photos since this date. The date should be in the form of a Unix timestamp.The default offset is (1) hour and the maximum (24) hours.",
						"type": "string"
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Limit the result set to all contacts or only those who are friends or family. Valid options are:ff friends and familyall all your contactsDefault value is all.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Invalid sort parameter. - The possible values are: name and time."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "Collection not found - The specified collection does not exist."
					},
					"3": {
						"description": "Password needed - A password is not stored for the blog and one was not passed with the request"
					},
					"4": {
						"description": "Blog post failed - The blog posting failed (a blogging API failure of some sort)"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.contacts.getPublicList": {
			"get": {
				"summary": "flickr.contacts.getPublicList",
				"description": "<div class=MethodDescription>Get the contact list for a user.</div>",
				"operationId": "methodflickrcontactsgetpubliclist",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
						"type": "string"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of photos to return per page. If this argument is omitted, it defaults to 1000. The maximum allowed value is 1000.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "The NSID of the user to fetch the contact list for.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "User not found - The specified user NSID was not a valid user."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "Collection not found - The specified collection does not exist."
					},
					"3": {
						"description": "Password needed - A password is not stored for the blog and one was not passed with the request"
					},
					"4": {
						"description": "Blog post failed - The blog posting failed (a blogging API failure of some sort)"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.contacts.getTaggingSuggestions": {
			"get": {
				"summary": "flickr.contacts.getTaggingSuggestions",
				"description": "<div class=MethodDescription>Get suggestions for tagging people in photos based on the calling user's contacts.</div>",
				"operationId": "methodflickrcontactsgettaggingsuggestions",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
						"type": "string"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of contacts to return per page. If this argument is omitted, all contacts will be returned.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "User not found - The specified user NSID was not a valid user."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "Collection not found - The specified collection does not exist."
					},
					"3": {
						"description": "Password needed - A password is not stored for the blog and one was not passed with the request"
					},
					"4": {
						"description": "Blog post failed - The blog posting failed (a blogging API failure of some sort)"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.favorites.add": {
			"get": {
				"summary": "flickr.favorites.add",
				"description": "<div class=MethodDescription>Adds a photo to a user's favorites list.</div>",
				"operationId": "methodflickrfavoritesadd",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "photo_id",
						"in": "query",
						"description": "The id of the photo to add to the users favorites.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found - The photo id passed was not a valid photo id."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "Photo is owned by you - The photo belongs to the user and so cannot be added to their favorites."
					},
					"3": {
						"description": "Photo is already in favorites - The photo is already in the user's list of favorites."
					},
					"4": {
						"description": "User cannot see photo - The user does not have permission to add the photo to their favorites."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.favorites.getContext": {
			"get": {
				"summary": "flickr.favorites.getContext",
				"description": "<div class=MethodDescription>Returns next and previous favorites for a photo in a user's favorites.</div>",
				"operationId": "methodflickrfavoritesgetcontext",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "photo_id",
						"in": "query",
						"description": "The id of the photo to fetch the context for.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "The user who counts the photo as a favorite.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found - The photo id passed was not a valid photo id, or was the id of a photo that the calling user does not have permission to view."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "User not found - The specified user was not found."
					},
					"3": {
						"description": "Photo not a favorite - The specified photo is not a favorite of the specified user."
					},
					"4": {
						"description": "User cannot see photo - The user does not have permission to add the photo to their favorites."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.favorites.getList": {
			"get": {
				"summary": "flickr.favorites.getList",
				"description": "<div class=MethodDescription>Returns a list of the user's favorite photos. Only photos which the calling user has permission to see are returned.</div>",
				"operationId": "methodflickrfavoritesgetlist",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "extras",
						"in": "query",
						"description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_q, url_m, url_n, url_z, url_c, url_l, url_o",
						"type": "string"
					},
					{
						"name": "max_fave_date",
						"in": "query",
						"description": "Maximum date that a photo was favorited on. The date should be in the form of a unix timestamp.",
						"type": "string"
					},
					{
						"name": "min_fave_date",
						"in": "query",
						"description": "Minimum date that a photo was favorited on. The date should be in the form of a unix timestamp.",
						"type": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
						"type": "string"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "The NSID of the user to fetch the favorites list for. If this argument is omitted, the favorites list for the calling user is returned.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "User not found - The specified user NSID was not a valid flickr user."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "User not found - The specified user was not found."
					},
					"3": {
						"description": "Photo not a favorite - The specified photo is not a favorite of the specified user."
					},
					"4": {
						"description": "User cannot see photo - The user does not have permission to add the photo to their favorites."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.favorites.getPublicList": {
			"get": {
				"summary": "flickr.favorites.getPublicList",
				"description": "<div class=MethodDescription>Returns a list of favorite public photos for the given user.</div>",
				"operationId": "methodflickrfavoritesgetpubliclist",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "extras",
						"in": "query",
						"description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_q, url_m, url_n, url_z, url_c, url_l, url_o",
						"type": "string"
					},
					{
						"name": "max_fave_date",
						"in": "query",
						"description": "Maximum date that a photo was favorited on. The date should be in the form of a unix timestamp.",
						"type": "string"
					},
					{
						"name": "min_fave_date",
						"in": "query",
						"description": "Minimum date that a photo was favorited on. The date should be in the form of a unix timestamp.",
						"type": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
						"type": "string"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500.",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "The user to fetch the favorites list for.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "User not found - The specified user NSID was not a valid flickr user."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "User not found - The specified user was not found."
					},
					"3": {
						"description": "Photo not a favorite - The specified photo is not a favorite of the specified user."
					},
					"4": {
						"description": "User cannot see photo - The user does not have permission to add the photo to their favorites."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.favorites.remove": {
			"get": {
				"summary": "flickr.favorites.remove",
				"description": "<div class=MethodDescription>Removes a photo from a user's favorites list.</div>",
				"operationId": "methodflickrfavoritesremove",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "photo_id",
						"in": "query",
						"description": "The id of the photo to remove from the users favorites.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not in favorites - The photo id passed was not in the user's favorites."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "User not found - The specified user was not found."
					},
					"3": {
						"description": "Photo not a favorite - The specified photo is not a favorite of the specified user."
					},
					"4": {
						"description": "User cannot see photo - The user does not have permission to add the photo to their favorites."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.galleries.addPhoto": {
			"get": {
				"summary": "flickr.galleries.addPhoto",
				"description": "<div class=MethodDescription>Add a photo to a gallery.</div>",
				"operationId": "methodflickrgalleriesaddphoto",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "comment",
						"in": "query",
						"description": "A short comment or story to accompany the photo.",
						"type": "string"
					},
					{
						"name": "gallery_id",
						"in": "query",
						"description": "The ID of the gallery to add a photo to.  Note: this is the compound ID returned in methods like flickr.galleries.getList, and flickr.galleries.getListForPhoto.",
						"type": "string"
					},
					{
						"name": "photo_id",
						"in": "query",
						"description": "The photo ID to add to the gallery",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Required parameter missing - One or more required parameters was not included with your API call."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "Invalid gallery ID - That gallery could not be found."
					},
					"3": {
						"description": "Invalid photo ID - The requested photo could not be found."
					},
					"4": {
						"description": "Invalid comment - The comment body could not be validated."
					},
					"5": {
						"description": "Failed to add photo - Unable to add the photo to the gallery."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.galleries.create": {
			"get": {
				"summary": "flickr.galleries.create",
				"description": "<div class=MethodDescription>Create a new gallery for the calling user.</div>",
				"operationId": "methodflickrgalleriescreate",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "description",
						"in": "query",
						"description": "A short description for the gallery",
						"type": "string"
					},
					{
						"name": "full_result",
						"in": "query",
						"description": "Get the result in the same format as galleries.getList",
						"type": "string"
					},
					{
						"name": "primary_photo_id",
						"in": "query",
						"description": "The first photo to add to your gallery",
						"type": "string"
					},
					{
						"name": "title",
						"in": "query",
						"description": "The name of the gallery",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Required parameter missing - One or more of the required parameters was missing from your API call."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "Invalid title or description - The title or the description could not be validated."
					},
					"3": {
						"description": "Failed to add gallery - There was a problem creating the gallery."
					},
					"4": {
						"description": "Invalid comment - The comment body could not be validated."
					},
					"5": {
						"description": "Failed to add photo - Unable to add the photo to the gallery."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.galleries.editMeta": {
			"get": {
				"summary": "flickr.galleries.editMeta",
				"description": "<div class=MethodDescription>Modify the meta-data for a gallery.</div>",
				"operationId": "methodflickrgallerieseditmeta",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "description",
						"in": "query",
						"description": "The new description for the gallery.",
						"type": "string"
					},
					{
						"name": "gallery_id",
						"in": "query",
						"description": "The gallery ID to update.",
						"type": "string"
					},
					{
						"name": "title",
						"in": "query",
						"description": "The new title for the gallery.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Required parameter missing - One or more required parameters was missing from your request."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "Invalid title or description - The title or description arguments could not be validated."
					},
					"3": {
						"description": "Failed to add gallery - There was a problem creating the gallery."
					},
					"4": {
						"description": "Invalid comment - The comment body could not be validated."
					},
					"5": {
						"description": "Failed to add photo - Unable to add the photo to the gallery."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.galleries.editPhoto": {
			"get": {
				"summary": "flickr.galleries.editPhoto",
				"description": "<div class=MethodDescription>Edit the comment for a gallery photo.</div>",
				"operationId": "methodflickrgallerieseditphoto",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "comment",
						"in": "query",
						"description": "The updated comment the photo.",
						"type": "string"
					},
					{
						"name": "gallery_id",
						"in": "query",
						"description": "The ID of the gallery to add a photo to. Note: this is the compound ID returned in methods like flickr.galleries.getList, and flickr.galleries.getListForPhoto.",
						"type": "string"
					},
					{
						"name": "photo_id",
						"in": "query",
						"description": "The photo ID to add to the gallery.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Invalid gallery ID - That gallery could not be found."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "Invalid title or description - The title or description arguments could not be validated."
					},
					"3": {
						"description": "Failed to add gallery - There was a problem creating the gallery."
					},
					"4": {
						"description": "Invalid comment - The comment body could not be validated."
					},
					"5": {
						"description": "Failed to add photo - Unable to add the photo to the gallery."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.galleries.editPhotos": {
			"get": {
				"summary": "flickr.galleries.editPhotos",
				"description": "<div class=MethodDescription>Modify the photos in a gallery. Use this method to add, remove and re-order photos.</div>",
				"operationId": "methodflickrgallerieseditphotos",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "gallery_id",
						"in": "query",
						"description": "The id of the gallery to modify. The gallery must belong to the calling user.",
						"type": "string"
					},
					{
						"name": "photo_ids",
						"in": "query",
						"description": "A comma-delimited list of photo ids to include in the gallery. They will appear in the set in the order sent. This list must contain the primary photo id. This list of photos replaces the existing list.",
						"type": "string"
					},
					{
						"name": "primary_photo_id",
						"in": "query",
						"description": "The id of the photo to use as the primary photo for the gallery. This id must also be passed along in photo_ids list argument.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Invalid gallery ID - That gallery could not be found."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "Invalid title or description - The title or description arguments could not be validated."
					},
					"3": {
						"description": "Failed to add gallery - There was a problem creating the gallery."
					},
					"4": {
						"description": "Invalid comment - The comment body could not be validated."
					},
					"5": {
						"description": "Failed to add photo - Unable to add the photo to the gallery."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.galleries.getInfo": {
			"get": {
				"summary": "flickr.galleries.getInfo",
				"description": "<div class=MethodDescription></div>",
				"operationId": "methodflickrgalleriesgetinfo",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "gallery_id",
						"in": "query",
						"description": "The gallery ID you are requesting information for.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Invalid gallery ID - That gallery could not be found."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "Invalid title or description - The title or description arguments could not be validated."
					},
					"3": {
						"description": "Failed to add gallery - There was a problem creating the gallery."
					},
					"4": {
						"description": "Invalid comment - The comment body could not be validated."
					},
					"5": {
						"description": "Failed to add photo - Unable to add the photo to the gallery."
					}
				},
				"tags": [
					""
				]
			}
		},
		"/?method=flickr.galleries.getList": {
			"get": {
				"summary": "flickr.galleries.getList",
				"description": "<div class=MethodDescription>Return the list of galleries created by a user.  Sorted from newest to oldest.</div>",
				"operationId": "methodflickrgalleriesgetlist",
				"parameters": [
					{
						"name": "api_key",
						"in": "query",
						"description": "Your API application key. See here for more details.",
						"type": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
						"type": "string"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of galleries to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500.",
						"type": "string"
					},
					{
						"name": "primary_photo_extras",
						"in": "query",
						"description": "A comma-delimited list of extra information to fetch for the primary photo. Currently supported fields are: license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_m, url_o",
						"type": "string"
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "The NSID of the user to get a galleries list for. If none is specified, the calling user is assumed.",
						"type": "string"
					}
				],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format "xxx" not found - The requested response format was not found."
					},
					"112": {
						"description": "Method "xxx" not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Invalid gallery ID - That gallery could not be found."
					},
					"108": {
						"description": "Invalid frob - The specified frob does not exist or has already been used."
					},
					"2": {
						"description": "Invalid title or description - The title or description arguments could not be validated."
					},
					"3": {
[...]
