{
	"swagger": "2.0",
	"info": {
		"title": "Tropo",
		"description": "Add Voice, SMS, Twitter, and IM to Your Applications. Tropo is a powerful yet simple API that adds Voice, SMS, Twitter, and IM support to the programming languages you already know.",
		"termsOfService": "https://www.tropo.com/terms-policies/",
		"version": "v1"
	},
	"host": "api.tropo.com",
	"basePath": "/v1",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/applications": {
			"put": {
				"summary": "Delete",
				"description": "Delete",
				"operationId": "delete",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/applications/{AppId}/addresses": {
			"post": {
				"summary": "Update",
				"description": "Update",
				"operationId": "update",
				"parameters": [
					{
						"name": "AppId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "applicationId",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/exchanges": {
			"get": {
				"summary": "Delete",
				"description": "Delete",
				"operationId": "delete",
				"parameters": [
					{
						"name": "applicationId",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sessions": {
			"post": {
				"summary": "ViewExchanges",
				"description": "ViewExchanges",
				"operationId": "viewexchanges",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "query",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}