{
	"swagger": "2.0",
	"info": {
		"title": "API for Top Recovery Cities For Firearms With A Recovery",
		"description": "A key component of the Bureau of Alcohol, Tobacco, Firearms and Explosivesu2019 (ATF) enforcement mission is the tracing of firearms on behalf of thousands of Federal, State, local and foreign law enforcement agencies. Firearms trace data is critically important information developed by ATF. ATF has prepared the following state-by-state trace data which is intended to provide the public with insight into firearms recoveries.",
		"termsOfService": null,
		"version": "v1"
	},
	"host": "data.atf.gov",
	"basePath": "/resource/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"top-recovery-cities-for-firearms-with-a-recovery.json": {
			"get": {
				"summary": "Top Recovery Cities For Firearms",
				"description": "Top Recovery Cities For Firearms",
				"operationId": "",
				"parameters": [
					{
						"name": "analytical_criteria_used_to_compile_the_enclosed_statistics",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "city",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "notes_if_any",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "state",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "traces",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "year",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response"
					}
				},
				"tags": [
					"firearms",
					" guns"
				]
			}
		}
	}
}