{
	"swagger": "2.0",
	"info": {
		"title": "API Time To Crime Rates For Firearms With A Recovery",
		"description": "A key component of the Bureau of Alcohol, Tobacco, Firearms and Explosivesu2019 (ATF) enforcement mission is the tracing of firearms on behalf of thousands of Federal, State, local and foreign law enforcement agencies. Firearms trace data is critically important information developed by ATF. ATF has prepared the following state-by-state trace data which is intended to provide the public with insight into firearms recoveries.",
		"termsOfService": null,
		"version": "v1"
	},
	"host": "data.atf.gov",
	"basePath": "/resource/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"top-recovery-cities-for-firearms-with-a-recovery.json": {
			"get": {
				"summary": "Top Recovery Cities For Firearms",
				"description": "Top Recovery Cities For Firearms",
				"operationId": "",
				"parameters": [
					{
						"name": "analytical_criteria_used_to_compile_the_enclosed_statistics",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "city",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "notes_if_any",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "state",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "traces",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "year",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response"
					}
				},
				"tags": [
					"firearms",
					" guns"
				]
			}
		},
		"top-categories-reported-on-firearm-traces-with-a-recovery.json": {
			"get": {
				"summary": "Top Categories Reported On Firearm Traces ",
				"description": "Top Categories Reported On Firearm Traces ",
				"operationId": "",
				"parameters": [
					{
						"name": "analytical_criteria_used_to_compile_the_enclosed_statistics",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "categories",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "notes",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "state",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "year",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response"
					}
				},
				"tags": [
					"firearms",
					" guns"
				]
			}
		},
		"pistols-firearms-manufacturing-report.json": {
			"get": {
				"summary": "Pistol Manufacturing Report",
				"description": "Pistol Manufacturing Report",
				"operationId": "",
				"parameters": [
					{
						"name": "license_name",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "premise_city",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "premise_location",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "premise_state",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "premise_street",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "pstl_22_sum",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "pstl_25_sum",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "pstl_32_sum",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "pstl_380_sum",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "pstl_50_sum",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "pstl_totl_sum",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "rds_key",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "year",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response"
					},
					"2": {
						"description": "Successful response"
					}
				},
				"tags": [
					"firearms",
					" guns",
					" pistols"
				]
			}
		},
		"federal-firearms-licensees-by-state.json": {
			"get": {
				"summary": "Federal Firearms Licensees",
				"description": "Federal Firearms Licensees",
				"operationId": "",
				"parameters": [
					{
						"name": "ffl_population",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "state",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response"
					},
					"2": {
						"description": "Successful response"
					}
				},
				"tags": [
					"firearms",
					" guns"
				]
			}
		},
		"federal-firearms-licensees.json": {
			"get": {
				"summary": "Federal Firearms Licensees",
				"description": "Federal Firearms Licensees",
				"operationId": "",
				"parameters": [
					{
						"name": "collector",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "dealer",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "dealer_of_destructive_device",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "fiscal_year",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "importer",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "importer_of_destructive_devise",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "manufacturer_of_ammunition",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "manufacturer_of_destructive_device",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "manufacturer_of_firearms",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "pawn_broker",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response"
					},
					"2": {
						"description": "Successful response"
					}
				},
				"tags": [
					"firearms",
					" guns"
				]
			}
		},
		"ffl-compliance-inspections.json": {
			"get": {
				"summary": "Federal Firearms Licensees And Compliance Inspections",
				"description": "Federal Firearms Licensees And Compliance Inspections",
				"operationId": "",
				"parameters": [
					{
						"name": "fiscal_year",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "inspected",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "inspections",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "licensees",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response"
					},
					"2": {
						"description": "Successful response"
					}
				},
				"tags": [
					"firearms",
					" guns"
				]
			}
		},
		"time-to-crime-rates-for-firearms-with-a-recovery.json": {
			"get": {
				"summary": "Crime Rates For Firearms",
				"description": "Crime Rates For Firearms",
				"operationId": "",
				"parameters": [
					{
						"name": "average_time_to_crime",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "state",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "under_3_months",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "year",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_1_year_to_under_3_years",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_2_years_to_under_3_years",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_3_months_to_under_7_months",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_3_years_and_over",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "_7_months_to_under_1_year",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response"
					},
					"2": {
						"description": "Successful response"
					}
				},
				"tags": [
					"firearms",
					" guns",
					" crime"
				]
			}
		}
	}
}