{
	"swagger": "2.0",
	"info": {
		"title": "Watchful API",
		"description": "Users on all plans can use the REST (API) to query and update their Watchful data.",
		"termsOfService": "https://watchful.li/terms-of-service.html",
		"version": "v1"
	},
	"host": "watchful.li",
	"basePath": "/api/v1",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/extensions": {
			"get": {
				"summary": "Get a list Extensions",
				"description": "Returns a list Extensions",
				"operationId": "getExtensions",
				"parameters": [
					{
						"name": "ext_name",
						"in": "query",
						"description": "Do a LIKE search, you can also use %"
					},
					{
						"name": "ext_prefix",
						"in": "query",
						"description": "Do a LIKE search, you can also use %. technical name of the extension com_xxxx"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Fields to return separate by comas: name,id"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Number of object to return (max 100, default 25)"
					},
					{
						"name": "limitstart",
						"in": "query",
						"description": "Start of the return (default 0)"
					},
					{
						"name": "order",
						"in": "query",
						"description": "ORDER by this field separete by comas. Add + / - after field for set ASC / DESC: type+,name-"
					},
					{
						"name": "siteids",
						"in": "query",
						"description": "List of sites id separated by comma"
					},
					{
						"name": "version",
						"in": "query",
						"description": "Do a LIKE search, you can also use %"
					},
					{
						"name": "vUpdate",
						"in": "query",
						"description": "update available for this extension"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/extensions/:id/update": {
			"post": {
				"summary": "Update the extension on the remote site",
				"description": "Update the extension on the remote site",
				"operationId": "updateExtension",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/extensions/metadata": {
			"get": {
				"summary": "Get the list of fields",
				"description": "Returns a list of fields",
				"operationId": "getFieldsExtensions",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/logs": {
			"get": {
				"summary": "Get a list of logs",
				"description": "Returns a list of logs",
				"operationId": "getLogs",
				"parameters": [
					{
						"name": "fields",
						"in": "query",
						"description": "Fields to return separate by comas: name,id"
					},
					{
						"name": "from",
						"in": "query",
						"description": "Logs after this date, format YYYY-MM-DD HH:MM:SS"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Number of object to return (max 100, default 25)"
					},
					{
						"name": "limitstart",
						"in": "query",
						"description": "Start of the return (default 0)"
					},
					{
						"name": "log_entry",
						"in": "query",
						"description": "Do a LIKE search, you can also use %"
					},
					{
						"name": "log_type",
						"in": "query",
						"description": "Type of the log"
					},
					{
						"name": "order",
						"in": "query",
						"description": "ORDER by this field separete by comas. Add + / - after field for set ASC / DESC: type+,name-"
					},
					{
						"name": "to",
						"in": "query",
						"description": "Logs before this date, format YYYY-MM-DD HH:MM:SS"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/logs/metadata": {
			"get": {
				"summary": "Get the list of fields",
				"description": "Returns a list of fields",
				"operationId": "getFieldsLogs",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/logs/types": {
			"get": {
				"summary": "Get the list of types",
				"description": "Returns a list of types",
				"operationId": "getTypesLogs",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/logs/{id}": {
			"delete": {
				"summary": "Delete a specific log",
				"description": "Delete a specific log",
				"operationId": "deleteLogById",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID of log that needs to be deleted"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/reports/sites/{id}": {
			"get": {
				"summary": "Returns a PDF report for a specific site",
				"description": "Returns a PDF report based on a site ID",
				"operationId": "getReportsBySiteId",
				"parameters": [
					{
						"name": "compare",
						"in": "query",
						"description": "Define if you want show previous values in Google Analytics graph"
					},
					{
						"name": "from",
						"in": "query",
						"description": "Start of the report, format YYYY-MM-DD, default today-30day "
					},
					{
						"name": "id",
						"in": "path",
						"description": "ID that needs to be fetched"
					},
					{
						"name": "log_type",
						"in": "query",
						"description": "Type of the log to show in the report"
					},
					{
						"name": "reports",
						"in": "query",
						"description": "Type of reports separate by comas: Ga,Logs,Uptime"
					},
					{
						"name": "to",
						"in": "query",
						"description": "End of the report, format YYYY-MM-DD, default today"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/reports/tags/{id}": {
			"get": {
				"summary": "Find sites by ID",
				"description": "Returns a report based on a site ID",
				"operationId": "getReportsBySiteId",
				"parameters": [
					{
						"name": "compare",
						"in": "query",
						"description": "Define if you want show previous values in Google Analytics graph"
					},
					{
						"name": "from",
						"in": "query",
						"description": "Start of the report, format YYYY-MM-DD, default today-30day "
					},
					{
						"name": "id",
						"in": "path",
						"description": "ID that needs to be fetched"
					},
					{
						"name": "log_type",
						"in": "query",
						"description": "Type of the log to show in the report"
					},
					{
						"name": "reports",
						"in": "query",
						"description": "Type of reports separate by comas: Ga,Logs,Uptime"
					},
					{
						"name": "to",
						"in": "query",
						"description": "End of the report, format YYYY-MM-DD, default today"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sites": {
			"post": {
				"summary": "Create a site",
				"description": "Create a site",
				"operationId": "createSite",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"description": "JSON object Site",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sites/:id/scanner": {
			"get": {
				"summary": "Scan the site for malware",
				"description": "Scan the site for malware",
				"operationId": "scanner",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID of the website"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sites/:id/updatejoomla": {
			"post": {
				"summary": "Update Joomla core on the remote site",
				"description": "Update Joomla core on the remote site",
				"operationId": "updateJoomla",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID of the website"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sites/metadata": {
			"get": {
				"summary": "Get the list of fields",
				"description": "Returns a list of fields",
				"operationId": "getFieldsTags",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sites/{id}": {
			"put": {
				"summary": "Update a site",
				"description": "Update a site",
				"operationId": "updateSiteId",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"description": "JSON object Site",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "ID of the website that needs to be update"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sites/{id}/backupnow": {
			"post": {
				"summary": "Send the site to backup",
				"description": "Send the site to backup",
				"operationId": "updateSiteId",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID of the website"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sites/{id}/extensions": {
			"get": {
				"summary": "Get extensions for a site",
				"description": "Get extensions for a site",
				"operationId": "updateSiteId",
				"parameters": [
					{
						"name": "fields",
						"in": "query",
						"description": "Fields to return separate by comas: name,id"
					},
					{
						"name": "id",
						"in": "path",
						"description": "ID of the website"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Number of object to return (max 100, default 25)"
					},
					{
						"name": "limitstart",
						"in": "query",
						"description": "Start of the return (default 0)"
					},
					{
						"name": "order",
						"in": "query",
						"description": "ORDER by this field"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sites/{id}/logs": {
			"post": {
				"summary": "Create a custom log for a specific website",
				"description": "Create a custom log for a specific website",
				"operationId": "CreateLog",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"description": "JSON object Log (only type custom)",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "ID of the website"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sites/{id}/monitor": {
			"post": {
				"summary": "Post uptime monitor",
				"description": "Return boolean",
				"operationId": "postMonitor",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID of the website"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sites/{id}/tags": {
			"post": {
				"summary": "Add tags for a specific website",
				"description": "Add tags for a specific website",
				"operationId": "postTags",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"description": "JSON object Tag",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "ID of the website"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sites/{id}/uptime": {
			"get": {
				"summary": "Return uptime data",
				"description": "Return uptime data",
				"operationId": "getUptime",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID of the website"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/sites/{id}/validate": {
			"get": {
				"summary": "validate the site, return the new logs",
				"description": "validate the site",
				"operationId": "validateSite",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID of the website"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tags": {
			"post": {
				"summary": "Create a tag",
				"description": "Create a tag",
				"operationId": "CreateTags",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"description": "JSON object Tag",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tags/metadata": {
			"get": {
				"summary": "Get the list of fields",
				"description": "Returns a list of fields",
				"operationId": "getFieldsTags",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tags/{id}": {
			"put": {
				"summary": "Update a tag",
				"description": "Update a tag",
				"operationId": "updateTagId",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"description": "JSON object of the updated tag",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "ID of tag"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/tags/{id}/sites": {
			"get": {
				"summary": "Find sites by tag ID",
				"description": "Returns a list of sites based with a specific tag id",
				"operationId": "getSitesByTags",
				"parameters": [
					{
						"name": "access_url",
						"in": "query",
						"description": "Do a LIKE search, you can also use %"
					},
					{
						"name": "error",
						"in": "query",
						"description": "have errors"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Fields to return separate by comas: name,id"
					},
					{
						"name": "id",
						"in": "path",
						"description": "ID of tag that needs to be fetched"
					},
					{
						"name": "ip",
						"in": "query",
						"description": "Do a LIKE search, you can also use %"
					},
					{
						"name": "jUpdate",
						"in": "query",
						"description": "Joomla core update"
					},
					{
						"name": "j_version",
						"in": "query",
						"description": "Do a LIKE search, you can also use %"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Number of object to return (max 100, default 25)"
					},
					{
						"name": "limitstart",
						"in": "query",
						"description": "Start of the return (default 0)"
					},
					{
						"name": "name",
						"in": "query",
						"description": "Do a LIKE search, you can also use %"
					},
					{
						"name": "nbUpdates",
						"in": "query",
						"description": ""
					},
					{
						"name": "order",
						"in": "query",
						"description": "ORDER by this field separete by comas. Add + / - after field for set ASC / DESC: type+,name-"
					},
					{
						"name": "published",
						"in": "query",
						"description": "is published"
					},
					{
						"name": "up",
						"in": "query",
						"description": "is the website online"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	},
	"definitions": {
	}
}