{
	"swagger": "2.0",
	"info": {
		"title": "EncoderCloud API",
		"description": "EncoderCloud offers a flexible API for seamlessly integrating our cloud based transcoding services directly into your own applications.",
		"termsOfService": "http://www.encodercloud.com/terms",
		"version": "v1"
	},
	"host": "www.encodercloud.com",
	"basePath": "/api",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/action": {
			"get": {
				"summary": "Encoding",
				"description": "Executes video api encoding jobs",
				"operationId": "",
				"parameters": [
					{
						"name": "action",
						"in": "query",
						"description": "The action to be performed. Action values will be listed below next to the available requests.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "api_key",
						"in": "query",
						"description": "Your assigned API key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "custom_id",
						"in": "query",
						"description": "Your custom file ID.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "formats[destination]",
						"in": "query",
						"description": "Destination URL to upload encoded file",
						"type": "string",
						"format": "string"
					},
					{
						"name": "formats[profile_id]",
						"in": "query",
						"description": "Profile ID to use for encoding.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "job_id",
						"in": "query",
						"description": "Job ID assigned by EncoderCloud at the time new video request was made.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "postback",
						"in": "query",
						"description": "HTTP(S) URL of the script the result would be posted to.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "source",
						"in": "query",
						"description": "Path to media source file.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Video Encoding"
				]
			}
		}
	}
}