{
	"swagger": "2.0",
	"info": {
		"title": "Respoke REST API",
		"description": "Add live voice, video, text, and data features to your website or app.",
		"termsOfService": "https://www.respoke.io/files/respoke-tos-20141007.pdf",
		"version": "v1"
	},
	"host": "api.respoke.io",
	"basePath": "v1/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"admin-sessions/": {
			"post": {
				"summary": "Admin Sessions",
				"description": "Log in with the account username and password. Get an Admin-Token.",
				"operationId": "",
				"parameters": [
					{
						"name": "password",
						"in": "query",
						"description": "Your password.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "Your username.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"authentication"
				]
			}
		},
		"adminsessions/": {
			"post": {
				"summary": "Permissions",
				"description": "Full API permissions are obtained by POSTing your username and password to [base]/adminsessions.",
				"operationId": "",
				"parameters": [
					{
						"name": "password",
						"in": "query",
						"description": "Your username.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "username",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"authentication"
				]
			}
		},
		"appauthsessions/": {
			"post": {
				"summary": "App Auth Sessions",
				"description": "Your users authenticate to Respoke using an App-Token obtained when they POST your tokenId to [base]/appauthsessions.",
				"operationId": "",
				"parameters": [
					{
						"name": "App-Token",
						"in": "query",
						"description": "Your application token.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"authentication"
				]
			}
		},
		"apps/": {
			"get": {
				"summary": "Apps",
				"description": "Create an app.",
				"operationId": "",
				"parameters": [
					{
						"name": "Admin-Token",
						"in": "header",
						"description": "Your admin token.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"application"
				]
			}
		},
		"roles/": {
			"post": {
				"summary": "Roles",
				"description": "Create roleId and roleName for creating tokens.",
				"operationId": "",
				"parameters": [
					{
						"name": "",
						"in": "body",
						"description": "{     appId: XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX,     name:your-role-name-here,     mediaRelay: false,     events: {         subscribe: false,         unsubscribe: false,     },     groups: {         list: true,         *: {             subscribe: true,             unsubscribe: true,             create: true,             destroy: true,             publish: true,             getsubscribers: true         }     } }",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "App-Secret",
						"in": "header",
						"description": "Your application secret.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"roles"
				]
			}
		},
		"session-tokens/": {
			"post": {
				"summary": "Session Tokens",
				"description": "An end-user client posts a tokenId from POST [base]/tokens to authenticate to an app as endpointId.",
				"operationId": "",
				"parameters": [
					{
						"name": "",
						"in": "body",
						"description": "{     tokenId: XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX }",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "App-Token",
						"in": "header",
						"description": "Your application token.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Session Tokens"
				]
			}
		},
		"tokens/": {
			"put": {
				"summary": "Tokens",
				"description": "By using the App-Secret header, you can perform API calls to obtain Respoke sessions for your users via POST to [base]/tokens. App-Secrets are found in the Dev Console.",
				"operationId": "",
				"parameters": [
					{
						"name": "App-Secret",
						"in": "query",
						"description": "Your application token.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Authentication"
				]
			}
		},
		"turn/": {
			"post": {
				"summary": "Turn",
				"description": "Get TURN credentials.",
				"operationId": "",
				"parameters": [
					{
						"name": "App-Token",
						"in": "header",
						"description": "Get TURN credentials.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Turn"
				]
			}
		}
	}
}