{
	"swagger": "2.0",
	"info": {
		"title": "International Trade Administration Trade Events API",
		"description": "The Trade Events API provides data on events for U.S. businesses interested in selling their products and services overseas. These events include industry conferences, webinars, lectures and trade missions organized by the U.S. Dept. of Commerce. Developers can use this API to keep businesses aware of the latest events in their industry or location.",
		"termsOfService": "http://developer.trade.gov/tos.html",
		"version": "1.0"
	},
	"host": "api.trade.gov",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/market_research_library/search": {
			"get": {
				"summary": "Market Research Library Search",
				"description": "This API provides metadata for country and industry reports that are produced by ITAs trade experts and are available in ITAs online market research library.",
				"operationId": "research",
				"parameters": [
					{
						"name": "countries",
						"in": "query",
						"description": "Returns office locations based on ISO alpha-2 country codes.",
						"type": "string"
					},
					{
						"name": "industry",
						"in": "query",
						"description": "Returns market research reports for a specific industry.",
						"type": "string"
					},
					{
						"name": "keyword",
						"in": "query",
						"description": "Returns market research reports for a match in the description or title fields.",
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "The offset parameter defines the offset from the first result you want to fetch.",
						"type": "string"
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size parameter allows you to configure the maximum amount of hits to be returned.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success Research"
					}
				},
				"tags": [
					"Trade",
					" Commerce",
					" Reports",
					" Research"
				]
			}
		},
		"/ita_office_locations/search": {
			"get": {
				"summary": "ITA Offices and Centers Search",
				"description": "This API provides contact and address information for all of ITAs domestic and international export assistance centers.",
				"operationId": "office",
				"parameters": [
					{
						"name": "city",
						"in": "query",
						"description": "Returns office locations based on city name",
						"type": "string"
					},
					{
						"name": "countries",
						"in": "query",
						"description": "Returns office locations based on ISO alpha-2 country codes.",
						"type": "string"
					},
					{
						"name": "keyword",
						"in": "query",
						"description": "Returns office locations for a match within the post or office name fields.",
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "The offset parameter defines the offset from the first result you want to fetch.",
						"type": "string"
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size parameter allows you to configure the maximum amount of hits to be returned. ",
						"type": "string"
					},
					{
						"name": "state",
						"in": "query",
						"description": "Returns locations for export assistance centers located in a specific U.S. State or Dependent Area.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Offices Response"
					}
				},
				"tags": [
					"Trade",
					" Commerce",
					" Offices",
					" Centers",
					" Locations"
				]
			}
		},
		"/trade_events/search": {
			"get": {
				"summary": "Trade Events",
				"description": "Provides information on industry conferences, webinars, lectures and trade missions organized by the U.S. Dept. of Commerce",
				"operationId": "trade-events",
				"parameters": [
					{
						"name": "countries",
						"in": "query",
						"description": "Returns office locations based on ISO alpha-2 country codes.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "industry",
						"in": "query",
						"description": "Searches for specific controlled industry names",
						"type": "string",
						"format": "string"
					},
					{
						"name": "keyword",
						"in": "query",
						"description": "Searches for a match within the event_name and description fields.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "The offset parameter defines the offset from the first result you want to fetch.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size parameter allows you to configure the maximum amount of hits to be returned. ",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Event Response"
					}
				},
				"tags": [
					"Trade",
					" Events",
					" Conferences",
					" Webinars"
				]
			}
		}
	},
	"definitions": {
	}
}