{
	"swagger": "2.0",
	"info": {
		"title": "SugarSync  API",
		"description": "The SugarSync service presents a set of resources that your application can access through the Platform API. ",
		"termsOfService": null,
		"version": "1"
	},
	"host": "api.sugarsync.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/album/": {
			"get": {
				"summary": "Retrieving Album Information",
				"description": "To retrieve information about an album, an application submits an HTTP GET request to then          album resource that represents the album.",
				"operationId": "retrieving-album-information",
				"parameters": [
					{
						"name": "max",
						"in": "query",
						"description": "Positive integer",
						"type": "string"
					},
					{
						"name": "order",
						"in": "query",
						"description": "name, last_modified, size, or extension",
						"type": "string"
					},
					{
						"name": "start",
						"in": "query",
						"description": "0 or positive integer",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/app-authorization": {
			"post": {
				"summary": "Creating a Refresh Token",
				"description": "An application needs to be authorized to access a user's SugarSync resources through the Platform API.nTo do that, the app needs to create a refresh token. When a user first runs the application, it creates a refresh tokennby submitting a POST request that includes the user's credentials to the API.nIf the request is successful, the SugarSync service grants the application permission to access the user's account and returns a refresh token.n",
				"operationId": "creating-a-refresh-token",
				"parameters": [
					{
						"name": "Content-Length",
						"in": "header",
						"description": "The length of the request body.",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "The content type and character encoding of the response. The content type is always          application/xml, and the character encoding is always UTF-8.",
						"type": "string"
					},
					{
						"name": "Host",
						"in": "header",
						"description": "The domain name of the server. The domain name is always api.sugarsync.com",
						"type": "string"
					},
					{
						"name": "User-Agent",
						"in": "header",
						"description": "The client application implementing the network protocol for communication between          the client and server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/authorization": {
			"post": {
				"summary": "Creating an Access Token",
				"description": "An application needs to be authorized to access a user's SugarSync resources through the Platform API. To do that,nthe app needs to create an access token, which allows the app to access files, folders,nand other resources within a user's account. After the token is created, the app needs to specify it in the HTTP request header when it makes a request through the API to access a resource.",
				"operationId": "creating-an-access-token",
				"parameters": [
					{
						"name": "Content-Length",
						"in": "header",
						"description": "The length of the request body.",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "The content type and character encoding of the response. The content type is always          application/xml, and the character encoding is always UTF-8.",
						"type": "string"
					},
					{
						"name": "Host",
						"in": "header",
						"description": "The domain name of the server. The domain name is always api.sugarsync.com",
						"type": "string"
					},
					{
						"name": "User-Agent",
						"in": "header",
						"description": "The client application implementing the network protocol for communication between          the client and server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/contact/": {
			"get": {
				"summary": "Retrieving Contact Information",
				"description": "A contact represents another SugarSync user who has shared a folder or folders with this user.n          To retrieve information about a contact, an application submits an HTTP GET request to then          contact resource.",
				"operationId": "retrieving-contact-information",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/file": {
			"put": {
				"summary": "Uploading File Data",
				"description": "An application can upload data to a file by issuing an HTTP PUT request to thenfile data resource that represents the data for the file.n          ",
				"operationId": "uploading-file-data",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/file/": {
			"put": {
				"summary": "Updating File Information",
				"description": "An application can update various attributes of a file by issuing an HTTP PUT request to the URL thatnrepresents the file resource. In addition, the app needs to provide as input, XML that identifies the new attribute values for the file. Upon receiving the PUT request, the SugarSync service examines the input and updates any of the attributes that have been modified.",
				"operationId": "updating-file-information",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "The access token.",
						"type": "string"
					},
					{
						"name": "Content-Length",
						"in": "header",
						"description": "The length of the request body.",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "The content type and character encoding of the response. The content type must be          application/xml, and the character encoding must be UTF-8.",
						"type": "string"
					},
					{
						"name": "Host",
						"in": "header",
						"description": "The domain name of the server. The domain name is always api.sugarsync.com",
						"type": "string"
					},
					{
						"name": "User-Agent",
						"in": "header",
						"description": "The client application implementing the network protocol for communication between          the client and server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/folder": {
			"get": {
				"summary": "Retrieving Folder Information",
				"description": "To retrieve information about a folder, an application submits an HTTP GET request to then          folder resource that represents the folder.",
				"operationId": "retrieving-folder-information",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/folder/": {
			"put": {
				"summary": "Updating Folder Information",
				"description": "An application can update various attributes of a folder by issuing an HTTP PUT request to the URL thatnrepresents the folder resource. In addition, the app needs to provide as input, XML that identifies the new attribute values for the folder. Upon receiving the PUT request, the SugarSync service examines the input and updates any of the attributes that have been modified.",
				"operationId": "updating-folder-information",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "The access token.",
						"type": "string"
					},
					{
						"name": "Content-Length",
						"in": "header",
						"description": "The length of the request body.",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "The content type and character encoding of the response. The content type must be          application/xml, and the character encoding must be UTF-8.",
						"type": "string"
					},
					{
						"name": "Host",
						"in": "header",
						"description": "The domain name of the server. The domain name is always api.sugarsync.com",
						"type": "string"
					},
					{
						"name": "User-Agent",
						"in": "header",
						"description": "The client application implementing the network protocol for communication between          the client and server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/receivedShare/": {
			"get": {
				"summary": "Retrieving Received Share Information",
				"description": "To retrieve information about a received share (that is, a shared folder owned by another user and to whichnthis user has been granted access privileges by the owner), an application submits an HTTP GET request to the URLnthat represents the received share resource. The URL is referenced in the &lt;receivedShare&gt; element for the received share in the received shares list.nSee Retrieving the Received Shares List.",
				"operationId": "retrieving-received-share-information",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/user": {
			"get": {
				"summary": "Retrieving User Information",
				"description": "To retrieve information about a SugarSync user, an application submits an HTTP GET request to thenuser resource that represents the user.",
				"operationId": "retrieving-user-information",
				"parameters": [
					{
						"name": "max",
						"in": "query",
						"description": "The maximum number of workspaces, beginning with the workspace at the start index, that the clienttt  wants listed in the response. If this parameter is not specified, no limit is placed on the number of retrieved workspaces.",
						"type": "string"
					},
					{
						"name": "start",
						"in": "query",
						"description": "Specifies the index within the indexed sequence of workspaces in the users account where thett  client wants workspaces to be retrieved. The index starts at origin 0. The default value is 0.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/user/": {
			"get": {
				"summary": "Retrieving Received Shares List",
				"description": "One of the elements in the representation of a user resource isn&lt;receivedShares&gt;.nThe element contains a link to a list that describes the shared folders that are owned by other users and to which this user has been granted access privileges by those owners. For example:nnn&lt;?xml version=1.0 encoding=UTF-8?&gt;n&lt;user&gt;n  ...n  &lt;receivedShares&gt;https://api.sugarsync.com/user/5664947/receivedShares/contents&lt;/receivedShares&gt;n  ...n&lt;/user&gt;nnn          To retrieve the list, an application submits an HTTP GET request to the link in the &lt;receivedShares&gt;nelement.nn         Requestnn          URLn          The URL that represents the received shares list.",
				"operationId": "retrieving-received-shares-list",
				"parameters": [
					{
						"name": "max",
						"in": "query",
						"description": "The maximum number of albums, beginning with the album at the start index, that the clienttt  wants listed in the response. If this parameter is not specified, no limit is placed on the number of retrieved albums.",
						"type": "string"
					},
					{
						"name": "start",
						"in": "query",
						"description": "Specifies the index within the indexed sequence of albums in the users account where thett  client wants albums to be retrieved. The index starts at origin 0. The default value is 0.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/workspace": {
			"get": {
				"summary": "Retrieving Workspace Information",
				"description": "To retrieve information about a workspace, an application submits an HTTP GET request to then          workspace resource that represents the workspace.",
				"operationId": "retrieving-workspace-information",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/workspace/": {
			"put": {
				"summary": "Updating Workspace Information",
				"description": "An application can update attributes of a workspace by issuing an HTTP PUT request to the URL that representsnthe workspace resource. In addition, the app needs to provide as input, XML that identifies the new attribute values for the workspace.nUpon receiving the PUT request, the SugarSync service examines the input and updates any of the attributes that have been modified.",
				"operationId": "updating-workspace-information",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "The access token.",
						"type": "string"
					},
					{
						"name": "Content-Length",
						"in": "header",
						"description": "The length of the request body.",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "The content type and character encoding of the response. The content type must be          application/xml, and the character encoding must be UTF-8.",
						"type": "string"
					},
					{
						"name": "Host",
						"in": "header",
						"description": "The domain name of the server. The domain name is always api.sugarsync.com",
						"type": "string"
					},
					{
						"name": "User-Agent",
						"in": "header",
						"description": "The client application implementing the network protocol for communication between          the client and server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}