{
	"swagger": "2.0",
	"info": {
		"title": "Blogger API",
		"description": "The Blogger API v3 allows client applications to view and update Blogger content. Your client application can use Blogger API v3 to create new blog posts, edit or delete existing posts, and query for posts that match particular criteria.",
		"termsOfService": "https://developers.google.com/blogger/terms",
		"version": "v3"
	},
	"host": "www.googleapis.com",
	"basePath": "/blogger/v3",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/blogs/{blogId}": {
			"get": {
				"summary": "List Blogs",
				"description": "List Blogs",
				"operationId": "list-blogs",
				"parameters": [
					{
						"name": "blogId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/blogs/{blogId}/pages": {
			"get": {
				"summary": "List Pages for a Blog",
				"description": "List Pages for a Blog",
				"operationId": "list-pages-for-a-blog",
				"parameters": [
					{
						"name": "blogId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/blogs/{blogId}/pages/{pageId}": {
			"get": {
				"summary": "Get Page",
				"description": "Get Page",
				"operationId": "get-page",
				"parameters": [
					{
						"name": "blogId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "pageId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/blogs/{blogId}/posts": {
			"get": {
				"summary": "List Posts for a Blog",
				"description": "List Posts for a Blog",
				"operationId": "list-posts-for-a-blog",
				"parameters": [
					{
						"name": "blogId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/blogs/{blogId}/posts/{postId}": {
			"get": {
				"summary": "Get Post",
				"description": "Get Post",
				"operationId": "get-post",
				"parameters": [
					{
						"name": "blogId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "postId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/blogs/{blogId}/posts/{postId}/comments": {
			"get": {
				"summary": "List Comments for a Post",
				"description": "List Comments for a Post",
				"operationId": "list-comments-for-a-post",
				"parameters": [
					{
						"name": "blogId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "postId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/blogs/{blogId}/posts/{postId}/comments/{commentId}": {
			"get": {
				"summary": "Get Comment",
				"description": "Get Comment",
				"operationId": "get-comment",
				"parameters": [
					{
						"name": "blogId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "commentId",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "postId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{userId}": {
			"get": {
				"summary": "Get User",
				"description": "Get User",
				"operationId": "get-user",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/users/{userId}/blogs": {
			"get": {
				"summary": "List User Blogs",
				"description": "List User Blogs",
				"operationId": "list-user-blogs",
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}