{
	"swagger": "2.0",
	"info": {
		"title": "Postmark API",
		"description": "Postmark helps deliver and track transactional emails for web applications. In a nutshell, the service replaces SMTP (or Sendmail) with a far more reliable, scalable and care-free environment.",
		"termsOfService": null,
		"version": null
	},
	"host": "api.postmarkapp.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"bounce/{bounceid}": {
			"get": {
				"summary": "Get a single bounce",
				"description": "Get a single bounce",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"bounces/": {
			"get": {
				"summary": "Get bounces",
				"description": "Get bounces",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "Requiredn                    Number of bounces to skip",
						"type": "string"
					},
					{
						"name": "emailFilter",
						"in": "query",
						"description": "Requiredn                    Number of bounces to skip",
						"type": "string"
					},
					{
						"name": "inactive",
						"in": "query",
						"description": "Requiredn                    Number of bounces to skip",
						"type": "string"
					},
					{
						"name": "messageID",
						"in": "query",
						"description": "Requiredn                    Number of bounces to skip",
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Requiredn                    Number of bounces to skip",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Requiredn                    Number of bounces to skip",
						"type": "string"
					},
					{
						"name": "type",
						"in": "query",
						"description": "Requiredn                    Number of bounces to skip",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"bounces/{bounceid}/activate": {
			"get": {
				"summary": "Activate a bounce",
				"description": "Activate a bounce",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"bounces/{bounceid}/dump": {
			"get": {
				"summary": "Get bounce dump",
				"description": "Get bounce dump",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"deliverystats/": {
			"get": {
				"summary": "Get delivery stats",
				"description": "Get delivery stats",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"email/": {
			"post": {
				"summary": "Send Email",
				"description": "Send a single email",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "Attachments",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Bcc",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Cc",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "From",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Headers",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "HtmlBody",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "ReplyTo",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Subject",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Tag",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "TextBody",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "To",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "TrackOpens",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"email/batch/": {
			"post": {
				"summary": "Send batch emails",
				"description": "Send batch emails",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "Attachments",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Bcc",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Cc",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "From",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Headers",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "HtmlBody",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "ReplyTo",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Subject",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Tag",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "TextBody",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "To",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "TrackOpens",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/inbound/": {
			"get": {
				"summary": "Inbound message search",
				"description": "Inbound message search",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "Filter by status (blocked or processed)",
						"type": "string"
					},
					{
						"name": "fromemail",
						"in": "query",
						"description": "Filter by status (blocked or processed)",
						"type": "string"
					},
					{
						"name": "mailboxhash",
						"in": "query",
						"description": "Filter by status (blocked or processed)",
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Filter by status (blocked or processed)",
						"type": "string"
					},
					{
						"name": "recipient",
						"in": "query",
						"description": "Filter by status (blocked or processed)",
						"type": "string"
					},
					{
						"name": "status",
						"in": "query",
						"description": "Filter by status (blocked or processed)",
						"type": "string"
					},
					{
						"name": "subject",
						"in": "query",
						"description": "Filter by status (blocked or processed)",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter by status (blocked or processed)",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/inbound/{messageid}/bypass": {
			"get": {
				"summary": "Bypass rules for a blocked inbound message",
				"description": "Bypass rules for a blocked inbound message",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level priveledges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level priveledges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/inbound/{messageid}/details": {
			"get": {
				"summary": "Inbound message details",
				"description": "Inbound message details",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "messageid",
						"in": "path",
						"description": "The message ID.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/outbound/": {
			"get": {
				"summary": "Outbound message search",
				"description": "Outbound message search",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "Filter by email subject",
						"type": "string"
					},
					{
						"name": "fromemail",
						"in": "query",
						"description": "Filter by email subject",
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Filter by email subject",
						"type": "string"
					},
					{
						"name": "recipient",
						"in": "query",
						"description": "Filter by email subject",
						"type": "string"
					},
					{
						"name": "subject",
						"in": "query",
						"description": "Filter by email subject",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter by email subject",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/outbound/opens": {
			"get": {
				"summary": "Message opens",
				"description": "Message opens",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "city",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "client_company",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "client_family",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "client_name",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "country",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "os_company",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "os_family",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "os_name",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "platform",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "recipient",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "region",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/outbound/opens/{messageid}/": {
			"get": {
				"summary": "Opens for a single message",
				"description": "Opens for a single message",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "Requiredn                    Number of messages to skip",
						"type": "string"
					},
					{
						"name": "messageid",
						"in": "path",
						"description": "The message ID.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Requiredn                    Number of messages to skip",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/outbound/{messageid}/details": {
			"get": {
				"summary": "Outbound message details",
				"description": "Outbound message details",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "messageid",
						"in": "path",
						"description": "The message ID.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/outbound/{messageid}/dump": {
			"get": {
				"summary": "Outbound message dump",
				"description": "Outbound message dump",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"stats/outbound/": {
			"get": {
				"summary": "Get outbound overview",
				"description": "Get outbound overview",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "fromdate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "todate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"stats/outbound/bounces/": {
			"get": {
				"summary": "Get bounce counts",
				"description": "Get bounce counts",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "fromdate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "todate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"stats/outbound/opens/": {
			"get": {
				"summary": "Get email open counts",
				"description": "Get email open counts",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "fromdate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "todate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"stats/outbound/opens/emailclients/": {
			"get": {
				"summary": "Get email client usage",
				"description": "Get email client usage",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "fromdate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "todate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"stats/outbound/opens/platforms/": {
			"get": {
				"summary": "Get email platform usage",
				"description": "Get email platform usage",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "fromdate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "todate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"stats/outbound/opens/readtimes/": {
			"get": {
				"summary": "Get email read times",
				"description": "Get email read times",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "fromdate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "todate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"stats/outbound/sends/": {
			"get": {
				"summary": "Get sent counts",
				"description": "Get sent counts",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "fromdate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "todate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"stats/outbound/spam/": {
			"get": {
				"summary": "Get spam complaints",
				"description": "Get spam complaints",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "fromdate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "todate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"stats/outbound/tracked/": {
			"get": {
				"summary": "Get tracked email counts",
				"description": "Get tracked email counts",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "fromdate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "todate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		}
	}
}