{
	"swagger": "2.0",
	"info": {
		"title": "Put.io",
		"description": "Put.io is a storage service that fetches media files and lets you stream and share them.",
		"termsOfService": "https://put.io/tos",
		"version": "v2"
	},
	"host": "api.put.io/v2/",
	"basePath": "/v2",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/events/list": {
			"nget": {
				"summary": "Events",
				"description": "List of dashboard events. Includes download and share events.",
				"operationId": "events",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/files": {
			"": {
				"summary": "Files",
				"description": "FilesFile methods in general may be used for gathering information about files or manipulating files. However, there area few exceptions.",
				"operationId": "files",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/files/create-folder": {
			"npost": {
				"summary": "Create Folder",
				"description": "Creates a new folder.",
				"operationId": "create-folder",
				"parameters": [
					{
						"name": "name",
						"in": "query",
						"description": "Name of the new folder.",
						"type": "string"
					},
					{
						"name": "parent_id",
						"in": "query",
						"description": "Location of the new folder.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/files/delete": {
			"npost": {
				"summary": "Delete",
				"description": "Deletes given files.",
				"operationId": "delete",
				"parameters": [
					{
						"name": "file_ids",
						"in": "query",
						"description": "File ids separated by commas. Ex: 1,2,3,4",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/files/list": {
			"nget": {
				"summary": "List",
				"description": "Lists files in a folder.",
				"operationId": "list",
				"parameters": [
					{
						"name": "parent_id",
						"in": "query",
						"description": "ID of the folder you&#8217;d like to list. This defaults to the root directory (which has ID number 0).",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/files/move": {
			"npost": {
				"summary": "Move",
				"description": "Moves files to the given destination.",
				"operationId": "move",
				"parameters": [
					{
						"name": "file_ids",
						"in": "query",
						"description": "File ids separated by commas. Ex: 1,2,3,4",
						"type": "string"
					},
					{
						"name": "parent_id",
						"in": "query",
						"description": "Location of the destination folder.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/files/rename": {
			"npost": {
				"summary": "Rename",
				"description": "Renames given file.",
				"operationId": "rename",
				"parameters": [
					{
						"name": "file_id",
						"in": "query",
						"description": "ID of the file to be renamed.",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "Name of the new file.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/files/search/{query}/page/{page_no}": {
			"nget": {
				"summary": "Search",
				"description": "Searches your (and shared) files. Returns 50 results at a time. The url for next 50 results is given in the &#8220;next&#8221; paramater..",
				"operationId": "search",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "Optional. Defaults to 1. If -1 given, returns all results at a time.",
						"type": "string"
					},
					{
						"name": "page_no",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "query",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "query",
						"in": "query",
						"description": "The keyword to search.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/files/share": {
			"npost": {
				"summary": "Sharing",
				"description": "Shares given files with given friends or all friends.",
				"operationId": "sharing",
				"parameters": [
					{
						"name": "file_ids",
						"in": "query",
						"description": "String. File ids separated by commas. Ex: &#8216;1,2,3,4&#8217;",
						"type": "string"
					},
					{
						"name": "friends",
						"in": "query",
						"description": "String. &#8216;everyone&#8217; or user names of friends separated by commas. Ex: &#8216;johndoe,janedoe&#8217;",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/files/upload": {
			"npost": {
				"summary": "Upload",
				"description": "Uploads a file. If the uploaded file is a torrent file, starts it as a transfer.",
				"operationId": "upload",
				"parameters": [
					{
						"name": "file",
						"in": "query",
						"description": "Name of the form input.",
						"type": "string"
					},
					{
						"name": "filename",
						"in": "query",
						"description": "The file will be renamed according to this parameter. This defaults to filesystem-secure version of the original filename.",
						"type": "string"
					},
					{
						"name": "parent_id",
						"in": "query",
						"description": "Location of the uploaded file. This defaults to 0 (which means root).",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/files/zip": {
			"nget": {
				"summary": "Zip-and-Download",
				"description": "Create zipstream for given files. A redirect to created zipstream will be returned.",
				"operationId": "zipanddownload",
				"parameters": [
					{
						"name": "file_ids",
						"in": "query",
						"description": "File ids separated by commas. Ex: 1,2,3,4",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/files/{id}": {
			"nget": {
				"summary": "Get",
				"description": "Returns a file&#8217;s properties.",
				"operationId": "get",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "parent_id",
						"in": "query",
						"description": "ID of the folder you&#8217;d like to list. This defaults to the root directory (which has ID number 0).",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/files/{id}/download": {
			"nget": {
				"summary": "Download",
				"description": "Sends the contents of the file.",
				"operationId": "download",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/files/{id}/hls/media.m3u8": {
			"nget": {
				"summary": "HLS Playlist",
				"description": "Serves a HLS playlist for a video file.",
				"operationId": "hls-playlist",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "subtitle_key",
						"in": "query",
						"description": "Subtitle key for the file.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/files/{id}/mp4": {
			"npost": {
				"summary": "Convert to MP4",
				"description": "Starts the conversion of the given file to mp4.",
				"operationId": "convert-to-mp4",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "id",
						"in": "query",
						"description": "ID of the files to be converted.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/files/{id}/subtitles": {
			"nget": {
				"summary": "Subtitles",
				"description": "Lists available subtitles for user&#8217;s preferred language. User must select &#8220;Default Subtitle Language&#8221; from settings page. See: Account Info",
				"operationId": "subtitles",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "This is the key used for Download Subtitle.",
						"type": "string"
					},
					{
						"name": "language",
						"in": "query",
						"description": "Language name in English. This may be null. We are working on improving it.",
						"type": "string"
					},
					{
						"name": "name",
						"in": "query",
						"description": "Subtitle files name.",
						"type": "string"
					},
					{
						"name": "source",
						"in": "query",
						"description": "Where we got this subtitle from. More details below.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/files/{id}/subtitles/{key}": {
			"nget": {
				"summary": "Download Subtitle",
				"description": "Sends the contents of the subtitle file. There is a powerful built in key called default. If you use it, putio searches for a subtitle in the following order and returns the first match:",
				"operationId": "download-subtitle",
				"parameters": [
					{
						"name": "format",
						"in": "query",
						"description": "Subtitle file format. Default is srt, webvtt can be requested.",
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "key",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	}
}