{
	"swagger": "2.0",
	"info": {
		"title": "New York Times Most Popular",
		"description": "With the Most Popular API, you can get links and metadata for the blog posts and articles that are most frequently e-mailed, shared and viewed by NYTimes.com readers.",
		"termsOfService": null,
		"version": "v1"
	},
	"host": "api.nytimes.com",
	"basePath": "svc/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"articlesearch/": {
			"get": {
				"summary": "Articles",
				"description": "With the Article Search API, you can search New York Times articles from Sept. 18, 1851 to today, retrieving headlines, abstracts, lead paragraphs, links to associated multimedia and other article metadata. ",
				"operationId": "",
				"parameters": [
					{
						"name": "api-key",
						"in": "query",
						"description": "Your Article Search API key is valid for version 1 and version 2 of the API.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "begin_date",
						"in": "query",
						"description": "YYYYMMDD - Restricts responses to results with publication dates of the date specified or later.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "The name of the function the API call results will be passed to. Required when using JSONP.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "end_date",
						"in": "query",
						"description": "YYYYMMDD - Restricts responses to results with publication dates of the date specified or earlier.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "facet_field",
						"in": "query",
						"description": "Specifies the sets of facet values to include in the facets array at the end of response, which collects the facet values from all the search results. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "facet_filter",
						"in": "query",
						"description": "When set to true, facet counts will respect any applied filters (fq, date range, etc.) in addition to the main query term. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "fl",
						"in": "query",
						"description": "Limits the fields returned in your search results. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "fq",
						"in": "query",
						"description": "Filtered search query using standard Lucene syntax.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "hl",
						"in": "query",
						"description": "nables highlighting in search results. When set to true, the query term (q) is highlighted in the headline and lead_paragraph fields.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "The value of page corresponds to a set of 10 results (it does not indicate the starting number of the result set).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "q",
						"in": "query",
						"description": "Search query term. Search is performed on the article body, headline and byline.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "response-format",
						"in": "query",
						"description": "To use JSONP, you must set a callback function with the callback parameter.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "By default, search results are sorted by their relevance to the query term (q). Use the sort parameter to sort by pub_date.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" articles"
				]
			}
		},
		"mostpopular/v2/": {
			"get": {
				"summary": "Most Popular",
				"description": "With the Most Popular API, you can get links and metadata for the blog posts and articles that are most frequently e-mailed, shared and viewed by NYTimes.com readers.",
				"operationId": "",
				"parameters": [
					{
						"name": "api-key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "resource-type",
						"in": "path",
						"description": "mostemailed | mostshared | mostviewed - The mostemailed and mostviewed resource types correspond to the Most Popular module on the NYTimes.com home page.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "section",
						"in": "query",
						"description": "all-sections | One or more section names, separated by semicolons",
						"type": "string",
						"format": "string"
					},
					{
						"name": "time-period",
						"in": "query",
						"description": "Number of days: 1 | 7 | 30  Corresponds to a day, a week or a month of content",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" popular"
				]
			}
		}
	}
}